html {
	margin: 0; padding: 0;
}
body {
 margin:0px; padding:0px;
 /*text-align:center;*/
 font-family: sans-serif;
 font-size: 8pt;
 background-color:#eee;
}
td th p {
 font-family: sans-serif;
 font-size: 8pt;
}
#username {
 font-size: 7pt;
 font-weight:normal;
 margin: 0;
 padding: 0;
 text-align: right;
}
#rightBlock {
 position: relative;
 float:right;
}
#sections {
 position: relative;
 left: 5pt;
 font-size: 14pt;
}
#sections a {
 font-size: 14pt;
}
#sections a.selected {
 font-weight: bold;
}
#selectedItem {
 position: absolute;
 left: 23em;
 top: 1px;
 font-size: 10pt;
 z-index: 10;
 border: solid 1px black;
 padding: 2px;
 background-color: white;
 display: block;
 float: left;
}
#selectedItem a {
 font-size: 10pt;
 font-weight: bold;
}
/*
#header {
 background-color: #ccc;
 position: absolute;
 z-index: 1000;
 text-align: left;
}
*/
#header h1 {
 position: relative;
 margin: 0;
 padding: 0;
 font-size: 16pt;
}
 
#body {
 margin:0px auto;
 text-align:left;
 padding: 10px 15px;
 background-color:#eee;
}
div#nav {
 position: relative;
 margin: 0px;
 padding: 0px;
}
div#nav div.menuSection {
 border: solid 1px #ccc;
 position: relative;
 left: 12px;
 float: left;
 margin: 0px;
 margin-right: 12px;
}
div#nav div.topLevel {
 font-weight: bold;
}
* html div#nav div ul {
 width: 121px;
}
div#nav div ul {
 position: absolute;
 top: 14px;
 left: -1px;
 min-width: 121px;
 margin: 0;
 padding: 0;
 border: solid 1px black;
 background-color: #eee;
 visibility: hidden;
 text-align: left;
 z-index:1000;
}

div#nav a {
 cursor: pointer;
 padding-left: 2px;
 padding-right: 2px;
}
* html div#nav div ul li {
 width: 120px;
}
div#nav div ul li{
 display: block;
 list-style-type: none;
 margin: 0;
 padding: 0;
}
div#nav a {
 display: block;
}


div.clear {
 clear: both;
}
.gridInput {
 width: 30pt;
}

.sectionCalendar {
 background-color: #FFFFE6 !important;
}
.sectionPatient  {
 background-color: #BFCFFF !important;
}
.sectionBilling  {
 background-color: #E6FFBF !important;
}
.sectionAdministration  {
 background-color: #FFDFBF !important;
}

fieldset table.data td {
 margin: 2px;
 padding: 2px;
 background-color: #ddd;
}
fieldset table.data th {
 margin: 2px;
 padding: 2px;
}
table.columns {
 font-size: 100%;
}
table.columns td {
 vertical-align: top;
}
table td label {
 text-align: right;
 display: block;
}
table td label.inline {
 display: inline;
}
h3 {
 margin: 0px;
 padding: 0px;
 margin-top: 12pt;
}
#confidentialOverlay {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: #ddd;
	z-index: 1000;
}
#confidentialOverlay div {
	position: absolute;
	top: 20%;
	left: 30%;
	width: 40%;
	border: solid 1px black;
	text-align: center;
}
.tooltip {
	border-bottom: dotted 1px gray;
	cursor: help;
}
.tooltipMessage {
	display: none;
	border: solid 1px black;
	background-color: white;
	position: absolute;
	padding: 2px;
}
#HTML_AJAX_LOADING {
	z-index: 9999;
}
.element {
	position: relative;
}
.elementInfo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	padding: 2px;
	display: none;
}
.elementLink {
	position: absolute;
	top: 1px;
	right: 1px;
	cursor: pointer;
}
tr.selectedRow td {
	background-color: #9cd2d1;
}
.conflictingField {
	background-color: #FFFF99;
}

ul.controllerMenu { 
	display:inline;
	clear:both;
	margin:0;
}

ul.controllerMenu li {
	float:left;
	list-style-type:none;
	margin:0 0 0 -1px;
}

ul.controllerMenu li a {
	display:block;
	padding:3px 15px;
	text-align:center;
	border:1px solid #000;
}


.confirmBox {
 position:absolute;
 background:#fff;
 margin: 0 auto;
 border: 1px solid #000;
 padding:5px 8px;
 text-align:left;
 z-index:10000;
 visibility:hidden; 
}
.confirmBox p { margin: 0; }
.confirmBox h1 { margin: 0 0 .25em; font-size:1.2em; }
.confirmBox ul.menu {
 margin:0;
 padding:0;
}

.confirmBox ul.menu li {
 display:block;
 float:left;
 list-style-type:none;
 white-space:nowrap;
 background-color:#eee;
 border: 1px solid #000;
 margin: 5px 20px;
}

.confirmBox ul.menu li a {
	display:block;
	background-color:#eee;
	padding:3px 5px;
	text-decoration:none;
}

.confirmBox ul.menu li a:hover {
	background-color:#ddd;;
}

.confirmBox ul.menu li p { 
 font-weight:bold;
 font-style:italic;
}

.warningMessage {
	background-color: #FF9999;
}
#spacer {
	position: relative;
	height: 40px;
}
.tabset {
	margin: 2px;
	margin-top: 0;
	border: solid 1px black;
}
.tabset div.tab {
	display: none;
	padding: 3px;
	padding-top: 5px;
}
.tabset div.tab.selected {
	display: block;
}
.selector {
	height: 17px;
	line-height: 16px;
	font-size: 14px;
	margin-bottom: -1px;
	margin-top: 5px;
}
.selector a {
	display: block;
	float: left;
	margin-left: 4px;
	background-color: #ddd;
	border-bottom: solid 1px black;
	padding-left: 2px;
	padding-right: 2px;
	cursor: pointer;
}
.selector a.selected {
	background-color: #eee;
	border: solid 1px black;
	font-weight: bold;
	border-bottom: solid 0px black;
}
.selector a:hover {
	background-color: white;
}
.formPopup {
	width: 400px;
	height: 300px;
	background-color: white;
	border: solid 2px black;
	padding: 4px;
	overflow: auto;
}
.popHeader {
	position: relative;
	font-weight: bold;
	font-size: 16px;
}
.popClose {
	position: absolute;
	display: block;
	cursor: pointer;
	right: 0;
	top: 0;
}

.minimizable {
	position: relative;
	padding-left: 10px;
}
.minimized {
	overflow: hidden;
	height: 14px;
}
.minimizer {
	position: absolute;
	display: block;
	font-weight: bold;
	text-decoration: none;
	font-size: 26px;
	top: 0;
	left: 0;
	line-height: 16px;
	cursor: pointer;
}
.minimizedLabel {
	font-weight: bold;
	background-color: #eee;
	padding-left: 6px;
	border-bottom: solid 2px #333;
	height: 12px;
	cursor: pointer;
}

.critical_item {
	float: left;
}

.critical_item table {
	width: 100%;
}

.scrollable {
	overflow: auto;
	height: 130px;
}
.green {
	color: green;
}
.red {
	color: red;
}
