div.dhtmlxToolbarPoly_Standard img.buttonImage {
	top: 5px !important;
	margin-left: -14px !important;
}
div.dhtmlxToolbarPoly_Standard div {
	padding-top: 4px !important;
	padding-bottom: 4px !important;
	padding-left: 20px !important;
}