body {
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: sans-serif;
	font-size: 10px;
}
a { 
	color: rgb(0, 51, 204);
}

a:hover { 
	background-color: #ddd;
}

a img {
	border: 0;
}

table.grid th { padding: 2px;
	background-color: transparent;
	vertical-align: bottom;
	white-space: nowrap;
}
table.grid td {
	margin: 2px;
	padding: 1px 1px 1px 5px;
	background-color: white;
}

table.grid tr.alt td { background-color: #ddd;
}

table.grid tr.waiting td { background-color: #aaa;
}
table.grid a.orderLink {
	color: #ccc;
}
table.grid a.orderLink:hover {
    color: rgb(0, 51, 204);
}

/* Form rules */
.clniAlert {
	background-color: #CC9999;
}
.clniMessageActive {
	padding: 5px;
	margin-bottom: 5px;
	background-color: #CC9999;
	border: 2px solid rgb(153, 153, 153); 
	width: 325px;
}

div.waiting {
	display: none;
}
div.waitingActive {
	display: block;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	background-color: white;
	border: solid 2px black;
	font-weight: bold;
}

div#nav {
 position: relative;
 margin: 0px;
 padding: 0px;
}
div#nav div.menuSection {
 border: solid 1px #ccc;
 position: relative;
 left: 12px;
 float: left;
 margin: 0px;
 margin-right: 12px;
}
div#nav div.topLevel {
 font-weight: bold;
}
* html div#nav div ul {
 width: 121px;
}
div#nav div ul {
 position: absolute;
 top: 14px;
 left: -1px;
 min-width: 121px;
 margin: 0;
 padding: 0;
 border: solid 1px black;
 background-color: #eee;
 visibility: hidden;
 text-align: left;
 z-index:1000;
}

div#nav a {
 cursor: pointer;
 padding-left: 2px;
 padding-right: 2px;
}
* html div#nav div ul {
 width: 121px;
}
div#nav div ul {
 position: absolute;
 top: 14px;
 left: -1px;
 min-width: 121px;
 margin: 0;
 padding: 0;
 border: solid 1px black;
 background-color: #eee;
 visibility: hidden;
 text-align: left;
 z-index:1000;
}

div#nav a {
 cursor: pointer;
 padding-left: 2px;
 padding-right: 2px;
}
* html div#nav div ul li {
 width: 120px;
}
div#nav div ul li{
 display: block;
 list-style-type: none;
 margin: 0;
 padding: 0;
}
div#nav a {
 display: block;
}


/* Auto complete rules */
.AutoCompleteBackground
{
        background-color: white;
	z-index: 10;
}
.AutoCompleteHighlight {
        background-color: #CCCCCC !important;
}
.AutoCompleteMatchingText {
        background-color: yellow !important;
}
.tooltip {
	text-decoration: none;
}
.dashedLink {
	text-decoration: none;
	border-bottom: dotted 1px #333;
}

/* Default Layout Rules */
#selectedItem {
 position: absolute;
 left: 23em;
 top: 1px;
 font-size: 10pt;
 z-index: 10;
 border: solid 1px black;
 padding: 2px;
 background-color: white;
 display: block;
 float: left;
}
#selectedItem a {
 font-size: 10pt;
 font-weight: bold;
}

#nav {
	font-size: 75%;
	vertical-align: top;
}
#body {
	vertical-align: top;
	font-size: 10px;
}

/* grid links */
table.grid { empty-cells: show;
}


#sections {
	margin-top: -2px;
	font-size: 10px;
}
#sections a {
	font-size: 10px;
}
#username {
	float: right;
	padding-right: 4px;
}
#selectedItem {
	left: 120px;
	top: 0px;
	background-color: white;
	position: absolute;
	font-size:8px;
}
#selectedItem a {
	font-size:8px;
}

/* clearhealth.css stuff */
div.clear {
 clear: both;
}
.gridInput {
 width: 10pt;
}
.sectionCalendar {
 background-color: #FFFFE6 !important;
}
.sectionPatient  {
 background-color: #BFCFFF !important;
}
.sectionBilling  {
 background-color: #E6FFBF !important;
}
.sectionAdministration  {
 background-color: #FFDFBF !important;
}

/* nav stuff */
#nav {
	position: absolute;
	left: 5px;
	top: 15px;
	height: 300px;
	width: 95%;
	background-color: white;
	border: solid 1px black;
	font-size: 10px;
}

#nav ul {
	margin: 0px;
	padding: 0px;
}
#nav li {
	display: inline;
}

/* size junk */
table td {
	font-size: 10px;
}
table th {
	font-size: 10px;
}

input, select, textarea{
	font-size: 9px;
	margin: 0px;
	padding: 0px;
}

fieldset {
	margin: 1px;
	padding: 2px;
}
.schedule {
        position: relative;
        border: solid 1px black;
        width: 100%;
        top: 5px;
}
.schedule .header {
        height: 21px;
        padding: 2px;
}
.schedules div {
        position: absolute;
        width: 100%;
        filter: alpha(Opacity=70);
        -moz-opacity:.7;
        opacity:.7;
        z-index: 1;
}
.colItems {
        position: absolute;
        top: 30px;
        margin-left: 4px;
}
.colItems div {
        width: 100%;
        height: 25px;
}

.innerColumn {
        position: absolute;
        top: 6px;
        left: 3px;
        display: none;
}
/* Hide this rule from IE6 */
html>body .innerColumn {
        top: 5px;
        left: 1px;
}
.primaryColumn {
        margin-left: 24px;
        display: block;
}
.event-styling
{
        font-size:8pt;
        padding-left: 6px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-bottomleft: 10px;                                
        padding-right: 6px;
        -moz-border-radius-topright: 10px;                                  
        -moz-border-radius-bottomright: 10px;                               
        color: #000;
    background-color: #999;
    padding: 0;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
        border-color: #D33 !important;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    cursor: pointer;
}
.event {
        position: absolute;
        background: #eee !important;
        width: 200px;
        z-index: 50;
        font-family: Arial, Helvetica, sans-serif; font-size: 11px;
        overflow: hidden;
        border: solid 1px black;
}

.eventTitle {
        font-size: 8pt;
        padding: 1px;
        padding-bottom: 0;
        border-bottom: solid 1px black;
        color: black;
}

.eventBody {
        padding: 2px;
        padding-top: 0;
}
.navback {
        white-space: nowrap;
        background: #aaa;
}



#calendarCanvas {
        background-color: #FFFFFF; border: 2px #A1A5A9 solid;
        position: relative;
}
.timeRow {
        position: relative;
        height: 25px;
}
.primaryBorder  {
        position: absolute;
        width: 100%;
        height: 1px;
        border-top: 1px solid #A1A5A9;
}
.secondaryBorder{
        position: absolute;
        width: 100%;
        height: 1px;
        border-top: 1px dashed #A1A5A9;
}

.timeRow {
        position: relative;
        height: 25px;
}
.timeLabel {
        top: 0px;
        border-right: 2px solid #A1A5A9;
        height: 25px;
        width: 50px;
        vertical-align: top;
        font-weight: bold;
}

.column {
        margin-top: 1px;
        position: absolute;
        top:0;
        overflow: hidden;
        padding-left: 2px;
        padding-right: 10px;
}
#calendarOverlay {
        position: absolute;
        left: 52px;
        top: 1px;
        clear: both;
}
/* IE6 Compat hack, ie6 starts the calendarOverlay 1 pixel off, its top should be 0 */
html>body #calendarOverlay {
        top: 0px;
}
#confidentialOverlay {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background-color: #ddd;
        z-index: 1000;
}
#confidentialOverlay div {
        position: absolute;
        top: 20%;
        left: 30%;
        width: 40%;
        border: solid 1px black;
        text-align: center;
}
/* Css for click to drag selecting */
.scheduleTarget {
        position: absolute;
        z-index: 2;
        /*
        position: relative;
        width: 25px;
        height: 25px;
        */
}


