{*Loop 2000A*}
HL*													{*Billing/Pay-to Provider Loop*}
{$hl_count}**										{*ID #.  This must begin with 1 and increment by one each time HL is used in the transaction*}
20*													{*Hierarchial level code.  Should always be 20 (information source)*}
1~													{*Hierarchial child code.  Should always be 1 *}
{*Optional PRV and CUR lines can go here to specify identifying characteristics of a provider, and alternate currency information.*}

{*Loop 2010AA*}
NM1*												{*Billing Provider Name Loop*}
85*													{*Identifier code.  Always use 85 (Billing Provider)*}
2*													{*Entity type qualifier.  1=person 2=non-person*}
{$practice->get("name")}*							{*Name of org., or last name of person.*}
****
{$practice->get("identifier_type")}*				{*Qualifier for NM109.  Use 24  (24=EIN, 34=SSN, XX=Health Care Financing Administration National Provider Identifier)*}
{$practice->get("identifier")}~						{*Billing Provider EIN*}

N3*
{$practice->get("print_address")}~					{*Billing provider address*}

N4*
{$practice->get("city")}*							{*Billing provider city/state/zip*}
{$practice->get("state")}*
{$practice->get("zip")|pad:5}~

REF*												{*Required when a 2nd id # is required to identify the entity.*}
1B*													{*X12 ID type. (1B=Blue Shield, 1C=Medicare, 1D=Medicaid, etc.. {$provider->get('identifier_type_2')} *}
{$provider->get("identifier_2")}~					{*The second ID # required to identify the entity.*}

PER*												{*Admin contact - Optional*}
IC*													{*Contact function code use IC*}
{$billing_contact->get("name")}*
TE*													{*What type of # is being supplied? (TE=Telephone, FX=Fax, EM=email)*}
{$billing_contact->get("phone_number")|regex_replace:"/[^0-9]/":""}~
{*Note: two additional numbers/email addresses can be supplied on this same line.*}
{*not in freeb1*}{*PER*IC*JIM*TE*8007775555~*}		{*Administrative contact - optional -- implemented above *}

{*Loop 2010AB - not currently used *}
