{* Not yet implemented*}
{*CRC*										{*Patient condition information: vision*}
{*{$claim->get("X12VisionCodeCategory")}*		{*Code category E1=Spectacle lenses, E2=Contact lenses, E3=Spectacle frames*}
{*{$claim->get("X12VisionCertCondCodeApplies)}*	{* Y/N - Certification condition code applies*}
{*{$claim->get("X12VisionConditionCode1")}*	{* L1/L2/L3/L4/L5 *}
{*{$claim->get("X12VisionConditionCode2")}*	{*Fields CRC04 through CRC07 are optional; can be used if additional codes applpy.*}
{*{$claim->get("X12VisionConditionCode3")}*
{*{$claim->get("X12VisionConditionCode4")}*
{*{$claim->get("X12VisionConditionCode5")}~*}