<table>
	<tr>
		<td>Appointments</td>
	</tr>
	{foreach from=$appointments item=appointment}
	<tr>
		<td><a href="{$CONTROLLER}main&location&action=edit_appointment&id={$appointment->get_id()}">{$appointment->get_appointment_code()}</a> - <a href="{$CONTROLLER}main&location&action=edit_appointment&id={$appointment->get_id()}">{$appointment->get_name()}</a>
		&nbsp;<a href="{$CONTROLLER}main&location&action=delete&id={$appointment->get_id()}&object_class=appointment">D</a></td>
		
	</tr>
	{foreachelse}
	<tr>
		<td colspan="6">No Appointments Found</td>
	</tr>
	{/foreach}
	<tr>
		<td><br></td>
	</tr>
	<tr>
		<td>Practices</td>	
	</tr>
	{foreach from=$practices item=practice}
	<tr>
		<td><a href="{$CONTROLLER}main&location&action=edit_practice&id={$practice->get_id()}">{$practice->get_name()}</a>
		&nbsp;<a href="{$CONTROLLER}main&location&action=delete&id={$practice->get_id()}&object_class=practice">D</a></td>
		
	</tr>
		<tr>
			<td>&nbsp;&nbsp;Buildings</td>
		</tr>
		{foreach from=$buildings item=building}
		{if $building->get_practice_id() == $practice->get_id()}
		<tr>
			<td>&nbsp;&nbsp;<a href="{$CONTROLLER}main&location&action=edit_building&id={$building->get_id()}">{$building->get_name()}</a>
			&nbsp;<a href="{$CONTROLLER}main&location&action=delete&id={$building->get_id()}&object_class=building">D</a></td>
		</tr>
			<tr>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;Rooms</td>
			</tr>
			{foreach from=$rooms item=room}
			{if $room->get_building_id() == $building->get_id()}
			<tr>
				<!-- <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{$CONTROLLER}main&location&action=edit_room&id={$room->get_id()}">{$room->get_name()}</a> -->
				<td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{$EDIT_ROOM_ACTION}&id={$room->get_id()}">{$room->get_name()}</a>
				&nbsp;<a href="{$CONTROLLER}main&location&action=delete&id={$room->get_id()}&object_class=room">D</a></td>
			</tr>
			{/if}
			{foreachelse}
			<tr>
				<td colspan="6">&nbsp;&nbsp;&nbsp;&nbsp;No Rooms Found</td>
			</tr>
			{/foreach}
		{/if}
		{foreachelse}
		<tr>
			<td colspan="6">&nbsp;&nbsp;&nbsp;&nbsp;No Buildings Found</td>
		</tr>
		{/foreach}
	{foreachelse}
	<tr>
		<td colspan="6">No Practices Found</td>
	</tr>
	{/foreach}
	
</table>
