<table>
	<tr>
		<td><h2>{l}Appointments{/l}</h2></td>
	</tr>
	{foreach from=$appointments item=appointment}
	<tr>
		<td><h3><a name="{$appointment->get_id()}"></a>{l}Appointment Code/Title{/l}:</td><td>{$appointment->get_appointment_code()} - {$appointment->get_name()}</h3></td>
	</tr>
	<tr>
		<td style="padding-left:10;">{l}Description{/l}:</td>
		<td><{$appointment->get_description_long()}</td>
	</tr>
	<tr>
		<td><br></td>	
	</tr>
	<tr>
	<td colspan="2">
		{foreach from=$appointment->events item=event}
			<tr>
			<td style="padding-left:10;">{l}Title{/l}:{$event->get_title()}</td>
			<td>{l}Instructor{/l}: {$event->get_contact_person()}</td>
			<td>{l}Website{/l}: {$event->get_website()}</td>
		</tr>
		<tr>	
			<td  style="padding-left:10;" colspan="4">
				<i>{l}Note: Only displaying future classes{/l}.</i><br> 
				<table>
				{foreach from=$event->occurences item=timeplace}
				{if strtotime($timeplace->get_start()) > time()}
				<tr>
					<td width="15"></td><td>{l}Time and Place{/l}: {$timeplace->get_start()|date_format:"%m/%d/%Y"} {$timeplace->get_start()|date_format:"%H:%M %p"} {l}to{/l} {$timeplace->get_end()|date_format:"%H:%M %p"} ({math equation="floor(x / 60)" x=$timeplace->get_duration() } {l}hours{/l} {math equation="x % 60" x=$timeplace->get_duration() } {l}minutes{/l}) {l}In{/l} {$timeplace->get_location_name()}<br>
					{$timeplace->get_notes()}
					</td>
				</tr>
				{/if}
				{/foreach}
				<tr>
				<td><br></td>
				</tr>
				</table>
			</td>
		</tr>
		{foreachelse}
		<tr>
			<td colspan="6">{l}No Appointments Found{/l}</td>
		</tr>
		{/foreach}
	</td>
	</tr>
	{foreachelse}
	<tr>
		<td colspan="6">{l}No Appointments Found{/l}</td>
	</tr>
	{/foreach}
	
</table>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
