{clni_form action=$FORM_ACTION autocomplete="off" process=$PROCESS}
{if $sicGrid}
<div style="border: 2px solid rgb(153, 153, 153); width: 325px; background-color: rgb(255, 255, 153);">
<div style="padding: 3px;">
	<b>Similar Companies Found</b><br>
	Some similar companies were found, please check that the company your trying to add doesn't already exists.
	<br>Submitting this form again will add a new company.
</div>
</div>
<fieldset>
	<legend>Similar Insurance Companies</legend>
	{$sicGrid->render()}
	<input type="hidden" name="checkSimilar" value="0">
</fieldset>
{/if}

{if $ipGrid}
<br>
<div style="border: 2px solid rgb(153, 153, 153); width: 325px; background-color: rgb(255, 255, 153);">
<div style="padding: 3px;">
	<b>Similar Programs Found</b><br>
	Check that on of the programs listed below isn't the program your trying to add.
	<br>Clicking Add Insurance Program again will create a new program
</div>
</div>
<fieldset>
	<legend>Similar Insurance Programs</legend>
	{$ipGrid->render()}
	<input type="hidden" name="checkSimilar" value="0">
</fieldset>
{/if}
	{include file="contacts/general_company.html"}
	
		    {if $company->get('id') > 0}
		    {assign var="parent" value=$company}
		    {include file="insurance/general_program.html"}
		    {include file="contacts/general_phone.html"}
		    {include file="contacts/general_address.html"}
		    {*{include file="contacts/general_related_companies.html"}*}
		    {/if}
</form>

