<fieldset class="radio">
	<legend>{l}Insurance Programs{/l}</legend>
<table><tr><td valign='top'>
	{$insuranceProgramGrid->render()}
	{if $insuranceProgramGrid->empty}
		<p>{l}No Programs have been added{/l}</p>
	{/if}

	<input type="hidden" name="insuranceProgram[insurance_program_id]" value="{$insuranceProgram->get('insurance_program_id')}">
	<table>
		<tr>
			<td><label>{l}Name{/l}:</label></td>
			<td><input name="insuranceProgram[name]" value="{$insuranceProgram->get('name')}"></td>
		</tr>
		<tr>
			<td><label>{l}Payer Type{/l}:</label></td>
			<td><select name="insuranceProgram[payer_type]">
					{html_options options=$insuranceProgram->getPayerTypeList() selected=$insuranceProgram->get('payer_type')}
				</select>
			</td>
		</tr>
		<tr>
			<td><label>{l}Funds Source{/l}:</label></td>
			<td><select name="insuranceProgram[funds_source]">
					{html_options options=$funds_source selected=$insuranceProgram->get('funds_source')}
				</select>
			</td>
		</tr>
		<tr>
			<td><label>{l}Fee Schedule{/l}:</label></td>
			<td><select name="insuranceProgram[fee_schedule_id]">
					{html_options options=$feeSchedule->toArray() selected=$insuranceProgram->get('fee_schedule_id')}
				</select>
			</td>
		</tr>
		<tr>
			<td><label>{l}E-Billing Sender ID{/l}:</label></td>
			<td><input name="insuranceProgram[x12_sender_id]" value="{$insuranceProgram->get('x12_sender_id')}"></td>
		</tr>
		<tr>
			<td><label>{l}E-Billing Reciever ID{/l}:</label></td>
			<td><input name="insuranceProgram[x12_receiver_id]" value="{$insuranceProgram->get('x12_receiver_id')}"></td>
		</tr>
		<tr>
			<td>
<a href="#" class="tooltip" {popup text="Unless there is a specific reason not, this should always be, 004010X098A1 which is the latest approved X12 version for HIPAA"}>
<label>{l}E-Billing Version{/l}:</label></a>
</td>
			<td><input name="insuranceProgram[x12_version]"
{if $insuranceProgram->get('x12_version')==""}	value="004010X098A1"
{else}		 				value="{$insuranceProgram->get('x12_version')}"{/if}>

</td>
		</tr>
		<tr>
			<td><label>{l}Program Address{/l}</label></td>
			<td><select name="insuranceProgram[address_id]">
			{foreach from=$company->get_addresses() item=row}
			<option value="{$row.id})">{$row.name} ({$row.type})</option>
			{/foreach}
			</select></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="{if $insuranceProgram->get('id') > 0}Update{else}Add{/if} Insurance Program">
				{if $insuranceProgram->get('id') > 0}
				<input type="button" value="New Program" onclick="window.location = '{$NEW_PROGRAM}';">
				{/if}
			</td>
		</tr>
	</table>
</td><td valign='top'>
	{$bpiGrid->render()}
	{if $bpiGrid->empty}
		<p>{l}No Program Specific Building Identifier have been added{/l}</p>
	{/if}
	<table>
		<tr>
			<td><label>{l}Program{/l}:</label></td>
			<td><select name="bpi[program_id]"> 
				{html_options options=$insuranceProgram->getCompanysProgramsList($company->get('id')) selected=$bpi->get('program_id')} 
				</select></td>
			<td><label>{l}Building{/l}:</label></td>
			<td><select name="bpi[building_id]"> {html_options options=$bpi->getBuildingList() selected=$bpi->get('building_id')} 
				</select></td>
		</tr>
		<tr>
			<td><label>{l}Identifier{/l}:</label></td>
			<td colspan=3><input name="bpi[identifier]" value="{$bpi->get('identifier')}" size=30></td>
		</tr>
		<tr>
			<td><label>{l}E-Billing Sender ID{/l}:</label></td>
			<td colspan="3"><input name="bpi[x12_sender_id]" value="{$bpi->get('x12_sender_id')}" size="30" /></td>
		</tr>
		<tr>
			<td></td>
			<td colspan=3><input type="submit" value="{if $bpi->_populated}Update{else}Add{/if} Identifier">
				{if $bpi->_populated}
				<input type="button" value="New Identifier" onclick="window.location = '{$NEW_PROGRAM}';">
				{/if}
			</td>
		</tr>
	</table>

</td></tr></table>
</fieldset>
