<?php
// Celini Setup, installtion should only require editing of: 
// App Setup, Database Setup, and possible freeb2 integration

################################################################################
# App Setup
################################################################################
// Session Name
$config['app_name'] = "clearhealth";

// default starting location /index.php/calendar/day
$config['default_controller'] = "calendar";
$config['default_action'] = "day";

// where forms are uploaded too
$config['user_forms_dir'] = APP_ROOT."/user/forms/";

// where documents are uploaded too
$config['document_manager']['repository'] = APP_ROOT."/user/documents/";

// location of htmldoc utility for creating pdfs
$config['htmldoc'] = "/usr/bin/htmldoc";

// Base URL directory
//$config['base_dir'] = '/INSTALL_BASE_DIR/';

// Allow Group Appointments on the Calendar
$config['scheduling']['group_appointments'] = false;

################################################################################
# Database Setup
################################################################################
$config['db_type'] = "mysql";
$config['db_host'] = "INSTALL_DB_SERVER";
$config['db_user'] = "INSTALL_DB_USERNAME";
$config['db_password'] = "INSTALL_DB_PASSWORD";
$config['db_name'] = "INSTALL_DB_DATABASE";
$config['db_table_prefix'] = "";


################################################################################
## Calendar Options
################################################################################
$config['CalendarHourStart'] = 7;
$config['CalendarHourLength'] = 13;


################################################################################
# freeb2 integration
################################################################################
$GLOBALS['C_ALL']['freeb2_dir'] = "/INSTALL_BASE_DIR/freeb2/index.php/";
$config['translate']['freeb2'] = "/INSTALL_BASE_DIR/freeb2/index.php/";


################################################################################
# Celini Options 
################################################################################
// global Celini options
$config['require_login'] = true;
$config['use_text_storage'] = true;
$config['autoAcl'] = true;

// menu config
$config['use_menu'] = true;
$config['menu']['attachReports'] = true;
$config['menu']['attachForms'] = true;
$config['menu']['attachArrays'] = true;

// document management
$config['document_manager']['documents_on_tree'] = true;
$config['document_manager']['category_view'] = false;
$config['document_manager']['type_type'] = false;

// Show extra acl and db debugging info
$config['debug'] = false;


################################################################################
## Locale settings
################################################################################
// Default date/time formats
$config['locale']['date_format']      = "%m/%d/%Y";
$config['locale']['time_format']      = "%H:%i:%s";
$config['locale']['timestamp_format'] = sprintf("%s %s",
	$config['locale']['date_format'],
	$config['locale']['time_format']);

################################################################################
# Other Options
################################################################################

// Openemr compat should be unused
$config['template_dir'] = APP_ROOT."/local/templates/";
$GLOBALS['template_dir'] = APP_ROOT."/local/templates/";
$config['openemr_db'] = 'openemr';

// ???
$GLOBALS['C_ALL']['emr_dir'] = "/index.php/";

// template mappings
$GLOBALS['C_ALL']['group_appointments'] = $config['scheduling']['group_appointments'];

// Extra CSS file(s) to load
$config['extra_css'] = array();

// Show any deprecated function/method call notices
$config['show_deprecated_warnings'] = false;

?>
