<?php
// Celini Setup, installtion should only require editing of: 
// App Setup, Database Setup, and possible freeb2 integration

################################################################################
# App Setup
################################################################################
// Session Name
$config['app_name'] = "clearhealth";

// where forms are uploaded too
$config['user_forms_dir'] = APP_ROOT."/user/form_templates/";
$config['user_reports_dir'] = APP_ROOT."/user/report_templates/";

// where documents are uploaded too
$config['document_manager']['repository'] = APP_ROOT."/user/documents/";

// Base URL directory
//$config['base_dir'] = '/INSTALL_BASE_DIR/';

// Allow Group Appointments on the Calendar
$config['scheduling']['group_appointments'] = false;

################################################################################
# Database Setup
################################################################################
$config['db_type'] = "mysql";
$config['db_host'] = "INSTALL_DB_SERVER";
$config['db_user'] = "INSTALL_DB_USERNAME";
$config['db_password'] = "INSTALL_DB_PASSWORD";
$config['db_name'] = "INSTALL_DB_DATABASE";
$config['db_table_prefix'] = "";


################################################################################
## Calendar Options
################################################################################
$config['CalendarHourStart'] = 7;
$config['CalendarHourLength'] = 13;
$config['showCalendarWeekViewLinks'] = true;
$config['hideCanceledAppointment'] = false;



################################################################################
# Modules (Some modules are enabled by default see config.defaults.php)
################################################################################


################################################################################
## Locale settings
################################################################################
/** 
 * To change the format of your date and/or time, uncomment the following lines.
 */
#$config['locale']['date_format']      = "%m/%d/%Y";
#$config['locale']['time_format']      = "%H:%i:%s";
#$config['locale']['timestamp_format'] = $config['locale']['date_format'] . ' ' . $config['locale']['time_format']);


################################################################################
## Printer Options
################################################################################
/**
 * To add a printer, uncomment and fill out the following confirmation values.
 *
 * Additional printers can be added by creating multiple "$config['printers'][]" values. 
 */
#$config['printers'][] = array(
#	'readableName' => 'Printer Name',    // Name of the printer to display in the Queue manager
#	'systemName'   => 'Printer-Name',    // System name of the printer to print to
#	'lprOptions'   => array(             // Options to pass into lpr via the '-o' parameter
#		'PageSize=letter',
#		'portrait'
#	)
#);

################################################################################
## PDF Generation Options
################################################################################
$config['htmldoc'] = '/usr/bin/htmldoc';
$config['pageprint'] = '/usr/local/pageprint/PagePrint';
$GLOBALS['config']['pdfGenerator'] = 'htmldoc';


################################################################################
# Other Options
################################################################################

// Openemr compat should be unused
$config['template_dir'] = APP_ROOT."/local/templates/";
$GLOBALS['template_dir'] = APP_ROOT."/local/templates/";
$config['openemr_db'] = 'openemr';

// ???
$GLOBALS['C_ALL']['emr_dir'] = "/index.php/";

// template mappings
$GLOBALS['C_ALL']['group_appointments'] = $config['scheduling']['group_appointments'];

// Extra CSS file(s) to load
$config['extra_css'] = array();

// Show any deprecated function/method call notices
$config['show_deprecated_warnings'] = false;

?>
