<fieldset class="radio" id="events">
	<legend>{l}Current Calendar Items{/l}</legend>
	Select checkbox and update to delete event(s).<br />
	{if !$eventtype}{assign var=eventtype value='CalendarEvent'}{/if}
	{if !$events && $schedule}
		{assign var=events value=$schedule->getFutureEvents($eventtype)}
	{/if}
	{assign var=i value=$events->count()}
	{if $i > 100}
		{assign var=i value=100}
		<p>To many events to show at once, 100 most recent are shown.</p>
	{/if}
	{if $events && $events->count() > 0}
		{assign var=event value=$events->current()}
		{while $i > 0}
			<input type="checkbox" name="DeleteEvent[]" value="{$event->get('id')}" /> <a href="{link}schedule_id={$schedule->get('id')}&event_id={$event->get('id')}">{$event->get('title')}: {$event->get('start')} - {$event->get('end')}</a> <br />
			{assign var=event value=$events->next()}
			{if $i--}{/if}
		{/while}
	{else}
		{l}No items found.{/l}
	{/if}
</fieldset>
