	<fieldset class="radio" id="insurer">
		<legend>Generate Claim</legend>
		<table>
			<tr>
				<td><label>{l}Insurance Program{/l}:</label></td>
				<td>{html_options name=sendClaim[insurance_program_id] options=$program_array}</td>
				<td><label>{l}Claim Format{/l}:</label></td>
				<td>{html_options name=sendClaim[claim_type] options=$claim_type_array}</td>
			</tr>
			<tr>
				<td><label>{l}Payment Type{/l}:</label></td>
				<td>{html_options name=sendClaim[payment_type] options=$payment_type_array}</td>
				<td><label>{l}Amount Paid{/l}:</label></td>
				<td><input name="" type="text" value=""></td>
			</tr>
			<tr>
			<td><input type="submit" name="bill" value="Bill"></td>
			</tr>
		</table>
	</fieldset>
