<fieldset class="radio" id="occurrence">
		<legend>{l}Add Occurrence{/l}</legend>
	<table cellpadding="0" cellspacing="0" border="0" >
	<tr>
		<td>
		{l}Date{/l} </td><td><input type="text" name="Occurrence[odate]" id="f_date" /><img id="f_button" src="{$base_dir}images/stock/set_time.gif" />
		</td>
	</tr>
	<tr>
		<td>
		{l}Start Time (24-Hour){/l} </td><td><input type="text" name="Occurrence[start]" value="00:00" />
		</td>
	</tr>
	<tr>
		<td>
		{l}End Time (24-Hour){/l} </td><td><input type="text" name="Occurrence[end]" value="00:00" />
		</td>
	</tr>
	
	</table>
{literal}
<script type="text/javascript">
	var thisDate=new Date();
	var dateRange=new Array();
	dateRange[0]=Date.YEAR;
	dateRange[1]=Date.YEAR+2;
    Calendar.setup({
        inputField     :    "f_date",   // id of the input field
        ifFormat       :    "%Y-%m-%d",       // format of the input field
        button         :    "f_button",
        range          :    dateRange
    });
</script>
{/literal}
</fieldset>
