<fieldset>
	<legend>{l}Edit Participation Programs{/l}</legend>
{clni_form action="$FORM_ACTION" process="true"}
<input type='hidden' name='process' value='true'>

<table>
<input type='hidden' name="ParticipationProgram[participation_program_id]" value="{$ordo->get('participation_program_id')}">
<tr>
	<td><label>Name:</label> </td>

	<td><input type='text' id='ParticipationProgram__name' name='ParticipationProgram[name]' value="{$ordo->get('name')}"></td>
</tr>
<tr>
	<td><label>Class:</label> </td>
	<td><input type='text' id='ParticipationProgram__class' name='ParticipationProgram[class]' value="{$ordo->get('class')}"></td></tr>
<tr>
	<td><label>Type:</label> </td>
	<td><input type='text' id='ParticipationProgram__type' name='ParticipationProgram[type]' value="{$ordo->get('type')}"></td></tr>
<tr>
	<td><label>Description:</label> </td>
	<td><input type='text' id='ParticipationProgram__description' name='ParticipationProgram[description]' value="{$ordo->get('description')}"></td></tr>
<tr><td><label>Form Id:</label></td><td>{html_options name="ParticipationProgram[form_id]" options=$formList selected=$ordo->get('form_id') blank=true}</td></tr>
<tr><td><label>Ad-hoc:</label></td><td>
<input  type="hidden" name="ParticipationProgram[adhoc]" value='0'>
<input type="checkbox" name="ParticipationProgram[adhoc]" value="1" {if $ordo->get('adhoc') eq 1}checked="checked"{/if}</td></tr>
<tr><td></td><td><input type='submit' value='Update'></td></tr>

</table></form>
<br />
{$administerLink}
</fieldset>
