{clni_form}
<table>
<td><label>Program:</label></td>
<td><select name="ParticipationProgram[personparticipationprogram][participation_program_id]">{html_options options=$progNamesList selected=$ordo->get('participation_program_id')}</select></td>
</tr>
<tr>
	<td><label>Start:</label> </td>
	<td>
	{clni_input_date name="ParticipationProgram[personparticipationprogram][start]" id="pppsDate" size="9" value=$ordo->get('start')}
</td></tr>
<tr>
	<td><label>End:</label> </td>

	<td>
	{clni_input_date name="ParticipationProgram[personparticipationprogram][start]" id="pppsDate" size="9" value=$ordo->get('start')}
</td></tr>
<tr>
	<td><label>Expires:</label> </td>
	<td>
	<input type='radio'  name='ParticipationProgram[personparticipationprogram][expires]' value="1" {if $ordo->get('expires') eq 1}checked="checked"{/if}> Yes
	<input type='radio'  name='ParticipationProgram[personparticipationprogram][expires]' value="0" {if $ordo->get('expires') eq 0}checked="checked"{/if}> No &nbsp;&nbsp;&nbsp;
	</td></tr>
	<td><label>Status:</label> </td>
	<td>
	<input type='radio'  name='ParticipationProgram[personparticipationprogram][active]' value="1" {if $ordo->get('active') eq 1}checked="checked"{/if}> Active
	<input type='radio'  name='ParticipationProgram[personparticipationprogram][active]' value="0" {if $ordo->get('active') eq 0}checked="checked"{/if}> Inactive &nbsp;&nbsp;&nbsp;</td>
</tr>
<td colspan="3">
{if !$ACTION_ADD}
<fieldset><legend><label>Options</label></legend>

{if $options}
<input type="hidden" name="ParticipationProgram[personparticipationprogram][options][person_program_id]" value="{$ordo->get('person_program_id')}">
<input type="hidden" name="ParticipationProgram[personparticipationprogram][options][person_program_id]" value="{$ordo->get('person_program_id')}">
{$options->actionOptions()}
{else}
This program has no options.
{/if}
</fieldset>
{/if}
</td>
</tr>
<tr><td></td><td><input type='submit' value='{if $ACTION_ADD}Add{else}Update{/if}'></td></tr>
</table>
<input type="hidden" name="ParticipationProgram[personparticipationprogram][person_id]" value="{$ordo->get('person_id')}">
<input type="hidden" name="ParticipationProgram[personparticipationprogram][person_program_id]" value="{$ordo->get('person_program_id')}">
</form>
