/* sidebar positioning */
#calendarBody {
	float: left;
	padding-right: 190px;
}
#calendarSidebar {
	float: left;
	margin-left: -180px;
}

/* Other positioning cleanup */
.navback {
	white-space: nowrap;
}
/* Style sheet for the silver calendar (default) */

.eventborder	{ background-image: url(images/day_title.gif); border: 1px #006699 solid; }
.eventbg	 	{ background-color: #6699CC; }

.eventbg_1	 		{  }
.eventbg_2	 		{ background-color: #666699; }
.eventbg_3	 		{ background-color: #999999; }
.eventbg_4	 		{ background-color: #6B84C7; }
.eventbg_5	 		{ background-color: #9999CC; }
.eventbg_6	 		{ background-color: #6876E7; }
.eventbg_7	 		{ background-color: #73738C; }

.eventbg2 	 	{ background-color: #6699CC; border-right: 1px solid #FFFFFF; }

.eventbg2_1	 		{ background-color: #6699CC; border-right: 1px solid #A1A5A9; }
.eventbg2_2	 		{ background-color: #666699; border-right: 1px solid #A1A5A9; }
.eventbg2_3	 		{ background-color: #999999; border-right: 1px solid #A1A5A9; }
.eventbg2_4	 		{ background-color: #6B84C7; border-right: 1px solid #A1A5A9; }
.eventbg2_5	 		{ background-color: #9999CC; border-right: 1px solid #A1A5A9; }
.eventbg2_6	 		{ background-color: #6876E7; border-right: 1px solid #A1A5A9; }
.eventbg2_7	 		{ background-color: #73738C; border-right: 1px solid #A1A5A9; }

.eventbg2week 	{ background-color: #6699CC; border-right: 1px solid #A1A5A9; }

.eventbg2week_1	 	{ background-color: #6699CC; border-right: 1px solid #A1A5A9; }
.eventbg2week_2	 	{ background-color: #666699; border-right: 1px solid #A1A5A9; }
.eventbg2week_3	 	{ background-color: #999999; border-right: 1px solid #A1A5A9; }
.eventbg2week_4	 	{ background-color: #6B84C7; border-right: 1px solid #A1A5A9; }
.eventbg2week_5	 	{ background-color: #9999CC; border-right: 1px solid #A1A5A9; }
.eventbg2week_6	 	{ background-color: #6876E7; border-right: 1px solid #A1A5A9; }
.eventbg2week_7	 	{ background-color: #73738C; border-right: 1px solid #A1A5A9; }

.calborder 		{ background-color: #FFFFFF; border: 1px #A1A5A9 solid; }
.dateback		{ background-color: #EEEEEE; }
.dayborder 		{ border-top: 1px solid #A1A5A9; }
.dayborder2 	{ border-top: 1px dashed #CCCCCC; }
.schedule_border {border-right: 1px solid #A1A5A9; border-top: 1px solid #A1A5A9;}
.weekborder 	{ border-top: 1px solid #A1A5A9; border-right: 1px solid #A1A5A9; }
.weekborder2 	{ border-top: 1px dashed #CCCCCC;border-right: 1px solid #A1A5A9; }
.timeborder 	{ border-right: 2px solid #A1A5A9; border-top: 1px dashed #A1A5A9; background-image: url(images/time_bg.gif); }
.timeborder2 	{ border-right: 2px solid #A1A5A9; border-top: 1px solid #A1A5A9; background-image: url(images/time_bg.gif); }
.navback 		{ background-image: url(images/time_bg.gif); }
.sideback 		{ background-image: url(images/side_bg.gif); }
.monthback		{ background-color: #A1A5A9; }
.monthreg		{ background-color: #FFFFFF; }
.monthoff		{ background-color: #F2F2F2; }
.monthon		{ background-color: #F2F9FF; }
.montheventtop	{ background-image: url(images/side_bg.gif); border-top: 1px solid #A1A5A9; }
.montheventline	{ border-right: 1px dotted #A1A5A9; }
.yearmonth		{ background: #CCCCCC; }

/* Link colors and attributes */
/* This is the main link style */
a.psf			{ text-decoration:	none; }
a.psf:link		{ color: #0066FF; background-color: transparent; }
a.psf:visited	{ color: #0066FF; background-color: transparent; }
a.psf:active	{ color: #3366CC; background-color: transparent; }
a.psf:hover		{ color: #000099; background-color: transparent; }

/* This is the link style for the mini-cals */	
a.ps2			{ text-decoration:	underline; }
a.ps2:link		{ color: #0066FF; background-color: transparent; }
a.ps2:visited	{ color: #0066FF; background-color: transparent; }
a.ps2:active	{ color: #3366CC; background-color: transparent; }
a.ps2:hover		{ color: #000099; background-color: transparent; }

/* This is the link style for year months */	
a.ps3			{ text-decoration:	none; }
a.ps3:link		{ color: #000000; background-color: transparent; }
a.ps3:visited	{ color: #000000; background-color: transparent; }
a.ps3:active	{ color: #000000; background-color: transparent; }
a.ps3:hover		{ color: #000000; background-color: transparent; text-decoration:	underline;}
	
/* Body attributes */

/* body			{ background-color: #E5E5E5; } */

img				{border-style: none;}

/* CSS definitions for fonts */

.V9 			{ font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; }
.V10W 			{ font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF; }
.V10WB 			{ font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF; font-weight: 900; }
.V9G 			{ font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 9px; color: #666666; }
.V10 			{ font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; }
.V9BOLD 		{ font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: 900; }
.G10 			{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #0066FF; }
.G10B 			{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; }
.G10BOLD 		{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: 900; }
.G10G 			{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #A1A5A9; }
.V12 			{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;  color: #000000; }
.H20 			{ font-family: Helvetica, sans-serif; font-size: 18px; color: #000000; }
.eventfont 		{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; }


/* Length of the form drop downs */

.query_style 	{ font-size: 11px; font-family: verdana, geneva, arial, sans-serif; width: 156px; margin-bottom: 0; }
.search_style 	{ font-size: 12px; font-family: verdana, geneva, arial, sans-serif; width: 134px; margin-bottom: 0; }
.login_style	{ font-size: 11px; font-family: verdana, geneva, arial, sans-serif; width: 80px; margin-bottom: 0; }

/* Hidden div "popup" for new appointments */
.popup { visibility: hidden; background-color: white; position: absolute; border: thin solid black; z-index: 10;}
.autoCompleteBackground
{
        background-color: white;
}
.autoCompleteHighlight
{
        background-color: #CCCCCC;
}
.autoCompleteMatchingText
{
        background-color: yellow;
}
