/* Generic Rules */
body {
	font-family: sans-serif;
}
a { 
	color: rgb(0, 51, 204);
}

a:hover { 
	background-color: #ddd;
}

a img {
	border: 0;
}

/* Default Layout Rules */
#header {
	border: solid 1px gray;
	text-align: center;
}
#nav {
	vertical-align: top;
	font-size: 10px;
}
#body {
	vertical-align: top;
}

/* grid links */
table.grid { empty-cells: show;
}
table.grid th { padding: 2px;
	background-color: transparent;
	vertical-align: bottom;
	white-space: nowrap;
	font-weight: bold;
}
table.grid td {
	margin: 2px;
	padding: 1px 1px 1px 5px;
	background-color: white;
}

table.grid tr.alt td { background-color: #ddd;
}

table.grid tr.waiting td { background-color: #aaa;
}
table.grid a.orderLink {
	color: #ccc;
}
table.grid a.orderLink:hover {
    color: rgb(0, 51, 204);
}

/* Form rules */
.clniAlert {
	background-color: #CC9999;
}
.clniMessageActive {
	padding: 5px;
	margin-bottom: 5px;
	background-color: #CC9999;
	border: 2px solid rgb(153, 153, 153); 
	width: 325px;
}

div.waiting {
	display: none;
}
div.waitingActive {
	display: block;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	background-color: white;
	border: solid 2px black;
	font-weight: bold;
}

/* Auto complete rules */
.AutoCompleteBackground
{
        background-color: white;
	z-index: 10;
}
.AutoCompleteHighlight {
        background-color: #CCCCCC !important;
}
.AutoCompleteMatchingText {
        background-color: yellow !important;
}
.tooltip {
	text-decoration: none;
}
.dashedLink {
	text-decoration: none;
	border-bottom: dotted 1px #333;
}
