html {
	margin: 0; padding: 0;
}
body {
 margin:0px; padding:0px;
 /*text-align:center;*/
 font-family: sans-serif;
 font-size: 90%;
 background-color:#eee;
}
#username {
 font-size: 8pt;
 line-height: 7pt;
 font-weight:normal;
 padding-top: 6pt;
 padding-right: 2pt;
 float:right;
 display:block;
 
}
#sections {
 position: absolute;
 left: 5pt;
 font-size: 14pt;
}
#sections a {
 font-size: 14pt;
}
#sections a.selected {
 font-weight: bold;
}
#selectedItem {
 position: relative;
 left: 23em;
 top: -16pt;
 font-size: 10pt;
 z-index: 10;
 border: solid 1px black;
 padding: 2px;
 background-color: white;
 display: block;
 float: left;
}
#selectedItem a {
 font-size: 10pt;
 font-weight: bold;
}
#header {
 background-color: #ccc;
 position: relative;
 z-index: 2;
 text-align: left;
 left: 0px;
 top: 0px;
 height: 41px;
}
#header h1 {
 margin: 0px;
 padding: 0px;
 vertical-align: top;
 float: right;
 font-size: 20pt;
}
 
#body {
 margin:0px auto;
 text-align:left;
 padding: 10px 15px;
 background-color:#eee;
}
div#nav {
 position: absolute;
 top: 23px;
 left: 0px;
 margin: 0px;
 padding: 0px;
}

div#nav div.section {
 position: relative;
 left: 12px;
 float: left;
 border: solid 1px #ccc;
 margin: 0px;
 margin-right: 12px;
}
div#nav div.topLevel {
 font-weight: bold;
}
div#nav div ul {
 position: absolute;
 top: 14px;
 left: -1px;
 width: 121px;

 margin: 0;
 padding: 0;
 border: solid 1px black;
 background-color: #eee;
 visibility: hidden;
 text-align: left;
 z-index:10;
}

div#nav a {
 cursor: pointer;
 padding-left: 2px;
 padding-right: 2px;
}
div#nav div ul li{
 display: block;
 list-style-type: none;
 margin: 0;
 padding: 0;
 width: 120px;
}
div#nav a {
 display: block;
}


div.clear {
 clear: both;
}
.gridInput {
 width: 30pt;
}
.sectionCalendar {
 background-color: #FFFFE6 !important;
}
.sectionPatient  {
 background-color: #BFCFFF !important;
}
.sectionBilling  {
 background-color: #E6FFBF !important;
}
.sectionAdministration  {
 background-color: #FFDFBF !important;
}
fieldset table.data td {
 margin: 2px;
 padding: 2px;
 background-color: #ddd;
}
fieldset table.data th {
 margin: 2px;
 padding: 2px;
}
table.columns {
 font-size: 100%;
}
table.columns td {
 vertical-align: top;
 font-size: 100%;
}
table td label {
 text-align: right;
 display: block;
}
table td label.inline {
 display: inline;
}
h3 {
 margin: 0px;
 padding: 0px;
 margin-top: 12pt;
}
#confidentialOverlay {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: #ddd;
	z-index: 1000;
}
#confidentialOverlay div {
	position: absolute;
	top: 20%;
	left: 30%;
	width: 40%;
	border: solid 1px black;
	text-align: center;
}
.tooltip {
	border-bottom: dotted 1px gray;
}
.tooltipMessage {
	display: none;
	border: solid 1px black;
	background-color: white;
	position: absolute;
	padding: 2px;
}
