body {
	margin:0px 0px; padding:0px;
	text-align:center;
	background-color:#eee;
}

#sections {
	position: absolute;
	left: 5pt;
	font-size: 14pt;
}
#sections a {
	font-size: 14pt;
}

#sections a.selected {
	font-weight: bold;
}

#header {
	background-color: #ccc;
	position: relative;
	z-index: 2;
	padding: 2px;
}

#header h1 {
	margin: 0px;
	float: right;
}
	
#body {
	width:95%;
	margin:0px auto;
	text-align:left;
	padding:15px;
}

div#nav {
	position: absolute;
	bottom: 0px;
	left: 0px;
	vertical-align: bottom;
}

div#nav div.section {
	position: relative;
	float: left;
	margin-left: 10pt;
	border: solid 1px #ccc;
}

div#nav div.topLevel {
	font-weight: bold;
}

div#nav div ul {
	margin: 0px;
	margin-top: -1px;
	padding: 0px;
	position: absolute;
	border: solid 1px black;
	top: 11pt;
	left: -1px;
	background-color: #eee;
	visibility: hidden;
	width: 101pt;
	text-align: left;
	z-index:10;
}

div#nav div:hover > ul { visibility: visible;
}
div#nav div.section:hover {
	background-color: #eee;
	border: solid 1px black;
}

div#nav div ul li{
	display: block;
	list-style-type: none;
	margin: 0px;
	padding: 1pt;
	width: 100pt;
}

div#nav > div a {
	padding: 0px;
	padding-left: 1pt;
	padding-right: 1pt;
}

div#nav a {
	display: block;
}

div.clear {
	clear: both;
}

.gridInput {
	width: 30pt;
}
div#header.sectionCalendar {
	background-color: #FFFFE6;
}
div#header.sectionPatient  {
	background-color: #BFCFFF;
}
div#header.sectionBilling  {
	background-color: #E6FFBF;
}
div#header.sectionAdministration  {
	background-color: #FFDFBF;
}

fieldset table.data td {
	margin: 2px;
	padding: 2px;
	background-color: #ddd;
}
fieldset table.data th {
	margin: 2px;
	padding: 2px;
}
table.columns {
	font-size: 100%;
}
table.columns td {
	vertical-align: top;
	font-size: 100%;
}

table td label {
	text-align: right;
	display: block;
}
table td label.inline {
	display: inline;
}
