/* $Id$ */
body {
	margin:0px; padding:0px;
	/*text-align:center;*/
	background-color:#fff;
	font-family: sans-serif;
	font-size: 90%;
}

#username {
	font-size: 8pt;
	line-height: 8pt;
	font-weight:normal;
	padding-top: 16pt;
	padding-right: 5px;
	float:right;
	display:block;
	
}
#sections {
	position: absolute;
	left: 25px;
	top: -2px;
	font-size: 14pt;
}
#sections a {
	font-size: 14pt;
	padding: 0px;
	padding-right: 5px;
	padding-left: 5px;
	border:solid 1px black;
	text-decoration: none;
}

#sections .selected {
	font-weight: bold;
	background-color: #eee;
}

#sections a:hover { 
	background-color:#ccc;
}

#selectedItem {
	position: relative;
	left: 27em;
	top: -15pt;
	font-size: 10pt;
	z-index: 10;
	border: solid 1px black;
	padding: 2px;
	background-color: white;
	display: block;
	float: left;
}
#selectedItem a {
	display: inline;
	font-size: 10pt;
	font-weight: bold;
	border: 0px;
}

#header {
	background-color: #fff;
	position: relative;
	z-index: 2;
	text-align: left;
	left: 0px;
	top: 0px;
	height:40px;
}


#header h1 {
	text-indent:-5000px;
	width:340px;
	height:40px;
	margin: 0px;
	padding: 0px;
	font-size: 20pt;
	background:url(images/clearhealth_weblogo.gif);
	background-repeat: no-repeat;
	background-position: center center;
	float:right;
}

.sectionCalendar h1 {
	background-image:url(images/clearhealth_weblogo-calendar.gif) !important;
}
.sectionPatient h1 {
	background-image:url(images/clearhealth_weblogo-patient.gif) !important;
}
.sectionBilling h1 {
	background-image:url(images/clearhealth_weblogo-billing.gif) !important;
}
.sectionAdministration h1 {
	background-image:url(images/clearhealth_weblogo-administration.gif) !important;
}

	
#body {
	width:98%;
	margin:0px auto;
	text-align:left;
	padding: 1%;
	padding-top: 10px;
}

div #nav {
	position: absolute;
	top: 25px;
	height: 15px;
	left: 25px;
	margin: 0;
	padding: 0;
}

div #nav div.section {
	position: relative;
	left:0;
	border: solid 1px #000;
	margin: 0 2px;
	padding: 0 3px;
}

div #nav div.topLevel {
	font-weight: bold;
}

div #nav div ul {
	margin: -2px 0 0;
	padding: 0px;
	position: absolute;
	border: solid 1px black;
	top: 11pt;
	left: -1px;
	background-color: #eee;
	visibility: hidden;
	width: 101pt;
	text-align: left;
	z-index:10;
}

div #nav div:hover > ul { 
	visibility: visible;
}
div #nav div.section:hover {
	background-color: #eee;
	border: solid 1px black;
}

div #nav div ul li{
	display: block;
	list-style-type: none;
	margin: 0px;
	width: 100pt;
}

div #nav > div a {
	display: block;
	padding: 0 3px;
	z-index: 11;
}

div #nav a {
	display: block;
}

div.clear {
	clear: both;
}

.gridInput {
	width: 30pt;
}

.sectionCalendar #nav ul { background-color: #FFFFE6 !important; }

.sectionPatient #nav ul { background-color: #BFCFFF !important; }

.sectionBilling #nav ul { background-color: #E6FFBF !important; }

.sectionAdministration #nav ul { background-color: #FFDFBF !important; }

fieldset table.data td {
	margin: 2px;
	padding: 2px;
	background-color: #ddd;
}
fieldset table.data th {
	margin: 2px;
	padding: 2px;
}
table.columns {
	font-size: 100%;
}
table.columns td {
	vertical-align: top;
	font-size: 100%;
}

table td label {
	text-align: right;
	display: block;
}
table td label.inline {
	display: inline;
}
h3 {
	margin: 0px;
	padding: 0px;
	margin-top: 12pt;
}
