{assign var='codingsubmit' value=true}
{clni_form name="coding_form" action=$FORM_ACTION autocomplete="off" process=$PROCESS}
<input type="hidden" name="lockTimestamp" value="{$lockTimestamp}">
{include file='coding/general_update.html'}

{literal}
<script language="javascript">
function clni_rule_hasicd(element) {
	var childDiv = document.getElementById('child_codes');
	var cptDiv = document.getElementById('cptlist');
	if (document.getElementById('parent_id').value == '' && cptDiv.childNodes.length == 1 &&
			childDiv.childNodes.length == 1 && document.getElementById('child_code').value == '') {
		return true;
	}
	if (childDiv.childNodes.length == 1) {
		return false;
	}
	return true;
}
function clni_rule_hascpt(element) {
	// if the cpt is empty and icd list is empty then were valid
	var childDiv = document.getElementById('child_codes');
	var cptDiv = document.getElementById('cptlist');
	if (document.getElementById('parent_id').value == '' && cptDiv.childNodes.length == 1 &&
			childDiv.childNodes.length == 1 && document.getElementById('child_code').value == '') {
		return true;
	}
	if (document.getElementById('parent_id').value > 0) {
		return true;
	}
	if (cptDiv.childNodes.length == 1) {
		return false;
	}
	return true;

}


</script>
{/literal}

</form>
