<div class="title" id="title">Superbills</div>
<fieldset>
{if is_object($messages)}
        {$messages->render()}
{/if}
{if $error}
<p>No further action can be taken do to the errors. <a href="#" onclick="close_popup();">Close</a></p>
{/if}
{foreach from=$sbs item=sb key=name name="sbsloop"}
<fieldset>
<legend>{$name}</legend>
<table><tr><td valign="top">{$sb.procedure}</td><td width="20"></td><td valign="top">{$sb.diagnosis}</td></td></table>
</fieldset>
{/foreach}
<p>
<br />
<div id="alertMessages" style="display:none;overflow:auto; height:100px;"></div>
<a href="#" onclick="hidePopup();">close</a>
</p>
</fieldset>
