<script type="text/javascript" src="{$base_dir}js/table.js"></script>

<table>
	<tr>
		<td>
{literal}
<form action="javascript:{}" onSubmit="filterCptGrid(this)">
	<b>Filter CPT Codes</b>
	<table>
		<tr>
			<td><label>Code:</label></td>
			<td><input id="cpt_code" size=10></td>
			<td><label>Code name:</label></td>
			<td><input id="cpt_code_text" size=10></td>
			<td><input type="submit" value="Filter"></td>
		</tr>
	</table>
</form>
<script type="text/javascript">
	function filterCptGrid(form) {
		if (form.cpt_code.value != "") {
			o_gcpt.addFilter('code',form.cpt_code.value);
		}
		else {
			o_gcpt.dropFilter('code');
		}
		if (form.cpt_code_text.value != "") {
			o_gcpt.addFilter('code_text',form.cpt_code_text.value);
		}
		else {
			o_gcpt.dropFilter('code_text');
		}
		o_gcpt.filter();
	}
</script>
		</td>
		<td>
<form action="javascript:{}" onSubmit="filterIcdGrid(this)">
	<b>Filter ICD9 Codes</b>
	<table>
		<tr>
			<td><label>Code:</label></td>
			<td><input id="icd_code" size=10></td>
			<td><label>Code name:</label></td>
			<td><input id="icd_code_text" size=10></td>
			<td><input type="submit" value="Filter"></td>
		</tr>
	</table>
</form>
<script type="text/javascript">
	function filterIcdGrid(form) {
		if (form.icd_code.value != "") {
			o_gicd.addFilter('code',form.icd_code.value);
		}
		else {
			o_gicd.dropFilter('code');
		}
		if (form.icd_code_text.value != "") {
			o_gicd.addFilter('code_text',form.icd_code_text.value);
		}
		else {
			o_gicd.dropFilter('code_text');
		}
		o_gicd.filter();
	}
</script>

		</td>
		<td rowspan="3">
			<div id="storedCodes" style="border: solid 1px black;"><div></div></div>
		</td>
	</tr>
	<tr>
		<td colspan=2 align=center>
			<a href="javascript:{}" onclick="storeRelate()">Store</a>
			<a href="javascript:{}" onclick="clearRelate()">Clear</a>
			<div id="currentRelate" style="border: solid 1px black; text-align:left;"><div></div></div>
		</td>
	</tr>
{/literal}
	<tr>
		<td>
			{$cpt->render()}
		</td>
		<td align="left">
			{$icd->render()}
		</td>
	</tr>
</table>
