{head type="js"}
var selectVisible=true;
var superBillVisible=false;
function toggleSelects() {
	if(document.all) {
		var selects = document.getElementsByTagName('select');
		for(var i=0;i<selects.length;i++) {
			if(selectVisible == true) {
				selects[i].style.visibility='hidden';
			} else {
				selects[i].style.visibility='visible';
			}
		}
		if(selectVisible == true) {
			selectVisible = false;
		} else {
			selectVisible = true;
		}
	}
}
function toggleSuperBill() {
	if(superBillVisible==true) {
		hideSuperBill();
	} else {
		showSuperBill();
	}
//	Effect.toggle('superBillList','appear');
}
function showSuperBill() {
	toggleSelects();
	superBillVisible=true;
	document.getElementById('superBillList').style.display='block';
//	new Effect.Appear('superBillList');
}
function hideSuperBill() {
	document.getElementById('superBillList').style.display='none';
	superBillVisible=false;
//	new Effect.Fade('superBillList');
	toggleSelects();
}

function SBFade(element) {
  var oldOpacity = Element.getInlineOpacity(element);
  var options = Object.extend({
  from: Element.getOpacity(element) || 1.0,
  to:   0.0,
  speed: 0.2,
  afterFinishInternal: function(effect) { with(Element) { 
    if(effect.options.to!=0) return;
    hide(effect.element);
    setStyle(effect.element, {opacity: oldOpacity}); }}
  }, arguments[1] || {});
  return new Effect.Opacity(element,options);
}


{/head}

{clni_form name="coding_form" action=$FORM_ACTION autocomplete="off" process=$PROCESS}
<input type="hidden" name="foreign_id" value="{$foreign_id}">
{if !$encounter || $encounter->get('status') != 'closed'}
<div style="position: relative">
<div id="superBillList" style="position: absolute; top: {if $incodingtemplate}80{else}-405{/if}px; padding: 5px; height: 400px; border: solid 1px black; background: white; display:none;">
<b>Superbill</b> (<a href="#" onclick="hideSuperBill()">Hide</a>)
<div style="overflow: auto; height: 385px">
{$sblGrid->render()}
</div>
</div>
</div>
<fieldset id="coding_data">
<legend>{l}Edit Claim Line{/l}</legend>
<div id="acDiv" style="border: 1px solid black; background-color: white; z-index: 20; visibility: hidden;"><div class="AutoCompleteBackground"></div></div>
<table>
	<tr>
		<td valign="top">
			<table cellpadding=0 cellspacing=0>
				<tr>
					<td><label>{l}Procedure{/l}:&nbsp;</label></td>
					<td>
						<div class="SuggestContainer">
							<input TYPE="hidden" name="parent_id"  id="parent_id" value="{$parent_id}">
							<input TYPE="text" name="parent_code" id="parent_code" {if $dentalpractice}SIZE="25"{else}SIZE="35"{/if} autocomplete="off" value="{$parent_code->getCodeDesc()}">
						</div>
					</td>
					<td>
						&nbsp;<select name="modifier" STYLE="z-index: 1;" id="modifier">
							<option></option>
							{html_options options=$code_data->getModifierList() selected=$code_data->get('modifier')}
						</select>
{if $dentalpractice}
{include file='coding/general_dental.html'}
{/if}
						<input type="button" name="add_cpt" value="Add CPT" onClick="addCPTCode()">
					</td>
				</tr>
				<tr>
					<td></td>
					<td colspan=2>
						<div id="cptlist">
						</div>
					</td>
				</tr>
				<tr>
					<td><label>{l}Units{/l}:&nbsp;</label></td>
					<td>
						<input TYPE="text" CLASS="input_text" name="units" id="units" SIZE="7" value="{$code_data->get('units')}">
						&nbsp;<label style="display:inline;"><a href="#superbill" onclick="toggleSuperBill();">{l}SuperBill{/l}</a></label> <input id="superbillBox" type="checkbox" name="superbill" value="1" {if $superbill}checked{/if}>
					</td>
				</tr>
			</table>
		</td>
		<td valign="top">
			<table cellpadding=0 cellspacing=0>
				<tr>
					<td><label>{l}Diagnosis{/l}:&nbsp;</label></td>
					<td>
						<input TYPE="hidden" name="child_codes[]"  id="child_id" value="">
						<input TYPE="text" name="child_code" id="child_code" SIZE="35" autocomplete="off" value="">
					</td>
					<td>
						&nbsp;<input type="button" name="add_code" value="Add Diagnosis" onClick="addICDCode()">
					</td>
				</tr>
				<tr>
					<td></td>
					<td colspan=2>
						<div id="child_codes">
			  			{foreach name="icd_list" from=$child_codes item=code}
			  			<input TYPE="hidden" name="child_codes[{$code.code_id}]" value="{$code.code_id}">
			  			{if $smart.foreach.icd_list.first}
						<strong>{$code.description}</strong><br />
						{else}
						{$code.description}<br />
						{/if}
						
						{/foreach}
						</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="right">
			<input type="submit" name="saveCode" value="{if is_null($parent_id) }Add Claim Line{else}Edit Claim Line{/if}">
  		</td>
	</tr>
</table>
</fieldset>


{if !$incodingtemplate}
{clni_register_validation_rule id="parent_code" rule="hascpt"}
{clni_register_validation_rule id="child_code" rule="hasicd"}
{/if}
{/if}
<table><tr><td valign='top'>
<fieldset class="radio" id="Code List">
<legend>{l}Claim Lines{/l}</legend>
{foreach from=$code_list item=code}
{assign var=children value=$code_data->getChildCodes($code.coding_data_id)}
{if $encounter && $encounter->get('status') != 'closed'}
<a href="{link action='delete_claimline' defaultArg=$code.coding_data_id}encounter_id={$foreign_id}&process=true">X</a>&nbsp;
{/if}
{if $incodingtemplate}
<a href="{link action='Edit' }template_id={$foreign_id}&delete_id={$code.coding_data_id}">X</a>&nbsp;
{/if}

<a href="{$EDIT_LINK}parent_id={$code.code_id}">{$code.description}</a> {enum_lookup name="code_modifier" value=$code.modifier}
{if $dentalpractice}
Tooth: {$code.tooth} Side {$code.toothside}
{/if}
<br />
{foreach from=$children item=child}
&nbsp;&nbsp;&nbsp;&nbsp;{$child.description}<br />
{/foreach}<br />
{/foreach}
&nbsp;
</fieldset>
</td>
<td valign='top'>
	{if $feeGrid}
		<fieldset>
			<legend>{l}Fee Totals{/l}</legend>
			{if $discountGrid}
			<table><tr><td style="vertical-align:top">
				<div><b>Normal Rate</b></div>
			{/if}
			{$feeGrid->render()}
			{if $discountGrid}
				</td><td>&nbsp;</td><td style="vertical-align:top">
				<div><b>Discounted Rate{if $discountRate} ({$discountRate}){/if}</b></div>
				{$discountGrid->render()}<br>
				</td></tr></table>
			{/if}
		</fieldset>
	{/if}
</td></tr></table>
</form>

<script language="javascript">
{if $encounter && $encounter->value('status') != 'closed'}
{literal}
function setupAutoComplete(){
	var ac = new procedureSuggest('parent_code','parent_id',false,
			function(suggest) { suggest.params = [$('superbillBox').checked]; } );

	var ac2 = new diagnosisSuggest('child_code','child_id',false,
			function(suggest) { suggest.params = [$('superbillBox').checked]; });
}
{/literal}
{/if}
{literal}

var CPTSearch = function cpt_search(searchString) {
        var h = new c_coding(this.dataHandler);
        h.Sync();
                                                                                
		if(searchString.length > 0){
        	var results = h.cpt_search(searchString,document.forms.coding_form.superbill.checked);
        	return results;
		}
		
		return;
}

var ICDSearch = function icd_search(searchString) {
        var h = new c_coding(this.dataHandler);
        h.Sync();
                                                                                
		if(searchString.length > 0){
        	var results = h.icd_search(searchString,document.forms.coding_form.superbill.checked);
        	return results;
		}
		
		return;
}

function clni_rule_hasicd(element) {
	var childDiv = document.getElementById('child_codes');
	var cptDiv = document.getElementById('cptlist');
	if (document.getElementById('parent_id').value == '' && cptDiv.childNodes.length == 1 &&
			childDiv.childNodes.length == 1 && document.getElementById('child_code').value == '') {
		return true;
	}
	if (childDiv.childNodes.length == 1) {
		return false;
	}
	return true;
}
function clni_rule_hascpt(element) {
	// if the cpt is empty and icd list is empty then were valid
	var childDiv = document.getElementById('child_codes');
	var cptDiv = document.getElementById('cptlist');
	if (document.getElementById('parent_id').value == '' && cptDiv.childNodes.length == 1 &&
			childDiv.childNodes.length == 1 && document.getElementById('child_code').value == '') {
		return true;
	}
	if (document.getElementById('parent_id').value > 0) {
		return true;
	}
	if (cptDiv.childNodes.length == 1) {
		return false;
	}
	return true;

}

function addICDCode(){
	//TODO: Move the current code to the bottom of the list
	var childDiv = document.getElementById('child_codes');
	var icdCode = document.getElementById('child_id');
	var icdCodeText = document.getElementById('child_code');

	if (icdCode.value == "" ) {
		clni_notify_alert(icdCodeText);
		return false;
	}
	else {
		clni_notify_alert_reset(icdCodeText);
	}
//	alert('Adding ICD Code ' + icdCode.value)
	if (childDiv.childNodes.length == 1) {
		childDiv.innerHTML = childDiv.innerHTML + '<input TYPE="hidden" name="child_codes[' + icdCode.value  + ']" value="' + icdCode.value  + '"><strong>' + icdCodeText.value  + '</strong><br />';
	}
	else {
		childDiv.innerHTML = childDiv.innerHTML + '<input TYPE="hidden" name="child_codes[' + icdCode.value  + ']" value="' + icdCode.value  + '">' + icdCodeText.value  + '<br />';
	}
	icdCode.value = '';
	icdCodeText.value = '';
	icdCodeText.focus();
}

function addCPTCode() {
	var listDiv = document.getElementById('cptlist');
	var cptCode = document.getElementById('parent_id');
	var cptText = document.getElementById('parent_code');
	var units = document.getElementById('units');
	var modifier = document.getElementById('modifier');

	if(document.getElementById('tooth')){
		var tooth=document.getElementById('tooth');
		var ts=document.getElementById('toothside');
		var tstring='Tooth/Teeth: '+tooth.value+', Side: '+ts.value;
	} else {
		var tstring='';
	}
	if (cptCode.value == "") {
		clni_notify_alert(cptText);
		return false;
	}
	else {
		clni_notify_alert_reset(cptText);
	}

	var modStr = "";
	if (modifier.value > 0) {
		modStr = ' ('+modifier.options[modifier.selectedIndex].text+')';
	}

	listDiv.innerHTML = listDiv.innerHTML  
		+ '<input TYPE="hidden" name="parent_codes[' + cptCode.value  + '][code]" value="' + cptCode.value  + '">' 
		+ '<input TYPE="hidden" name="parent_codes[' + cptCode.value  + '][modifier]" value="' + modifier.value  + '">' 
		+ '<input TYPE="hidden" name="parent_codes[' + cptCode.value  + '][units]" value="' + units.value  + '">' 
{/literal}{if $dentalpractice}{literal}
		+ '<input TYPE="hidden" name="parent_codes[' + cptCode.value  + '][tooth]" value="' + tooth.value  + '">' 
		+ '<input TYPE="hidden" name="parent_codes[' + cptCode.value  + '][toothside]" value="' + ts.value  + '">' 
{/literal}{/if}{literal}
		+ cptText.value + modStr + ' - Units: '+ units.value +' '+tstring+'<br />';
	cptCode.value = '';
	cptText.value = '';
	units.value = '1.00';
	modifier.selectedIndex = 0;
	cptText.focus();
}

{/literal}
{if $encounter && $encounter->value('status') != 'closed'}
setupAutoComplete();
{/if}
</script>
