{if $clearing_house->get("repricing_method")}
HCP*												{*Claim pricing/repricing information*}
{$clearing_house->get("repricing_method")}*			{*Pricing methodology (One of "00" through "14" excluding 06)*}
{$clearing_house->get("allowed_amount")}*			{*Allowed Dollar amount*}
{$clearing_house->get("savings_amount")}*			{*Repriced Savings amount.  Used only by repricers as needed.*}
{$clearing_house->get("identifier")}}*				{*Repricing organization ID*}
{$clearing_house->get("rate")}*						{*Pricing rate*}
{$clearing_house->get("apg_code")}*					{*Approved APG code *}
{$clearing_house->get("apg_amount")}******			{*Approved APG dollar amount*}
{$clearing_house->get("reject_code")}*				{*Reject reason code (T1 through T6)*}
{$clearing_house->get("compliance_code")}*			{*policy compliance code (1 through 5)*}
{$clearing_house->get("exception_code")}~			{*Exception code (1 through 6)*}
{/if}