{* *** Standard HCFA/CMS 1500 Format *** *}
{* *** Cups settings *** *}
{* cpi:10 *}
{* lpi:6 *}
{* page-top:0	 or topmargin:0 Try adjusting this to move the lines lower on the page *}
{* page-left:0 	 or leftmargin:0 Try adjusting this to shift the character to the right*}
{* page-bottom:0 or bottommargin:0 *}
{* page-right:0	 or rightmargin:0 *}
{assign var="temp_debug" value=0}

{newline lines="1"}
{if $temp_debug ==1}
{'12345678911234567892123456789312345678941234567895123456789612345678971234567898'|pad:80}
{/if}
{newline lines="1"}
{* *** Line 0 Top right address of payer *** *}
{""|pad:45}{$payer->get("name")}
{newline lines="1"}
{""|pad:45}{$payer->get("line1")}
{newline lines="1"}
{""|pad:45}{$payer->get("line2")}
{newline lines="1"}
{""|pad:45}{$payer->get("city")|pad:15},{$payer->get("state")|pad:2}{""|pad:1}{$payer->get("zip")|pad:9}
{newline lines="2"}
{""|pad:45}
{if $total_pages  > 1}
Page {$current_page} of {$total_pages}
{/if}
{newline lines="2"}
{* *** Line 1 1. MEDICARE *** *}
{""|pad:1}{$payer->is("medicare","X")}{""|pad:6}{$payer->is("medicaid","X")}{""|pad:7}{$payer->is("champus","X")}{""|pad:9}{$payer->is("champva","X")}{""|pad:7}{$payer->is("ghp","X")}{""|pad:8}{$payer->is("feca","X")}{""|pad:6}{$payer->is("other","X")}{""|pad:8}{$subscriber->get("identifier")}
{newline lines="2"}
{* *** Line 2 2. PATIENT'S NAME, DATE OF BIRTH, SEX, SUBSCRIBER'S NAME *** *}
{''|pad:1}{$patient->get("print_name_last_first")|pad:28}{''|pad:1}
{if $patient->get("date_of_birth") != '00/00/0000'}
{$patient->get("date_of_birth")|date_format:"%m %d %y"|pad:10}
{else}
{""|pad:10}
{/if}
{""|pad:1}{$patient->is("male","X")}{""|pad:4}{$patient->is("female","X")}{""|pad:3}{$subscriber->get("last_name")}, {$subscriber->get("first_name")}, {$subscriber->get("middle_name")}
{newline lines="2"}
{* *** Line 3 5. PATIENT'S ADDRESS, SUBSCRIBER'S ADDRESS *** *}
{$patient->get("line1")|pad:28}{""|pad:3}{$subscriber->is("ins_self","X")}{""|pad:4}{$subscriber->is("ins_spouse","X")}{""|pad:3}{$subscriber->is("ins_child","X")}{""|pad:4}{$subscriber->is("ins_other","X")}{""|pad:6}{$subscriber->get("line1")}
{newline lines="1"}
{*{if $patient->get("line2") != '' || $subscriber->get("line2") != ''}
{$patient->get("line2")|pad:28}{""|pad:16}{$subscriber->get("line2")|pad:21}
{newline lines="1"}
{/if}*}
{if $temp_debug ==1}
{'12345678911234567892123456789312345678941234567895123456789612345678971234567898'|pad:80}
{/if}
{newline lines="1"}
{* *** Line 4 PATIENT CITY, MARITAL STATUS, SUBSCRIBER'S CITY, STATE *** *}
{$patient->get("city")|pad:22}{""|pad:3}{$patient->get("state")}{""|pad:7}{$patient->is("single","X")}{""|pad:5}{$patient->is("married","X")}{""|pad:4}{$patient->is("stat_other","X")}{""|pad:7}{$subscriber->get("city")|pad:23}{$subscriber->get("state")}
{newline lines="1"}
{if $temp_debug ==1}
{'12345678911234567892123456789312345678941234567895123456789612345678971234567898'|pad:80}
{/if}
{newline lines="1"}
{* *** Line 5 ZIP CODE, EMPLOYMENT STTATUS *** *}
{$patient->get("zip")|pad:9}{""|pad:5}{$patient->get("phone_number")|pad:13}{""|pad:6}{$patient->is("employed","X")}{""|pad:6}{$patient->is("ftstudent","X")}{""|pad:4}{$patient->is("ptstudent","X")}{""|pad:8}{$subscriber->get("zip")|pad:11}{$subscriber->get("phone_number")|pad:12}

{newline lines="2"}
{* *** Line 6 9. OTHER INSURED'S NAME*** *}
{if $subscribers.1}{$subscribers.1->get("print_name")|pad:34}{else}{""|pad:34}{/if}
{""|pad:17}{$subscriber->get("group_number")|pad:34}
{newline lines="1"}
{* *** Line 7 a. OTHER INSURED'S POLICY*** *}
{if $subscribers.1}
{$subscribers.1->get("group_number")|pad:28}
{else}
{""|pad:28}
{/if}
{""|pad:6}{$claim->is("employment_related","X")}{""|pad:6}{$claim->is_not("employment_related","X")}{""|pad:8}
{''|pad:4}
{if $subscriber->get("date_of_birth") != '00/00/0000'}
{$subscriber->get("date_of_birth")|date_format:"%m %d %y"|pad:10}
{else}
{""|pad:10}
{/if}
{""|pad:4}{$subscriber->is("male","X")|pad:1}{""|pad:5}{$subscriber->is("female","X")}
{newline lines="1"}
{if $temp_debug ==1}
{'12345678911234567892123456789312345678941234567895123456789612345678971234567898'|pad:80}
{/if}
{newline lines="1"}
{if $subscribers.1}
{* *** Line 8 b. OTHER INSURED'S DATE OF BIRTH*** *}
{""|pad:1}
{if $subscribers.1->get("date_of_birth") != '00/00/0000'}
{$subscribers.1->get("date_of_birth")|date_format:"%m %d %y"|pad:10}
{else}
{""|pad:10}
{/if}
{""|pad:6}{$subscribers.1->is("male","X")}{""|pad:6}{$subscribers.1->is("female","X")}{''|pad:4}
{else}
{""|pad:28}
{/if}
{""|pad:6}{$claim->is("auto_accident","X")}{""|pad:5}{$claim->is_not("auto_accident","X")}{""|pad:3}{$claim->get("auto_accident_state")|pad:2}{""|pad:3}{$subscriber->get("employer")}
{newline lines="1"}
{if $temp_debug ==1}
{'12345678911234567892123456789312345678941234567895123456789612345678971234567898'|pad:80}
{/if}
{newline lines="1"}
{* *** Line 9 c. EMPLOYER'S*** *}
{if $subscribers.1}
{$subscribers.1->get("employer_name")|pad:28}
{else}
{""|pad:28}
{/if}
{""|pad:6}{$claim->is("other_accident","X")}{""|pad:5}{$claim->is_not("other_accident","X")}{""|pad:8}{$subscriber->get("group_name")}
{newline lines="2"}
{* *** Line 10 d. INSURANCE PLAN*** *}
{if $subscribers.1}
{$subscribers.1->get("group_name")|pad:28}
{else}{""|pad:28}{/if}
{""|pad:1}
{$claim->get("hcfa_10d_comment")|pad:19}{""|pad:2}
{if $payers.1}{"X"|pad:1}{else}{""|pad:5}{"X"|pad:1}{/if}
{newline lines="4"}
{* *** Line 11-12 PATIENT'S OR A*** *}
{""|pad:6}{"Signature on file"|pad:29}{$smarty.now|date_format:"%m/%d/%Y"}{""|pad:10}{"Signature on file"}
{newline lines="2"}
{* *** END PATIENT AND INSURED INFORMATION.  BEGIN PHYSICIAN OR SUPPLIER INFORMATION *** *}
{* *** Line 13 14. DATE OF CURRENT *** *}
{""|pad:1}
{if $patient->get("date_of_onset") != '00/00/0000'}
{$patient->get("date_of_onset")|date_format:"%m %d %y"|pad:10}
{else}
{""|pad:10}
{/if}
{""|pad:25}
{if $patient->get("date_of_onset") != '00/00/0000'}
{$patient->get("date_of_onset")|date_format:"%m %d %y"|pad:14}
{else}
{""|pad:14}
{/if}
{""|pad:3}
{if $patient->get("date_of_cant_work_start") != '00/00/0000'}
{$patient->get("date_of_cant_work_start")|date_format:"%m %d %y"|pad:10}
{else}
{""|pad:10}
{/if}
{""|pad:4}
{if $patient->get("date_of_cant_work_end") != '00/00/0000'}
{$patient->get("date_of_cant_work_end")|date_format:"%m %d %y"|pad:10}
{else}
{""|pad:10}
{/if}
{newline lines="2"}
{* *** Line 14 17. NAME OF REFERRING*** *}
{$referring_provider->get("print_name")|pad:26}{''|pad:1}{$referring_provider->get("identifier_2")|pad:21}{""|pad:5}
{if $patient->get("date_of_hospitalization_start") != '00/00/0000'}
{$patient->get("date_of_hospitalization_start")|date_format:"%m %d %y"|pad:10}
{else}
{""|pad:10}
{/if}
{""|pad:4}
{if $patient->get("date_of_hospitalization_end") != '00/00/0000'}
{$patient->get("date_of_hospitalization_end")|date_format:"%m %d %y"|pad:10}
{else}
{""|pad:10}
{/if}
{newline lines="2"}
{* *** Line 15 19. RESERVED FOR LOCAL*** *}
{$patient->get("comment")|pad:48}{""|pad:2}{$claim->is("outside_lab","X")|pad:1}{""|pad:5}{$claim->is_not("outside_lab","X")|pad:1}{""|pad:3}{$claim->get_lab_amount()}
{newline lines="2"}
{* *** Line 16-17 21. DIAGNOSIS OR NATURE*** *}
{""|pad:3}{$diagnoses.0|pad:5}{""|pad:20}{$diagnoses.2|pad:6}{""|pad:13}{$claim->get("medicaid_resubmission_code")|pad:11}{""|pad:1}{$claim->get("original_reference_number")|pad:8}
{newline lines="2"}
{""|pad:3}{$diagnoses.1|pad:5}{""|pad:20}{$diagnoses.3|pad:6}{""|pad:13}{$claim->get("prior_authorization_number")|pad:16}
{newline lines="4"}
{* *** Line 18-24 24. A DATE(S) OF SERVICE *** *}
{section name=claimline loop=6}
{if is_object($claim_lines[claimline])}
{""|pad:0}
{if $claim_lines[claimline]->get("date_of_treatment") != '00/00/0000'}
{$claim_lines[claimline]->get("date_of_treatment")|date_format:"%m %d %y"}
{else}
{""|pad:8}
{/if}
{""|pad:1}
{if $claim_lines[claimline]->get("date_of_treatment") != '00/00/0000'}
{$claim_lines[claimline]->get("date_of_treatment")|date_format:"%m %d %y"}
{else}
{""|pad:8}
{/if}
{""|pad:1}
{$treating_facility->get("facility_code")|pad:2}{""|pad:1}
{*type of service, now deprecated*}{""|pad:2}{""|pad:1}
{$claim_lines[claimline]->get("procedure")|pad:5}{""|pad:2}
{$claim_lines[claimline]->get("modifier")|regex_replace:"/^0$/":""|pad:3}{""|pad:8}
{$claim_lines[claimline]->get("diagnosis_pointer")|pad:6}{""|pad:1}
{$claim_lines[claimline]->get("amount")|replace:".":" "|pad:7:false}{""|pad:1}
{$claim_lines[claimline]->get("units")|pad:3}{""|pad:1}
{$claim_lines[claimline]->is("EPSDT","")|pad:2}{""|pad:1}
{$claim_lines[claimline]->is("EMG","")|pad:2}{""|pad:1}
{$claim_lines[claimline]->is("COB","")|pad:2}{""|pad:1}
{$claim_lines[claimline]->get("comment")|pad:9}
{/if}
{if $smarty.section.claimloop.last}{newline lines="1"}{else}{newline lines="2"}{/if}
{/section}
{* *** Line 25 25. FEDERAL TAX I.D. *** *}
{$practice->get("identifier")|pad:16}{$practice->is("identifier_ssn","")}{""|pad:2}{$practice->is("identifier_ein","X")}{""|pad:3}{$patient->get("record_num")|pad:14}{$subscriber->is("accepts_assignment","X")}{""|pad:4}{$subscriber->is_not("accepts_assignment","")}
{""|pad:6}
{if $claim_continues}
{"continued"|pad:10}{""|pad:18}
{else}
{$claim->get("amount_total")|string_format:"%10.2f"|replace:".":" "|pad:11:false}{$claim->get("amount_paid_total")|string_format:"%9.2f"|replace:".":" "|pad:9:false}{$claim->get("net_amount_total")|string_format:"%9.2f"|replace:".":" ":false}
{/if}
{* *** Line 26-28 31. SIGNATURE OF PHYSICIAN *** *}
{newline lines="2"}
{* FACILITY NAME, PHYSICIAN NAME *}
{""|pad:21}{""|pad:1}{$treating_facility->get("name")|pad:26}{""|pad:1}{$provider->get("print_name")|pad:28}
{newline lines="1"}
{* PHYSICIAN SIGNATURE *}
{* TREATING FACILITY AND PHYSICIAN ADDRESS *}
{''|pad:21}{""|pad:1}{$treating_facility->get("line1")|pad:26}{""|pad:1}{$provider->get("print_address")|pad:28}
{newline lines="1"}
{"Signature on file"|pad:22}{$treating_facility->get("line2")|pad:27}{""|pad:1}{$provider->get("city")|cat:", "|cat:$provider->get("state")|cat:" "|cat:$provider->get("zip")|pad:29}
{newline lines="1"}
{""|pad:10}{$smarty.now|date_format:"%m/%d/%y"|pad:10}{""|pad:1}{""|pad:1}{$treating_facility->get("city")|cat:", "|cat:$treating_facility->get("state")|cat:" "|cat:$treating_facility->get("zip")|pad:28}{""|pad:1}{$provider->get("identifier")|pad:20}
{newline lines="1"}
