{include file="schedule/general_wizard_header.html"}
<h2>Create Administrative Meeting</h2>

<p>
Title for Meeting: <input name="wizard[title]" value="{$wizard->get('title')}">
</p>

<p>
Date: {clni_input_date name="wizard[date_start]" value=$wizard->get('date_start')}
</p>
<p>
<p>Schedule runs from <input name="wizard[time_start]" size=5 value="{$wizard->get('time_start')}"> 
	to <input name="wizard[time_end]" size=5 value="{$wizard->get('time_end')}"> (24-Hour Time)</p>
</p>

<p>
Room:
<select name="wizard[room_id]">
	<option></option>
	{html_options options=$rooms selected=$wizard->get('room_id')}
</select>
</p>

<input type="hidden" id="back" value=1>
<input type="hidden" id="page" name="next_page" value=11>
{include file="schedule/general_wizard_footer.html"}
