{head type="js"}
{literal}
Behavior.register('#next',
	function(element) {
		$u.registerEvent(element,'click',function(e) {
			var message = new clniPopup('<h1>Creating Schedule Please Wait</h1>',false);
			message.modal = true;
			message.display();
		});
	}
);
{/literal}
{/head}
<style>
{literal}
#popup_dialog .title {
        font-size: 10pt;
        font-weight:bold;
        border-bottom: solid 1px black;
        text-align: center;
        cursor: move;
}
{/literal}
</style>
<div class="title" id="title">New Schedule</div>
<div>
<fieldset>
{if is_object($messages)}
        {$messages->render()}
{/if}
{if $error}
<p>No further action can be taken do to the errors. <a href="#" onclick="close_popup();">Close</a></p>
{else}


<h2>Select the date and time for the schedule</h2>

<p>Schedule runs from {clni_input_date id="wizardDateStart" name="wizard[date_start]" value=$wizard->get('date_start')} 
	to {clni_input_date id="wizardDateEnd" name="wizard[date_end]" value=$wizard->get('date_end')}</p>
<p>
Title of blocks on calendar: <input type="text" size="15" id="wizardName">
</p>
<p>Schedule is applied to which days of the week:<br>
<div style="margin-left: 1em" id="wizardDaysSelected">
	{assign var="days" value=$wizard->get('days')}
{foreach from=$em->enumArray('days_of_week') item="label" key="key"}
<input type="checkbox" id="" name="wizard[days][]" value="{$key}" id="day{$key}"{if in_array($key,$days)} checked{/if}>
<label for="day{$key}">{$label}</label><br>
{/foreach}
</div>
</p>

<p>Schedule runs from <input id="wizardTimeStart" name="wizard[time_start]" size=5 value="{$wizard->get('time_start')}"> 
	to <input id="wizardTimeEnd" name="wizard[time_end]" size=5 value="{$wizard->get('time_end')}"> (24-Hour Time)</p>

<p>Lunch break from <input id="wizardLunchStart" name="wizard[lunch_start]" size=5 value="{$wizard->get('lunch_start')}"> 
	to <input id="wizardLunchEnd"  name="wizard[lunch_end]" size=5 value="{$wizard->get('lunch_end')}"> (24-Hour Time) [Optional]</p>

<input type='button' id="update" value='Make Schedule' onclick="saveEvents();">
{/if}
<p>
<br />
<div id="alertMessages" style="display:none;overflow:auto; height:100px;"></div>
<a href="#" onclick="hidePopup();">close</a>
</p>
</fieldset>
