{include file="schedule/general_wizard_header.html"}
<h2>What kinda of schedule are you creating?</h2>

<p>
<input type="radio" checked="true" name="wizard[schedule_type]" value="PS" id="provider" onclick="$('page').value = 2"><label for="provider">Provider Schedule</label><br>
<input type="radio" checked="true" name="wizard[schedule_type]" value="RS" id="room" onclick="$('page').value = 20"><label for="room">Room/Resource Schedule</label><br>
<input type="radio" name="wizard[schedule_type]" value="ADM" id="admin" onclick="$('page').value = 10"><label for="admin">Administrative Schedule</label><br>
</p>

<input type="hidden" name="next_page" value="2" id="page">
{include file="schedule/general_wizard_footer.html"}
