{clni_form action=$FORM_ACTION autocomplete="off" process=$PROCESS name="schedule"}
<input type="hidden" name="form_id" value="{$schedule->get('id')}" />
<input type="hidden" name="Schedule[id]" value="{$schedule->get('id')}" />
{* 
We're now just going to show a list of event groups.
Providers should only have ONE schedule with the new wizard.
*}
{if $event && $event->get('id') > 0}
{include file="schedule/general_eventedit.html"}
{/if}
{if $eventGroups}
{while $eventGroups->valid()}
	{assign var=eventGroup value=$eventGroups->current()}
	{if $egid && $egid == $eventGroup->get('id')}
	{assign var=recurrences value=$eventGroup->getRecurrences()}
	{assign var=events value=$eventGroup->getFutureEvents(false,'ScheduleEvent')}
<fieldset class="radio" id="addrecurrence">
		<legend>{$eventGroup->get('title')}</legend>
	{include file="recurrence/general_recurrence.html"}
	{if $schedule->get('id') < 1 }
	<input type="submit" value="Save" />
	{else} 
	<input type="submit" value="Update" />
	{/if}
	{assign var='eventtype' value='ScheduleEvent'}
	{include file="event/general_event.html"}
	{if $schedule->get('id') < 1 }
	<input type="submit" value="Save" />
	{else} 
	<input type="submit" value="Update" />
	{/if}
	{else}
		<a href="{link defaultArg=$schedule->get('id')}event_group_id={$eventGroup->get('id')}">{l}Edit{/l} {$eventGroup->get('title')}</a><br />
	{/if}{* egid *}
	{assign var=eventGroup value=$eventGroups->next()}
</fieldset>
{/while}
{/if}
</form>


