{head type="js"}
{literal}
Behavior.register('#wizardForm',
	function(element) {
		$u.registerEvent(element,'submit',function(e) {
			if(clni_validate(element) {
			var message = new clniPopup('<h1>Creating Schedule Please Wait</h1>',false);
			message.modal = true;
			message.display();
			}
		});
	}
);
function switchForm(showid,hideid) {
	document.getElementById(showid).style.display='block';
	document.getElementById(hideid).style.display='none';
}
{/literal}
{/head}
{include file="schedule/general_wizard_header.html"}

<h2>Select the date and time for the schedule</h2>

<p>Schedule runs from {clni_input_date name="wizard[date_start]" value=$wizard->get('date_start') id="startdate"} 
	to {clni_input_date name="wizard[date_end]" value=$wizard->get('date_end') id="enddate"}</p>

<p>Schedule is applied to which days of the week:<br>
<div style="margin-left: 1em">
	{assign var="days" value=$wizard->get('days')}
{foreach from=$em->enumArray('days_of_week') item="label" key="key"}
<input type="checkbox" name="wizard[days][]" value="{$key}" id="day{$key}"{if in_array($key,$days)} checked{/if}>
<label for="day{$key}">{$label}</label><br>
{/foreach}
</div>
</p>



<input type="radio" {if $wizard->get('multi_group') == false}checked="checked"{/if} name="wizard[multi_group]" value="0" onclick="if(this.checked) switchForm('simpleform','complexform');"> {l}Simple Schedule{/l}<br />
<input type="radio" {if $wizard->get('multi_group') == true}checked="checked"{/if} name="wizard[multi_group]" value="1" onclick="if(this.checked) switchForm('complexform','simpleform');"> {l}Complex Schedule (Multiple Blocks){/l}
<div id='simpleform' {if $wizard->get('multi_group') == true}style="display:none;"{/if}>
<p>Schedule runs from <input name="wizard[time_start]" size=5 value="{$wizard->get('time_start')}"> 
	to <input name="wizard[time_end]" size=5 value="{$wizard->get('time_end')}"> (24-Hour Time)</p>

<p>Lunch break from <input name="wizard[lunch_start]" size=5 value="{$wizard->get('lunch_start')}"> 
	to <input name="wizard[lunch_end]" size=5 value="{$wizard->get('lunch_end')}"> (24-Hour Time)</p>
</div>

<div id='complexform' {if $wizard->get('multi_group') == false}style="display:none;"{/if}>
{assign var=groups value=$wizard->get('groups')}{assign var=starts value=$wizard->get('starts')}{assign var=ends value=$wizard->get('ends')}
<table border=0>
<tr>
	<th></th>
	<th>Group Name</th>
	<th>Start Time (24-Hour Time: 00:00)</th>
	<th>End Time (24-Hour Time: 00:00)</th>
</tr>
{assign var=xcount value=0}
{while $xcount < 25}
<tr>
<td>{$xcount+1}</td>
<td><input type="text" name="wizard[groups][{$xcount}]" id="group{$xcount}" onkeyup="this.changed = true;" value="{$groups.$xcount}" size="40"></td>
<td><input type="text" name="wizard[starts][{$xcount}]" id="start{$xcount}" onkeyup="this.changed = true;" value="{$starts.$xcount}" size="40"></td>
<td><input type="text"   name="wizard[ends][{$xcount}]"   id="end{$xcount}" onkeyup="this.changed = true;"   value="{$ends.$xcount}" size="40" {if $xcount < 24}onblur="document.getElementById('start{$xcount+1}').value=this.value;"{/if}><!-- {$xcount++} --></td>
</tr>

{/while}

</table>
</div>
{clni_register_validation_rule id="startdate"}
{clni_register_validation_rule id="enddate"}
	<input type="hidden" id="back" value=2>
	<input type="hidden" name="current_page" value="3">
	<input type="hidden" id="page" name="next_page" value=99>
	{assign var=nextcreate value=true}
{include file="schedule/general_wizard_footer.html"}
