{literal}
<script>
function ajaxView() {
  personId = document.getElementById('providerId').value;
  roomId = document.getElementById('roomId').value;
  start = document.getElementById('date_start').value;
  end = document.getElementById('date_end').value;
  HTML_AJAX.call('schedule','ajaxInteractiveProviderGrid',updateView,personId, roomId, start, end);
}
function updateView(result) {
  document.getElementById('scheduleDisplay').innerHTML = result; 
}
function editEvent(event_id) {
  HTML_AJAX.call('schedule','ajaxEditEvent',editEventView,event_id);

}
function editEventView(result) {
	popdiv = document.getElementById('popup_dialog');
        popdiv.innerHTML = result;
	
	if (popdiv.style.display == '' || popdiv.style.display == 'none') {
          popup = new clniPopup('',false);
          popup.draggable = true;
          popup.draggableOptions = {handle:'title'};
          popup.useElement = 'popup_dialog';
          popup.modal = true;
          popup.display();
	}
}
function saveEvent(event_id) {
  var hash = new Object();
  hash['start_time'] = document.getElementById('startTime').value;
  hash['end_time'] = document.getElementById('endTime').value;
  HTML_AJAX.call('schedule','ajaxEditEvent',editEventView,event_id, 'update',hash);
}
function saveEvents(event_id) {
  var hash = new Object();
  hash['provider_id'] = document.getElementById('providerId').value;
  hash['room_id'] = document.getElementById('roomId').value;
  hash['date_start'] = document.getElementById('wizardDateStart').value;
  hash['date_end'] = document.getElementById('wizardDateEnd').value;
  hash['time_start'] = document.getElementById('wizardTimeStart').value;
  hash['time_end'] = document.getElementById('wizardTimeEnd').value;
  hash['lunch_start'] = document.getElementById('wizardLunchStart').value;
  hash['lunch_end'] = document.getElementById('wizardLunchEnd').value;
  hash['name'] = document.getElementById('wizardName').value;
  var days = new Array();
  var formDays = document.getElementById('wizardDaysSelected').getElementsByTagName('input');
  for (var i=0; i < formDays.length; i++) {
	if (formDays[i].checked) {
	 days.push(formDays[i].value);
	}
  }
  hash['days'] = days;
  HTML_AJAX.call('schedule','ajaxEditEvent',updateAddEventsView,event_id, 'addevents',hash);
}
function deleteEvent(eventIds) {
	HTML_AJAX.call('schedule','ajaxDeleteEvents',editEventView,eventIds);
}
function addEvents() {
  HTML_AJAX.call('schedule','ajaxAddEvents',editEventView);

}
function deleteDaysEvents(eventIds) {
	HTML_AJAX.call('schedule','ajaxDelDaysEvents',updateAddEventsView, eventIds);
}
function deleteAllEvents(eventId) {
	personId = document.getElementById('providerId').value;
	roomId = document.getElementById('roomId').value;
	start = document.getElementById('date_start').value;
	HTML_AJAX.call('schedule','ajaxDelAllEvents',updateAddEventsView, eventId, personId,roomId, start);
}
function updateAddEventsView(result) {
  var am = document.getElementById('alertMessages');
  am.innerHTML = result;
  am.style.display = 'block';
}
function addEventsComplete() {
	hidePopup();
	ajaxView();
}
function hidePopup() {
        popup.hide();
}


</script>
{/literal}
<div id='popup_dialog'></div>
<fieldset>
	<legend>Interactive Provider Scheduling</legend>
<p>Provider: {html_options id="providerId" name="schedule[providerId]" options=$providerList}</p>
<p>Facility: {html_options id="roomId" name="schedule[roomId]" options=$roomList}</p>
<p>From: {clni_input_date id="date_start" name="wizard[date_start]" value=$wizard->get('date_start')} Through: {clni_input_date id="date_end" name="wizard[date_end]" value=$wizard->get('date_end')} 
&nbsp;&nbsp;<input type="button" value="View" onclick="ajaxView();">&nbsp;&nbsp;&nbsp;<input type="button" value="New Schedule" onclick="addEvents();"></p>
<div id="scheduleDisplay"></div>
</fieldset>
