{head type="js"}
function providerChanged(select) {
	if (!$('name').changed) { 
		$('name').value = select.options[select.selectedIndex].text + "'s Schedule";
	}
}
function roomChanged(select) {
	if (!$('group').changed) { 
		$('group').value = select.options[select.selectedIndex].text;
	}
}
{/head}
{include file="schedule/general_wizard_header.html"}
<h2>Select a Provider and Room</h2>
<p>
Provider:
<select name="wizard[provider_id]" onclick="providerChanged(this)">
	<option></option>
	{html_options options=$providers selected=$wizard->get('provider_id')}
</select>
</p>

<p>
Room:
<select name="wizard[room_id]" onclick="roomChanged(this)">
	<option></option>
	{html_options options=$rooms selected=$wizard->get('room_id')}
</select>
</p>

<p>
Schedule Name: <input name="wizard[name]" id="name" onkeyup="this.changed = true" value="{$wizard->get('name')}" size=50>
</p>

<p>
Schedule Group Name: <input name="wizard[group]" id="group" onkeyup="this.changed = true" value="{$wizard->get('group')}" size=50>
</p>
<input type="hidden" id="back" value=1>
<input type="hidden" id="page" name="next_page" value=3>
{include file="schedule/general_wizard_footer.html"}
