{if $providerToInsurance}
	<fieldset class="radio" id="insurer">
		<legend>Insurance Programs</legend> <a href="{php}echo Cellini::link("edit","insurance");{/php}">add new</a>

		{$providerToInsuranceGrid->render()}
		{if $providerToInsuranceGrid->empty}
		<p>Provider has no Insurance Programs Assigned</p>
		{/if}


		<input type="hidden" name="providerToInsurance[provider_to_insurance_id]" value="{$providerToInsurance->get('provider_to_insurance_id')}">
		<table>
			<tr>
				<td><label>{l}Insurance Program{/l}:</label> </td>
				<td><select name="providerToInsurance[insurance_program_id]">
						{html_options options=$insuranceProgram->programList() selected=$providerToInsurance->get('insurance_program_id')}
					</select>
				</td>
			</tr>
			<tr>
				<td><label>{l}Provider Number{/l}:</label></td>
				<td><input name="providerToInsurance[provider_number]" value="{$providerToInsurance->get('provider_number')}">
					<select name="providerToInsurance[provider_number_type]">
						{html_options options=$providerToInsurance->getProviderNumberTypeList() selected=$providerToInsurance->geT('provider_number_type')}
					</select>
				</td>
			</tr>
			<tr>
				<td><label>{l}Group Number{/l}:</label></td>
				<td><input name="providerToInsurance[group_number]" value="{$providerToInsurance->get('group_number')}"></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="{if $providerToInsurance->get('id') > 0}Update{else}Add{/if} Insurance Program"></td>
			</tr>
		</table>
	</fieldset>
{/if}
