{clni_form action=$FORM_ACTION process=$PROCESS}
<table><tr><td>
<fieldset>
	<legend>Update Password</legend>
	<table>
		<tr>
			<td><label>{l}Current Password{/l}: </label></td>
			<td><input id="current_password" type="password" name="password[current_password]"></td>
		</tr>
		<tr>
			<td><label>{l}New Password{/l}: </label></td>
			<td><input id="password" type="password" name="password[password]"></td>
		</tr>
		<tr>
			<td><label>{l}Repeat Password{/l}: </label></td>
			<td><input id="password_match" type="password" name="password[password_match]"></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="Update"></td>
		</tr>
	</table>
</fieldset>
</td></tr></table>
</form>
{clni_register_validation_rule id="current_password"}
{clni_register_validation_rule id="password"}
{clni_register_validation_rule id="password" rule="match"}
