{if $provider}
	<fieldset class="radio">
		<legend>{l}Provider Details{/l}</legend>

		<table>
			<tr>
				<td><label>{l}State license number{/l}:</label></td>
				<td><input name="provider[state_license_number]" value="{$provider->get('state_license_number')}"></td>
			</tr>
			<!--<tr>
				<td><label>{l}Clia number{/l}:</label></td>
				<td><input name="provider[clia_number]" value="{$provider->get('clia_number')}"></td>
			</tr>-->
			<tr>
				<td><label>{l}Dea number{/l}:</label></td>
				<td><input name="provider[dea_number]" value="{$provider->get('dea_number')}"></td>
			</tr>
	<tr>
		<td style="vertical-align:top;"><label>{l}Bill as{/l}:</label></td>
		<td>
			<select name="provider[bill_as]">	
				<option value="{$person->get('id')}">{l}Self{/l}</option>
				{html_options options=$provider->getProviderList() selected=$provider->get('bill_as')}
			</select>	
		</td>
	</tr>
	<tr>
		<td style="vertical-align:top;"><label>{l}Report as{/l}:</label></td>
		<td>
			<select name="provider[report_as]">	
				{enum_options name="provider_reporting_type" selected=$provider->get('report_as')}
			</select>	
		</td>
	</tr>
<tr>
        <td style="text-align:right">
                <span class="tooltip">{l}Routing Station{/l}:
                        <div class="tooltipMessage">{l}If you are using the arrival and routing features this is the default station that this room routes to. If not selected no 'arr' link will be shown for this rooms appointments.{/l}</div>
                </span>
        </td>
        <td><select name="provider[routing_station]">{enum_options name="routing_stations" selected=$provider->get('routing_station')}</select></td>
</tr>
		</table>
	</fieldset>
{/if}
