<div>
	<div id="patientInformationBlock" style="float:left;"></div>
<div style="float:right;">
All Patients: <br />
<div class="SuggestInput">
{clni_img name="stock/stock_person-10.png"}
<input type="hidden" name="Appointment[patient_id]" id="aePatientId" value="">
<input type="text" autocomplete="off" name="Appointment[patient_name]"
 id="aePatientName" value="{if $patient_id > 0 && $patient && $patient->get('id') > 0}{$patient->value('patient')}{/if}" style="width:350px;">
</div>
<br />
<select id="searchResults" multiple="multiple" size="10" style="margin-left:15px; width:350px;"
<option>No Patients Found</option>
</select>
                {literal}
                <script type="text/javascript">
                        var ps = new patientVistaFinder('aePatientName','aePatientId');
                </script>
                {/literal}

</div>
</div>



