{if !$ajax}
<fieldset>
	<legend>Claim History</legend>
	
	<div>{$claimHistory->render()}</div>
</fieldset>
{/if}

<fieldset>
	<legend>Claim Lines</legend>

	{$claimlines->render()}

	{if $claimlines->empty}
	<p>Claim has no claim lines</p>
	{/if}
</fieldset>

<fieldset>
	<legend>Claim Notes</legend>

	<div>{$claimNotes->render()}</div>
	{if $claimNotes->empty}
	<div><p>No notes have been attached to this claim</p></div>
	{/if}
</fieldset>

<fieldset>
	<legend>Claim Adjustments</legend>
	{foreach from=$adjustments item=adjustment}
	<div>
		<h4>{$adjustment.row.payment_date}, {$adjustment.row.identifier}</h4>
		{$adjustment.grid->render()}
	</div>
	{foreachelse}
	<p>No adjustments have been added to this claim</p>
	{/foreach}
</fieldset>
