{head type="css"}
{literal}
#accountHistory .highlight td {
	background-color: yellow;
}
{/literal}
{/head}
{head type="js"}
var remote = new Controller( {
	dispatchAction: function(result) {
		$('claimDetails').innerHTML = result;
		new Effect.Highlight('claimDetails');
	}
});
function selectClaim(link,personId,claimId) {
	remote.dispatchAction('ClaimHistory','view',{'patient_id':personId,'claim_id':claimId,'ajax':true});

	var grid = $u.getElementsByCssSelector('#accountHistory .grid tbody')[0];

	for(var i = 0; i < grid.rows.length; i++) {
		$u.removeClass(grid.rows[i],'highlight');
	}

	var tr = clniUtil.findParentOfTagName(link,'tr');
	$u.addClass(tr,'highlight');

}
{/head}
{include file="masteraccounthistory/general_chunkFilters.html"}

<fieldset>
	<legend>Account Histories</legend>
	
	<div id="accountHistory">
		{$accountHistoryGrid->render()}
	</div>

	<br>
	<div style="clear:both">
		<h2 style="float:left">Account Totals:</h2>
		<div style="float:left">
			{$totalGrid->render()}
		</div>
		<p style="float:left; margin-left: 1em;"><small>For encounter rows (number in first column, gray background) <i>Entered By</i> is the user who entered the encounter.<br>  For payment rows (no number in first column, white background) <i>Entered By</i> is the user who entered the payment.</p>
	</div>
</fieldset>

<fieldset>
	<legend>Claim Details</legend>

	<div id="claimDetails">
		<p>Select a claim above to view its details</p>
	</div>
</fieldset>
