{*Loop 2300*}
{foreach name="claimline_loop" from=$claim_lines key="reference" item="claim_line"}
CLM*
{$claim->get("id")|upper}*							{*This just needs to be a unique key...max 20 chars.  Not sure what to use.*}
{$claim_line->get("amount")}***					{*Total claim charge amount*}
{$treating_facility->get("facility_code")|upper}::1*	{*facility code value : Qualifier (deprecated) : frequency type code *}
{$provider->get("signature_on_file")|upper}*			{*Provider signature on file. (Y/N)*}
{$provider->get("accepts_assignment")|upper}*			{*Provider accept assignment code (A=assigned, B=lab svcs only, C=not assigned, P=patient refuses to assign benefits)*}
Y*												{*Assignment of benefits indicator (Y/N)*}
Y*												{*Provider has on file signed statement of release of med. data. (A/I/N/M/O/Y)*}
C~												{*How auth signatures were obtained. (B/C/M/P/S) C=signed HFCA1500 on file*}
{*NOTE: Nothing after CLM11 was included in FreeB v.1 (may not be necessary?)*}
{*NOTE: CLM11-1, CLM11-2, CLM11-3 are required when the condition being reported is accident or employment related.*}
{*NOTE: CLM12 is required if services were rendered under one of the following projects: EPSDT or CHAP, Handicapped childrens program, Special federal funding (medicaid only), Family planning, Disability (medicaid only), PPV or medicare 100% payment, Induced abortion (2 types), second opinion or surgery, CHAMPUS *}

{*Required if a non-par provider is submitting a par claim/encounter. Sending the P code indicates that a non-par provider is sending a par claim as allowed under certain plans. (We will typically not use?)*}
{*Delay reason code - required when submitted past contracted date of filing limitations and when one of the codes apply.  codes are numeric, 1-11.*}

{*Now we list all of the dates potentially associated with a claim.  Only one of these was supported in FreeB v.1*}

DTP*											{*Date of Initial Treatment*}
454*											{*Constant represents date of initial treatment (same in all following DTPs)*}
D8*												{*Represents the format used for the following date.  Use D8. *}
{$patient->get("date_of_initial_treatment")|date_format:"%Y%m%d"}~

{include file="variations/x12_generic/x12_optional_dates.html"}

{* clia number loop *}
{* Sample: REF*X4*12D4567890~ *}
{if $billing_facility->get('clia_number') != ''}
REF*
X4*
{$billing_facility->get('clia_number')}~
{/if}

{* Not yet implemented *}
{if 0}
PWK*										{*Claim supplemental information*}
{$claim->get("X12SuppDocumentTypeCode")|upper}*	{*One of 20 codes representing source of information*}
{$claim->get("X12SuppTransmissionCode")|upper}***	{*Transmission code (AA=available on request, BM=by mail, EL=elec. only, EM=email, FX=fax)*}
AC*											{*Always AC.  Required if PWD02=BM,EL,EM, or FX*}
DMN0012~									{*An identification code.  Not sure what they will want for this yet.*}
{/if}

{include file="variations/x12_generic/x12_contract_information.html"}
{include file="variations/x12_generic/x12_clearing_house_payment.html"}

{if false} {*Medicare interprets the AMT as indictating that the patient is NOT Assinging*}
AMT*					{*Used to specify that patient has made a payment toward this claim.*}
F5*											{*Always use F5 (patient amount paid) *}
{$claim->get("amount_paid")}~				{*Sum of all amounts made toward this claim.*}
{/if}
{*not implemented yet -- purchased service component*}
{*AMT*										{*Total purchased service amount.*}
{*NE*											{*Always use NE (net billed)*}
{*{$claim->get("net_amount_total")}~					{*Amount billed, less allowable payments from other sources*}

{* THERE ARE 13 OPTIONAL/CONDITIONAL "REF" FIELDS THAT CAN BE PLACED HERE.  NOT IMPLEMENTED YET. *}

{*K3*STATE DATA REQUIREMENT~*}
{*The K3 field above has no specific use, but can be used for a misc data requirement if one pops up. It is actually designed to meet an emergency state requirement.  Unless such a state requirement is created somewhere, it is not needed.*}

{if $patient->get("comment") != ""}
NTE*
{$patient->get("comment_type")|upper}*				{*Note type code.  (ADD/CER/DCP/DGN/PMT/TPO)*}
{$patient->get("comment")|upper}~						{*Free-form note.*}
{/if}

{include file="variations/x12_generic/x12_ambulance.html"}
{include file="variations/x12_generic/x12_spinal.html"}
{include file="variations/x12_generic/x12_ambulance_certification.html"}
{include file="variations/x12_generic/x12_vision.html"}
{include file="variations/x12_generic/x12_institutionalized.html"}
{include file="variations/x12_generic/x12_epsdt.html"}

{*NOTE: HI is required on all claims/encounters except no diagnoses claims (such as taxi)*}

HI*											{*Health care code information*}
{assign var="diagnoses" value=$claim_line->get("diagnoses")}
BK:{$diagnoses.0|regex_replace:"/[\.]/":""}							{*Primary diagnosis (BK:ICDcode) Always use "BK", decimal point is assumed*}
{if $diagnoses.1}*BF:{$diagnoses.1|regex_replace:"/[\.]/":""}{/if}	{*Diagnosis  (BF:ICDcode) Always use BF for "diagnosis" *}
{if $diagnoses.2}*BF:{$diagnoses.2|regex_replace:"/[\.]/":""}{/if}
{if $diagnoses.3}*BF:{$diagnoses.3|regex_replace:"/[\.]/":""}{/if}
{if $diagnoses.4}*BF:{$diagnoses.4|regex_replace:"/[\.]/":""}{/if}
{if $diagnoses.5}*BF:{$diagnoses.5|regex_replace:"/[\.]/":""}{/if}
{if $diagnoses.6}*BF:{$diagnoses.6|regex_replace:"/[\.]/":""}{/if}
{if $diagnoses.7}*BF:{$diagnoses.7|regex_replace:"/[\.]/":""}{/if}
~

{include file="variations/x12_generic/x12_clearing_house_reprice.html"}

{*Loop 2305A Home Health Care Plan Information -- no yet implemented*}
{include file="variations/x12_generic/x12_home_health_plan.html"}

{*Loop 2310A Referring Provider*}
{include file="variations/x12_generic/x12_2310A.html"
	referringProviderIdType="1C"
	referringProviderSecondaryIdType="1G"}

{*Loop 2310B Rendering Provider*}
{include file="variations/x12_generic/x12_2310B.html"
	providerIdType="1C"}

{*Loop 2310C Purchased Service Provider*}
{* Not implemented *}

{*Loop 2310D Service Facility Location, use if location different than in 2010AA or 2010AB*}
{include file="variations/x12_generic/x12_2310D.html"}

{*Loop 2310E Supervising Provider*}
{include file="variations/x12_generic/x12_2310E.html"}


{if $payers.1} {*second payer information*}

{*Loop 2320 Other Subscriber Info*}
SBR*S*18***MI****16~{*Self insured Medigap*}
DMG*												{*Subscriber Demographic info*}
D8*													{*Date/time qualifier. Use D8 (CCYYMMDD) *}
{$subscriber->get("date_of_birth")|date_format:"%Y%m%d"}*
{$subscriber->get("gender")|upper}~							{*Male/Female/Unknown*}
OI***Y*B**Y~{*Other Insurance coverage information*}
{*Loop 2320 Other Subscriber Information*}

NM1*												{*Subscriber Name Loop*}
IL*													{*ID Code.  Always use IL (Insured or Subscriber) *}
1*													{*Type qualifier.  1=person, 2=non-person - for us it's 1 *}
{$subscriber->get("last_name")|upper}*
{$subscriber->get("first_name")|upper}*
{$subscriber->get("middle_name")|upper}**
*													{*field to contain name suffix*}
MI*													{*ID Code qualifier.  MI or ZZ - for us its MI *}
{$subscriber->get("id")|upper}~							

N3*
{$subscriber->get("print_address")|replace:"#":"num"|upper}~
{*Note:  N302 can be added if there are two lines for the address. *}

N4*
{$subscriber->get("city")|upper}*
{$subscriber->get("state")|upper}*
{$subscriber->get("zip")|pad:5}~
{*Note: N404 is required (country code) if address is outside of USA. *}

{*Loop 2330B Other Payer Loop*}

NM1*				{*Payer name loop*}
PR*										{*Always use PR (payer)*}
2*										{*Payer is 2 (non-person)*}
{$payers.1->get("name")|upper}*****
PI*						{* PI (payer identification) or XV (PAYERID)*}
{$payers.1->get("id")|upper}~

{*
N3*
{$payers.1->get("print_address")|replace:"#":"num"|upper}~

N4*
{$payers.1->get("city")|upper}*
{$payers.1->get("state")|upper}*
{$payers.1->get("zip")|pad:5|upper}~
*}

{*Loop 2330C Other Payer Patient Information*}
{*Loop 2330D Other Payer Referring Provider*}
{*Loop 2330E Other Payer Rendering Provider*}
{*Loop 2330F Other Payer Purchased Service Provider*}
{*Loop 2330G Other Payer Service Facility Location*}
{*Loop 2330H Other Payer Supervising Provider*}


{/if}{*end section for second payer*}

{*Loop 2400 Service Line*}
{include file="variations/x12_generic/x12_2400.html"}

{/foreach}
