{* Not yet implemented*}
{*CRC*										{*Ambulance certification*}
{*07*											{*Code category.  Use 07 (ambulance certification)*}
{*{$claim->get("X12CertCondCodeApplies")}*	{* Y/N - Certification Condition Code Applies *}
{*{$claim->get("X12ConditionCode1")}*			{*01 through 08*}
{*{$claim->get("X12ConditionCode2")}*			{*Fields CRC04 through CRC07 are optional; can be used if additional codes apply.*}
{*{$claim->get("X12ConditionCode3")}**}
{*{$claim->get("X12ConditionCode4")}**}
{*{$claim->get("X12ConditionCode5")}~*}