<form name="patientfinder" method="post" action="{$FORM_ACTION}">
<table>
	<tr>
		<td><div class="tooltip">
				{l}Search{/l}:
				<div class="tooltipMessage">
					<b>Search Options:</b><br>
					'smith' for lastname, <br>
					',john' for first name, <br>
					'smith,john' for first & last name, <br>
					'1233' for record number, <br>
					'01/01/1980' for dob, <br>
					'000-00-0000' for ssn
				</div>
			</div>
		</td>
		<td>
			<input type="text" size="40" name="searchstring" value="" id="searchstring"/>&nbsp;&nbsp;<input type="submit" value="search"/>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			{l}Search Inactive{/l}:
			<input type="checkbox" id="search_inactive" name="search_inactive" value="1" />
		</td>
	</tr>
</table>
<input type="hidden" name="process" value="{$PROCESS}" />
</form>
<table>
{if count($result_set) > 0}
	<tr>
		<td>{l}Results Found For Search{/l} '{$search_string}'</td>
	</tr>
	<tr>
		<td>{l}Name{/l}</td><td>{l}DOB{/l}</td><td></td><td>{l}Patient ID{/l}</td><td>{l}SSN{/l}</td>
{/if}
{foreach  name="search_results" from=$result_set  item=result}
	<tr>
		<td>
			{*<a href="javascript:{literal}{}{/literal}" onclick="window.opener.document.{$form_name}.value={$result.id}; window.close();">{$result.name}</a>*}
			<a href="{$PATIENT_ACTION}id={$result.id}">{$result.name}</a>
		</td>
		<td>{$result.DOB}</td>
		<td>&nbsp;</td>
		<td>{$result.pubpid}</td>
		<td>{$result.ss}</td>
	</tr>
{foreachelse}
	{if is_array($result_set)}
	<tr>
		<td>{l}No Results Found For Search{/l} '{$search_string}'</td>
	</tr>
	{/if}
{/foreach}
	</table>

	<script type="text/javascript">
		$("searchstring").focus();
	</script>

