
{if $me->get_id() == 0}
	<ul class="quicknav">
		{if $translate[$navc.prefix]}
			<li><a href="{$translate[$navc.prefix]}main/access/login">{l}Login{/l}</a></li>
		{else}
			<li><a href="{$NAV_ACTION}main/access/login">{l}Login{/l}</a></li>
		{/if}
	</ul>
{else}

{foreach from=$menu key=section_name item=subsection}

	<ul class="menu" id="{$section_name}Menu">

		{foreach from=$subsection item=submenu}
			<li onMouseOver="menuShow(this);" onMouseOut="menuHide(this);" onclick="menuToggle(this);">
			<a href="#">{$submenu.title}</a>
			<ul>
			{foreach from=$submenu.children item=nav}
				{if $nav.display_order > 0}
				{if $translate[$nav.prefix]}
					<li><a href="{$translate[$nav.prefix]}{$nav.prefix}/{$nav.action}">{$nav.title}</a></li>
				{else}
					{if $nav.prefix == 'RAW'}
						<li><a href="{$nav.action}">{$nav.title}</a></li>
					{else}
						<li><a href="{$base_dir}index.php/{$nav.prefix}/{$nav.action}">{$nav.title}</a></li>
					{/if}
				{/if}
				{/if}
			{/foreach}
			</ul>
			</li>
		{/foreach}

	</ul>

{/foreach}

{/if}

<div class="clear"></div>
