{if $confidentiality > 2}
<div id="confidentialOverlay">
	<div>
		<h2>Confidential Communication Notice</h2>
		<p style='text-align: left'>
			This patient has requested or has participated in a process which requires you to pay 
			special attention to the privacy of their information and to respect guidelines for 
			redistribution, attempts to communicate and  communication of information to parties 
			outside our staff. These processes usually involve relatives, payers, contacting the 
			patient themselves and other scenarios.
		</p>
		<p>
		<a href="#" onclick="document.getElementById('confidentialOverlay').style.display = 'none';"
			>Click to proceed if you understand the appropriate clinic procedures in this case.</a>
		</p>
	</div>
</div>
{/if}
