<html>
<head>
<!-- compliance patch for microsoft browsers -->
<!--[if lt IE 7]>
<script src="{$base_dir}js/ie7/ie7-standard.js" type="text/javascript">
</script>
<![endif]-->


<script src="{$base_dir}js/validate.js" type="text/javascript"></script>
<script src="{$base_dir}js/dateparse.js" type="text/javascript"></script>
<script src="{$base_dir}js/cal/calendar.js" type="text/javascript"></script>
<script src="{$base_dir}js/cal/calendar-en.js" type="text/javascript"></script>
<script src="{$base_dir}js/cal/calendar-setup.js" type="text/javascript"></script>

{literal}
<SCRIPT LANGUAGE="JavaScript">
function popUp(URL,width,height) {
day = new Date();
id = day.getTime();
eval("page" + id + " = window.open(URL, '" + id + "', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=1,width=' + width + ',height=' + height + ',left = 400,top = 150');");
}

</script>
 
 <style type="text/css" title="mystyles" media="all">
<!--
li{
	font-size:11pt;
	font-family:helvetica;
	margin-left: 15px;
}
td {
	font-size:8pt;
	font-family:helvetica;
}
a {
	font-size:8pt;
	font-family:helvetica;
}
-->
</style>
{/literal}
<link href="{$base_dir}cellini.css" rel="stylesheet" type="text/css">
<link href="{$base_dir}js/cal/calendar-blue2.css" rel="stylesheet" type="text/css">
<link href="{$base_dir}clearhealth.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="header">
	<h1>ClearHealth<sup>®</sup></h1>
	{include file="main/general_menu.html"}
</div>
<div id="body">
	{$messages->render()}
	{$display}
</div>
</body>
</html>
