{literal}
<script type="text/javascript">
	function toggleMenu() {
		var nav = document.getElementById('nav');
		if(nav.style.display == 'block') { 
			nav.style.display = 'none'; 
		} else { 
			nav.style.display = 'block'; 
		}
	}
</script>
&middot; <a href="#" onclick="toggleMenu()" >Menu</a>
{/literal}
<div id="nav" style="display: none">
	{if $me->get_id() == 0}
		<div class="section">
		<ul class="quicknav">
			{if $translate[$navc.prefix]}
				<li><a href="{$translate[$navc.prefix]}main/access/login">{l}Login{/l}</a></li>
			{else}
				<li><a href="{$NAV_ACTION}main/access/login">{l}Login{/l}</a></li>
			{/if}
		</ul>
		</div>
	{else}
{foreach from=$menu.$menu_group item=nav}
	{if $nav.display_order > 0}
	
	<div class="section">
	{if $translate[$navc.prefix]}
                                        <li><a href="{$translate[$navc.prefix]}{$navc.prefix}/{$navc.action}">{$navc.title}</a></li>
        {else}
                                        {if $navc.prefix == 'RAW'}
                                                <li><a href="{$navc.action}">{$navc.title}</a></li>
                                        {else}
                                                <li><a href="{$base_dir}index.php/{$navc.prefix}/{$navc.action}">{$navc.title}</a></li>
                                        {/if}
                                {/if}

	{if $nav.children || $nav.reports || $nav.forms || $nav.arrays}
	<ul class="quicknav">
		{foreach item=navc from=$nav.children}
		{if $navc.display_order > 0}
		{if $translate[$navc.prefix]}
			<li> <a href="{$translate[$navc.prefix]}{$navc.prefix}/{$navc.action}">{$navc.title}</a></li>
		{else}
			<li> <a href="{$NAV_ACTION}{$navc.prefix}/{$navc.action}">{$navc.title}</a></li>
		{/if}
		{/if}
		{/foreach}

		{if $nav.more || $nav.reports}
			{foreach item=navc from=$nav.more}
				{if $navc.action}
					{if $translate[$navc.prefix]}
						<li> <a href="{$translate[$navc.prefix]}{$navc.prefix}/{$navc.action}">{$navc.title}</a></li>
					{else}
						<li> <a href="{$NAV_ACTION}{$navc.prefix}/{$navc.action}">{$navc.title}</a></li>
					{/if}
				{else}
				<li> {$navc.title}</li>
				{/if}
			{/foreach}
			{if $nav.reports}
				{foreach item=navc from=$nav.reports}
					{if $translate[$navc.prefix]}
						<li> <a href="{$translate[$navc.prefix]}{$navc.prefix}/{$navc.action}">{$navc.title}</a></li>
					{else}
						<li> <a href="{$NAV_ACTION}{$navc.prefix}/{$navc.action}">{$navc.title}</a></li>
					{/if}
				{/foreach}
			{/if}
			{if $nav.forms}
				{foreach item=navc from=$nav.forms}
					{if $translate[$navc.prefix]}
						<li> <a href="{$translate[$navc.prefix]}{$navc.prefix}/{$navc.action}">{$navc.title}</a></li>
					{else}
						<li> <a href="{$NAV_ACTION}{$navc.prefix}/{$navc.action}">{$navc.title}</a></li>
					{/if}
				{/foreach}
			{/if}
		{/if}
		{if $nav.arrays}
			{foreach item=navc from=$nav.arrays}
				<li> <a href="{$navc.action}">{$navc.title}</a></li>
			{/foreach}
		{/if}
	</ul>
	{/if}
	</div>
	{/if}
{/foreach}
	{/if}
</div>
