<script type="text/javascript">
{literal}
function addEntry(id) {
	var anchor = document.getElementById('Entry');
	var current_value = document.getElementById('list').value;
	// This is supposed to detect if the item has already been created or not and doesn't work and I don't know why.
	if (document.getElementById(id) == undefined) {
		var newli = document.createElement('li');
		var objIdName = 'entry' + current_value;
		newli.setAttribute("id", objIdName);
		newli.innerHTML =  current_value + ' <a href="#" onclick="removeEntry(\'' + objIdName + '\');"><img src="{/literal}{$base_uri}{literal}index.php/images/stock_trash-16.png"></a>';
		anchor.appendChild(newli);
	}
}

function removeEntry(liNum) {
	var stripextra = /entry/;
	if (confirm('Are you sure that you would like to remove ' +liNum.replace(stripextra, '')+ ' from the Planned Care List?')) {
		var anchor = document.getElementById('Entry');
		var deadli = document.getElementById(liNum);
		anchor.removeChild(deadli);
	}
}
{/literal}
</script>


<fieldset>
<legend><b>Risk Factors</b></legend>
<!-- this needs to be converted to an enumeration and redone with ajax, but this should do for demonstation purposes /-->
<select id="list">
{foreach from=$risk_factors_codes key=current_key item=current_value}
<option value="{$current_value}">{$current_value}
{/foreach}
</select>

<input type="button" value="Add Entry" onclick="addEntry();">

<input type="hidden" value="" id="divNum">
<ul id="Entry">
{foreach from=$risk_factors_items item=current_problem}
<li id="entry{$current_problem}">{$current_problem} <a href="#" onclick="removeEntry('entry{$current_problem}');"><img src="{$base_uri}index.php/images/stock_trash-16.png"></a></li>
{/foreach}
</ul>

<input type="text"><input type="button" value="Quick Add">
</fieldset>
