{* Loop 2010BA - Subscriber Name *}
NM1*												{*Subscriber Name Loop*}
IL*													{*ID Code.  Always use IL (Insured or Subscriber) *}
1*													{*Type qualifier.  1=person, 2=non-person - for us it's 1 *}
{$subscriber->get("last_name")|upper}*
{$subscriber->get("first_name")|upper}*
{$subscriber->get("middle_name")|upper}**
*													{*field to contain name suffix*}
MI*													{*ID Code qualifier.  MI or ZZ - for us its MI *}
{$subscriber->get("identifier")|upper}~							

N3*
{$subscriber->get("print_address")|upper}~
{*Note:  N302 can be added if there are two lines for the address. *}

N4*
{$subscriber->get("city")|upper}*
{$subscriber->get("state")|upper}*
{$subscriber->get("zip")|pad:5}~
{*Note: N404 is required (country code) if address is outside of USA. *}

DMG*												{*Subscriber Demographic info*}
D8*													{*Date/time qualifier. Use D8 (CCYYMMDD) *}
{$subscriber->get("date_of_birth")|date_format:"%Y%m%d"}*
{$subscriber->get("gender")}~							{*Male/Female/Unknown*}

{*Note: optional REF line can go here to specify additional identifying info such as ssn, client #, or other id #. *}
{*Note: additional REF line can go here in some cases to specify a claim number.*}

