{if $subscriber->get("contract_type_code")}
CN1*											{*Contract information*}
{$subscriber->get("contract_type_code")}*		{*Contract type code. 02,03,04,05,06,09*}
{$subscriber->get("contract_amount")}*			{*Monetary amount-required if provider must contractually supply this info*}
{$subscriber->get("contract_percent")}*			{*Percentage amount-required if provider must contractually supply this info*}
{$subscriber->get("contract_code")}*			{*Required only if provider is required by contract to supply this info*}
{$subscriber->get("contract_discount_percent")}*{*Required only if provider is required by contract to supply this info*}
{$subscriber->get("contract_version")}*			{*Required only if provider is required by contract to supply this info*}
~
{/if}