{* Not yet implemented*}
{*CRC*										{*EPSDT Referral*}
{*ZZ*											{*Use ZZ (mutually defined)*}
{*Y*											{* Y/N - If no, then choose NU in CRC03 indicating no referral given.*}
{*{$claim->get("X12EPSDTConditionIndicator1")}*	{*Condition indicator - AV/NU/S2/ST *}
{*{$claim->get("X12EPSDTConditionIndicator2")}*	{*Optional - Can be used to enter more condition indicators.*}
{*{$claim->get("X12EPSDTConditionIndicator3")}~	{*Optional - Can be used to enter more condition indicators.*}