{*Loop 2310A Referring Provider*}

{if $referring_provider->get('last_name') != ''}

NM1*
{$referring_provider->get("referral_type")|upper}*
1*
{$referring_provider->get("last_name")|upper}*
{$referring_provider->get("first_name")|upper}*
***
{if $referring_provider->get('identifier') != ''}
{if $referringProviderIdType && $referring_provider->get('identifier_type') == 'Default'}
{$referringProviderIdType}
{else}
{$referring_provider->get("identifier_type")|upper}
{/if}
{/if}*
{$referring_provider->get("identifier")|upper}~

{if $referring_provider->get("taxonomy_code")}
PRV*
RF*
ZZ*
{$referring_provider->get("taxonomy_code")|upper}~
{/if}

{if $referring_provider->get("identifier_2")}
REF*
{if ($referringProviderIdType || $referringProviderSecondaryIdType) && $referring_provider->get('identifier_type_2') == 'Default'}
{if $referringProviderSecondaryIdType}
{$referringProviderSecondaryIdType}
{else}
{$referringProviderIdType|upper}
{/if}
{else}
{$referring_provider->get("identifier_type_2")|upper}
{/if}*
{$referring_provider->get("identifier_2")|upper}~
{/if}

{/if}
