{* Loop 2010BB - Payer Name *}
NM1*												{*Payer name loop*}
PR*													{*Always use PR (payer)*}
2*													{*Payer is 2 (non-person)*}
{$payer->get("name")|upper}*****
PI*													{* PI (payer identification) or XV (PAYERID)*}
{* Use supplied "payerIdentifier" value if provided *}
{if $payerIdentifier}
{$payerIdentifier}
{else}
{$payer->get("id")}
{/if}~

N3*
{$payer->get("print_address")|replace:"#":"num"|upper}~

N4*
{$payer->get("city")|upper}*
{$payer->get("state")|upper}*
{$payer->get("zip")|pad:5}~

{*Can use optional REF line here for additional info if necessary to adjudicate the claim/encounter.*}

