<table width="100%"  border="0" cellspacing="0" cellpadding="8">
<tr>
	<td><h1>Edit Users</h1>
		<h2>Click username to edit</h2>
        <br>
        <table class="lumber" width="500" border="0" cellspacing="1" cellpadding="0">
		{$pager->render()}
	<tr bgcolor="EFEFEF">
		<th>Username</th>
		<th>Nickname</th>
	</tr>
	{foreach from=$users item=user}
	<tr>
		<td><a href="{$EDIT_ACTION}user_id={$user->get('id')}">{$user->get('username')}</a></td>
		<td>{$user->get('nickname')}</td>
	</tr>
	{foreachelse}
	<tr>
		<td colspan="2">No Users Found</td>
	</tr>
	{/foreach}
</table>
