<input type="hidden" name="appointmentruleset[appointment_ruleset_id]" value="{$ar->get('id')}">
<input type="hidden" name="appointmentruleset[tab]" value='summary'>
<p><label>Name: </label><input name="appointmentruleset[name]" value="{$ar->get('name')}" onkeyup="$('rulesetName').innerHTML = 'Rule: '+this.value"></p>
<p>
	<input type="radio" value="1" name="appointmentruleset[enabled]" id="aren" {if $ar->get('enabled')}CHECKED{/if}><label for="aren">Enabled</label>
	<input type="radio" value="0" name="appointmentruleset[enabled]" id="ardis" {if $ar->get('enabled') == 0}CHECKED{/if}><label for="ardis">Disabled</label>
</p>
<p>
	<input type="radio" value="1" name="appointmentruleset[any]" id="arany" {if $ar->get('any')}CHECKED{/if}><label for="arany">Any</label>
	<input type="radio" value="0" name="appointmentruleset[any]" id="arall" {if $ar->get('any') == 0}CHECKED{/if}><label for="arall">All</label>
</p>

<p><label>Message to display when a rule fails:</label><br>
<textarea rows=5 cols=50 name="appointmentruleset[error_message]">{$ar->get('error_message')}</textarea>
<br><br>
<b>Rules:</b>

<ul>
	<li>Date<br>
	<ul>
	{foreach from=$ar->rulesList('date') item=rule key=key}
		<li><a href="#" onclick="deleteRule(this,{$key})">X</a> - <a href="#" onclick="selectRule('date',{$key})">{$rule}</a></li>
	{/foreach}
	</ul>
	</li>

	<li>Procedure<br>
	<ul>
	{foreach from=$ar->rulesList('procedure') item=rule key=key}
		<li><a href="#" onclick="deleteRule(this,{$key})">X</a> - <a href="#" onclick="selectRule('procedure',{$key})">{$rule}</a></li>
	{/foreach}
	</ul>
	</li>

	<li>Patient<br>
	<ul>
	{foreach from=$ar->rulesList('patient') item=rule key=key}
		<li><a href="#" onclick="deleteRule(this,{$key})">X</a> - <a href="#" onclick="selectRule('patient',{$key})">{$rule}</a></li>
	{/foreach}
	</ul>
	</li>

	<li>Provider<br>
	<ul>
	{foreach from=$ar->rulesList('provider') item=rule key=key}
		<li><a href="#" onclick="deleteRule(this,{$key})">X</a> - <a href="#" onclick="selectRule('provider',{$key})">{$rule}</a></li>
	{/foreach}
	</ul>
	</li>

	<li>Location<br>
	<ul>
	{foreach from=$ar->rulesList('location') item=rule key=key}
		<li><a href="#" onclick="deleteRule(this,{$key})">X</a> - <a href="#" onclick="selectRule('location',{$key})">{$rule}</a></li>
	{/foreach}
	</ul>
	</li>
	<li>Insurance<br>
	<ul>
	{foreach from=$ar->rulesList('insurance') item=rule key=key}
		<li><a href="#" onclick="deleteRule(this,{$key})">X</a> - <a href="#" onclick="selectRule('insurance',{$key})">{$rule}</a></li>
	{/foreach}
	</ul>
	</li>
</ul>
