{if $rule->get('id') == 0}
<h3>Add a new Procedure Rule</h3>
{/if}

<input type="hidden" name="appointmentruleset[appointment_rule_id]" value="{$rule->get('id')}">
<input type="hidden" name="appointmentruleset[tab]" value='procedure'>
<input type="hidden" name="appointmentruleset[type]" value='procedure'>

<p>Label: <input name="appointmentruleset[label]" id="rulelabel" value="{$rule->get('label')}"></p>

<fieldset>
	<legend>Rule Type</legend>
	<label><input type="radio" name="appointmentruleset[data][rule_type]" value="disallowed" {if $data->rule_type == 'disallowed'}CHECKED{/if}>Disallowed</label>
	<label><input type="radio" name="appointmentruleset[data][rule_type]" value="norep" {if $data->rule_type == 'norep'}CHECKED{/if}>No Repetition</label>
</fieldset>
<input type="hidden" name="appointmentruleset[data][procedure]" id="procedure" value="{$data->procedure}">
<script type="text/javascript">
	{literal}
	function updateKey(select) {
		$('procedure').value = select.options[select.selectedIndex].getAttribute('other');
	}
	{/literal}
</script>
<p>
<label>Procedure: </label>
<select name="appointmentruleset[data][procedure_id]" onclick="updateKey(this)">
	{foreach from=$reasons item='row'}
	<option key="{$row.enumeration_value_id}" other="{$row.key}" {if $data->procedure_id == $row.enumeration_value_id}SELECTED{/if}>{$row.name} - {$row.value}</option>
	{/foreach}
</select>
</p>
