{if $rule->get('id') == 0}
<h3>Add a new Patient Rule</h3>
{/if}

<input type="hidden" name="appointmentruleset[appointment_rule_id]" value="{$rule->get('id')}">
<input type="hidden" name="appointmentruleset[tab]" value='patient'>
<input type="hidden" name="appointmentruleset[type]" value='patient'>

<p>Label: <input name="appointmentruleset[label]" id="rulelabel" value="{$rule->get('label')}"></p>

<label><input onclick="showDetails(this)" type="radio" name="appointmentruleset[data][patient_type]" {if $data->patient_type == 'gender'}CHECKED{/if}
		value="gender">Gender</label><br>

<label><input onclick="showDetails(this)" type="radio" name="appointmentruleset[data][patient_type]" {if $data->patient_type == 'age'}CHECKED{/if}
	value="age">Age</label><br>

<div id="details">
	<div id="gender">
		<select name="appointmentruleset[data][gender]">
			{html_options options=$em->enumArray('gender') selected=$data->gender}
		</select>
	</div>
	<div id="age">
		<label>Minimum Age: </label><input name="appointmentruleset[data][age_min]" size="4" value="{$data->age_min}">
		<label>Maximum Age: </label><input name="appointmentruleset[data][age_max]" size="4" value="{$data->age_max}">

		<p>
		<small>Set age to 0 ignore limit.  For example to make a rule for patients older then 5 set minimum to 5 and maximum to 0.</small>
		</p>
	</div>
</div>
<script type="text/javascript">
	var inputs = document.getElementsByName('appointmentruleset[data][patient_type]');
	for(var i = 0; i < inputs.length; i++) {lcb}
		if (inputs[i].value == '{$data->patient_type}') {literal}{
			showDetails(inputs[i]);
		}
	} {/literal}
</script>
