{dynhead type="js"}
var deleteAction = "{link controller="AppointmentRuleset" action="deleteRuleset"}";
{/dynhead}
{head type="js"}
{literal}
function deleteRuleset(link,id) {
	var label = link.parentNode.parentNode.cells[2].getElementsByTagName('a')[0].innerHTML;
	if (confirm('Delete rule: '+label)) {
		HTML_AJAX.post(deleteAction,{ruleset_id:id,process:'true'});
		link.parentNode.parentNode.parentNode.removeChild(link.parentNode.parentNode);
	}
}
{/literal}
{/head}
{$grid->render()}
