<form name="room" method="post" action="{$FORM_ACTION}">
<input type="hidden" name="form_id" value="{$room->id}" />
<table CELLSPACING="0" CELLPADDING="3">
<tr>
	<td COLSPAN="1" VALIGN="MIDDLE"><label>{l}Name:{/l}</label></td>
	<td COLSPAN="2" ALIGN="LEFT" VALIGN="MIDDLE">
		<input type="text" size="40" name="name" value="{$room->name}"/>
	</td>
</tr>
<tr>
	<td COLSPAN="1" VALIGN="MIDDLE"><label>{l}Number of Beds:{/l}</label></td>
	<td COLSPAN="2" ALIGN="LEFT" VALIGN="MIDDLE">
		<input type="text" size="2" maxlength="4" name="number_seats" value="{$room->number_seats}"/>
	</td>
</tr>
<tr>
	<td COLSPAN="1" VALIGN="MIDDLE"><label>{l}Additional Information:{/l}</label></td>
	<td COLSPAN="2" ALIGN="LEFT" VALIGN="MIDDLE">
		<input type="text" size="40" maxlength="250" name="description" value="{$room->description}"/>
	</td>
</tr>

<tr>
	<td COLSPAN="1" VALIGN="MIDDLE"><label>{l}Building:{/l}</label></td>
	<td COLSPAN="2" ALIGN="LEFT" VALIGN="MIDDLE">
		{html_options name="building_id" options=$buildings
selected=$room->get('building_id')}
	</td>
</tr>
<tr>
	<td style="text-align:right">
		<span class="tooltip">{l}Color{/l}:
			<div class="tooltipMessage">{l}This is the color which will be the background of the room associated information on the calendar and elsewhere.{/l}</div>
		</span>
	</td>
	<td>{$colorpicker->render()}</td>
</tr>
<tr>
        <td style="text-align:right">
                <span class="tooltip">{l}Routing Station{/l}:
                        <div class="tooltipMessage">{l}If you are using the arrival and routing features this is the default station that this room routes to. If not selected no 'arr' link will be shown for this rooms appointments.{/l}</div>
                </span>
        </td>
        <td><select name="routing_station">{enum_options name="routing_stations" selected=$room->get('routing_station')}</select></td>
</tr>
<tr>
	<td></td>
	{if empty($room->id) }
	<td><input type="submit" value="Save" /></td>
	{else} 
	<td><input type="submit" value="Update" /></td>
	{/if}
</tr>
</table>
<input type="hidden" name="id" value="{$room->id}" />
<input type="hidden" name="process" value="{$PROCESS}" />
</form>
