
	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="550" height="400" id="ch-vid-upload" align="middle">
	<param name="allowScriptAccess" value="sameDomain" />
	<param name="allowFullScreen" value="false" />
	<param name="movie" value="{$base_dir}images/ch-vid-upload.swf?base_dir={$encode_base_dir}&patientId{$patientId}&categoryId={$categoryId}" /><param name="quality" value="high" /><param name="bgcolor" value="#ffffff" />	<embed src="{$base_dir}images/ch-vid-upload.swf?base_dir={$encode_base_dir}&patientId={$patientId}&categoryId={$categoryId}" quality="high" bgcolor="#ffffff" width="550" height="400" name="ch-vid-upload" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
	</object>
