ISA*
00*
{""|pad:10}*
00*
{""|pad:10}*
ZZ*
{$x12_sernderid|pad:15}*
ZZ*
{$x12_receiverid|pad:15}*
{$smarty.now|date_format:"%y%m%d"}*								{*Date of interchange*}
{$smarty.now|date_format:"%H%M"}*								{*Time of interchange*}
U*
00401*
{$system_file_sequence}*					{*System index for this particular call of the template*}
0*
T*											{*T is symbol for test data, P is symbol for production data*}
:~



ST*
837*
0001~ 												{*Transaction counter*}

BHT*
0019*
00*													{*Generic identifier, usually mathced transaction counter by convention*}
0001*
{$smarty.now|date_format:"%y%m%d"}*								{*Date of transaction*}
{$smarty.now|date_format:"%H%M"}*								{*Time of transaction*}
CH~													{*Contains chargeable information, i.e. claims*}

REF*
87*
{$x12_version}~					{*should generally be $practice->get("x12_gsversion_test") when piloting transaction but varies payer to payer*}


{*Loop 1000A*}
NM1*41*2*OPERATION SAMAHAN*****46*KZ9~
PER*IC*BILLING SUPERVISOR*TE*6194774451~

{*Loop 1000B*}
NM1*40*2*MEDI-CAL*****46*777777~

{*Loop 2000A*}
HL*1**20*1~
{*Loop 2010AA*}
NM1*85*2*OPERATION SAMAHAN*****24*95-3008798~
N3*2835 B HIGHLAND AVE.~
N4*NATIONAL CITY*CA*91950~
REF*1B*123456789  ~
{*not in freeb1*}{*PER*IC*JIM*TE*8007775555~*}							{*Administrative contact*}


{*Loop 2010AB*}
NM1*87*2*OPERATION SAMAHAN*****24*95-3008798~
N3*2835 B HIGHLAND AVE.~
N4*NATIONAL CITY*CA*91950~

{*Loop 2000B*}
HL*2*1*22*0~
SBR*P*18*22222222*ARIZONA ROCK CO.*****16~
{*not in freeb1, needed for dead patients}{*PAT*****D8*19970314*01*146~*}

{*Loop 2010BA*}
NM1*IL*1*SCHMOE*JOE*Q.***MI*11111111~
N3*1234 MOCKINGBIRD LN.~
N4*ANYTOWN*PA*12345~
DMG*D8*19910101*M~

{*Loop 2010BB*}
NM1*PR*2*MEDICAL*****PI*BLAH~

{*Loop 2010BC*}
{*responsible party, not in freeb1, case if patient/subscriber is not financially responsible, i.e. disabled*}

{*Loop 2300*}
CLM*3-6-5*75.00***11::1*Y*A*Y*Y*C~
DTP*431*D8*20050204~
HI*BK:4011~
{*not in freeb1, claim note
NTE*ADD*SURGERY WAS UNUSUALLY LONG BECAUSE [FILL INREASON*~*}

{*Loop 2310A Referring Provider*}
{*not in freeb1, referring provider*}
{*NM1*82*1*PEREZ*JUANITO****24*95-3008798~
PRV*PE*ZZ*207Q00000X~*}


{*Loop 2310B Rendering Provider*}
NM1*82*1*PEREZ*JUANITO****24*95-3008798~
PRV*PE*ZZ*207Q00000X~

{*Loop 2310D Service Facility Location, use if location different than in 2010AA or 2010AB*}
NM1*77*2*OPERATION SAMAHAN*****24*95-3008798~
N3*2835 B HIGHLAND AVE.~
N4*NATIONAL CITY*CA*91950~

{*Loop 2400 Service Line*}
LX*1~										{*increment for each service*}
SV1*HC:99214*75.00*UN*1***1~
DTP*472*D8*20050204~

{*transaction end*}
SE*33*0021~


{*group end*}
GE*1*1~
{*edi end*}
IEA*1*000000001~
