{literal}
<form onsubmit="processRadios(this)">
<div>
	<label><input type="radio" name="test[0]" value="One" />One</label>
	<label><input type="radio" name="test[0]" value="Two" />Two</label>
	<label><input type="radio" name="test[0]" value="Three" />Three</label>
	<label><input type="radio" name="test[0]" value="Four" />Four</label>
</div>
<div>
	<input type="reset" />
	<input type="submit">
</div>
</form>

<div id="message"></div>
<script type="text/javascript">
function processRadios(form) {

	for(var i in form.elements) {
		if (form.elements[i].type == 'radio' && form.elements[i].name == 'test[0]') {
			alert(form.elements[i].value);
		}
	}


	var radioList = document.evaluate("//input[@name = 'test[0]']", document, null, XPathResult.ANY_TYPE,null);
	while (currentRadio = radioList.iterateNext()) {
		if (currentRadio.checked) {
			document.getElementById('message').innerHTML = currentRadio.value + ' is selected';
			return;
		}
	}
	
	document.getElementById('message').innerHTML = 'Nothing is selected';
}
</script>

{/literal}
