<link href="{$base_dir}index.php/css/scrollbar.css" rel="stylesheet" type="text/css">

{literal}
<div id="template" style="display:none">
	<table>
		<tr class="normal">
			<td>{$code}</td>
			<td>{$code_text}</td>
		</tr>
		<tr class="loading">
			<td class="gridLoading" colspan=2>Loading ...</td>
		</tr>
	</table>
</div>
{/literal}

<table cellpadding=0 cellspacing=0><tr><td>

	<table class="grid" id="table" style="width: 450px;">
		<thead>
			<tr>
				<th>Code</th><th>Code Text</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</td><td>
<div id="bar" class="scrollBar"></div>
</td></tr></table>

<script type="text/javascript" language="javascript">
	{$dsSetup}
	var ds = new clniDatasource(new ActiveFeeSchedule(),dsSetup);
	var grid = new clniGrid('table','template',20,ds);

	var headHeight = document.getElementById('table').tHead.getElementsByTagName('tr').item(0).clientHeight;
	var imagePath = '{$base_dir}index.php/images';
	{literal}
	var sb = new ScrollBar(
			{	id:'bar',
				trackId:'track',
				thumbId:'gripper',
				imagePath:imagePath,
				totalElements:ds.numRows-20,
				visibleElements:20,
				topOffset:headHeight
			});
	sb.onScroll = function(to) {
		grid.scrollTo(to);
	}
	{/literal}
</script>
