<script type="text/javascript">
{literal}
function showVis(id) {
    var object = document.getElementById(id).style;
    var showhide = document.getElementById(id + 'ShowHide');
    object.display = "block";
    showhide.getElementsByTagName('img').item(0).src = "{/literal}{$base_uri}{literal}index.php/images/emblem-cvs-controlled.png";
    showhide.getElementsByTagName('span').item(0).style.display = "none";
    window.location.href = '{/literal}{$base_uri}{literal}index.php/WidgetForm/setWidgetVisibility/block';
    
}

function hideVis(id) {
    var object = document.getElementById(id).style;
    var showhide = document.getElementById(id + 'ShowHide');
    object.display = "none";
    showhide.getElementsByTagName('img').item(0).src = "{/literal}{$base_uri}{literal}index.php/images/emblem-cvs-controlled-2.png";
    showhide.getElementsByTagName('span').item(0).style.display = "inline";
    window.location.href = '{/literal}{$base_uri}{literal}index.php/WidgetForm/setWidgetVisibility/none';

}

function toggleVis(id) {
    //if an element is invisible, make it visible, else make it ivisible
    if(document.getElementById(id).style.display == 'none') {
        showVis(id);
        
    } else {
        hideVis(id);
    }
} 
{/literal}
</script>

<table cellpadding=0 cellspacing=0 width="100%">
	<tr>
		<td width="100%" id="tabBody">
<div class="dock" >
<a style="width:100%;" href="#" onclick="toggleVis('criticalsdock');" id="criticalsdockShowHide">
<img src="{$base_uri}index.php/images/emblem-cvs-controlled.png" style="float:left;padding:0;margin-top:2px;">
<span style="{if $cwf->getWidgetVisibility() == none}display: block;{else}display: none;{/if} font-weight:bold;font-size:11pt;">Criticals<div style=" position:relative; left:100px; top:-10px;border: thin solid gray;margin-left:10px;margin-right:50px;width:90%;"></div></span></a>
</div>
<fieldset id="criticalsdock" {if $cwf->getWidgetVisibility() == none}style="display: none;"{/if}>
<legend>{l}Criticals{/l}</legend>
<div class="critical_item">
{$widget_form_content}
</div>
<div class="clear"></div>
</fieldset>

<table class="columns" border="0">
<tr>
<td colspan="2">
	{include file="patientdashboard/general_chunkPatient.html"}
</div>
</td></tr></table>


	</td>
	</tr>
	<tr>
	<td>
	<fieldset class="radio" id="notes">
		<legend>{l}Notes{/l}</legend>
		{$noteGrid->render()}
		{if $noteGrid->empty && $depnoteGrid->empty}
		<p>Patient has no Notes</p>
		{/if}

	{clni_form action=$NOTE_ACTION process=$PROCESS}
		<input type="hidden" name="note[note_id]" value="{$note->get('id')}">
		<div>
			<textarea name="note[note]" cols="80" rows="2">{$note->get('note')}</textarea>
		</div>
		<div style="float:left; margin: 6px 0 0 0;">
			<label class="inline">Priority: </label>{html_options options=$note->priorityList() selected=$note->get('priority') name="note[priority]"}
		</div>
		<div style="margin: 6px 0 0 0;">
			<input type="submit" name="add_note" value="{if $note->get('id') > 0}Update{else}Add{/if} Note" style="margin: 0 0 0 10px;">
		</div>
	</form>
	</fieldset>

	<fieldset class="radio" id="insurer">
		<legend>{l}Insurers{/l}</legend>
		{$insuredRelationshipGrid->render()}
		{if $insuredRelationshipGrid->empty}
			<p>{l}Patient has no Insurers Assigned{/l}</p>
		{/if}
	</fieldset>
	<fieldset class="radio" id="encounters">
		<legend>{l}Encounters{/l} {clni_section_links name="encounters"}</legend>
		{$encounterGrid->render()}
		{if $encounterGrid->empty}
			<p>{l}Patient has no Encounters{/l}</p>
		{/if}
		<p><a href="{$ENCOUNTER_ACTION}">Add Encounter</a></p>
	</fieldset>

	{include file="patientdashboard/general_chunkAppointment.html"}
	{include file="visitqueue/general_visitqueue.html"}
	</td>
	<td>
	
	{include file="patientdashboard/general_chunkAccountInfo.html}
	{include file="patientdashboard/general_chunkPatientStatistics.html}
	{if $config->get('displayInsuranceEligibility')}
		{include file="patientdashboard/general_chunkEligibility.html}
	{/if}
	{include file="patientdashboard/general_chunkGuaranteed.html}

	</td>
</tr>
</table>
</td>
<td valign="top" id="tabBack" width="100%">
{include file="patientdashboard/general_tab.html" demo="true"}
</td>
</tr>
</table>
