	<fieldset class="radio" id="person" >
	<legend>{l}Patient{/l} {clni_section_links name="detail"}</legend>
		{assign var="parent" value=$person}


<table width="100%">
	<tr>
		<td>
		<table align="left">
			<tbody>
	        <tr>
				<td style="white-space: nowrap;"><label class="inline">{l}Name{/l}: </label> {$person->get('first_name')} {$person->get('last_name')}</td>
	        </tr>
			<tr>
				<td style="white-space: nowrap;"><label class="inline">{l}Record Number{/l}: </label> {$person->get('record_number')}&nbsp;&nbsp;<label class="inline">({$person->get("print_identifier_type")}): </label>{$person->get('identifier')}</td>
				<td colspan="2"></td>
			</tr>
			<tr>
				<td><label class="inline">{l}Gender{/l}: </label>{$person->get('print_gender')}
					&nbsp;&nbsp;DOB: {$person->get('date_of_birth')}</td>
			</tr>
			<tr>
				<td><label class="inline">{l}Marital Status{/l}: </label>{$person->get('print_marital_status')}&nbsp;&nbsp;</td>
			</tr>
			<tr>
				<td><label class="inline">{l}Default Provider{/l}: </label>{$person->get('print_default_provider')}&nbsp;&nbsp;
					{l}Registration Location:{/l} {$person->get('print_registration_location')}</td>
			</tr>
			<tr>
				<td><label class="inline">{l}Active{/l}: </label>{if $person->get('inactive') == 0}Yes{else}No{/if}</td>
			</tr>
			<tr>
				<td><a href="{$EDIT_ACTION}">Edit</a></td>
				<td></td>
			</tr>
	        </tbody>
		</table>
	</td>
	<td>
	{if strlen($pictureTag) > 0 }
	{$pictureTag}
	{else}
	<a href="{link controller="WebCam" action="upload"}categoryId={php}echo Celini::config_get("PatientPicture:categoryId");{/php}" target="_NEW">Add Patient Picture</a>
	{/if}
	</td>

<td align="right">
	<div align="left" style="float: right">
	<fieldset class="radio" id="number" style="vertical-align:top;">
	<legend>{l}Phone Numbers{/l} {clni_section_links name="number"}</legend>
	<table class="grid" border="0" cellspacing="1" cellpadding="0">
        {$pager}
	<tr>
		<th>{l}Number{/l}</th><th>{l}Type{/l}</th><th>{l}Status{/l}</th><th>{l}Notes{/l}</th>
        </tr>
        {foreach from=$parent->get_numbers() item=row name="phone"}
		<tr {if $row.number_id == $number->get('id')}class="selectedRow"{else}{if $smarty.foreach.phone.iteration %2 == 1}class="alt"{/if}{/if}>
			<td>{formatPhoneNumber number=$row.number}</td>
			<td>{$row.number_type}</td>
			<td>{if !$row.active}DNC{/if}</td>
			<td>{$row.notes}</td>
        	</tr>
        {foreachelse}
        	<tr>
        		<td colspan="3">{l}No Phone Numbers{/l}</td>
        	</tr>
        {/foreach}
	</table>
	</fieldset>
    <fieldset class="radio" id="address" style="vertical-align:top;">
		<legend>{l}Addresses{/l} {clni_section_links name="address"}</legend>
		<table class="grid" border="0" cellspacing="1" cellpadding="0">
        {$pager}
	<tr>
		<th>{l}Name{/l}</th><th>{l}Type{/l}</th><th>{l}Address{/l}</th><th>{l}City{/l}</th><th>{l}Zip{/l}</th>
        </tr>
        {foreach from=$parent->get_addresses() item=row name="address"}
		<tr {if $row.address_id == $address->get('address_id')}class="selectedRow"{else}{if $smarty.foreach.address.iteration %2 == 1}class="alt"{/if}{/if}>
		<td>{$row.name}</td>
		<td>{$row.type}</td>
		<td class="address">{$row.line1}<br>{$row.line2}</td>
		<td>{$row.city}</td>
		<td>{$row.postal_code}</td>
        </tr>
        {foreachelse}
        <tr>
                <td colspan="5">No Addresses</td>
        </tr>
        {/foreach}
        </table>
	</fieldset>
