<div id="dashboardTabs">

	<div {if $demo}class="selected"{/if}><a href="{$DEMOTAB_ACTION}"><img alt="Demographics" src="{$base_dir}images/dashboard/demo_{if $demo}orange{else}blue{/if}.png"></a></div>

	<div {if $emr}class="selected"{/if}><a href="{$EMRTAB_ACTION}"><img alt="EMR" src="{$base_dir}images/dashboard/emr_{if $emr}orange{else}blue{/if}.png"></a></div>

	<div {if $case}class="selected"{/if}><a href="{$CASETAB_ACTION}"><img alr="Case Management" src="{$base_dir}images/dashboard/case_{if $case}orange{else}blue{/if}.png"></a></div>
</div>
