<table cellpadding=0 cellspacing=0 width="100%">
	<tr>
		<td width="100%" id="tabBody">
{clni_form action=$FORM_ACTION}

<div style="float:left">
{if $config->get('enableVisulizationDemo')}
	<fieldset>
		<legend>Visualizations</legend>
		<img alt="Patient Vitals" width="350" height=350 src="{$GRAPH_ACTION}">
	</fieldset>
{/if}
	<fieldset>
		<legend>Lab Results</legend>
		{$labGrid->render()}
		{if $labGrid->empty}
			<p>Patient has no lab results</p>
		{/if}
	</fieldset>
	
	{*include file="patientdashboard/general_chunkForms.html*}
	{include file="patientdashboard/general_chunkReports.html}
</div>

<div style="float:left">
	
	
	{$widget_form_content}
</div>
</form>

		</td>
		<td valign="top" id="tabBack" width="100%">
{include file="patientdashboard/general_tab.html" emr="true"}
</td>
</tr>
</table>
