{* Loop 2310A - Referring Provider *}
{if $referring_provider->get('last_name') != ''}
NM1*
{$referring_provider->get("referral_type")}*
1*
{$referring_provider->get("last_name")}*
{$referring_provider->get("first_name")}*
***
{if $referring_provider->get("identifier")}
{$referring_provider->get("identifier_type")}{/if}*
{$referring_provider->get("identifier")}~
{/if}

{if $referring_provider->get("taxonomy_code")}
PRV*
RF*
ZZ*
{$referring_provider->get("taxonomy_code")}~
{/if}

{if $referring_provider->get("identifier_2")}
REF*
1D*
{$referring_provider->get("identifier_2")}~
{/if}

