<table>
	<tr>
		<td>{l}Practices{/l}</td>	
	</tr>
	{foreach from=$practices item=practice}
	<tr>
		<td><a href="{$EDIT_PRACTICE_ACTION}id={$practice->get('id')}">{$practice->get('name')}</a>
		&nbsp;<a href="{$DELETE_ACTION}id={$practice->get('id')}&object_class=practice">D</a></td>
		
	</tr>
		<tr>
			<td>&nbsp;&nbsp;{l}Buildings{/l}</td>
		</tr>
		{foreach from=$buildings item=building}
		{if $building->get('practice_id') == $practice->get('id')}
		<tr>
			<td>&nbsp;&nbsp;<a href="{$EDIT_BUILDING_ACTION}id={$building->get('id')}">{$building->get('name')}</a>
			&nbsp;<a href="{$DELETE_ACTION}id={$building->get('id')}&object_class=building">D</a></td>
		</tr>
			<tr>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;{l}Rooms{/l}</td>
			</tr>
			{foreach from=$rooms item=room}
			{if $room->get('building_id') == $building->get('id')}
			<tr>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{$EDIT_ROOM_ACTION}id={$room->get('id')}">{$room->get('name')}</a>
					&nbsp;<a href="{$DELETE_ACTION}id={$room->get('id')}&object_class=room">D</a></td>
			</tr>
			{/if}
			{foreachelse}
			<tr>
				<td colspan="6">&nbsp;&nbsp;&nbsp;&nbsp;{l}No Rooms Found{/l}</td>
			</tr>
			{/foreach}
		{/if}
		{foreachelse}
		<tr>
			<td colspan="6">&nbsp;&nbsp;&nbsp;&nbsp;{l}No Buildings Found{/l}</td>
		</tr>
		{/foreach}
	{foreachelse}
	<tr>
		<td colspan="6">{l}No Practices Found{/l}</td>
	</tr>
	{/foreach}
	
</table>
