{if $providersArray != false}
	<div>
	<table>
	{foreach from=$providersArray item=provider}
	{$provider->populate()}
		<tr>
		<td valign="top" rowspan="2"><label>
			<input class="required" type="radio" name="refAppointment[refprovider_id]" value="{$provider->get('id')}" {if $oneprovider || $selectedprovider == $provider->get('id')}checked="checked"{/if} {if $selectedprovider > 0 && $selectedprovider != $provider->get('id')}disabled{/if} />
			{$provider->get('prefix')} {$provider->get('first_name')} {$provider->get('last_name')}
		</label>
		</td>
		<td valign="top"><strong>Services:</strong></td><td>{$provider->get('services')}</td>
		</tr>
		<tr>
		<td valign="top"><strong>Restrictions:</strong></td><td>{$provider->get('restrictions')}</td>
		</tr>
	{/foreach}
	</table>
	</div>
{else}
	This practice does not have any providers
{/if}
