<form action="{$FORM_ACTION}" method="post">
	<div><input type="hidden" name="process" value="true" /></div>
	<fieldset>
		<legend>Referral Practices</legend>
		
		<a href="{$programLink}">Back to Program</a>
		
		<fieldset>
			<legend>Edit Practice</legend>
		<table>
			<tr>
				<td width="49%">
					<table align="left">
						<tr>
							<td>Monthly Slots are Assigned By</td>
							<td>
								{html_radios name="refPractice[assign_by]" output="$possibleAssignBy" values="$possibleAssignBy" selected=$practice->get('assign_by')}
							</td>
						</tr>
						
						<tr>
							<td>Name</td>
							<td>
								<input name="refPractice[name]" value="{$practice->get('name')}" style="width:200px;" />
							</td>
						</tr>
						
						<tr>
							<td class="aRight">Default Number of Monthly Slots</td>
							<td>
								<input name="refPractice[default_num_of_slots]" value="{$practice->get('default_num_of_slots')}" size="5" />
							</td>
						</tr>
						
						<tr>
							<td class="aRight">Active</td>
							<td>
								{html_radios name="refPractice[status]" options=$statusOptions selected=$practice->get('status')}
							</td>
						</tr>
						<tr>
							<th>Services</th>
							<th>Restrictions</th>
						</tr>
						
						<tr>
							<td class="aCenter"><textarea name="refPractice[services]">{$practice->get('services')}</textarea></td>
							<td class="aCenter"><textarea name="refPractice[restrictions]">{$practice->get('restrictions')}</textarea></td>
						</tr>
					</table>
				</td>
				<td valign="top">
					<fieldset>
						<legend>Specialties for this Practice/Specialist</legend>
						<div class="noWrapLabels">
							{html_checkboxes name="refPractice[specialties]" style="white-space:nowrap;" options=$refSpecialty selected=$practice->get('specialty_ids')}
						</div>
					</fieldset>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="text-align:center;">
					<input type="hidden" name="refPractice[refprogram_id]" value="{$refprogram_id}" />
					<input type="submit" value="Save" class="button" onmouseover="hover(this)" onmouseout="hover(this)" />
				</td>
			</tr>

		</table>
		</fieldset>
		
		{* Only display this after a Practice has been created *}
		{if $practice->get('id') > 0}
		<table align="left">
			<tr>
				<td width="49%" valign="top">
		<fieldset>
			<legend>Locations</legend>
			
			{$practiceLocationListGrid->prepare()}
			{if $practiceLocationListGrid->empty != true}
			{$practiceLocationListGrid->render()}
			{/if}
			<fieldset>
				<legend>{if $location->get('id') > 0}Update{else}Add{/if} Location</legend>
			<table>
				<tr>
					<td class="aRight" rowspan="2">Address</td>
					<td>
						<input name="refPracticeLocation[address1]" value="{$location->get('address1')}" />
					</td>
				</tr>
				<tr>
					<td>
						<input name="refPracticeLocation[address2]" value="{$location->get('address2')}" size="20" />
					</td>
				</tr>
				
				<tr>
					<td class="aRight">City, State, Zipcode</td>
					<td>
						<input name="refPracticeLocation[city]" value="{$location->get('city')}" />,
						<input name="refPracticeLocation[state]" value="{$location->get('state')}" maxlength="2" size="2" />
						<input name="refPracticeLocation[zipcode]" value="{$location->get('zipcode')}" maxlength="10" size="5" />
					</td>
				</tr>
				
				<tr>
					<td class="aRight">Appt. Number</td>
					<td>
						<input name="refPracticeLocation[appointment_number]" value="{$location->get('appointment_number')}" />
					</td>
				</tr>
				
				<tr>
					<td class="aRight">Phone Number</td>
					<td>
						<input name="refPracticeLocation[phone_number]" value="{$location->get('phone_number')}" />
					</td>
				</tr>
				
				<tr>
					<td class="aRight">Fax Number</td>
					<td>
						<input name="refPracticeLocation[fax_number]" value="{$location->get('fax_number')}" />
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="hidden" name="refPracticeLocation[id]" value="{$location->get('id')}" />
						<input type="hidden" name="refPracticeLocation[refPractice_id]" value="{$practice->get('id')}" />
						<input type="submit" value="save" />
						{if $location->get('id') > 0}
						<input type="button" onclick="javascript:location.href='{$FORM_ACTION}';" value="Cancel" />
						{/if}
					</td>
				</tr>
			</table>
		</fieldset>
				</td>
				
				<td valign="top">
		<fieldset>
			<legend>Providers</legend>
			{if !$providerListGrid->empty}
				{$providerListGrid->render()}
			{else}
				No providers are currently registered with this practice.
			{/if}
			<fieldset>
				<legend>{if $provider->get('id') > 0}Update{else}Add{/if} Provider</legend>
				<table>
					<tr>
						<td>Prefix</td>
						<td><input name="refProvider[prefix]" size="3" value="{$provider->get('prefix')}" /></td>
					</tr>
					
					<tr>
						<td class="aCenter">First Name</td>
						<td><input name="refProvider[first_name]" size="10" value="{$provider->get('first_name')}" /></td>
					</tr>
					
					<tr>
						<td class="aCenter">M. I.</td>
						<td><input name="refProvider[middle_name]" size="2" value="{$provider->get('middle_name')}" /></td>
					</tr>
					
					<tr>
						<td class="aCenter">Last Name</td>
						<td><input name="refProvider[last_name]" size="15" value="{$provider->get('last_name')}" /></td>
					</tr>
					
					<tr>
						<td class="aCenter">Direct phone number</td>
						<td><input name="refProvider[direct_line]" size="15" value="{$provider->get('direct_line')}" /></td>
					</tr>
					
					<tr>
						<th>Services</th>
						<th>Restrictions</th>
					</tr>
					
					<tr>
						<td class="aCenter"><textarea name="refProvider[services]">{$provider->get('services')}</textarea></td>
						<td class="aCenter"><textarea name="refProvider[restrictions]">{$provider->get('restrictions')}</textarea></td>
					</tr>
					
					<tr>
						<td colspan="2">
							<input type="hidden" name="refProvider[id]" value="{$provider->get('id')}" />
							<input type="submit" value="Save" />
							{if $provider->get('id') > 0}
							<input type="button" onclick="javascript:location.href='{$FORM_ACTION}';" value="Cancel" />
							{/if}
						</td>
					</tr>
				</table>
			</fieldset>
		</fieldset>
				</td>
			</tr>
		</table>
		{/if}
	</fieldset>
</form>

