<html>
<head>
<!-- compliance patch for microsoft browsers -->
<!--[if lt IE 7]>
<script src="{$base_dir}js/ie7/ie7-standard.js" type="text/javascript">
</script>
<![endif]-->


{literal}
<SCRIPT LANGUAGE="JavaScript">
function popUp(URL,width,height) {
day = new Date();
id = day.getTime();
eval("page" + id + " = window.open(URL, '" + id + "', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=1,width=' + width + ',height=' + height + ',left = 400,top = 150');");
}

</script>
{/literal}
<link rel="stylesheet" href="{$base_dir}{$entry_file}/css/print.css" />
</head>
<body>
<table>
	<tr>
		<td valign="top">{$display}</td>
	</tr>
</table>
</body>
</html>
