<table valign="top">
<tr>
	<td valign="top">
	<table>
	<tr>
		<td valign="top">
		<form name="notes" method="post" action="{$NOTE_ACTION}">
		<textarea cols="53" rows="4" wrap="virtual" name="note"></textarea><br>
		<input type="submit" name="add note" value="Add Note">
		<input type="hidden" name="process" value="{$PROCESS}" />
		<input type="hidden" name="foreign_id" value="{$file->get_id()}" />
		</form>
		</td>
		<td rowspan="2">
		<textarea cols="53" rows="10" disabled>
{foreach name=note_loop from=$notes item=note}
{l}Note{/l} #{$note->get_id()}
{l}Date{/l}: {$note->get_date()}
{$note->get_note()}

{/foreach}
</textarea>
		</td>
	</tr>
	<tr>
		<td>
		<form method="post" name="document_move" action="{$MOVE_ACTION}">
		<select name="new_category_id">{$tree_html_listbox}</select><br><br>
		<!--Move to Branch # <input type="text" name="new_branch_id" size="4">
		<a href="javascript:{literal}{}{/literal}" onclick="var URL='controller.php?patient_finder&find&form_name={"document_move['new_branch_id']"|escape:"url"}'; window.open(URL, 'document_move', 'toolbar=0,scrollbars=1,location=0,statusbar=1,menubar=0,resizable=1,width=450,height=400,left = 425,top = 250');"><img src="{$base_dir}images/stock/stock_search-16.png" border="0"</a> -->
		&nbsp;&nbsp;&nbsp;<input type="submit" name="move" value="Move">
		</form>
		</td>
	</tr>
	</table>


	<table border=1 cellspacing=0 cellpadding=2>
		<tr><td><label>{l}File Name{/l}:</label></td><td>{$file->get('name')}</td></tr>
		<tr><td><label>{l}File Type:{/l}</label></td><td>{$file->get('displayType')}</td></tr>
		<tr><td><label>{l}File Size{/l}:</label></td><td>{$file->get('displaySize')}</td></tr>
		<tr><td colspan=2><a href="{$web_path}">Download File</a></td></tr>
	</table>

</td>
</tr>
	<td>
	{if $file->get_mimetype() eq "image/tiff"}
	<embed border="0" frameborder="0" style="border:none;" width="800" height="600" type="{$file->get_mimetype()}" src="{$web_path}{$file->get_url_web()}&as_file=false"></embed>
	{elseif $file->isDisplayable()}
	<iframe border="0" frameborder="0" style="border:none;font-weight:bold;" width="800" height="600" type="{$file->get_mimetype()}" src="{$web_path}{$file->get_url_web()}&as_file=false"></iframe>
	{else}
	{*<iframe border="0" frameborder="0" style="border:none;font-family:verdana;" width="800" height="600" type="{$file->get_mimetype()}" src="{$web_path}{$file->get_url_web()}&as_file=true"></iframe>*}
	{/if}
	</td>
</tr>
</table>
