{* help link setup *}
{assign var=help_link_base value=help_files/}
{foreach from=$data item=category}
<table border=1 cellspacing=0 cellpadding=2>
	<tr>
		<th colspan=2>{$category.name}</th>
	</tr>
		{foreach from=$category.documents item=document}
		{if $document.mime_base == "image"}
			{assign var=help_file value=$document.mime_base}
		{else}
			{assign var=help_file value=$document.mime}
		{/if}
		<tr>
			<td><a href="{$VIEW_LINK}{$document.file_name}?doc_id={$document.id}&{$document.name}&as_file=false" target="{$document.name}">{$document.name}</a></td>
			<td><a href="#" onclick="window.open('{$base_dir}{$help_link_base}{$help_file}.html','','width=400,height=338,');">
			<img  border=0 src="{$base_dir}/images/stock/types/gnome-{$document.mime}.png" width=16 height=16></a></td>
		</tr>

		{/foreach}
</table>
<br>
{/foreach}
