{literal}
 <style type="text/css" title="mystyles" media="all">
<!--
.treeMenuDefault {
	font-style: italic;
}
		
.treeMenuBold {
	font-style: italic;
	font-weight: bold;
}

-->
</style>
{/literal}
<script src="CategoryTreeMenu.js" language="JavaScript" type="text/javascript"></script>
<table>
	<tr>
		<td height="20" valign="top">Preferences</td>
	</tr>
	<tr>
		<td valign="top">
		{if $message}
		{$message}
		{/if}
		{if $messages}
		{$messages}
		{/if}
		</td>
	</tr>
	<tr>
		<td valign="top">{$tree_html}</td>
		{if $edit_node_id eq true}
		<td width="25"></td>
		<td valign="top">
		Editing Node<br>
		<form method="post" action="{$NODE_ACTION}">
		Node Name:&nbsp;<b>{$edit_node_name}</b><br><br>
		Node Value:&nbsp;<input type="text" name="edit_node_value" value="{$edit_node_value}"><br>
		<input type="submit" name="Edit Node" value="Edit Node">
		<input type="hidden" name="edit_node_id" value="{$edit_node_id}">
		<input type="hidden" name="process" value="{$PROCESS}" />
		</form>
		</td>
		{/if}
	</tr>
	
</table>