{*
<div id="codingedit" style="display:none;">
{include file='coding/general_update.html'}
</div>
*}
{clni_form name="coding_form" action=$FORM_ACTION autocomplete="off" process=$PROCESS}
<input type="hidden" name="CodingTemplate[id]" value="{$template->get('id')}" />
<input type="hidden" name="CodingTemplate[coding_parent_id]" value="{$template->get('coding_parent_id')}" />
<fieldset id="codingtemplate_data">
<legend>{l}{if $template->get('id') > 0}Edit{else}Add{/if} Coding Template{/l}</legend>
<table>
<tr>
	<td>{l}Title{/l}</td><td><input type="text" name="CodingTemplate[title]" value="{$template->get('title')}" /></td>
</tr>
<tr>
	<td>{l}Practice{/l}</td>
	<td>
	{html_options name='CodingTemplate[practice_id]' options=$practicelist selected=$template->get('practice_id')}
	</td>
</tr>
<tr>
	<td colspan=2>
{$codinghtml}
	</td>
</tr>
</table>
<input type="submit" value="Submit" />
</fieldset>
</form>