<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>{$app_title}</title>
	<link href="{link action="celini.css" pageType="" controller="css"}" rel="stylesheet" type="text/css">	<link href="{link action="calendar-blue2.css" pageType="" controller="css"}" rel="stylesheet" type="text/css">	<script src="{$base_dir}celini/js/validate.js" type="text/javascript"></script>	<script src="{$base_dir}celini/js/dateparse.js" type="text/javascript"></script>	<script src="{$base_dir}celini/js/cal/calendar.js" type="text/javascript"></script>	<script src="{$base_dir}celini/js/cal/calendar-en.js" type="text/javascript"></script>	<script src="{$base_dir}celini/js/cal/calendar-setup.js" type="text/javascript"></script>
</head>
<body>
	<div id="header">
		<h1>Application Header</h1>
	</div>
	<table>
		<tr>
			<td id="nav">
				<h2>Application Navigation</h2>
			</td>
			<td id="body">
				{$display}
			</td>
		</tr>
	</table>
</body>
</html>
