
	<div id="aeMessageTarget" style='width: 150px;'></div>

	<form id="medicationForm">
	<div>
		<input type="hidden" name="Medication[medication_id]" id="aeMedicationId" value="">
		<div class="SuggestInput">
		{clni_img name="stock/stock_person-10.png"}
		<input type="text" autocomplete="off" name="Medication[medication_name]" id="aeMedicationName" value="" size="70">
		<input type="button" name="checkInteractions" value="Check Interactions" onClick="checkInt();" />
		</div>
		{literal}
		<script type="text/javascript">
			var ps = new medicationSuggest('aeMedicationName','aeMedicationId');
		function checkInt() {
			medId = document.getElementById('aeMedicationId').value;
			//alert(medId);
			HTML_AJAX.call('medication','ajaxInteractionSearch',displayInteractions,medId);
		}
		function displayInteractions(result) {
			HTML_AJAX_Util.setInnerHTML('interactionDisplay',result);
		} 
		</script>
		{/literal}
	</div>
	<div id="interactionDisplay">

	</div>
	</form>	
{clni_register_validation id="aeMedicationId" 
	rules="requiredif(testElement:'aeMedicationName',testRule:'required',message:'No Medication is Selected')}
{clni_register_message_target form="medicationForm" targetId="aeMessageTarget"}
