{$grid->prepare()}
{if !$grid->empty}
<fieldset>
	<legend>Existing Notices</legend>
	{$grid->render()}
</fieldset>
{/if}

{literal}
<style type="text/css">
.noteTextarea {
 width:300px;
 border: 1px inset #000;
}
{/literal}
</style>
<fieldset>
	<legend>{if $editMode}Edit{else}Add{/if} Popup Alert</legend>
<form action="{$FORM_ACTION}" method="post">
	<table>
		<tr>
			<td>Due Date</td>
			<td>{clni_input_date name="altNotice[due_date]" value=$altnotice->get('due_date')}</td>
		</tr>
		
		<tr>
			<td colspan="2">Message</td>
		</tr>
		<tr>
			<td colspan="2"><textarea class="noteTextarea" name="altNotice[note]">{$altnotice->get('note')}</textarea></td>
		</tr>
		
		<tr>
			<td colspan="2" align="right">
				<input type="hidden" name="altNotice[owner_type]" value="{$GET->getTyped('owner_type', 'htmlsafe')}" />
				<input type="hidden" name="altNotice[owner_id]" value="{$GET->getTyped('owner_id', 'htmlsafe')}" />
				<input type="hidden" name="altNotice[altnotice_id]" value="{$altnotice->get('id')}" />
				<input type="hidden" name="process" value="true" />
				<input type="submit" value="Save" />
			</td>
		</tr>
	</table>
</form>
</fieldset>

