{literal}
<style type="text/css">
.noteTextarea {
 width:300px;
 border: 1px inset #000;
}
{/literal}
</style>
<form action="{$FORM_ACTION}" method="post">
	<table>
		<tr>
			<td>Due Date</td>
			<td>{clni_input_date name="altNotice[due_date]"}</td>
		</tr>
		
		<tr>
			<td colspan="2">Message</td>
		</tr>
		<tr>
			<td colspan="2"><textarea class="noteTextarea" name="altNotice[note]"></textarea></td>
		</tr>
		
		<tr>
			<td colspan="2" align="right">
				{if $redirectURL}
				<input type="hidden" name="redirectURL" value="{$redirectURL}" />
				{/if}
				<input type="hidden" name="altNotice[owner_type]" value="{$owner_type}" />
				<input type="hidden" name="altNotice[owner_id]" value="{$owner_id}" />
				<input type="hidden" name="process" value="true" />
				<input type="submit" value="Save" />
			</td>
		</tr>
	</table>
</form>
