{literal}
<style type="text/css">
.noteTextarea {
 width:400px;
 height:72px;
 }
</style>
{/literal}
<a href="{$listURL}">Back to List</a>
<fieldset>
	<legend>{if $editMode}Edit{else}Add{/if} a Splash Page Item</legend>
<script type="text/javascript" src="{$base_dir}modules/tiny_mce/tiny_mce.js"></script>
{literal}
<script type="text/javascript">
tinyMCE.init({
	mode : "exact",
	elements:'altNotice_note',
	theme: 'simple'
});
</script>
{/literal}
<form action="{$FORM_ACTION}" method="post">
	<div style="background-color:#cc9; padding:5px; border:1px solid #000;">
	<table>
		<tr>
			<td>Title</td>
			<td><input name="altNotice[title]" value="{$altnotice->get('title')}" /></td>
		</tr>
		<tr>
			<td>Display Date</td>
			<td>{clni_input_date name="altNotice[due_date]" value=$altnotice->get('due_date')}</td>
		</tr>
		<tr>
			<td>Remove Date</td>
			<td>{clni_input_date name="altNotice[completed_date]" value=$altnotice->get('completed_date')}</td>
		</tr>
	</table>
	</div>
	<div style="background-color:#eec; padding:5px; margin-bottom:5px;">
		Message<br />
		<textarea id="altNotice_note" class="noteTextarea" name="altNotice[note]">{$altnotice->get('note')}</textarea>
	</div>
	
	<div align="center">
		<input type="hidden" name="altNotice[owner_type]" value="{$GET->getTyped('owner_type', 'htmlsafe')}" />
		<input type="hidden" name="altNotice[owner_id]" value="{$GET->getTyped('owner_id', 'htmlsafe')}" />
		<input type="hidden" name="altNotice[altnotice_id]" value="{$altnotice->get('id')}" />
		{if $redirect_action}
		<input type="hidden" name="redirect_action" value="{$redirect_action}" />
		{/if}
		<input type="hidden" name="process" value="true" />
		<input type="submit" value="Save" />
	</div>
</form>
</fieldset>
