{strip}
{if $inGrid}
		<table cellpadding=0 cellspacing=0 class="pager" width="100%">
{else}
<tr>
	<td colspan="{$span}">
		<table cellpadding=0 cellspacing=0 class="pager">
{/if}
			<tr><td valign="middle" align="left">Displaying {$rowsPer}, Page {$currentPage} of {$lastPage}</td>
		<td valign="middle" align="right" nowrap="nowrap">
		{if $inGrid}{$grid->_exportToCSVLink()}&nbsp;{/if}
		<form method="get" name="pagenav1" action="{$TOP_ACTION}" style="display:inline;">
		    {if $currentPage > 1}
		    <a href="{$TOP_ACTION}&PAGER_PAGE=1" onmouseout="window.status='';" onmouseover="window.status='First Page'; return true;">
			    <img class="trans" src="{$base_dir}{$entry_file}/images/stock/first.png" border="0" alt="&lt;&lt; [ First Page ]" title="&lt;&lt; [ First Page ]" width="18" height="16" align="middle" /></a>&nbsp;<a href="{$TOP_ACTION}&PAGER_PAGE={$minusOne}" onmouseout="window.status='';" onmouseover="window.status='Previous Page'; return true;" id="previous">
			    <img class="trans" src="{$base_dir}{$entry_file}/images/stock/left.png" border="0"  alt="&lt; [ Previous Page ]" title=&lt; " [ Previous Page ]" width="16" height="16" align="middle" /></a> 
		    {else}
		    <img class="trans" src="{$base_dir}{$entry_file}/images/stock/first-grey.png" alt="Inactive [ First Page ]" title="" width="18" height="16" align="middle" />&nbsp;<img src="{$base_dir}{$entry_file}/images/stock/left-grey.png" alt="" title="" width="16" height="16" align="middle"  class="trans" />
		    {/if}
		    <input type="hidden" name="main">
		    <input type="hidden" name="{$section}">
		    <input type="hidden" name="action" value="{$action}">
		    <input type="hidden" name="id" value="{$id}">
		    <input type="text" name="PAGER_PAGE" value="{$currentPage}" size="2" id="pagerNum"/>

		    {if $plusOne <= $lastPage}
		    <a href="{$TOP_ACTION}&PAGER_PAGE={$plusOne}" onmouseout="window.status='';" onmouseover="window.status='Next Page'; return true;" id="next">
			    <img class="trans" src="{$base_dir}{$entry_file}/images/stock/right.png" border="0"  alt="[ Next Page ] &gt;" title="[ Next Page ] &gt;" width="16" height="16" align="middle" /></a>&nbsp;<a href="{$TOP_ACTION}&PAGER_PAGE={$lastPage}" onmouseout="window.status='';" onmouseover="window.status='Last Page'; return true;">
			    <img class="trans" src="{$base_dir}{$entry_file}/images/stock/last.png" border="0" alt="[ Last Page ] &gt;&gt;" title="[ Last Page ] &gt;&gt;" width="16" height="16" align="middle" /></a>
		    {else}
			    <img class="trans" src="{$base_dir}{$entry_file}/images/stock/right-grey.png" alt="[ Next Page ] &gt;" title="" width="16" height="16" align="middle" />&nbsp;<img class="trans" src="{$base_dir}{$entry_file}/images/stock/last-grey.png" alt="[ Last Page ] &gt;&gt;" title="" width="16" height="16" align="middle" />
		    {/if}
    &nbsp;</form></td></tr></table>
{if !$inGrid}
    </td>
</tr>
{/if}
{/strip}
