<div id="event{$appointment->get('event_id')}heightholder" style="display:none;"></div>
<div class="event calendarEvent{$appointment->get('provider_id')}" id="event{$appointment->get('event_id')}" style="{if $short}width:15px;height:{$height}px;{/if}overflow:hidden;"
	onmouseover="expandAppointment({$appointment->get('event_id')},this);"
	onmouseout="shrinkAppointment({$appointment->get('event_id')},this);"
	>
<div width="100%" class="eventTitle" style="{if $short}display:none;{/if}" id="innerEvent{$apt.event_id}">
<a href="{link action='Day' controller='CalendarDisplay'}date={$apt.apt_date}">{$apt.event_start} - {$apt.event_end}</a> {l}Appointment #{/l}{$apt.appointment_id}
</div>
<div class="eventBody cheventfont">
<div style="float:right;" id="appointmentstatus{$apt.appointment_id}">{if !$ev_edit}<a href="{link action='Day' controller='CalendarDisplay'}date={$apt.apt_date}">{/if}{$apt.schedule_code}{if !$ev_edit}</a>{/if}</div>
{$apt.event_title}<br>
{l}Reason: {/l}{$apt.reason}<br>
{if $ev_edit}
<a href="javascript:void(0);" onclick="editAppointment({$apt.appointment_id});">edit</a>,
<a href="javascript:void(0);" onclick="deleteAppointment({$apt.appointment_id});">del</a>, 
<a href="javascript:void(0);" onclick="NSAppointment({$apt.appointment_id});">ns</a>, 
<a href="javascript:void(0);" onclick="cancelAppointment({$apt.appointment_id});">can</a>
, 	<a href="{link action="Edit" controller="Encounter"}?appointment_id={$apt.appointment_id}&patient_id={$apt.patient_id}">enc</a>
{/if}<br>

{if $apt.group_appointment == 0}
{l}Patient: {/l}<span style="margin-left:5px;">
	<a href="{link action='Dashboard' controller='Patient'}patient_id={$apt.patient_id}"  onmouseover="document.getElementById('eventPop{$apt.appointment_id}-{$apt.patient_id}').style.display='block';" {if $ev_edit}onmouseout="document.getElementById('eventPop{$apt.event_id}-{$apt.patient_id}').style.display='none';"{/if}>{$apt.last_name}, {$apt.first_name}</a> 
	<div style="display:none; margin-left: 5px;" id="eventPop{$apt.appointment_id}-{$apt.patient_id}">
	{l}Phone: {/l}{formatPhoneNumber number=$apt.phone}<br>
	{l}Record: {/l}{$apt.record_number}<br>
	{l}DOB: {/l}{$apt.date_of_birth} ({$apt.age})<br>
	{l}Balance: {/l}${if $apt.balance != ''}{$apt.balance}{else}0{/if}
</div></span>
{else}
	{* No use wasting time creating the ORDO before now. *}
	{php}$this->_tpl_vars['appointment'] =& Celini::newORDO('Appointment',$this->_tpl_vars['apt']['appointment_id']);{/php}
	<a href="javascript:void(0);" onclick="document.getElementById('grouppatients{$appointment->get('id')}').style.display='block';">{l}Group Appointment{/l}</a>
	<div id="grouppatients{$appointment->get('id')}" style="display:none;">
	{assign var=patients value=$appointment->getChildren('Patient')}
	{if $patients->count() > 0}
		{while $patients->valid()}
		{assign var=p value=$patients->current()}
<a href="{link action='View' controller='PatientDashboard'}patient_id={$p->get('id')}"  onmouseover="document.getElementById('eventPop{$appointment->get('event_id')}-{$p->get('id')}').style.display='block';" onmouseout="document.getElementById('patientPop{$appointment->get('event_id')}-{$p->get('id')}').style.display='none';">{$p->value('patient')}</a> 
<span style="margin-left:5px;">
<div style="display:none; margin-left: 5px" id="patientPop{$appointment->get('event_id')}-{$p->get('id')}">
	{l}Phone: {/l}{formatPhoneNumber number=$p->value('phone')}<br>
	{l}DOB: {/l}{$p->value('date_of_birth')}<br>
	{l}Balance: {/l}{$p->value('balance')}
</div>
</span>
		{assign var=p value=$patients->next()}
		{/while}
	{else}
	{l}No patients in this appointment.{/l}
	{/if}
	</div>

{/if}
<br>
{l}Entered: {/l}{$apt.nickname} {l}on{/l} {$apt.created_date}<br>
{l}Last Change: {/l}{$apt.last_change_nickname} {l}on{/l} {$apt.last_change_date}
</div>
</div>
