<style>
{literal}
#popup_dialog .title {
        font-size: 10pt;
        font-weight:bold;
        border-bottom: solid 1px black;
        text-align: center;
        cursor: move;
}
{/literal}
</style>

<div class="title" id="title">Reschedule Appointments</div>
<div>
<fieldset>
{if $error}
<p>No further action can be taken do to the errors. <a href="#" onclick="close_popup();">Close</a></p>
{else}
<p>{$appCount} appointment(s) found to move.</p>
<p>They will be moved from provider <b> {$provider->get("first_name")} {$provider->get("last_name")} </b>to:</p>
	<p>Provider: {html_options id="new_provider_id" name="appointment[providerId]" options=$providerList}</p>
<br />
<p>
<input type="checkbox" value="1" id="copySchedule" />&nbsp;Copy Schedule
</p>
<br />
<p>
<input type="hidden" id="appIds" name="appIds" value="{$appList}">
<input type="hidden" id="scheduleIds" name="scheduleIds" value="{$scheduleList}">
                <input type='button' id="reschedule" value='Reschedule' onclick="confirm_reschedule('{$appList}');">
                <input type='button' id="confirm" value='Confirm' onclick="do_reschedule('{$appList}');" style="display:none;">
</p>
<br />
<div id="alertMessages" style="display:none;overflow:auto; height:200px;"></div>
</p>
{/if}
<p>
<br />
<a href="#" onclick="hidePopup();">close</a>
</p>
</fieldset>
