	<div width="100%" class="eventTitle" {if $short}style="display:none;"{/if} id="innerEvent{$appointment->get('event_id')}">
		{$appointment->get('start_time')|date_format:"%I:%M"} - {$appointment->get('end_time')|date_format:"%I:%M"} 
		{* #{$appointment->get('id')} *}
		{if $appointment->get('group_appointment') == 0 && $appointment->get('patient_id')}
			<a href="{link action='View' controller='PatientDashboard'}patient_id={$appointment->get('patient_id')}">{$appointment->patientValue('patient')}</a> 
			<br>
		{else}
			{* re implement group appointments, you get the list on a second popup *}
		{/if}
	</div>
	<div class="eventBody {if $appointment->get('patient_id')}element{/if}" id="{$appointment->get('id')}">
		<div id="appointmentstatus{$appointment->get('id')}" style="float: right; margin-right: 20px;">
		<small><b>{if $appointment->get('appointment_code') != 'NS'}{$appointment->value('appointment_code')}
		{else}{l}No-Show #{/l}
		{if $noshows > 10}10+{else}{$noshows+1}{/if}{/if}
		{if $appointment->hasEncounter()}Has Encounter
		{elseif $appointment->get('appointment_code') eq 'CFM' }Confirmed{/if}
</b></small></div>
		{$appointment->get('title')}<br>

{if $appointment->get('patient_id')}
		{l}Reason: {/l}{$appointment->value('reason')}<br>
{/if}
		{if $ev_edit}
			<a href="javascript:void(0);" onclick="editAppointment({$appointment->get('id')},'{$appointment->get('appointment_code')}');">edit</a>,
			<!--<a href="javascript:void(0);" onclick="deleteAppointment({$appointment->get('id')});">del</a>,--> 
			{if $appointment->get('patient_id')}
			<a href="javascript:void(0);" onclick="NSAppointment({$appointment->get('id')});">ns</a>, 
			<a href="javascript:void(0);" onclick="cancelAppointment({$appointment->get('id')});">can</a>,
			<a href="javascript:void(0);" onclick="confirmAppointment({$appointment->get('id')});">cfm</a>
			{if $appointment->get('group_appointment') == 0},
				<a href="{link action="Edit" controller="Encounter" defaultArg="0"}appointment_id={$appointment->get('id')}&patient_id={$appointment->get('patient_id')}">enc</a>
				{if $Celini->config_get("calendar:showPayLink")}
				, <a href="javascript:paymentPopup({$appointment->get('id')},{$appointment->get('patient_id')});">pay</a>
				{/if}
				{if $Celini->config_get("calendar:showArrivalLink")},
<a style="{if $appointment->get('arrived') > 0}text-decoration:line-through;{/if}" href="javascript:void(0);" onclick="HTML_AJAX.call('crouting','ajaxStationFromAppointment',null,{$appointment->get("appointment_id")});this.style.textDecoration = 'line-through';">arr</a>
{/if}
				{/if}
			{/if}
		{/if}
<br>

		{l}Updated: {/l}{$appointment->value('last_change_nickname')}, {$appointment->value('last_change_date')}
		<div></div><a href="#info" onclick="toggleInfoBox(this,{$appointment->get('id')})" class="elementLink">{clni_img name="stock/information.gif"}</a>
	</div>
