{strip}{assign var='noshows' value=$appointment->checkNoShows(11)}
<div id="event{$appointment->get('event_id')}oldheightholder" style="display:none;"></div>
<div id="event{$appointment->get('event_id')}newheightholder" style="display:none;"></div>
<div class="event calendarEvent{$appointment->get('provider_id')}" id="event{$appointment->get('event_id')}" style="{if $short}width:15px;height:{$height}px;{/if}overflow:hidden;{$eventcss}"
	onmouseover="expandAppointment({$appointment->get('event_id')},this);"
	onmouseout="shrinkAppointment(event, {$appointment->get('event_id')},this);"
	>
<script>
	//HTML_AJAX_Util.registerEvent(document.getElementById('event{$appointment->get('event_id')}'), 'mouseout', 'shrinkAppointmentHandler');
</script>
{include file="appointment/general_innerappointment.html"}
</div>
{/strip}

