<script type='text/javascript' src='{$base_dir}jpspan_server.php?client'></script>
<SCRIPT type='text/javascript' src="{$base_dir}js/autocomplete.js"></script>
{literal}
<script language="javascript">
function captureEnter (field, event) {
		var keyCode = event.keyCode ? event.keyCode : event.which ? event.which : event.charCode;
		if (keyCode == 13) {
			var i;
			for (i = 0; i < field.form.elements.length; i++)
				if (field == field.form.elements[i])
					break;
			i = (i + 1) % field.form.elements.length;
			field.form.elements[i].focus();
			return false;
		} 
		else
		return true;
	}      

</script>
{/literal}

{clni_form action=$FORM_ACTION}
<input type='hidden' name='process' value="{$PROCESS}">
<table>
	<tr>
		<td><label>{l}Date Range{/l}:</label></td>
		<td>{clni_input_date name="Search[from]" value=$search.from format_popup="%Y-%m-%d"} to {clni_input_date name="Search[to]" value=$search.to format_popup="%Y-%m-%d"}</td>
	</tr>
	<tr>
		<td><label>{l}Provider{/l}:</label></td>
		<td><select name="Search[provider]"><option></option>{html_options options=$providers selected=$search.provider}</select>
		<input type="checkbox" name="Search[find_first]" value="1" onchange="if(this.checked) document.getElementById('searchamount').style.display='inline';" {if $search.find_first eq 1}checked{/if}>&nbsp;{l}find first{/l} <div id="searchamount"  {if $search.time_amount == '' && $search.find_first != 1}style="display:none;"{else}style="display:inline;"{/if}><input type="text" name="Search[time_amount]" value="{$search.time_amount}"> {l}Amount of time (HH:MM OR MM){/l}</div>
		</td>
	</tr>
	<tr>
		<td><label>{l}Patient{/l}:</label></td>
		<td>
			<input TYPE="hidden" name="Search[patient_id]"  id="patient_id" value="{if $search.patient != ''}{$search.patient_id}{/if}">
			<input TYPE="text" onkeypress="return captureEnter(this, event)" CLASS="input_text" 
			name="Search[patient]" id="patient" SIZE="20" autocomplete="off" value="{$search.patient}">
			<div id="acDiv" style="border: 1px solid black; background-color: white; z-index: 20; visibility: hidden;"
				><div class="AutoCompleteBackground"></div></div>
		</td>
	</tr>
	<tr>
		<td><label>{l}Facility{/l}:</label></td>
		<td><select name="Search[facility]"><option></option>{html_options options=$facility selected=$search.facility}</select></td>
	</tr>
	<tr>
		<td><label>{l}Reason{/l}:</label></td>
		<td><input name="Search[reason]" value="{$search.reason}"></td>
	</tr>
	<tr>
		<td><label>{l}Schedule Code{/l}:</label></td>
		<td><input name="Search[schedule_code]" value="{$search.schedule_code}"></td>
	</tr>
	<tr>
		<td></td>
		<td><input type="submit" value="Search"></td>
	</tr>
	</table>
</form>
{if $ts}{* from findFirst *}
<a href="{link controller='CalendarDisplay' action='Day'}date={$date}">{$usadate}</a> <a href="{link controller='CalendarDisplay' action='Day'}date={$date}&start_time={$start_time}&end_time={$end_time}">{l}Schedule Appointment{/l}</a>
{/if}
{literal}
<script language="javascript">
function setupAutoComplete(){
	var ac = new AutoComplete(
	C_PatientFinder,
	    'patient',
	    'patient_id',
	    'acDiv',
	    true,
	    325
	);
}
var C_PatientFinder = function find_remoting(searchString) {
        var h = new c_patientfinder(this.dataHandler);
        h.Sync();
                                                                                
        var results = h.find_remoting(searchString);
        return results;
}

setupAutoComplete();
</script>
{/literal}

<hr>
{if $free_time}
	{foreach from=$free_time  item=time}
	<p><a href="{$APPOINTMENT_ACTION}date={$time|date_format:"%m/%d/%Y"}&start={$time|date_format:"%H:%M"}&end={$time+900|date_format:"%H:%M"}">{$time|date_format:"%m/%d/%Y"} from {$time|date_format:"%H:%M"} to {$time+900|date_format:"%H:%M"}</a></p>
	{/foreach}

{else}
{foreach from=$events key=time item=data}
<h3>{$time|date_format:"%a, %b %d"}</h3>
	{foreach from=$data item=interval}
		{foreach from=$interval item=ev}
			{assign var=ev_edit value=1}
			{include file="calendar/general_appointment_inline_search_results.html"}
		{/foreach}
	{/foreach}
{/foreach}
{/if}

{$searchresults}