{clni_form action=$FORM_ACTION}
<input type='hidden' name='process' value="{$PROCESS}">
<table>
	<tr>
		<td><label>{l}Date Range{/l}:</label></td>
		<td>{clni_input_date name="Search[from]" value=$search.from format_popup="%Y-%m-%d"} to {clni_input_date name="Search[to]" value=$search.to format_popup="%Y-%m-%d"}</td>
	</tr>
	<tr>
		<td><label>{l}Provider{/l}:</label></td>
		<td><select id="ffprovider" name="Search[provider]"><option></option>
{if $default_provider}
{html_options options=$providers selected=$default_provider}
{else}
{html_options options=$providers selected=$search.provider}
{/if}
</select>

		<input id="findfirst" type="checkbox" name="Search[find_first]" value="1" onchange="if(this.checked) document.getElementById('searchamount').style.display='inline';" {if $search.find_first eq 1}checked{/if}>
&nbsp;{l}find first{/l} <div id="searchamount"  {if $search.time_amount == '' && $search.find_first != 1}style="display:none;"{else}style="display:inline;"{/if}><input id="ffamount" type="text" name="Search[time_amount]" value="{$search.time_amount}"> {l}Amount of time (HH:MM OR MM){/l}</div>
		</td>
	</tr>
	<tr>
		<td><label>{l}Patient{/l}:</label></td>
		<td>
		{if is_object($patient) && $patient->get('person_id') > 0}
		{$patient->get('first_name')} {$patient->get('last_name')}
		<input type="hidden" name="Search[patient_id]" id="aePatientId" value="{$patient->get('id')}">
		{else}
		<input type="hidden" name="Search[patient_id]" id="aePatientId" value="{$search.patient_id}">
		<div class="SuggestInput">
		{clni_img name="stock/stock_person-10.png"}
		<input type="text" autocomplete="off" name="Search[patient]" id="aePatientName" value="{$search.patient}">
		</div>
		{literal}
		<script type="text/javascript">
			var ps = new patientSuggest('aePatientName','aePatientId');
		</script>
		{/literal}
		{/if}
		</td>
	</tr>
	<tr>
		<td><label>{l}Facility{/l}:</label></td>
		<td>
		<select name="Search[facility]"><option></option>
		{html_options options=$facility selected=$search.facility}
		</select></td>
	</tr>
	<tr>
		<td><label>{l}Reason{/l}:</label></td>
		<td><input name="Search[reason]" value="{$search.reason}"></td>
	</tr>
	<tr>
		<td><label>{l}Schedule Code{/l}:</label></td>
		<td><input name="Search[schedule_code]" value="{$search.schedule_code}"></td>
	</tr>
	<tr>
		<td></td>
		<td><input type="submit" value="Search"></td>
	</tr>
	</table>
</form>
{foreach from=$appLinks item=link}
{$link}<br />
{/foreach}
{literal}
<script language="javascript">
function expandAppointment() {
}
function shrinkAppointment() {
}
function clni_validate(form) {
	if(document.getElementById('findfirst').checked) {
		err = '';
		if(document.getElementById('ffamount').value == '') {
			err += "You must enter an amount of time.\n";
		}
		if(document.getElementById('ffprovider').value < 1) {
			err += "You must select a provider.\n";
		}
		if(err != '') {
			alert(err);
			return false;
		}
	}
	return true;
}
</script>
{/literal}

<hr>
{if $free_time}
	{foreach from=$free_time  item=time}
	<p><a href="{$APPOINTMENT_ACTION}date={$time|date_format:"%m/%d/%Y"}&start={$time|date_format:"%H:%M"}&end={$time+900|date_format:"%H:%M"}">{$time|date_format:"%m/%d/%Y"} from {$time|date_format:"%H:%M"} to {$time+900|date_format:"%H:%M"}</a></p>
	{/foreach}

{else}
{foreach from=$events key=time item=data}
<h3>{$time|date_format:"%a, %b %d"}</h3>
	{foreach from=$data item=interval}
		{foreach from=$interval item=ev}
			{assign var=ev_edit value=1}
			{include file="calendar/general_appointment_inline_search_results.html"}
		{/foreach}
	{/foreach}
{/foreach}
{/if}

{$searchresults}
