{clni_form action=$FORM_ACTION process=$PROCESS}
<table>
	<tr>
		<td><label>Start: </label></td>
		<td>{$start}</td>
	</tr>
	<tr>
		<td><label>Duration: </label></td>
		<td>{math equation="floor(x / 60)" x=$duration} hours {math equation="x % 60" x=$duration} minutes</td>
	</tr>
	<tr>
		<td><label>Appointment Title: </label></td>
		<td>{$title}</td>
	</tr>
</table>
<h3>Patients</h3>
<INPUT TYPE="hidden" name="external_id" id="patient_id">
<INPUT TYPE="text" onkeypress="return captureEnter(this, event)" CLASS="input_text" name="patient_name" id="patient_name" SIZE="20" autocomplete="off">
<button onclick="addPatient(); return false;">Add Patient</button>
<div id="acDiv" style="border: 1px solid black; background-color: white; z-index: 20; visibility: hidden;"><div class="AutoCompleteBackground"></div></div>


<div id="storage">
</div>

<table id="patientList" class="grid">
	{foreach from=$patientList item=patient}
	<tr>
		<td>{$patient.name}</td>
		<td>
			<a href='#' onclick='deletePatient({$patient.id},this.parentNode.parentNode)'>Remove</a>
			<a href='{$ENCOUNTER_ACTION}patient_id={$patient.id}'>Enc</a>
		</td>
	</tr>
	{/foreach}
</table>

<input type="submit" value="Submit Patient List Changes" id="submit" {if count($patientList) == 0}DISABLED{/if}>

</form>


<script type='text/javascript' src='{$base_dir}jpspan_server.php?client'></script>
<SCRIPT type='text/javascript' src="{$base_dir}js/autocomplete.js"></script>
{literal}
<script language="javascript">
	function captureEnter (field, event) {
		var keyCode = event.keyCode ? event.keyCode : event.which ? event.which : event.charCode;
		if (keyCode == 13) {
			var i;
			for (i = 0; i < field.form.elements.length; i++)
				if (field == field.form.elements[i])
					break;
			i = (i + 1) % field.form.elements.length;
			field.form.elements[i].focus();
			return false;
		} 
		else
		return true;
	}      

function addPatient() {
	var name = document.getElementById('patient_name').value;
	var id = document.getElementById('patient_id').value;
	if (id == '') {
		return;
	}

	if (!patientList[id]) {
		patientList[id] = true;
		patientList.count++;
	}
	else {
		document.getElementById('patient_name').value = '';
		document.getElementById('patient_id').value = '';
		return;
	}

	document.getElementById('storage').innerHTML += "<input type='hidden' name='patient["+id+"]' value=1>";

	document.getElementById('patientList').innerHTML += "<tr><td>"+name+"</td><td><a href='#' onclick='deletePatient("+id+",this.parentNode.parentNode)'>Remove</a></td></tr>";

	document.getElementById('patient_name').value = '';
	document.getElementById('patient_id').value = '';

	document.getElementById('submit').disabled = false;
}
function deletePatient(id,row) {
	document.getElementById('storage').innerHTML += "<input type='hidden' name='patient["+id+"]' value=0>";
	row.parentNode.removeChild(row);
	delete patientList[id];
	patientList.count--;

	if (patientList.count == 0) {
		document.getElementById('submit').disabled = true;
	}
}

var C_PatientFinder = function find_remoting(searchString) {
        var h = new c_patientfinder(this.dataHandler);
        h.Sync();
                                                                                
        var results = h.find_remoting(searchString);
        return results;
}

var ac = new AutoComplete(
	C_PatientFinder,
    'patient_name',
    'patient_id',
    'acDiv',
    true,
    325
);
{/literal}
var patientList = new Object();
{foreach from=$patientList item=patient}
patientList[{$patient.id}] = true;
{/foreach}
patientList.count = {$patientListCount};
</script>
