	<div id="tree"></div>
	
	<script type="text/javascript">
	
	var tree = '';

	function treeInit() {lcb}
		tree = new YAHOO.widget.TreeView("tree");
		buildTextNodeTree();
	{rcb}

	function buildTextNodeTree() {lcb}
		var root = tree.getRoot();
		var currNode = 0;
	    var node = root;
		{foreach from=$tree item='node'}
			{if $node.level == 1}
				{if $node.href === false}
					var dataHref = '';
				{elseif $node.href == ''}
					var dataHref = "javascript:HTML_AJAX.replace('dsContent','{link action="openfolder" controller="DocSmart" defaultArg=$node.tree_id pageType=""}')";
				{else}
					// using supplied
					var dataHref = "{$node.href}";
				{/if}
				var data = {lcb}
			
					id: "n{$node.tree_id}",
					label: "{$node.label}",
					node_id: "{$node.node_id}",
					href: dataHref
				{rcb}	
				node = new YAHOO.widget.TextNode(data, root, {if $node.expanded}true{else}false{/if});
			{elseif $node.level > 1}
				{if $node.href === false}
					var dataHref = '';
				{elseif $node.href == ''}
					var dataHref = "javascript:HTML_AJAX.replace('dsContent','{link action="openfolder" controller="DocSmart" defaultArg=$node.tree_id pageType=""}')";
				{else}
					var dataHref = {$node.href};
				{/if}
				var data = {lcb}
					id: "n{$node.tree_id}",
					node_id: "{$node.node_id}",
					label: "{$node.label}",
					href: dataHref
				{rcb}
				{if $node.level > $currLevel}
					node = new YAHOO.widget.TextNode(data, node, {if $node.expanded}true{else}false{/if});
				{elseif $node.level == $currLevel}
					node = new YAHOO.widget.TextNode(data, node.parent, {if $node.expanded}true{else}false{/if});
				{else}
					node = new YAHOO.widget.TextNode(data, node.parent.parent, {if $node.expanded}true{else}false{/if});
				{/if}	
			{/if}
			{assign var="currLevel" value=$node.level}
		{/foreach}	
		tree.draw();		
	{rcb}
	
	treeInit();
	</script>	
