{literal}
<script type="text/javascript">
	function updateRow(input) {
		var row = input.parentNode.parentNode;
		var match = input.name.match(/bill\[(.+)\]\[(.+)\]/);
		var code = match[1];
		var type = match[2];

		var amountNode 		= row.cells[1].firstChild;
		var currentPaidNode 	= row.cells[2].firstChild;
		var currentWriteoffNode	= row.cells[3].firstChild;
		var paidNode		= row.cells[4].firstChild;
		var carryNode 		= row.cells[5].firstChild;
		var writeoffNode	= row.cells[6].firstChild;

		var amount = amountNode.nodeValue - currentPaidNode.nodeValue - currentWriteoffNode.nodeValue;
		var paid = paidNode.value;
		var carry = carryNode.value;
		var writeoff = writeoffNode.value;

		if (paid > amount) {
			paid = amount;
			paidNode.value = Math.round(paid*100)/100;
		}
		if (carry > amount) {
			carry = amount;
			carryNode.value = Math.round(carry*100)/100;
		}
		if (writeoff > amount) {
			writeoff = amount;
			writeoffNode.value = Math.round(writeoff*100)/100;
		}

		if (type == "paid" || type == "writeoff") {
			// update carry value
			carry = amount - paid - writeoff;

			if (carry < 0) {
				if (type == "paid") {
					paid = amount-writeoff;
					paidNode.value = Math.round(paid*100)/100;
				}
				if (type == "writeoff") {
					writeoff = amount-paid;
					writeoffNode.value = Math.round(writeoff*100)/100;
				}
				carry = 0;
			}

			carryNode.value = Math.round(carry*100)/100;
		}
		else if (type == "carry") {
			// update writeoff value
			writeoff = amount - paid - carry;
			if (writeoff < 0) {
				carry = amount-paid;
				carryNode.value = Math.round(carry*100)/100;
				writeoff = 0;
			}
			writeoffNode.value = Math.round(writeoff*100)/100;
		}
	}
</script>
{/literal}

<h2>{l}Record Payment for Claim{/l}: {$claim->get('identifier')}</h2>
<p>{l}Claim was created for encounter on{/l}: {$encounter->get('date_of_treatment')}</p>
<p>{l}Patient{/l}: {$patient->get('last_name')}, {$patient->get('first_name')}</p>

<h3 style="margin: 0px; padding:0px;">Payment History</h3>
{$paymentGrid->render()}
{if $paymentGrid->empty}
<p>{l}No Payments have been made{/l}</p>
{/if}

<br>
{clni_form action=$FORM_ACTION process=$PROCESS id="eobForm"}
<fieldset>
	<legend>{l}Make Payment{/l}</legend>

{if count($billList) > 0}
<table class="grid">
	<thead>
	<tr>
		<th>{l}Code{/l}</th>
		<th>{l}Amount{/l}<br>{l}Billed{/l}</th>
		<th>{l}Current{/l}<br>{l}Paid{/l}</th>
		<th>{l}Current{/l}<br>{l}Writeoff{/l}</th>
		<th>{l}Payment{/l}<br>{l}Amount{/l}</th>
		<th>{l}Carry{/l}</th
		><th>{l}Payment{/l}<br>{l}Writeoff{/l}</th>
	</tr>
</thead>
<tbody>
	{foreach from=$billList item=code}
	<tr>
		<td>{$code.description}<input type="hidden" name="bill[{$code.code}][code_id]" value="{$code.code_id}"></td>
		<td align="right">{$code.amount}</td>
		<td align="right">{$code.current_paid}</td>
		<td align="right">{$code.current_writeoff}</td>
		<td><input name="bill[{$code.code}][paid]" value="{$code.paid}" size=4 onchange="updateRow(this)"></td>
		<td><input name="bill[{$code.code}][carry]" value="{$code.carry}" size=4 onchange="updateRow(this)"></td>
		<td><input name="bill[{$code.code}][writeoff]" value="{$code.writeoff}" size=4 onchange="updateRow(this)"></td>
	</tr>
	{/foreach}
</tbody>
</table>

<table>
	<tbody>
	<tr>
		<td><label>{l}Date of Payment{/l}:</label></td>
		<td>{clni_input_date name="payment[payment_date]" value=$payment_date}</td>
	</tr>
	<tr>
		<td><label>{l}Payer{/l}:</label></td>
		<td><select name="payment[payer]">
				{html_options options=$payers}
			</select>
		</td>
	</tr>
	<tr>
		<td><label>{l}Note Type{/l}:</label></td>
		<td><select name="note[note_type]">{enum_options name="account_note_type"}</select></td>
	</tr>
	<tr>
		<td><label>{l}Notes{/l}:</label></td>
		<td><textarea name="note[note]" rows="3" cols="60"></textarea></td>
	</tr>
	<tr>
		<td></td>
		<td><input type="submit" value="Record Payment"></td>
	</tr>
</tbody>
</table>
<input type="hidden" name="note[claim_id]" value="{$claim->get('identifier')}">
{else}
<p>There are no codes to add payments on for this claim.</p>
{/if}
</fieldset>
</form>
