{if !$ajax}
<div id="eobInner">
{else}
{$messages->render()}
{/if}

<ul class="controllerMenu">
	<li><a href="{link controller='Encounter' action='edit' defaultArg=$encounter->get('encounter_id') }">back</a></li>
</ul>

<div style="clear:both;"></div>

<h2>{l}Record Payment for Claim{/l}: {$claim->get('identifier')}</h2>
<p>
<b>{l}Claim Date{/l}</b>: {$encounter->get('date_of_treatment')}  &nbsp;
<b>{l}Current Payer{/l}</b>: {$current_payer} &nbsp;
<b>{l}Patient{/l}</b>: {$patient->get('last_name')}, {$patient->get('first_name')}
</p>

<input type="hidden" id="claimId" value="{$claim->get('id')}">
<input type="hidden" id="rebillAction" value="{$REBILL_ACTION}">
<input type="hidden" id="billnextAction" value="{$BILLNEXT_ACTION}">

<h3 style="margin: 0px; padding:0px;">Payment History</h3>
{$paymentGrid->render()}
{if $paymentGrid->empty}
<p>{l}No Payments have been made{/l}</p>
{/if}

<br>
{clni_form action=$FORM_ACTION process=$PROCESS id="eobForm"}
<fieldset>
	<legend>{l}Make Payment{/l}</legend>

{if count($billList) > 0}
<table class="grid" id="codeTable">
	<thead>
	<tr>
		<th>{l}Code{/l}</th>
		<th>{l}Amount{/l}<br>{l}Billed{/l}</th>
		<th>{l}Current{/l}<br>{l}Paid{/l}</th>
		<th>{l}Current{/l}<br>{l}Writeoff{/l}</th>
		<th>{l}Payment{/l}<br>{l}Amount{/l}</th>
		<th>{l}Carry{/l}</th
		><th>{l}Payment{/l}<br>{l}Writeoff{/l}</th>
	</tr>
</thead>
<tbody>
	{foreach from=$billList item=code}
	<tr>
		<td>{$code.description}
		<input type="hidden" name="bill[{$code.coding_data_id}][code_id]" value="{$code.code_id}">
		<input type="hidden" name="bill[{$code.coding_data_id}][coding_data_id]" value="{$code.coding_data_id}">
		</td>
		<td align="right">{$code.amount}</td>
		<td align="right">{$code.current_paid}</td>
		<td align="right">{$code.current_writeoff}</td>
		<td><input name="bill[{$code.coding_data_id}][paid]" value="{$code.paid}" size=4 onkeyup="updateRow(this)"></td>
		<td><input name="bill[{$code.coding_data_id}][carry]" value="{$code.carry}" size=4 onkeyup="updateRow(this)"></td>
		<td><input name="bill[{$code.coding_data_id}][writeoff]" value="{$code.writeoff}" size=4 onkeyup="updateRow(this)"></td>
	</tr>
	{/foreach}
</tbody>
</table>

<div id="adjustmentList" style="width: 500px;   display: none;">
	<h3><a title="Hide Adjustment List" href='#hideadjustmentList' onclick="hideAdjustmentList()">Adjustments</a></h3>
	<div style="height: 400px; overflow:auto;">
	<table class="grid" id="adjustmentListTable">
		<thead>
			<tr>
				<th>Code</th><th>Adjustment</th><th>Amount</th>
			</tr>
		</thead>
		<tbody>
			{foreach from=$adjarray item='adjustment' name='adjustments'}
			<tr{if $smarty.foreach.adjustments.iteration % 2} class="alt"{/if}>
				<td>{$adjustment.code}</td>
				<td>{$adjustments[$adjustment.adjustment_type]->value}</td>
				<td>{$adjustment.value}</td>
			</tr>
			{/foreach}
		</tbody>
	</table>
</div>
</div>

<h3 id="adjustmentLink"><a title="Show All Adjustments" href='#showAdjustmentList' onclick="showAdjustmentList()">Adjustments</a></h3>
<table id="adjustmentTable" class="grid" style="display:none">
	<thead>
		<tr>
			<th>Applied To</th>
			<th>Type</th>
			<th>Value</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
<br>
<select id="adjCode"><option value="0">Payment</option>
	{foreach from=$codeList item='code'}
	<option value="{$code.coding_data_id}">{$code.code}</option>
	{/foreach}
</select>
<select id="adjType">
	{foreach from=$adjustments item='row'}
	<option value="{$row->key}">{$row->extra1}: {$row->value|truncate:30:" ...":true}</option>
	{/foreach}
</select>
<input id="adjValue" size=10>
<button onclick="return addAdjustment()">Add Adjustment</button>
<br>


<table>
	<tbody>
	<tr>
		<td><label>{l}Date of Payment{/l}:</label></td>
		<td>{clni_input_date name="payment[payment_date]" value=$payment_date}</td>
	</tr>
	<tr>
		<td><label>{l}Payer{/l}:</label></td>
		<td><select name="payment[payer]">
				{html_options options=$payers selected=$encounter->get('current_payer')}
			</select>
{if $nopatientpaymentplans}
<br />	<a href="#newplan" onclick="document.getElementById('newPaymentPlan').style.display='block';">{l}New Patient Payment Plan{/l}</a>
{/if}
		</td>
	</tr>
	<tr>
		<td><label>{l}Payment Type{/l}:</label></td>
		<td>
			{html_options name=payment[payment_type]  options=$payment->getPaymentTypeList() 
				selected=$payment->get('payment_type') onchange="show_ref_num(this.options[this.selectedIndex].text);"}
			<label class="inline">Title:</label> <input name="payment[title]" size="8" type="text" value="{$payment->get("title")}"> 
			<label class="inline" id="chk_num_label">{l}Chk #{/l}</label>
			<input name="payment[ref_num]" size="4" type="text" value="{$payment->get("ref_num")}"  id="chk_num_input">
		</td>
	</tr>
	<tr>
		<td><label>{l}Note Type{/l}:</label></td>
		<td><select name="note[note_type]">{enum_options name="account_note_type"}</select></td>
	</tr>
	<tr>
		<td><label>{l}Notes{/l}:</label></td>
		<td><textarea name="note[note]" rows="3" cols="60"></textarea></td>
	</tr>
	<tr>
		<td></td>
		<td style="white-space:nowrap;">
			<input type="submit" id="submit" value="Record Payment"> <button onclick="return rebillSelfPay()" id="rebill">Rebill as Self Pay</button>
			{if $encounter->get('next_payer_id') > 0 }
			{assign var=nextpayer value=$encounter->get('next_payer')}
			<button onclick="return rebillNextPayer()" id="rebillnext">Rebill To Next Payer ({$nextpayer->value('fullname')})</button>
			{/if}
		</td>
	</tr>
</tbody>
</table>
<input type="hidden" name="note[claim_id]" value="{$claim->get('identifier')}">
{else}
<p>There are no codes to add payments on for this claim.</p>
{/if}
</fieldset>
</form>
<a name='newplan'></a>
<div id="newPaymentPlan" style="display:none;">
{clni_form action=$FORM_ACTION process='generic' id="pppForm"}

{include file="patientpaymentplan/general_paymentplan.html"}
</form>
</div>
{if !$ajax}
</div>
{/if}
