<form id="bulkDelete" name="bulkDelete" action="{link action="removestorable" controller="DocSmartStorable" pageType=""}" method="POST" onsubmit="return doRemoveStorables(this)">
	{$grid->render()}
<br />
{if !$grid->empty}
<input type="submit" name="submit" value="Bulk Print" onclick="return doBulkPrint(this, '{link action="merge" controller="DocSmart" pageType=""}')" />	
	{if !$hidedelete}
	&nbsp;
	&nbsp;
	<input type="submit" name="submit" value="Bulk delete" />	
	{/if}
{else}	
	There are no storables
{/if}	
</form>
