<div id="dsBody">
	<div id="dsHeader">
		<form action="{link action="search" controller="DocSmartStorable" pageType=""}" method="post" id="searchForm" onsubmit="return !HTML_AJAX.formSubmit(this,'dsContent')">
			<fieldset>
				<legend>Search form</legend>
				<label for="query">Search:</label> <input type="text" id="query" name="query" value="" /><br />
				<!-- search by: <input type="checkbox" id="searchBy[name]" name="searchBy[name]" value="1" checked /> file name
				<input type="checkbox" id="searchBy[tag]" name="searchBy[tag]" value="1"  checked /> tags -->
			</fieldset>
		</form>
	</div>

	<iframe name="uploadTarget" id="uploadTarget"></iframe>	
	<iframe name="downloadTarget" id="downloadTarget" src="{link action="merge" controller="DocSmart" pageType=""}"></iframe>	
	
	<div id="treeMenu">
		<h2>Folders</h2>
		{$treeView}
	<br />
	<a href="javascript:void(0);" onclick="HTML_AJAX.replace('dsContent','{link action="addfolder" controller="DocSmart" pageType=""}');">Add New Folder</a>		
	<div id="dsTags">
		<h2>Tags</h2>
		{$tagView}
	</div>
	</div>

	<div id="dsContent">
		{include file='docsmart/general_flash.html'}
		{$content_for_layout}
	</div>	

</div>
