<h2>{$folder.label}</h2>
<br /><br />
{include file="docsmart/general_storable_list.html" grid=$storableListGrid}
<br />
<br />
{$storableForm}
<br />
<a href="{link action="remove" controller="DocSmartFolder" defaultArg=$folder.tree_id pageType=""}process=true" onclick="if(confirm('Do you realy want delete this folder?')) return true; else return false;">Remove Current Folder</a> |
{literal}
<a href="javascript:void(0);" onclick="showForm('edit');">Edit Current Folder</a> |
<a href="javascript:void(0);" onclick="showForm('add');">Add child Folder</a>
{/literal}
<br /><br />
{include file="docsmart/general_folder_form.html"}
<br />
