{new_auto_form id='edit' object=$form action=$FORM_ACTION array="form" process=$PROCESS}
{add_field type="file" id="edit" label="upload_form"}
{show_auto_form id='edit'}

<p><a href="{$VIEW_ACTION}">View form Data</a><p>

<h3 style="margin-top: 4em;">Form Demo:
{if $form->fileExists()}
 [<a href="{$DOWNLOAD_ACTION}">Download Current Form</a>]
{/if}</h3>
<div style="margin: 4em; border: solid 3px black; padding: 1em; margin-top: 0px;">
	{if $form->fileExists()}
	{include file=$form->get('file_path')}
	{else}
	<p>Upload a form to see a demo</p>
	{/if}
</div>
