{literal}
<script type="text/javascript" language="JavaScript">
<!--
function updateName(title) {
	var val = title.value;
	document.getElementById('form__system_name').value = val.replace(/ /g,"_").toLowerCase();
}
-->
</script>
{/literal}

{clni_form object=$form action=$FORM_ACTION process=$PROCESS}
<table><input type='hidden' name="form[form_id]" value="{$form->get('id')}"><tr>
	<td><label>Name:</label> </td>
	<td><input type='text' id='form__name' name='form[name]' value="{$form->name}" onkeyup="updateName(this)"></td></tr>
<tr>
	<td><label>System name:</label> </td>
	<td><input type='text' id='form__system_name' name='form[system_name]' value="{$form->system_name}"></td></tr>
<tr>
	<td><label>Description:</label> </td>
	<td><textarea id='form__description' name='form[description]' >{$form->description}</textarea></td></tr>
<tr>
	<td><label>Upload form:</label> </td>
	<td><input type='file' id='form__upload_form' name='form[upload_form]' value=""></td></tr>
<tr><td></td><td>
{if $form->id > 0}
<input type='submit' value='Update'>
{else}
<input type='submit' value='Add'>

{/if}

</td></tr>
</table></form>

<p><a href="{$VIEW_ACTION}">{l}View form Data{/l}</a><p>

<h3 style="margin-top: 4em;">Form Demo:
{if $form->fileExists()}
 [<a href="{$DOWNLOAD_ACTION}">{l}Download Current Form{/l}</a>]
{/if}</h3>
<div style="margin: 4em; border: solid 3px black; padding: 1em; margin-top: 0px;">
	{if $form->fileExists()}
	{include file=$form->get('file_path')}
	{else}
	<p>{l}Upload a form to see a demo{/l}</p>
	{/if}
</div>
