{new_auto_form id='form' object=$form action=$FORM_ACTION process=$PROCESS}
{add_field type="file" id="form" label="upload_form"}
{show_auto_form id='form'}

<p><a href="{$VIEW_ACTION}">{l}View form Data{/l}</a><p>

<h3 style="margin-top: 4em;">Form Demo:
{if $form->fileExists()}
 [<a href="{$DOWNLOAD_ACTION}">{l}Download Current Form{/l}</a>]
{/if}</h3>
<div style="margin: 4em; border: solid 3px black; padding: 1em; margin-top: 0px;">
	{if $form->fileExists()}
	{include file=$form->get('file_path')}
	{else}
	<p>{l}Upload a form to see a demo{/l}</p>
	{/if}
</div>
