<form action='{$base_uri}index.php/Graph/add/{$externalId}' id="ajaxFormGraphDefinition" method="post">
<fieldset>
	<legend>Visualizations</legend>
	{$graphGrid->render()}
<br />
<table class="grid">
<tr>
	<th>Title</th><th>Width</th><th>Height</th><th>Plot Area</th><th>Type</th><th>Queries</th>
</tr>
<tr>
	<td><input type="text" size="10" name="graphDefinition[title]"></td>
	<td><input type="text" size="3" name="graphDefinition[width]"></td>
	<td><input type="text" size="3" name="graphDefinition[height]"></td>
	<td><input type="text" size="15" name="graphDefinition[plot_area]"></td>
	<td><input type="text" size="15" name="graphDefinition[type]"></td>
	<td><input type="text" size="35" name="graphDefinition[querylinks]"></td>
</tr>
</table>
<script>
{literal}
function formSubmit() {
	HTML_AJAX.formSubmit('ajaxFormGraphDefinition');
}
{/literal}
</script> 
<input type="button" onClick="formSubmit();" value="Add Visualization" />
<input type="submit">
<input type="hidden" name="process" value="true" />
</fieldset>
</form>
