<form action="{$FORM_ACTION}" name="maiden" method="post">
<fieldset>
	<legend>Referral Visit</legend>
	<table>
		<tr>
			<td width="49%" valign="top">
			{if $visitInfo != false}
			<fieldset>
				<legend>Background Information</legend>
				{$visitInfo}
			</fieldset>
			{/if}

			</td>
			
			<td width="49%" valign="top">
				<fieldset>
					<legend>Referral Visit Information</legend>
					
					<table>
						<tr>
							<td>Referral Visit Date</td>
							<td>{$appointment->get('date')}</td>
						</tr>
						
						<tr>
							<td>Referral Program</td>
							<td>{$refProgram->get('name')}</td>
						</tr>

						<tr>
							<td valign="top">Name of Practice</td>
							<td>
								<div>{$practice->get('name')}</div>
								<div>{$location->get('appointment_number')}</div>
							</td>
						</tr>
						
						<tr>
							<td>Name of Specialist</td>
							<td>{$provider->get('full_name')}</td>
						</tr>
						
						<tr>
							<td valign="top">Speciality</td>
							<td>{$specialties|nl2br}</td>
						</tr>
						
						<tr>
							<td colspan="2">
								{$diagnosisDisplay}
							</td>
						</tr>
					</table>
				</fieldset>
			</td>
		</tr>
	</table>
</fieldset>

<fieldset>
	<legend>Lab Results</legend>
	<fieldset>
		<legend>Add New Lab Results</legend>
		<div align="center">{$labTestDisplay}</div>
	</fieldset>
	
	{if !$existingLabResults->empty}
	<fieldset>
		<legend>Existing Lab Results</legend>
		<div align="center">{*$existingLabResults->render()*}</div>
	</fieldset>
	{/if}
</fieldset>

</form>
