<fieldset>
	<legend>Lab Results</legend>
	<fieldset>
		<legend>Add New Lab Results</legend>
		<div align="center">{$labTestDisplay}</div>
	</fieldset>
	
	{if !$existingLabResults->empty}
	<fieldset>
		<legend>Existing Lab Results</legend>
		<div align="center">{$existingLabResults->render()}</div>
	</fieldset>
	{/if}
</fieldset>
<br />
<br />
<br />
<br />
<br />
<br />
<input type="button" onclick="location.href='{$requestUrl}';" class="button" onmouseover="click(this)" onmouseout="click(out)" value="Back to Request" />
