<table>
	<tr>
		<td>Date of treatment:</td>
		<td>{$visit->get('date_of_visit')}</td>
	</tr>
	
	<tr>
		<td>Referring Practice Location:</td>
		<td>{if $visitLocation}{$visitLocation}{else}{$visit->get('clinic_name')}{/if}</td>
	</tr>

	<tr>
		<td>Reason:</td>
		<td>{$visit->get('reason')}</td>
	</tr>
	
	<tr>
		<td>Primary Provider:</td>
		<td>{$visit->get('provider_name')}</td>
	</tr>
	
	<tr>
		<td colspan="2">ICD:</td>
	</tr>
	<tr>
		<td colspan="2" style="padding-left:15px;">
		{foreach from=$visit->get('diagnoses') item=diagnosis}
			{$diagnosis}
		{/foreach}
		</td>
	</tr>
	
	<tr>
		<td colspan="2">CPT:</td>
	</tr>
	<tr>
		<td colspan="2" style="padding-left:15px;">
		{foreach from=$visit->get('procedures') item=procedures}
			{$procedures}
		{/foreach}
		</td>
	</tr>
</table>
