<form name="login" method="post" action="{$FORM_ACTION}">
 <table width="100%"  border="0" cellspacing="0" cellpadding="8">
            <tr>
              <td><h1>Login</h1>
                  <h2>Enter your username and password to access the system</h2>
		<table>
		<tr>
		<td><p>Username:</p> </td>
		<td><p><input type="text" size="30" value="{$username}" name="username"></p></td>
		</tr>
		<tr>
		<td><p>Password:</p> </td>
		<td><p><input type="password" size="30" name="password"></p></td>
		</tr>
		<tr>
		<td colspan="2"><input type="submit" name="submit" value="Login"></td>
		</tr>
		</table>	
	      </td>
            </tr>
          </table>
<input type="hidden" name="process" value="{$PROCESS}">
</form>
