<fieldset>
	<legend>Patient Information</legend>
	
	<table cellpadding="3" cellspacing="0" border="0">
		<tr>
			<td>Name:</td>
			<td>{$patient->get('full_name')}</td>
		</tr>
		
		<tr>
			<td>Address:</td>
			<td>{$patient->get('print_address')}</td>
		</tr>
		
		<tr>
			<td>Phone Number:</td>
			<td>{$patient->get('phone_number')}</td>
		</tr>
		
		<tr>
			<td>Date of Birth:</td>
			<td>{$patient->get('date_of_birth')}</td>
		</tr>
		
		<tr>
			<td>CHL ID:</td>
			<td>{$patient->get('chl_id')}</td>
		</tr>
	</table>
</fieldset>

