{foreach from=$widgets item=widget}
<div class="critical_item">
<fieldset>
	<legend>{$widget.name} {if $widget.form_add_link}(<a href="{$widget.form_add_link}">add</a>){/if}{if $widget.form_list_link}(<a href="{$widget.form_list_link}">list</a>){/if}{if $widget.form_edit_link}(<a href="{$widget.form_edit_link}">edit</a>){/if}</legend>
<div style="{if $widget.width}width:{$widget.width};{else}width:200px;{/if} {if $widget.height}height:{$widget.height};{else}height: 150px;{/if} clear: both; ">
	{if $widget.grid}{$widget.grid}{else}No form data present.{/if}
</div>
</fieldset>
</div>
{/foreach}


