<div style='text-align:left;'>
	<h1 class="subtitle">Add Referral Request:</h1>
</div>
<div style="text-align:center;">
<form action="{$FORM_ACTION}" method="get" target="_top">
	<div class="inline">
		Program 
		<select name="program_id">
			{html_options options=$programArray}
		</select>
	</div>
	
	<div class="inline">
		Select Clinic Visit
		<select name="visit_id">
			{html_options options=$visitList->latestVisit()}
			<option value="NULL"></option>
			{html_options options=$visitList->toArray()}
		</select>
	</div>
	
	<div class="inline">
		<input type="hidden" name="u" value="{$u}" />
		<input type="hidden" name="patient_id" value="{$patient_id}" />
		<input type="hidden" name="initiator_id" value="{$initiator_id}" />
		<input type="submit" class="button" onmouseover="hover(this)" onmouseout="hover(this)" value="Add Referral Request" />
	</div>
</form>
</div>
