<form action="{$FORM_ACTION}" method="post">
	<table>
		<tr>
			<td colspan="2" align="center" style="padding:3px;">
			</td>
		</tr>
		<tr>
			<td>Request Date</td>
			<td>{$request->get('date')|date_format:'%B %e, %Y'}	</td>
		</tr>
		<tr>
			<td>Clinic Location</td>
			<td>
			{if $requester}
				{$requester->value('clinicName')}
			{else}
				{if $visitInfo}
				{$visitLocation}
				{else}
				N/A
				{/if}
			{/if}
			</td>
		</tr>
		<tr>
			<td>Office Visit Fee</td>
			<td>${$fplData->extra1}</td>
		</tr>
		<tr>
			<td>Procedure Fee</td>
			<td>${$fplData->extra2}</td>
		</tr>
		<tr>
			<td>Specialist Needed</td>
			<td>
				{$request->get('refSpecialty')}
			</td>
		</tr>
		
		<tr>
			<td>Translator Needed</td>
			<td>
				{$request->get('translator')}
			</td>
		</tr>
		
		<tr>
			<td>Transportation Needed</td>
			<td>
				{$request->get('transportation')}
			</td>
		</tr>
		
		<tr>
			<td>Requested Slot</td>
			<td>
				{$request->get('refRequested_day')}
				{$request->get('refRequested_time')}
			</td>
		</tr>
		
		{*todo fix eligibility display?<tr>
			<td colspan="2" align="right">
			{if $editReferralEligibility && $eligibilitySchema != 'Not Applicable'}
				<input type="submit" value="Save Eligibilty Changes"  class="button" onmouseover="hover(this)" onmouseout="hover(this)" />
			{/if}
				<input type="hidden" name="process" value="true" />
			</td>
		</tr>*}
		
		{if $mostRecentRequest->isPopulated()}
		<tr>
			<td>Most Recent Request</td>
			<td>
				{$mostRecentRequestAppointment->value('practice_name')}<br />
				{$mostRecentRequestAppointment->value('provider_name')}<br />
				{$mostRecentRequest->get('date')|date_format:'%B %e, %Y'}
			</td>
		</tr>
		{/if}
		<tr>
			<td colspan="2">
				<fieldset>
					<legend class="legend">Referral Assessment/Reason:</legend>
					{if $editTextFields}
						<textarea name="refRequest[reason]" style="width:100%;">{$request->get('reason')}</textarea><br />
						<input type="submit" value="Save" class="button" onmouseover="hover(this)" onmouseout="hover(this)" />
					{else}
						{$request->get('reason')}
					{/if}
				</fieldset>
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<fieldset>
					<legend class="legend">Brief History with Diagnosis and Results</legend>
					{if $editTextFields}
						<textarea name="refRequest[history]" style="width:100%;">{$request->get('history')}</textarea><br />
						<input type="submit" value="Save" class="button" onmouseover="hover(this)" onmouseout="hover(this)" />
					{else}
						{$request->get('history')}
					{/if}
				</fieldset>
			</td>
		</tr>
	</table>
</form>
