<fieldset>
	<legend>Referral Attachments</legend>
	<div id="attachmentGrid">
		{$documentList}
	</div>
	<a href="javascript:void(0)" onclick="HTML_AJAX.grab('{$UPLOAD_ACTION}',function(result) {lcb} HTML_AJAX_Util.setInnerHTML('uploadForm',result); new Effect.Appear('uploadForm'); new Effect.Highlight('uploadForm', {lcb}startcolor: '#EBF6FF'{rcb});{rcb});" class="inputButton">Add New Attachment</a>
	<div id="uploadForm" style="padding-top:15px;"></div>
	<iframe name="uploadTarget" id="uploadTarget" style="display:none;"></iframe>
	<script type="text/javascript">
		DocSmart.refreshTarget = "attachmentGrid";
		DocSmart.uploadCompleteCallback = "new Effect.Fade('uploadForm');document.getElementById('uploadForm').innerHTML='';";
	</script>
</fieldset>
