	
	<fieldset>
		<legend>Add a New Referral Request for this Patient</legend>
		
		<form action="chlreferral/index.php/main/referral/edit/0?u={$u}">
		<table>
			<tr>
				<td>
					Program<br />
					{foreach from=$programArray item=program key=id}
					<label><input type="radio" value="{$id}" name="program_id"/>{$program}</label><br />
					{/foreach}
				</td>
				
				<td valign="top">
					<select>
						<option>Last Visit</option>
						<option value="null"></option>
						<option>September 01 2005</option>
						<option>July 13 2005</option>
					</select>
				</td>
			</tr>
			<tr>
				<td colspan=2>
					<input type="submit" value="Add Referral Request">
				</td>
			</tr>
		</table>
		</form>
		</fieldset>
<fieldset>
	<legend>Referral Request History</legend>
	<p>
		Select Referral Request date to access Previous Referral Requests for
		this Patient</p>
	
	<div>
		{$requestListGrid->render()}
	</div>
</fieldset>
