{literal}
<script type="text/javascript">
function newInfoWindow() {
	window.open('{/literal}{$chlcare_base}{literal}chlreferral/index.php/chlpopup/refpatient/info/{/literal}{$request->get("patient_id")}{literal}', 'chlreferral',
	'menubar=no,location=no,resizable=no,scrollbars=auto,status=no,height=300,width=630');
}
</script>
<style type="text/css">
.legend {
 font-weight:bold;
 display:block;
}

.inputButton {
 background-color: #adad8d;
 border: 1px solid #000;
 padding:5px;
 text-align:center;
 color:#000;
 
}

table td {
 vertical-align:top;
}

</style>
{/literal}
<table>
	<tr>
		<td width="39%">
	<fieldset>
		<legend>Referral Request: {$parProg->get('name')}</legend>
		
		<table class="tableForm">
			<tr>
				<td class="aRight">Request Date</td>
				<td>
					{$request->get('date')|date_format:'%B %e, %Y'}	
					<input type="hidden" name="refRequest[date]" value="{$request->get('date')|date_format:'%m/%d/%Y'}" />
				</td>
			</tr>
			<tr>
				<td class="aRight"><a href="javascript:void(0);" onclick="window.open('{link pageType="minimal" controller="ParticipationProgram" action="editConnect" defaultArg=$ppp->get('person_program_id')}', 'subWin',
'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=600,height=400');">Program Options</a></td>
				<td>
					Eligibility Expires: {if $ppp->get('expires')}Y{else}N{/if}<br />
					{if $ppp->get('expires')}
					Eligible Thru: {$ppp->get('end')}
					{/if}
					{if $options->get('hasEligibility')}
					{$options->actionOptions(true)}
					{/if}
				</td>
			</tr>
			<tr>
				<td class="aRight">Specialist Needed</td>
				<td>
					<select name="refRequest[refSpecialty]" style="z-index:1">
						{html_options options=$refSpecialty selected=$request->get('rawSpecialty')}
					</select>
				</td>
			</tr>
			
			<tr>
				<td class="aRight">Translator Needed</td>
				<td>
					{html_options name='refRequest[translator]' id='refRequest[translator]' options=$yesNoArray selected=$request->get('translator_raw')}
				</td>
			</tr>
			<tr>
				<td>Referral Service</td>
				<td>{html_options name="refRequest['translator']" options=$em->enumArray('referral_service')}</td>
			</tr>
			
			<tr>
				<td class="aRight">Transportation Needed</td>
				<td>
					{html_options name='refRequest[transportation]' id='refRequest[transportation]' options=$yesNoArray selected=$request->get('transportation_raw')}
				</td>
			</tr>
			
			<tr>
				<td class="aRight">Requested Slot</td>
				<td>
					<select name="refRequest[refRequested_day]">
						{html_options options=$refRequested_day selected=$request->get('refRequested_day')}
					</select>
					
					<select name="refRequest[refRequested_time]">
						{html_options options=$refRequested_time selected=$request->get('refRequested_time')}
					</select>
				</td>
			</tr>
			
			<tr>
				<td colspan="2">
					<span class="legend">Referral Assessment/Reason:</span>
					<textarea style="width:100%" name="refRequest[reason]">{$request->get('reason')}</textarea>
				</td>
			</tr>
			
			<tr>
				<td colspan="2">
					<span class="legend">Brief History with Diagnosis and Results</span>
					<textarea style="width:100%" name="refRequest[history]">{$request->get('history')}</textarea>
				</td>
			</tr>
			</table>
			
			</fieldset>
		</td>
		<td width="20%">
			<fieldset>
				<legend>Referral Status</legend>
				{literal}
				<script type="text/javascript">
				var confirmLinkManager = new clniConfirmLink();
				function confirmStatusChange(linkObj) {
					switch(linkObj.innerHTML.replace(/^\s+/g, '').replace(/\s+$/g, '')) {
						case 'Appointment Kept' :
							confirmLinkManager.confirmLink(linkObj, 'popupNewAppointmentText');
							return false;
							break;
							
						case 'Cancelled' :
							confirmLinkManager.confirmLink(linkObj, 'cancelConfirmText');
							return false;
							break;
							
						case 'Rejected' :
							confirmLinkManager.confirmLink(linkObj, 'rejectConfirmText');
							confirmLinkManager._linkObj+='&reason=';
							// Make a backup so we can start fresh with every new reason change
							confirmLinkManager._originalLinkObj = confirmLinkManager._linkObj;
							return false;
							break;
					}
					return true;
				}
				</script>
				{/literal}
				<ul>
					{foreach from=$refStatuses item=refStatus key=refStatusKey}
					<li{if $refStatusKey == $request->get('refStatus')} class="selected"{/if}>
						{if $refStatusLinks.$refStatusKey && $request->get('refStatus') ne $refStatusKey}<a href="{$refStatusLinks.$refStatusKey}" onclick="return confirmStatusChange(this);">{/if}
						{$refStatus}
						{if $refStatusLinks.$refStatusKey && $request->get('refStatus') != 7}</a>{/if}
					</li>
					{/foreach}
				</ul>
				
				{include file="referral/general_popupCancelConfirmText.html"}
				{include file="referral/general_popupEligibilityText.html"}
				{include file="referral/general_popupNewAppointmentText.html"}
				
				<div style="display:none;" id="rejectConfirmText">
					<p>
						Are you sure you want to Reject this Request?</p>
					
					<p>
						If this Request needs more information to process, send an email to the<br />
						Requestor to ask for the information.  Do not Reject this Request.</p>
						
					<p>
						If this Request is to be rejected, provide a reason below.  The Requestor 
						will be automatically notified</p>
					
					<div align="center">
						<select onchange="confirmLinkManager._linkObj = confirmLinkManager._originalLinkObj + this.value;">
							{html_options options=$refRejectionReasons}
						</select>
						<!-- <input size="40" type="text" onblur="confirmLinkManager._linkObj = confirmLinkManager._originalLinkObj + this.value;" /> -->
						<ul class="menu centered">
							<li><a href="javascript:confirmLinkManager.submit()" onclick="confirmLinkManager._linkObj = confirmLinkManager._originalLinkObj + this.parentNode.parentNode.parentNode.getElementsByTagName('select').item(0).value;">Yes, Reject/Return this Request.</a></li>
							<li><a href="javascript:confirmLinkManager.cancel()">No, keep this Request active.</a></li>
						</ul>
					</div>
				</div>
			</fieldset>
			
			{*include file="referral/general_chunkAttachment.html"*}
		</td>
		
		<td width="39%">
			{include file="referral/general_chunkAppointment.html"}
			<div>
			</div>
			</form>
			<fieldset><legend>Encounter Info</legend>
			{if $enc}
<table>
        <tr>
          <td>Date of Encounter:</td>
          <td>{$enc->get("date_of_treatment")}</td>
        </tr>
        <tr>
          <td>Encounter Location:</td>
          <td>{$enc->get("facility_name")}</td>
        </tr>
        <tr>
          <td>Reason:</td>
          <td>{$enc->get_encounter_reason_print()}</td>
        </tr>
        <tr>
          <td>Treating Provider:</td>
          <td>{$enc->get_treating_person_print()}</td>
        </tr>
        <tr>
          <td>Procedures:</td>
        <td>{$cpts}</td>
        </tr>
        <tr>
          <td>Diagnoses:</td>
          <td>{$icds}</td>
        </tr>
</table>
{else}
This referral is not associated with an encounter.
{/if}
			</fieldset>
			
			{if $initiator}
			Requestor: {$initiator->get('first_name')} {$initiator->get('last_name')}
			{/if}
			<fieldset>
				<legend>Notes/Comments</legend>
				<form action="{$FORM_ACTION}" method="post">
					<div>
						<textarea name="refRequest[notes]" style="width:100%">{$request->get('notes')}</textarea>
					</div>
					
					<div>
						<input type="hidden" name="process" value="true" />
						<input type="submit" value="Save Note" class="button" onmouseover="hover(this)" onmouseout="hover(this)" />
					</div>
				</form>
			</fieldset>
		</td>
	</tr>
	
	<tr>
		<td colspan="3" align="center">
		</td>
	</tr>
</table>

<div style="clear:both;">&nbsp;</div>
