{if $options->get('eligibility') == 2}
<div style="display:none" id="popupEligiblityText">
	<p>
		The system currently has the Eligibility status for this patient as either<br /> 
		"In-eligible" or "No Status".</p>  
	
	<ul>
		<li>
			If you believe that the Patient has already been declared Eligible, but the<br />
			system is not showing this, then please complete this Referral Request and<br />
			then you must email or call the Referral Manager for this Referral Program <br />
			and ask them to review and change the status.</li>
		<li>
			If the Patient is currently not declared as Eligible, but is likely to pass<br />
			the Eligibility requirements, please complete this Referral Request and then<br />
			proceed separately with the Eligibility steps for this program.</li>
		<li>
			If the patient is currently not declared as Eligible, and is likely not to<br />
			pass the Eligibility requirements, see your Clinic Director on how you might proceed.</li>
	</ul>
	
	<ul class="menu">
		<li><a href="javascript:eligibilityPopup.remove()">Close</a></li>
	</ul>
</div>

<script type="text/javascript">
	var eligibilityPopup = new clniPopup('popupEligiblityText');
	eligibilityPopup.display();
</script>
{/if}
