{*
	This is now deprecated - the only unique fieldset (Appointment Details) has been pulled into the
	default view.
*}
{literal}
<script type="text/javascript">
function newInfoWindow() {
	window.open('{/literal}{$chlcare_base}{literal}chlreferral/index.php/chlpopup/refpatient/info/{/literal}{$request->get("patient_id")}{literal}', 'chlreferral',
	'menubar=no,location=no,resizable=no,scrollbars=auto,status=no,height=300,width=630');
}
</script>
<style type="text/css">
ul {
 margin-left:0;
 padding-left:0;
}

ul li { 
 margin-left:20px;
 list-style-type:circle; 
}

.inlineUL li {
 float:left;
}

.menu li {
 list-style-type:none;
 margin: 0;
}

ul .selected {
 list-style-type:disc;
}

.legend {
 font-weight:bold;
 display:block;
}

.inputButton {
 background-color: #adad8d;
 border: 1px solid #000;
 padding:5px;
 text-align:center;
 color:#000;
 
}

table td {
 vertical-align:top;
}

.fLeft { float:left; }

</style>
{/literal}
<table>
	<tr>
		<td width="39%">
			<fieldset>
				<legend>Referral Request</legend>
				
				<table>
					<tr>
						<td colspan="2" align="center" style="padding:3px;">
							<a class="inputButton" href="javascript:newInfoWindow()" >Click here here for Patient Info</a>
						</td>
					</tr>
					<tr>
						<td>Request Date</td>
						<td>{$request->get('date')|date_format:'%B %e, %Y'}	</td>
					</tr>
					<tr>
						<td>Program Eligibility</td>
						<td>{$eligibilitySchema} {* $request->get('eligibility')*}</td>
					</tr>
					
					{if $eligibilitySchema != 'Not Applicable'}
					<tr>
						<td>Eligible Thru</td>
						<td>{$request->get('eligible_thru')|date_format:'%B %e, %Y'}</td>
					</tr>
					{/if}
					
					<tr>
						<td colspan="2">
							<fieldset>
								<legend class="legend">Referral Assessment/Reason:</legend>
								{$request->get('reason')}
							</fieldset>
						</td>
					</tr>
					
					<tr>
						<td colspan="2">
							<fieldset>
								<legend class="legend">Brief History with Diagnosis and Results</legend>
								{$request->get('history')}
							</fieldset>
						</td>
					</tr>
					
				</table>
			</fieldset>
		</td>
		<td width="59%">
			{literal}
			<style type="text/css">
			td.outlined {
				border:1px solid #000;
				padding-left:5px;
				padding-right:5px;
				/* inherit padding-top/bottom */
			}
			</style>
			{/literal}
			<table>
				<tr>
					<td>
						<table>
							<tr>
								<td>Specialty Requested</td>
								<td class="outlined">{$request->get('refSpecialty')}</td>
							</tr>
							
							<tr>
								<td>Other Requests</td>
								<td class="outlined">
									{if $request->get('translator') == "No" && $request->get('transportation') == "No"}
									N/A
									{else}
										{if $request->get('translator') == "Yes"}
										Translator Needed<br />
										{/if}
										{if $request->get('transportation') == "Yes"}
										Transporation Needed<br />
										{/if}
									{/if}
									</td>
							</tr>
							
							<tr>
								<td>Requested Slot</td>
								<td  class="outlined">
									{$request->get('refRequested_day')}
									{$request->get('refRequested_time')}
								</td>
							</tr>
						</table>
					</td>
					<td>
						<fieldset>
							<legend>Referral Status</legend>
							{literal}
							<script type="text/javascript">
							var confirmLinkManager = new clniConfirmLink();
							function confirmStatusChange(linkObj) {
								switch(linkObj.innerHTML) {
									case 'Cancelled' :
										confirmLinkManager.confirmLink(linkObj, 'cancelConfirmText');
										return false;
										break;
								}
								return true;
							}
							</script>
							{/literal}
							<ul>
								{foreach from=$refStatuses item=refStatus key=refStatusKey}
								<li{if $refStatusKey == $request->get('refStatus')} class="selected"{/if}><a href="{$refStatusLinks.$refStatusKey}" onclick="return confirmStatusChange(this);">{$refStatus}</a></li>
								{/foreach}
							</ul>
							<div style="display:none" id="cancelConfirmText">
								<p style="width:500px; margin: 0 0 .5em">
									Are you sure you want to cancel this Appointment?</p>
								<p style="width:500px; margin: 0 0 .5em">
									If you need to change the time and day of the appointment, and keep the
									Practice, Specialist and Month of appointment, select "Keep the Appointment"
									button and change the time and day on the Appointment screen.</p>
								<p style="width:500px; margin: 0 0 .5em">
									If you need to cancel this Appointment or change the Practice, Specialist,
									or Month of appointment, select "Cancel this Appointment" button and make a<
									new appointment.</p>					
								<ul class="menu aCenter">
									<li><a href="javascript:confirmLinkManager.cancel()">Keep the appointment.</a></li>
									<li><a href="javascript:confirmLinkManager.submit()">Cancel the Appointment.</a></li>
								</ul>
							</div>
						</fieldset>
					</td>
				</tr>
			</table>
			
			<fieldset>
				<legend>Appointment Details</legend>
				
				<div>Practice: {$appointment->get('practice_name')}</div>
				<div>Specialist: {$appointment->get('provider_name')}</div>
				<div>Time: {$appointment->get('time')} {$appointment->get('date')}</div>
				<div>
					Location<br />
					{$appointment->get('location_data')|nl2br}
				</div>
			</fieldset>
			
			{if $initiator}
			Requestor: {$initiator->get('full_name')}
			{/if}
			
			<fieldset>
				<legend>Notes/Comments</legend>
				<form action="{$FORM_ACTION}" method="post">
					<div>
						<textarea rows="3" cols="50" name="refRequest[notes]">{$request->get('notes')}</textarea>
					</div>
					
					<div>
						<input type="hidden" name="process" value="true" />
						<input type="submit" value="Save Note" />
					</div>
				</form>
			</fieldset>
		</td>
	</tr>
</table>

<div style="clear:both;">&nbsp;</div>
