<div style="display:none" id="cancelConfirmText">
	<p>
		You have selected to CANCEL this Project Access Referral Request.  If you wish to continue<br />
		with this cancellation, which will notify the Program Referral Manager of your request to cancel, <br />
		please select the YES button below.  If you want to keep this Referral Request, select the<br /> 
		RETURN button below.</p>
	
	<ul class="menu aCenter">
		<li><a href="javascript:confirmLinkManager.submit()"><p>YES</p>Cancel this request.</a></li>
		<li><a href="javascript:confirmLinkManager.cancel()"><p>RETURN</p>Without cancelling this request.</a></li>
	</ul>
</div>

