<div id="confirmBoxText" style="display:none;">
	<p>
		To prevent unnecessary delays in obtaining an appointment, please be sure that:</p>
		
	<ul>
		<li>LABS  and X-RAYs have been done, if needed, and results are available</li>
		<li>You have adequately filled in the physicians Referral Reason and Brief History or Visit data</li>
	</ul>
	
	<ul class="menu aCenter">
		<li><a href="javascript:confirmBox.submit()">I have what is needed<p>Continue with this Referral Request</p></a></li>
		<li><a href="javascript:confirmBox.cancel()">I first need to set up a Lab or XRay<p>Cancel this Request</p></a></li>
		<li><a href="javascript:confirmBox.hide()">I need to add more info now<p>Take me back a screen</p></a></li>
	</ul>
</div>

{literal}
<script type="text/javascript">
var confirmBox = new clniConfirmBox();
</script>
{/literal}

<form id="referral_request_form" action="{$FORM_ACTION}" method="post" onsubmit="confirmBox.confirmForm(this); return false;">
<table>
	<tr>
		<td style="width:49%;" valign="top">
	<fieldset>
		<legend>Referral Request: {$refProgram->get('name')}</legend>
		
		<table class="tableForm">
			<tr>
				<td class="aRight">Request Date</td>
				<td>
					{$request->get('date')|date_format:'%B %e, %Y'}	
					<input type="hidden" name="refRequest[date]" value="{$request->get('date')|date_format:'%m/%d/%Y'}" />
				</td>
			</tr>
			<tr>
				<td class="aRight">Program Eligibility</td>
				<td>
					{$eligibilitySchema}
					{if !$editReferralEligibility}
					<input type="hidden" name="refRequest[eligibility]" value="{$request->get('eligibility')}" />
					{/if}
					{* html_radios name='refRequest[refEligibility]' id='refRequest[refEligibility]' options=$refEligibility selected=$request->get('refEligibility') *}
				</td>
			</tr>
			{if $eligibilitySchema != 'Not Applicable'}
			<tr>
				<td class="aRight">Eligible Thru</td>
				<td>
					{if $editReferralEligibility}
						{clni_input_date name="refRequest[eligible_thru]" value=$eligibility->get('eligible_thru')}
					{else}
						{$eligibility->get('eligible_thru')}
					{/if}</td>
			</tr>
			{/if}
			
			<tr>
				<td class="aRight">Specialist Needed</td>
				<td>
					<select name="refRequest[refSpecialty]" style="z-index:1">
						{html_options options=$refSpecialty selected=$request->get('refSpecialty')}
					</select>
				</td>
			</tr>
			
			<tr>
				<td class="aRight">Translator Needed</td>
				<td>
					{html_radios name='refRequest[translator]' id='refRequest[translator]' options=$yesNoArray selected=$request->get('translator_raw')}
				</td>
			</tr>
			
			<tr>
				<td class="aRight">Transportation Needed</td>
				<td>
					{html_radios name='refRequest[transportation]' id='refRequest[transportation]' options=$yesNoArray selected=$request->get('transportation_raw')}
				</td>
			</tr>
			
			<tr>
				<td class="aRight">Requested Slot</td>
				<td>
					<select name="refRequest[refRequested_day]">
						{html_options options=$refRequested_day selected=$request->get('refRequested_day')}
					</select>
					
					<select name="refRequest[refRequested_time]">
						{html_options options=$refRequested_time selected=$request->get('refRequested_time')}
					</select>
				</td>
			</tr>
			
			<tr>
				<td colspan="2">
					<span class="legend">Referral Assessment/Reason:</span>
					<textarea style="width:100%" name="refRequest[reason]">{$request->get('reason')}</textarea>
				</td>
			</tr>
			
			<tr>
				<td colspan="2">
					<span class="legend">Brief History with Diagnosis and Results</span>
					<textarea style="width:100%" name="refRequest[history]">{$request->get('history')}</textarea>
				</td>
			</tr>
			
			<tr>
				<td colspan="2">
					<input type="hidden" name="refRequest[visit_id]" value="{$GET->getTyped('visit_id', 'int')}" />
					<input type="hidden" name="refRequest[patient_id]" value="{$GET->getTyped('patient_id', 'int')}" />
					<input type="hidden" name="refRequest[initiator_id]" value="{$GET->getTyped('initiator_id', 'int')}" />
					<input type="hidden" name="refRequest[refprogram_id]" value="{$GET->getTyped('program_id', 'int')}" />
					<input class="inputBox3" type="submit" value="Save and Send Referral Request to Program Manager for Appointment" />
				</td>
			</tr>
		</table>
	</fieldset>

		</td>
		<td style="width:49%;" valign="top">
			{if $visitInfo != false}
			
			<fieldset>
				<legend>Encounter Info</legend>
				{$visitInfo}
			</fieldset>
			{/if}
			
			<fieldset>
				<legend>Notes/Comments</legend>
				<div>
					<textarea style="width:100%" name="refRequest[notes]">{$request->get('notes')}</textarea>
				</div>
			</fieldset>
		</td>
	</tr>
</table>
</form>
