{*Loop 2000A*}
HL*													{*Billing/Pay-to Provider Loop*}
{$hl_count}**										{*ID #.  This must begin with 1 and increment by one each time HL is used in the transaction*}
20*													{*Hierarchial level code.  Should always be 20 (information source)*}
1~													{*Hierarchial child code.  Should always be 1 *}
{*Optional PRV and CUR lines can go here to specify identifying characteristics of a provider, and alternate currency information.*}

{*Loop 2010AA*}
{include file="variations/x12_ca_blueshield/x12_2010AA.html"}

{*Loop 2010AB - not currently used *}
