LX*
1~										{*increments for each service, only one service currently supported*}

SV1*
HC:{$claim_line->get("procedure")}*
{$claim_line->get("amount")|regex_replace:'/\.00$/':''}*
UN*
{$claim_line->get("units")|regex_replace:'/\.00$/':''}*													{*Claim line units*}																				
{$treating_facility->get("facility_code")}**
{foreach name="diag_count" from=$diagnoses item=d}{$smarty.foreach.diag_count.iteration}{if !$smarty.foreach.diag_count.last}:{/if}{/foreach}													
~

DTP*
472*
D8*
{$claim_line->get("date_of_treatment")|date_format:"%Y%m%d"}~

{* clia number loop *}
{if $claim_line->get('clia_number') != ''}
REF*
X4*
{$claim_line->get('clia_number')}~
{/if}

