{* Not yet implemented *}
{*CR1*											Ambulance transport info*}
{*LB*											Weight type code (type of units used below) Use LB *}
{*{$claim->get("patWeightAtTransport")}*		Patient's weight at time of transport*}
{*{$claim->get("X12ambTransportCode")}*			Ambulance transport code. I=initial,R=return,T=transfer,X=round*}
{*{$claim->get("X12ambTransportReasonCode")}*	Transport reason code.  (A/B/C/D/E)*}
{*DH*											Unit code (units for field CR106) Use DH (miles)*}
{*{$claim->get("ambulanceMiles")}***			*}
{*{$claim->get("reasonForAbmulance")}*			Round-trip purpose description...basically reason for trip. *}
{*{$claim->get("reasonForStretcher")~			Reason for using a stretcher.*}