{new_auto_form id='feeSchedule' object=$feeSchedule action=$FORM_ACTION process=$PROCESS}
{show_auto_form id='feeSchedule'}

{if ($feeSchedule->get('id') > 0)}

{clni_form action=$DEFAULT_ACTION process=$PROCESS}
<div>Default Value: <input name="default_value" id="default_value"><input type="submit" value="Set default value for all procedures in Fee Schedule"></div>
</form>
<p>[<a href="{$UPDATE_ACTION}">Update Fee Schedule</a>]</p>
{/if}
{literal}
<script type="text/javascript">
	function clni_rule_confirm(element) {
		if (element.value != "" && clni_rule_number(element)) {
			if (confirm('Set all fee schedule values to "'+element.value+'", overwriting any current values?')) {
				return true;
			}
		}
		return false;
	}
</script>
{/literal}
{clni_register_validation id="feeSchedule__name" rules="alphanum|alphastart"}
{if ($feeSchedule->get('id') > 0)}
{clni_register_validation_rule id="default_value" rule="confirm"}
{/if}
