<script type="text/javascript">
var patientEditURL = '{link controller='Patient' action='edit' pageType="minimal"}';
{literal}
	var userEntered = false;
	var first = true;
	function selectSubscriber(select) {
		if (select.options[select.selectedIndex].text == "Self") {
			var section = document.getElementById('subscriber');
			_disable(section);
			section.style.display = 'none';
		}
		else {
			document.getElementById('subscriber').style.display = "block";


			if (!first) {
				document.getElementById('rscn').checked = false;
				document.getElementById('rscs').checked = true;
				swapSubscriber('search');

			}
			else if (first) {
				if (document.getElementById('rscn').checked) {
					swapSubscriber('new');
				}
				if (document.getElementById('rscs').checked) {
					swapSubscriber('search');
				}
			}
		}
	}

	function editSubscriber() {
		if (document.getElementById('rscn').checked) {
		}
		else {
			var id = document.getElementById('subscriber_id').value;
		}
		
		if (!id) {
			alert('A subscriber must be selected before you can edit them');
			return;
		}
		var URL = patientEditURL+"patient_id="+id+"&view=narrow";
		
		var subWin = window.open(URL, 'subWin', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=650,height=500');
	}

	function swapSubscriber(type) {
		_disable(document.getElementById('subscriber'));
		_setDisabled(document.getElementById(type+'Subscriber'),'input',false);
		_setDisabled(document.getElementById(type+'Subscriber'),'select',false);
		if (type == 'new') {
			document.getElementById('editSubscriberLink').style.visibility = 'hidden';
		}
		else {
			document.getElementById('editSubscriberLink').style.visibility = 'visible';
		}

		if (!userEntered && !first) {
			// clear values from new subscriber
			inputs = document.getElementById('newSubscriber').getElementsByTagName('input');
			for(var i = 0; i < inputs.length; i++) {
				inputs[i].value = "";
			}
		}
		first = false;
	}

	function _disable(section) {
		_setDisabled(section,'input',true);
		_setDisabled(section,'select',true);
		document.getElementById('rscn').disabled = false;
		document.getElementById('rscs').disabled = false;
	}

	function _setDisabled(el,tagName,value) {
		var els = el.getElementsByTagName(tagName);
		for(var i = 0; i < els.length; i++) {
			els[i].disabled = value;
		}
	}


</script>
{/literal}
	<fieldset class="radio" id="insurer">
		<legend>{l}Programs{/l}</legend>

		{$insuredRelationshipGrid->render()}
		{if $insuredRelationshipGrid->empty}
		<p>{l}Patient has no Payers Assigned{/l}</p>
		{/if}

		<input type="hidden" id="insured_relationship_holder" name="insuredRelationship[insured_relationship_id]" value="{$insuredRelationship->get('insured_relationship_id')}">
		<button onclick="showForm('programForm','add'); return false;">Add Program</button>
<div style="display:none" id="programForm">
<div class="popHeader">Program<a class="popClose" onclick="formPopup.hide()">X</a></div>
		<input type="hidden" name="insuredRelationship[insured_relationship_id]" value="{$insuredRelationship->get('insured_relationship_id')}">
		<table>
			<tr>
				<td><label>{l}Program{/l}:</label></td>
				<td><select name="insuredRelationship[insurance_program_id]">
						<option value="0"></option>
						{html_options options=$insuranceProgram->ProgramList() selected=$insuredRelationship->get('insurance_program_id')}
					</select>
				</td>
			<tr>
				<td><label>{l}Group Name{/l}:</label></td>
				<td><input id="insuredRelationship__group_name" name="insuredRelationship[group_name]" value="{$insuredRelationship->get('group_name')}"></td>
			</tr>
			<tr>
				<td><label>{l}Group Number{/l}:</label></td>
				<td><input id="insuredRelationship__group_number" name="insuredRelationship[group_number]" value="{$insuredRelationship->get('group_number')}"></td>
			</tr>
			<tr>
				<td><label>{l}Effective Date Range{/l}:</label></td>
				<td> 
					{clni_input_date name="insuredRelationship[effective_start]" value=$insuredRelationship->get('effective_start') required='false'} to 
					{clni_input_date name="insuredRelationship[effective_end]" value=$insuredRelationship->get('effective_end') required='false'}
				</td>
			<tr>
				<td><label>{l}Assigning{/l}:</label></td>
				<td><select name="insuredRelationsip[assigning]">
						{html_options options=$insuredRelationship->getAssigningList() selected=$insuredRelationship->get('assigning')}
					</select></td>
			</tr>
			<tr>
				<td><label>{l}Co-Pay{/l}:</label></td>
				<td><input name="insuredRelationship[copay]" value="{$insuredRelationship->get('copay')}"></td>
			</tr>
			<tr>
				<td><label>{l}Active{/l}:</label></td>
				<td><input type="hidden" name="insuredRelationship[active]" value="0"><input type="checkbox" name="insuredRelationship[active]" {if $insuredRelationship->get('active')}checked{/if} value="1"></td>
			</tr>
			<tr>
				<td><label>{l}Subscriber{/l}:</label></td>
				<td><select name="insuredRelationship[subscriber_to_patient_relationship]" onchange="selectSubscriber(this)" id="subscriberRelationship">
					{html_options options=$insuredRelationship->getSubscriberToPatientRelationshipList() 
						selected=$insuredRelationship->get('subscriber_to_patient_relationship')}
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="2">
				<fieldset id="subscriber" style="display:none">
					<legend>{l}Subscriber{/l}</legend>
					{assign var="subscriberIsAPatient" value=false}
					{if $subscriber->lookupType($subscriber->get('type')) !== "Subscriber"}
						{assign var="subscriberIsAPatient" value=true}
					{/if}

					<input type="radio" name="subscriber_choice" onclick="swapSubscriber('search')" id="rscs" {if $subscriberIsAPatient}checked{/if}>
					<label class="inline" for="rscs">{l}Search Current Patients{/l}</label>

					<input type="radio" name="subscriber_choice" onclick="swapSubscriber('new')" id="rscn" {if !$subscriberIsAPatient}checked{/if}>
					<label class="inline" for="rscn">{if $subscriberIsAPatient}{l}New{/l}{else}{l}Update{/l}{/if} {l}Subscriber{/l}</label>
					<div id="searchSubscriber">
						<input type="hidden" name="searchSubscriber[person_id]" id="subscriber_id" value="{$subscriber->get('id')}">

						<table>
							<tr>
								<td><label>{l}Search{/l}:</label></td>
								<td>
<div class="SuggestInput">
                {clni_img name="stock/stock_person-10.png"}
                <input type="text" autocomplete="off" size="20" id="subscriber_name" {if $subscriberIsAPatient}value="{$subscriber->get('search_name')}"{/if}>
                </div>
                {literal}
                <script type="text/javascript">
                        var ps = new patientSuggest('subscriber_name','subscriber_id');
                </script>
                {/literal}
						<a id="editSubscriberLink" href="#" onclick="editSubscriber()" {if $subscriberIsAPatient}style="visibility:hidden"{/if}>Edit Subscriber</a>
								</td>
							</tr>
						</table>
					</div>
					{assign var=subscriberNumber value=$subscriber->numberValueByType('Home')}
					{assign var=subscriberAddress value=$subscriber->address()}
					<div id="newSubscriber">
						<input name="newSubscriber[person_id]" type="hidden" value="{$subscriber->get('id')}">
						<table>
							<tr>
								<td colspan=2><label>{l}First Name{/l}:</label></td>
								<td colspan=2><input name="newSubscriber[first_name]" value="{$subscriber->get('first_name')}" onChange="userEntered = true;"></td>
							</tr>
							<tr>
								<td colspan=2><label>{l}Last Name{/l}:</label></td>
								<td colspan=2><input name="newSubscriber[last_name]" value="{$subscriber->get('last_name')}" onChange="userEntered = true;"></td>
							</tr>
							<tr>
								<td colspan=2><label>{l}SSN{/l}:</label></td>
								<td colspan=2><input name="newSubscriber[identifier]" value="{$subscriber->get("identifier")}" onChange="userEntered = true;"></td>
							</tr>
							<tr>
								<td colspan=2><label>{l}DOB{/l}:</label></td>
								<td colspan=2>{clni_input_date name="newSubscriber[date_of_birth]" 
									value=$subscriber->get("date_of_birth") onChange="userEntered = true;"}</td>
							</tr>
							<tr>
								<td colspan=2><label>{l}Gender{/l}:</label></td>
								<td colspan=2><select name="newSubscriber[gender]" onChange="userEntered = true;">
								<option></option>
								{enum_options name="gender" selected=$subscriber->get("gender")} 
								</select></td>
							</tr>
							<tr>
								<td colspan=2><label>{l}Phone #{/l}:</label></td>
								<td colspan=2><input name="newSubscriber[number]" value="{$subscriberNumber}" onChange="userEntered = true;"></td>
							</tr>
							<tr>
								<td valign="top" colspan=2><label>{l}Address{/l}:</label></td>
								<td colspan=2><input name="newSubscriber[line1]" size=30 value="{$subscriberAddress->get('line1')}" onChange="userEntered = true;"><br>
									<input name="newSubscriber[line2]" size=30 value="{$subscriberAddress->get('line2')}" onChange="userEntered = true;">
								</td>
							</tr>
							<tr>
								<td><label>{l}City{/l}:</label> </td>
								<td><input name="newSubscriber[city]" size="15" value="{$subscriberAddress->get('city')}" onChange="userEntered = true;" id="zaddresscitysub"></td>
								<td>
									<select name="newSubscriber[state]" onChange="userEntered = true;" id="zaddressstatesub">
										{html_options options=$address->getStateList() selected=$subscriberAddress->get('state')}
									</select>
								</td>	
								<td><label class="inline">{l}Zip{/l}:</label><input name="newSubscriber[postal_code]" size="10" value="{$subscriberAddress->get('postal_code')}" id="zaddresspostalcodesub" onKeyUp="userEntered = true; if(this.value.length==5) zipGrab(this.value,'sub');"></td>
						      </tr>
					      </table>
					</div>

				</fieldset>
			</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="{if $insuredRelationship->get('id') > 0}Update{else}Add{/if} Payer">
					{if $insuredRelationship->get('id') > 0}<input type="button" value="New Payer" onClick="document.getElementById('insured_relationship_holder').value=0;this.form.submit();">{/if}
				</td>
			</tr>
		</table>
	</fieldset>
{clni_register_validation
	id="insuredRelationship__group_name"
	rules="requiredif(testElement:'insuredRelationship__group_number',testRule:'required',message:'Group name is required')"
	message="Group name required"}
	
{clni_register_validation
	id="insuredRelationship__group_number"
	rules="requiredif(testElement:'insuredRelationship__group_name',testRule:'required',message:'Group number is required')"
	message="Group number required"}

<script language="javascript" type="text/javascript">
selectSubscriber(document.getElementById('subscriberRelationship'));
</script>
</div>
