{if !$NO_PATIENT }
<table class="columns" border="0">
<tr>
<td colspan="2">
	<fieldset class="radio" id="person" >
	<legend>Patient {clni_section_links name="detail"}</legend>
		{assign var="parent" value=$person}
	<div style="float: right">
	<fieldset class="radio" id="number" style="vertical-align:top;">
	<legend>Phone Numbers {clni_section_links name="number"}</legend>
	<table class="data" border="0" cellspacing="1" cellpadding="0">
        {$pager}
        <tr bgcolor="EFEFEF">
		<th>Number</th><th>Type</th><th>Status</th><th>Notes</th>
        </tr>
        {foreach from=$parent->get_numbers() item=row}
			<tr {if $row.number_id == $number->get('id')}class="selectedRow"{/if}>
			<td>{formatPhoneNumber number=$row.number}</td>
			<td>{$row.number_type}</td>
			<td>{if !$row.active}DNC{/if}</td>
			<td>{$row.notes}</td>
        	</tr>
        {foreachelse}
        	<tr>
        		<td colspan="3">No Phone Numbers</td>
        	</tr>
        {/foreach}
	</table>
	</fieldset>
    <fieldset class="radio" id="address" style="vertical-align:top;">
		<legend>Addresses {clni_section_links name="address"}</legend>
		<table class="data" border="0" cellspacing="1" cellpadding="0">
        {$pager}
        <tr bgcolor="EFEFEF">
		<th>Name</th><th>Type</th><th>Address</th><th>City</th><th>Zip</th>
        </tr>
        {foreach from=$parent->get_addresses() item=row}
		<tr {if $row.address_id == $address->get('address_id')}class="selectedRow"{/if}>
		<td><a href="{$EDIT_ADDRESS_ACTION}id={$row.address_id}&process=true">{$row.name}</a></td>
		<td>{$row.type}</td>
		<td class="address">{$row.line1}<br>{$row.line2}</td>
		<td>{$row.city}</td>
		<td>{$row.postal_code}</td>
		<td><a onClick="return confirm('Delete Address {$row.name}?:\n{$row.line1}\n{$row.line2}\n{$row.city} {$row.state}, {$row.postal_code}')" href="{$DELETE_ADDRESS_ACTION}id={$row.address_id}&process=true">delete</a></td>
        </tr>
        {foreachelse}
        <tr>
                <td colspan="5">No Addresses</td>
        </tr>
        {/foreach}
        </table>
	</fieldset>
</div>
		<table align="left">
			<tbody>
	        <tr>
				<td style="white-space: nowrap;"><label class="inline">{l}Name{/l}: </label> {$person->get('first_name')} {$person->get('last_name')}</td>
	        </tr>
			<tr>
				<td style="white-space: nowrap;"><label class="inline">{l}Record Number{/l}: </label> {$person->get('record_number')}&nbsp;&nbsp;<label class="inline">({$person->get("print_identifier_type")}): </label>{$person->get('identifier')}</td>
				<td colspan="2"></td>
			</tr>
			<tr>
				<td><label class="inline">{l}Gender{/l}: </label>{$person->get('print_gender')}
					&nbsp;&nbsp;DOB: {$person->get('date_of_birth')}</td>
			</tr>
			<tr>
				<td><label class="inline">{l}Marital Status{/l}: </label>{$person->get('print_marital_status')}&nbsp;&nbsp;</td>
			</tr>
			<tr>
				<td><label class="inline">{l}Default Provider{/l}: </label>{$person->get('print_default_provider')}&nbsp;&nbsp;
					{l}Registration Location:{/l} {$person->get('print_registration_location')}</td>
			</tr>
			<tr>
				<td><a href="{$EDIT_ACTION}">Edit</a></td>
				<td></td>
			</tr>
	        </tbody>
		</table>
	</fieldset>
	</td>
	</tr>
	<tr>
	<td>
	<fieldset class="radio" id="notes">
		<legend>Notes</legend>
		{$noteGrid->render()}
		{if $noteGrid->empty && $depnoteGrid->empty}
		<p>Patient has no Notes</p>
		{/if}


	{clni_form action=$NOTE_ACTION process=$PROCESS}
		<input type="hidden" name="note[note_id]" value="{$note->get('id')}">
		<div>
			<textarea name="note[note]" cols="80" rows="2">{$note->get('note')}</textarea>
		</div>
		<div style="float:left; margin: 6px 0 0 0;">
			<label class="inline">Priority: </label>{html_options options=$note->priorityList() selected=$note->get('priority') name="note[priority]"}
		</div>
		<div style="margin: 6px 0 0 0;">
			<input type="submit" name="add_note" value="{if $note->get('id') > 0}Update{else}Add{/if} Note" style="margin: 0 0 0 10px;">
		</div>
	</form>
	</fieldset>
	
	<fieldset class="radio" id="insurer">
		<legend>Insurers</legend>
		{$insuredRelationshipGrid->render()}
		{if $insuredRelationshipGrid->empty}
			<p>Patient has no Insurers Assigned</p>
		{/if}
	</fieldset>
	<fieldset class="radio" id="encounters">
		<legend>Encounters {clni_section_links name="encounters"}</legend>
		{$encounterGrid->render()}
		{if $encounterGrid->empty}
			<p>Patient has no Encounters</p>
		{/if}
		<p><a href="{$ENCOUNTER_ACTION}">Add Encounter</a></p>
	</fieldset>
	<fieldset class="radio" id="address">
		<legend>Reports {clni_section_links name="reports"}</legend>
		{$reportGrid->render()}
		{if $reportGrid->empty}
		<p>No Reports have been connected to the dashboard</p>
		{/if}
	</fieldset>
	<fieldset class="radio" id="Appointments">
		<legend>Appointments {clni_section_links name="appointments"}</legend>
		{$appointmentGrid->render()}
		{if $appointmentGrid->empty}
		<p>Patient has no Future appoinments</p>
		{/if}
	</fieldset>
	</td>
	<td>
	<fieldset class="radio" id="encounters">
		<legend>Account Information {clni_section_links name="account_information"}</legend>
		{if count($accountStatus.total_billed) > 0}
		<p><a href="{$ACCOUNT_ACTION}">Account History</a></p>
		<table>
			<tr>
				<td><label>{l}Total Billed{/l}: </label></td><td>{$accountStatus.total_billed}</td>
			</tr>
			<tr>
				<td><label>{l}Total Paid{/l}: </label></td><td>{$accountStatus.total_paid}</td>
			</tr>
			<tr>
				<td><label>{l}Balance{/l}: </label></td><td style="border-top: solid 1px black;">{$accountStatus.total_balance}</td>
			</tr>
		</table>
		{else}
		<p>No Account Information</p>
		{/if}
	</fieldset>
	<fieldset class="radio" id="forms">
		<legend>Forms {clni_section_links name="forms"}</legend>
		{$formDataGrid->render()}
		{if $formDataGrid->empty}
		<p>Patient has no completed forms</p>
		{/if}
		<p>Fill out form: <select onclick="if (this.value > 0) {literal}{{/literal} window.location = '{$FORM_FILLOUT_ACTION}id='+this.value; {literal}}{/literal}">
					<option value="0"></option>
					{html_options options=$formList}
				</select>
				</p>
	</fieldset>

	</td>
</tr>
</table>
{/if}
