<fieldset>
	<legend>Payment</legend>
	{$paymentGrid->render()}
	{if $paymentGrid->empty}
	<p>Encounter has no payments</p>
	{/if}
	<input type="hidden" name="payment[payment_id]" value="{$payment->get('payment_id')}">
	{if $encounter->get('status') != 'closed'}		
	<table>
		<tr>
			<td><label>Payment Type:</label></td>
			<td>{html_options name=payment[payment_type]  options=$payment->getPaymentTypeList() selected=$payment->get('payment_type')}</td>
			<td><label>Amount Paid:</label></td>
			<td><input name="payment[amount]" size="6" type="text" value="{$payment->get("amount")}"></td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" value="{if $payment->get('id') > 0}Update{else}Add{/if}">
				{if $payment->get('id') > 0}
				<input type="button" value="New Payment" onclick="window.location = '{$NEW_ENCOUNTER_PAYMENT}';">
				{/if}
			</td>
		</tr>
	</table>
	{/if}
</fieldset>
