<fieldset>
	<legend>Sharing Options</legend>
<div><input style="display:inline;" id="optDemographics" type="checkbox" name="sharing[]" value="patient,person" /> <label style="display:inline;" for="optDemographics">Demographics</label> </div>
<div><input style="display:inline;" id="optEncounters" type="checkbox" name="sharing[]" value="encounter" /> <label style="display:inline;" for="optEncounters">Encounters</label> </div>
<div><input style="display:inline;" id="optForms" type="checkbox" name="sharing[]" value="form" /> <label style="display:inline;" for="optForms">Forms</label> </div>
<div><input style="display:inline;" id="optEMR" type="checkbox" name="sharing[]" value="medications,allergies,immunizations,vitals,problems,alerts" /> <label style="display:inline;" for="optEMR">EMR</label> </div>
<div><input style="display:inline;" id="optLabs" type="checkbox" name="sharing[]" value="labs" /> <label style="display:inline;" for="optLabs">Labs</label> </div>
</fieldset>

<fieldset>
	<legend>Authorized Parties</legend>

</fieldset>
