<div class="title" id="title">Update Address</div>
{if is_object($messages)}
        {$messages->render()}
{/if}
{if $error}
<p>No further action can be taken do to the errors. <a href="#" onclick="close_popup();">Close</a></p>
{else}
{*
{if $address->get('id') <= 0}	
<label style="display:inline;"><input onclick="switchAddressEditMode('addressEdit')" type="radio" name="_addressType" checked="checked" />Add New Address</label>
	<label style="display:inline;"><input onclick="switchAddressEditMode('relatedAddressBlock')" type="radio" name="_addressType" id="relatedAddress" />Add Address From Related Person</label>
{/if}
		{if $address->value('isMultiple')}
		<p>
			This address belongs to the following people as well:
			<ul>
				{foreach from=$address->valueList('otherPeople') item=personName key=personId}
				<li><a href="{link controller='PatientDashboard' action='view' defaultArg=$personId}">{$personName}</a></li>
				{/foreach}
			</ul>
		</p>
		{/if*}
		{include file="contacts/general_addressEdit.html"}
	
{/if}
<p>
<br />
<a href="#" onclick="hidePopup();">close</a>
</p>
