<fieldset>
	<legend>Encounter people</legend>
	{$encounterPersonGrid->render()}
	{if $encounterPersonGrid->empty}
	<p>Encounter has no extra people</p>
	{/if}
	<input type="hidden" name="encounterPerson[encounter_person_id]" value="{$encounterPerson->get('encounter_person_id')}">
	{if $encounter->get('status') != 'closed'}
	<table>
		<tr>
			<td>
				<input type="hidden" name="encounterPerson[person_id]" value="{$encounterPerson->get('person_id')}" id="person_id_1">
			<input type="text" onkeypress="return captureEnter(this, event)" class="input_text" id="person_name_1" size="20" 
				autocomplete="off" value="{$encounterPerson->get('person')}">
			<div id="acDiv_1" style="border: 1px solid black; background-color: white; z-index: 20; visibility: hidden;"><div 
					class="AutoCompleteBackground"></div></div>
			</td>
			<td><select name="encounterPerson[person_type]">
					<option>Select Person Type</option>
					{html_options options=$encounterPerson->getPersonTypeList() selected=$encounterPerson->get('person_type')}
				</select>
			</td>
		</tr>
		<tr>
			<td colspan=2><input type="submit" value="{if $encounterPerson->get('id') > 0}Update{else}Add{/if} Person">
				{if $encounterPerson->get('id') > 0}
				<input type="button" value="New Person" onclick="window.location = '{$NEW_ENCOUNTER_PERSON}';">
				{/if}
			</td>
		</tr>
	</table>
	{/if}
</fieldset>
{literal}
<script language="javascript" type="text/javascript">
var C_FindPeople = function find_remoting(searchString) {
        var h = new c_patientfinder(this.dataHandler,true);
        h.Sync();
                                                                                
        var results = h.find_remoting(searchString,true);
        return results;
}

var ac = new AutoComplete(
	C_FindPeople,
	'person_name_1',
	'person_id_1',
	'acDiv_1',
	true,
	325
);
</script>
{/literal}
