{if $PRINT_ACTION}
<div style="float:right"><a href="{$PRINT_ACTION}">{l}Print View{/l}</a></div>
{/if}
<h2>{l}Summary Report{/l}</h2>
<h3>{l}Patient{/l}: {$patient->get('last_name')}, {$patient->get('first_name')} #{$patient->get('record_number')}</h3>

{if !$data}
{clni_form process=$PROCESS}
{foreach from=$sections item=section key=sectionName}
	<h4>{$sectionName}</h4>
	<ul style='list-style-type: none'>
	{foreach from=$section item=row}
	<li><input value=1 type="checkbox" name="sections[{$sectionName}][{$row.id}]" id="id_{$row.id}" {if $row.selected}checked{/if}><label for="id_{$row.id}">{$row.display}</label>

		{if $row.Forms}
			<ul style='list-style-type: none'>
			{foreach from=$row.Forms item=f}
			<li><input value=1 type="checkbox" name="sections[{$sectionName}][{$row.id}][Forms][{$f.id}]" id="id_{$f.id}" {if $f.selected}checked{/if}><label for="id_{$f.id}">{$f.display}</label></li>
				
			{/foreach}
			</ul>
		{/if}
		</li>
	{/foreach}
	</ul>
{/foreach}


<input type='submit' value='Show Report'>
</form>
{else}
{foreach from=$data item=section key=sectionName}
<h3>{$sectionName}</h3>
	<div style="margin-left: 1em">
	{foreach from=$section item=subSection key=subSectionName}
		{if $subSection._title}
			<h4>{$subSection._title}</h4>
		{else}
			<h4>{$subSectionName}</h4>
		{/if}
		{if $subSection.table}
			<table class="grid" border=1 cellspacing=0>
				<tr>
			{foreach from=$subSection.table item=v}
				<th>{$v}</th>
			{/foreach}
				</tr>

				{foreach from=$subSection item=value key=key}
					{if $key !== 'table'}
						<tr>
						{foreach from=$value item=r}
							<td>{$r}</td>
						{/foreach}
						</tr>
					{/if}
				{/foreach}
			</table>
		{else}
			{foreach from=$subSection item=value key=key}
				{if is_array($value)}
					{foreach from=$value item=v key=k}
						{if is_array($v)}
							{if !is_int($k)}
							{$k}:
							{/if}
							<div style="margin-left: 1em">
							{foreach from=$v item=v2 key=k2}
							{if !is_int($k2)}{$k2}:{/if} {$v2}<br>
							{/foreach}
							</div>
						{else}
							{$k}: {$v}<br>
						{/if}
					{/foreach}
					<br>
				{elseif $key === '_title'}
				{else}

				{if !is_int($key)}
				{$key}: 
				{/if}
				{$value}<br>
				{/if}
			{/foreach}
		{/if}
	{/foreach}
	</div>
{/foreach}
{/if}
