	<fieldset class="radio" id="identifier">
		<legend>Statistics	{clni_section_links name="statisticss"}</legend>
		<input type="hidden" value="{$patientStatistics->get('id')}" name="patientStatistics[patient_statistics_id]">
		<table>
			<tr>
				<td><label>Ethnicity:</label></td>
				<td>{html_options name="patientStatistics[ethnicity]" options=$patientStatistics->getEthnicityList() selected=$patientStatistics->get('ethnicity')}</td>
				<td><label>Race:</label></td>
				<td>{html_options name="patientStatistics[race]" options=$patientStatistics->getRaceList() selected=$patientStatistics->get('race')}</td>
				
			</tr>
			<tr>
				<td><label>Language:</label></td>
				<td>{html_options name="patientStatistics[language]" options=$patientStatistics->getLanguageList() selected=$patientStatistics->get('language')}</td>
				<td><label>Migrant Status:</label></td>
				<td>{html_options name="patientStatistics[migrant_status]" options=$patientStatistics->getMigrantStatusList() selected=$patientStatistics->get('migrant_status')}</td>
				<td><label></label></td>
				<td></td>
			</tr>
			<tr>
				<td><label>Income:</label></td>
				<td>{html_options name="patientStatistics[income]" options=$patientStatistics->getIncomeList() selected=$patientStatistics->get('income')}</td>

				<td><label>Monthly Income:</label></td>
				<td><input name="patientStatistics[monthly_income]" id="ps_monthly_income" value="{$patientStatistics->get('monthly_income')}" size=8 maxlength=8></td>
			</tr>
			<tr>
				<td><label>Family Size:</label></td>
				<td><input name="patientStatistics[family_size]" id="ps_family_size" value="{$patientStatistics->get('family_size')}" size=3 maxlength=3></td>
				<td><label>Date of First Encounter:</label></td>
				<td>{$encounter->getFirstDate($person->get('id'))}</td>
			</tr>
			<tr>
				<td><label>Registration Location: </label></td>
				<td>
				    <select name="patientStatistics[registration_location]">
					    {html_options options=$building->getBuildingList() selected=$patientStatistics->get('registration_location')}
				    </select>
				</td>
				<td><label>Sign in Date: </label></td>
				<td>{clni_input_date name="patientStatistics[sign_in_date]" value=$patientStatistics->get('sign_in_date')}</td>
			</tr>
			<tr>
				<td><input type="submit" value="Save"></td>
			</tr>
		</table>
		<input type="hidden"  name="identifier[identifier_id]" value="{$identifier->get('id')}">
	</fieldset>
{clni_register_validation_rule id="ps_monthly_income" rule="number" message="Monthly income is a Number no commas should be used"}
{clni_register_validation_rule id="ps_family_size" rule="number" message="Family size a Number"}
