<fieldset>
	<legend>{l}Details{/l}</legend>
	<input type="hidden" name="encounter[patient_id]" value="{$encounter->get("patient_id")}">
	<table>
		<tr>
			<td><label>{l}Facility{/l}:</label></td>
			<td><select name="encounter[building_id]">
					{html_options options=$building->getBuildingList() selected=$encounter->get('building_id')}
				</select>
			</td>
			<td><label>{l}Treating Provider{/l}:</label></td>
			<td><select name="encounter[treating_person_id]">
					{html_options options=$person->getPersonList('Provider',false) selected=$encounter->get('treating_person_id')}
				</select>
			</td>
		</tr>
		<tr>
			<td><label>{l}Date of Treatment{/l}:</label></td>
			<td>{clni_input_date name="encounter[date_of_treatment]" value=$encounter->get('date_of_treatment') id="date_of_treatment"}</td>
			<td><label>Encounter Reason:</label></td>
			<td><select name="encounter[encounter_reason]">
					{html_options options=$encounter->getEncounterReasonList() selected=$encounter->get('encounter_reason') selected=$encounter->get("occurence_id")}
				</select>
			</td>
		</tr>
		<tr>			
			<td><label>{l}Appointment{/l}:</label></td>
			<td colspan="3">{html_options name="encounter[occurence_id]" options=$appointmentArray selected=$encounter->get("occurence_id") onChange="populateEncounter(this.selectedIndex)"}
			{foreach from=$appointmentlist item=appointment}
			{/foreach}
			</td>
			
		</tr>
		<tr>
			<td>{if $encounter->get('status') != 'closed'}<input type="submit" value="{if $encounter->get('id') > 0}Update{else}Add{/if} Encounter">{/if}</td>
			<td><label>{l}Status{/l}:</label></td>
			<td> 
            	{if $encounter->get('status') == 'open' && $encounter->get('id') > 0}
            		<input type="submit" name="encounter[close]" value="Close">
            	{elseif $encounter->get('status') == 'closed'}
			<a href="{$PAYMENT_ACTION}">Make a Payment</a>
			<a href="{$FREEB_ACTION}">View Claim</a>
			<a href="{$EXIT_REPORT}">Exit Report</a>
        		{else}
            		open
            	{/if}
			</td>
		</tr>
	</table>
</fieldset>
{literal}
<script language="javascript" type="text/javascript">
function populateEncounter(selected) {
	var oc_id = document.forms.encounter['encounter[occurence_id]'][selected].value;
	var pat_id = document.forms.encounter['encounter[patient_id]'].value;
	e = new encounter();
	e.Sync();
	results = e.appointmentlist_remoting(oc_id,pat_id);
	treating_person = document.forms.encounter['encounter[treating_person_id]'];
	building = document.forms.encounter['encounter[building_id]'];
	
	for (i=0;i<treating_person.length;i++) {
		 if (treating_person[i].value == results['provider_id']) {
		 	treating_person[i].selected = true;
		 }
	}
	
	for (i=0;i<building.length;i++) {
		 if (building[i].value == results['building_id']) {
		 	building[i].selected = true;
		 }
	}
}

</script>
{/literal}

