<fieldset>
	<legend>Encounter Dates</legend>
	{$encounterDateGrid->render()}
	{if $encounterDateGrid->empty}
	<p>Encounter has no extra dates</p>
	{/if}
	<input type="hidden" name="encounterDate[encounter_date_id]" value="{$encounterDate->get('encounter_date_id')}">
	{if $encounter->get('status') != 'closed'}
	<table>
		<tr>
			<td>{clni_input_date name="encounterDate[date]" value=$encounterDate->get('date') format_popup="%m/%d/%Y"}</td>
			<td><select name="encounterDate[date_type]">
					<option>Select Date Type</option>
					{html_options options=$encounterDate->getDateTypeList() selected=$encounterDate->get('date_type')}
				</select>
			</td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" value="{if $encounterDate->get('id') > 0}Update{else}Add{/if} Date">
				{if $encounterDate->get('id') > 0}
				<input type="button" value="New Date" onclick="window.location = '{$NEW_ENCOUNTER_DATE}';">
				{/if}
			</td>
		</tr>
	</table>
	{/if}
</fieldset>
