<script type='text/javascript' src='{$base_dir}jpspan_server.php?client'></script>
<SCRIPT type='text/javascript' src="{$base_dir}js/autocomplete2.js"></script>
{literal}
<script language="javascript" type="text/javascript">
function captureEnter (field, event) {
		var keyCode = event.keyCode ? event.keyCode : event.which ? event.which : event.charCode;
		if (keyCode == 13) {
			var i;
			for (i = 0; i < field.form.elements.length; i++)
				if (field == field.form.elements[i])
					break;
			i = (i + 1) % field.form.elements.length;
			field.form.elements[i].focus();
			return false;
		} 
		else
		return true;
	}      

var C_PatientFinder = function find_remoting(searchString) {
        var h = new c_patientfinder(this.dataHandler);
        h.Sync();
                                                                                
        var results = h.find_remoting(searchString);
        return results;
}

Behavior.register(
	"#patientGeneralEditForm",
	function(element) {
		qsFirstChange[element.id] = true;
		{/literal}qsFormIdentifier[element.id] = '{if $person->get('id') > 0}{$person->get('id')}{else}0{/if}';{literal}
		QuickSave.setup(element);
	}
);
</script>
{/literal}
