<script type='text/javascript' src='{$base_dir}jpspan_server.php?client'></script>
<SCRIPT type='text/javascript' src="{$base_dir}js/autocomplete.js"></script>
{literal}
<script language="javascript">
function captureEnter (field, event) {
		var keyCode = event.keyCode ? event.keyCode : event.which ? event.which : event.charCode;
		if (keyCode == 13) {
			var i;
			for (i = 0; i < field.form.elements.length; i++)
				if (field == field.form.elements[i])
					break;
			i = (i + 1) % field.form.elements.length;
			field.form.elements[i].focus();
			return false;
		} 
		else
		return true;
	}      

</script>
{/literal}

{clni_form action=$FORM_ACTION process=$PROCESS id="encounter"}
	<fieldset>
	<legend>Encounter</legend>
	<table>
		<tr>
			<td valign="top">
				{include file="patient/general_encounter_details.html"}
				{include file="patient/general_encounter_payment.html"}
				{include file="patient/general_encounter_dates.html"}
			</td>
			<td valign="top">
				
				{include file="patient/general_encounter_forms.html"}
				{include file="patient/general_encounter_people.html"}
			</td>
		</tr>
	</table>
	</fieldset>
</form>
{clni_register_validation_rule id="date_of_treatment"}

{$codingHtml}
