<script type="text/javascript">
{literal}
function showVis(id) {
    var object = document.getElementById(id).style;
    var showhide = document.getElementById(id + 'ShowHide');
    object.display = "block";
    showhide.getElementsByTagName('img').item(0).src = "{/literal}{$base_uri}{literal}index.php/images/emblem-cvs-controlled.png";
    showhide.getElementsByTagName('span').item(0).style.display = "none";
    window.location.href = '{/literal}{$base_uri}{literal}index.php/TabState/setPaletteSelected/'+id;

}

function hideVis(id) {
    var object = document.getElementById(id).style;
    var showhide = document.getElementById(id + 'ShowHide');
    object.display = "none";
    showhide.getElementsByTagName('img').item(0).src = "{/literal}{$base_uri}{literal}index.php/images/emblem-cvs-controlled-2.png";
    showhide.getElementsByTagName('span').item(0).style.display = "inline";
    window.location.href = '{/literal}{$base_uri}{literal}index.php/TabState/setPaletteUnselected/'+id;

}

function toggleVis(id) {
    //if an element is invisible, make it visible, else make it ivisible
    if(document.getElementById(id).style.display == 'none') {
        showVis(id);

    } else {
        hideVis(id);
    }
}
{/literal}
</script>

{if $person_data->get('last_name')}

<div class="dock" >
<a style="width:100%;text-decoration:none;" href="javascript:toggleVis('demodock');" id="demodockShowHide">
<img src="{$base_uri}index.php/images/emblem-cvs-controlled.png" alt=">" style="float:left;padding:0;margin-top:2px;">
<span style="{if !$Celini->isPaletteSelected('demodock')}display: block;{else}display: none;{/if} font-weight:bold;font-size:11pt;"><div style="border: thin solid gray;margin-left:10px;width:95%;margin-left:0px;margin-top:4px;">Demographics</div></span></a>
</div>
<fieldset id="demodock" style="width:95%;margin-left:-16px;{if !$Celini->isPaletteSelected('demodock')}display: none;{/if}">
<legend>{l}Demographic{/l}</legend>
<table width="100%">
<tr>
	<td><b>{$person_data->get('first_name')}, {$person_data->get('last_name')}</b></td>
	<td>
	{foreach from=$person_data->get_numbers() item=row name="phone"}
		{if $row.number_type == 'Home'}
			{formatPhoneNumber number=$row.number} {$row.number_type}
		{/if}
	{/foreach}
	</td>
	<td>
	{foreach from=$person_data->get_numbers() item=row name="phone"}
		{if $row.number_type == 'Work'}
			{formatPhoneNumber number=$row.number} {$row.number_type}
		{/if}
	{/foreach}
	</td>
	<td>{if $address}{$address.line1} {$address.line2} - {$address.city}, {$address.state} {$address.postal_code} Home{else}No Home Address{/if}</td>
	<td>Default Provider:<b> {$person_data->get('print_default_provider')}</b></td>
</tr>
<tr>
	<td>ID: <b>{$person_data->get('record_number')}</b></td>
	<td>{$person_data->get('print_gender')} - {$person_data->get('print_marital_status')}</td>
	<td>DOB: {$person_data->get('date_of_birth')} (Age: {$person_data->get('age')})</td>
	<td class="demostathover"><a style="text-decoration:none;" href="#">Demographic Statistics</a><span class="demostats">{$patientStatisticsView}</span></td>
	<td>Status: {if $person_data->get('inactive') == 0}<span class="green">Active{else}<span class="red">Inactive{/if}</span></td>
</tr>
</table>
</fieldset>

<div class="dock" >
<a style="width:100%;text-decoration:none" href="javascript:toggleVis('criticalsdock');" id="criticalsdockShowHide">
<img src="{$base_uri}index.php/images/emblem-cvs-controlled.png" alt=">" style="float:left;padding:0;margin-top:2px;">
<span style="{if !$Celini->isPaletteSelected('criticalsdock')}display: block;{else}display: none;{/if} font-weight:bold;font-size:11pt;"><div style="border: thin solid gray;margin-left:10px;width:95%;margin-left:0px;margin-top:4px;">Criticals</div></span></a>
</div>
<fieldset id="criticalsdock" style="width:95%;margin-left:-16px;{if !$Celini->isPaletteSelected('criticalsdock')}display: none;{/if}">
<legend>&nbsp;{l}Criticals{/l}</legend>
<div class="critical_item">
{$widget_form_content}
</div>
</div>
<div class="clear" />
</fieldset>
{/if}
