<div class="tab" title="{l}Secondary Practices{/l}">
	
	<div id="SecondaryPracticeGrid">
		{$secondaryPracticeGrid->render()}
		
		{if $secondaryPracticeGrid->empty}
			<p>There are no secondary practices for this person.</p>
		{/if}
	</div>
	
	<div id="SecondaryPracticeForm">
		{clni_form action="$FORM_ACTION" process="true"}
			<table>
				<tr>
					<td><label for="SecondaryPractice__practice_id">{l}Practice{/l}</label></td>
					<td>
						<select name="SecondaryPractice[practice_id]">
							<option></option>
							{html_options options=$secondaryPractice->valueList('practice_id') selected=$secondaryPractice->get('practice_id')}
						</select>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="hidden" name="SecondaryPractice[person_id]" value="{$secondaryPractice->get('person_id')}" />
						<input type="hidden" name="SecondaryPractice[id]" value="{$secondaryPractice->get('id')}" />
						<input type="submit" value="Save" />
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
