{literal}
<style>
	#queueForm {
		position: relative;
	}
	.loading div {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #ddd;
		text-align: center;
	}
</style>
{/literal}
<fieldset>
	<legend>{l}Processing Queues{/l} <a href="{$EDIT_ACTION}">Edit</a> <a href="{$PROCESS_ACTION}">Process</a> <a href="{link action="history" controller="queue"}">History</a></legend>

<table class="grid">
	<tr>
		<th>Name</th>
		<th>Items</th>
	</tr>
	{foreach from=$queues item=queue key=key}
		<tr {if $key%2 == 1}class="alt"{/if}>
			<td>{$queue.name}</td>
			<td>{$queue.numItems}/{$queue.maxItems}</td>
			<td><a href="#select{$queue.id}" onclick="selectQueue(this,{$queue.id})">Select</a></td>
		</tr>
	{/foreach}
</table>
</fieldset>

{clni_form id="queueForm" action=$QUEUE_ACTION process=$PROCESS}
<fieldset>
	<legend>Process Queue</legend>

	<div id="processing" style="display:none; font-size: 12pt;"></div>
	<input type="hidden" name="queueId" id="queueId">

	<table>
		<tr>
			<td><label>Variation:</label></td>
			<td>{html_options name="variation" options=$fbg->claimVariationList()}</td>
		</tr>
		<tr>
			<td><label>Destination:</label></td>
			<td>{html_options name="destination" options=$fbg->claimDestinationList()}</td>
		</tr>
		<tr>
			<td></td>	
			<td><input type="submit" name="submit_batch" value="Process" disabled="true" id="submit"></td>
		</tr>
		<tr>
			<td></td>	
			<td><p><b>or</b></p></td>
		</tr>
		<tr>
			<td></td>	
			<td><button onclick="return batchEob('{link controller="Queue" action="EobQueue"}queueId=');" 
					disabled="true" id="eob">{l}Batch process EOB's for Queue{/l}</button></td>
		</tr>
	</table>
</fieldset>
</form>
