{head type="css"}
{literal}
	#queueForm {
		position: relative;
	}
	.loading div {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #ddd;
		text-align: center;
	}
</style>
{/literal}
{/head}
{if !$ajaxFlag}
{clni_form id="queueForm" action=$QUEUE_ACTION process=$PROCESS}
{else}
<input type="hidden" name="process" value="{$PROCESS}">
{/if}
<fieldset>
	<legend>{l}Processing Queues{/l} <a href="{$EDIT_ACTION}">Edit</a> <a href="{$PROCESS_ACTION}">Process</a> <a href="{$HISTORY_ACTION}">History</a></legend>

<table class="grid">
	<tr>
		<th>Name</th>
		<th>Items</th>
		<th>Actions</th>
	</tr>
	{foreach from=$queues item=queue key=key}
		<tr {if $key%2 == 1}class="alt"{/if}>
			<td>{$queue.name}</td>
			<td>{$queue.numItems}/{$queue.maxItems}</td>
			<td><a href="#add{$queue.id}" onclick="addSelected({$queue.id})">Add Selected</a>, <a href="#view{$queue.id}" onclick="viewQueue({$queue.id})">View</a>, <a href="#clear{$queue.id}" onclick="clearQueue({$queue.id})">Clear</a></td>
		</tr>
	{/foreach}
</table>
{*
<table>
<tr>
	<td>{html_options name="variation" options=$fbg->claimVariationList()}</td>
	<td>{html_options name="destination" options=$fbg->claimDestinationList()}</td>
	<td><input type="submit" name="submit_batch" value="Process"></td>
</tr>
</table>
*}
</fieldset>
{if !$ajaxFlag}
</form>
{/if}
