{literal}
<style>
	#queueForm {
		position: relative;
	}
	.loading div {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #ddd;
		text-align: center;
	}
</style>
{/literal}
<fieldset>
	<legend>{l}Queue History{/l}</legend>
	<p>Select a queue to view it's history</p>

<table class="grid">
	<tr>
		<th>Name</th>
		<th>Items</th>
	</tr>
	{foreach from=$queues item=queue key=key}
		<tr {if $key%2 == 1}class="alt"{/if}>
			<td>{$queue.name}</td>
			<td>{$queue.numItems}/{$queue.maxItems}</td>
			{if $queueId != $queue.id}
			<td><a href="{link action="history"}id={$queue.id}">Select</a></td>
			{else}
			<td>Viewing</td>
			{/if}
		</tr>
	{/foreach}
</table>
</fieldset>

<br>
{if $history}
<fieldset>
	<legend id="queueName">{$queueName} Queue</legend>
	{$history}
</fieldset>
{/if}
