<table>
	<tr>
		<td class="aRight">Ethnicity</td>
		<td>{$ordo->value('ethnicity')}</td>
	</tr>
	
	<tr>
		<td class="aRight">Race</td>
		<td>{$ordo->value('race')}</td>
	</tr>
	
	<tr>
		<td class="aRight">Income</td>
		<td>{$ordo->value('income')}</td>
	</tr>
	
	<tr>
		<td class="aRight">Language</td>
		<td>{$ordo->value('language')}</td>
	</tr>
	
	<tr>
		<td class="aRight">Migrant Status</td>
		<td>{$ordo->value('migrant_status')}</td>
	</tr>
	
	<tr>
		<td class="aRight">Registration Location</td>
		<td>{$ordo->value('registration_location')}</td>
	</tr>
	
	<tr>
		<td class="aRight">Sign In Date</td>
		<td>{$ordo->value('sign_in_date')}</td>
	</tr>
	
	<tr>
		<td class="aRight">Monthly Income</td>
		<td>{$ordo->value('monthly_income')}</td>
	</tr>
	
	<tr>
		<td class="aRight">Family Size</td>
		<td>{$ordo->value('family_size')}</td>
	</tr>
</table>

