<form name="users" method="post" action="{$TOP_ACTION}">
<table>
	<tr>
		<td colspan="2">
		{if $error}
			{$error}<br><br>
		{/if}
		{if $messages}
			{$messages}<br><br>
		{/if}
		</td>
	</tr>
	<tr>
		<td>{l}Username{/l}:&nbsp;</td>
		<td><input type="text" name="username" size="15" value="{$username}"></td>
	</tr>
	<tr>
		<td>{l}Nickname{/l}:&nbsp;</td>
		<td><input type="text" name="nickname" size="15" value="{$nickname}"></td>
	</tr>
	<tr>
		<td>{l}Color{/l}:&nbsp;</td>
		<td><input type="text" name="color" size="15" value="{$color}"></td>
	</tr>
	<tr>
		<td>{l}Default Location{/l}:</td>
		<td>{html_options name="default_location_id" options=$rooms_practice_array}</td>
	</tr>
	<tr>
		<td>{l}Roles{/l}:&nbsp;</td>
		<td>{html_options name="groups[]" options=$groups multiple="true" size="4"}</td>
	</tr>
	<tr>
		<td>{l}Password{/l}:&nbsp;</td>
		<td><input type="password" name="password" size="15"></td>
	</tr>
	<tr>
		<td>{l}Password (match){/l}:&nbsp;</td>
		<td><input type="password" name="password2" size="15"></td>
	</tr>
	<tr>
		<td colspan="2" align="center"><br><input type="submit" name="submit" value="{l}Add User{/l}"></td>
	</tr>
</table>
<input type="hidden" name="process" value="{$PROCESS}">
</form>
