<fieldset>
	<legend>{l}Payment Plan{/l}</legend>
	<input type="hidden" name="PatientPaymentPlan[id]" value="{$ppplan->get('id')}" />
	<input type="hidden" name="PatientPaymentPlan[patient_id]" value="{$encounter->get('patient_id')}" />
	<input type="hidden" name="PatientPaymentPlan[encounter_id]" value="{$encounter->get('id')}" />
	<table border="0">
	{if $ppplan->get('id') < 1}
	<tr>
		<td>{l}Start Date{/l}</td><td>{clni_input_date name="PatientPaymentPlan[start_date]" format="Y-m-d" popup_format="%Y-%m-%d"}</td>
	</tr>
	<tr>
		<td>{l}Interval: {/l}</td><td><input name="PatientPaymentPlan[intervalnum]" type="text" size="3" /> <select name="PatientPaymentPlan[intervaltype]"><option value='DAY'>{l}Day(s){/l}</option><option value="WEEK">{l}Week(s){/l}</option><option value="MONTH">{l}Month(s){/l}</option><option value="YEAR">{l}Year(s){/l}</option></select></td>
	</tr>
	<tr>
		<td>{l}Number of Payments: {/l}</td><td><input type="text" name="PatientPaymentPlan[num_intervals]" size="5" /></td>
	</tr>
	{/if}
	<tr>
		<td>{l}{if $ppplan->get('id') > 0}Add{else}Total{/if} Amount: {/l}</td><td><input type="text" name="PatientPaymentPlan[{if $ppplan->get('id') > 0}add{else}balance{/if}]" size="5" /></td>
	</tr>
	<tr>
		<td></td><td><input type="submit" value="Create Plan" /></td>
	</tr>
	</table>
</fieldset>
