<p>X12 file has been parsed, contained {$numTrans} transaction(s) containing {$claims} claim(s).</p>

{*<p>0 Transactions were automatically applied, there are {$numTrans} transactions left to apply</p>*}

<table class="grid">
<thead>
	<tr><td>Transaction ID</td><td># Claims</td><td>Total Payment</td></tr>
</thead>
<tbody>
{foreach from=$claimCounts item=row key=id}
	<tr><td>{$id}</td><td>{$row.claims}</td><td>${$row.payment}</td></tr>
{/foreach}
</tbody>
</table>

<p><a href="{$ACTION_APPLY}">Apply Transactions</a></p>
