{strip}
{assign var="baseColWidth" value="254"}
{assign var="fullColWidth" value="275"}
{assign var="fullColWidthPadded" value=$fullColWidth+12}
{assign var="conflictBlockWidth" value="270"}

<script type="text/javascript">
	var colWidths = {lcb}base:{$baseColWidth},full:{$fullColWidth},conflict:{$conflictBlockWidth}{rcb};
</script>
<style type="text/css">
.schedule {lcb}
	height: {$dayIterator->canvasHeight()}px;
{rcb}
.event {lcb}
	width:{$baseColWidth-4}px;
{rcb}



	{if $description->hasSchedules()}
	{foreach from=$columns key=row_id item="col"}
				{foreach from=$col.events item=events key=timestamp}
					{foreach from=$events item=event key="event_id"}
					{if !$col.conflicts.$event_id}
					#event{$event_id}{lcb}
						top: {$dayIterator->timestampToPosition($event.start)}px;height:{$dayIterator->timeDifferenceToHeight($event.start,$event.end)}px;
					{rcb}
					{/if}
					{/foreach}
				{/foreach}
				{foreach from=$col.conflictColumns key=index item=column}
						{foreach from=$column item=e key=event_id}
							{assign var="ts" value=$e.start_ts}
							{assign var="event" value=$col.events.$ts.$event_id}

							#event{$event_id}{lcb}
								top: {$dayIterator->timestampToPosition($event.start)}px;height:{$dayIterator->timeDifferenceToHeight($event.start,$event.end)}px;
							{rcb}
						{/foreach}
				{/foreach}
	{/foreach}
	{/if}

</style>
{/strip}