{include file="calendar/general_precalendar.html"}

<div>{$messages->render()}</div>
<pre id="debug"></pre>
<div id="calendarBody">
<style type="text/css">
	.monthreg {lcb}
		background-color: #FFFFFF;
		border:1px solid silver;
	{rcb}
	.calhead {lcb}
		background-color: #FFFFFF;
		border:1px solid silver;
	{rcb}
</style>
<table  cellspacing="0" cellpadding="2" class="monthback">
		<tr>
		<td colspan="7">
			<table width="100%">
			<tr>
				<td align="right" width="40%" class="navback"><a class="psf" href="{$WEEK_PREV_ACTION}"><img src="{$base_dir}images/left_day.gif" alt="[{l}Previous Week{/l}]" border="0" align="right"></a></td>
				<td align="center" width="20%" class="navback" nowrap valign="middle"><span class="H20">{$weekIterator->start|date_format:"%a, %b %d"} - {$weekIterator->end|date_format:"%a, %b %d"}</span></td>
			<td align="left" width="40%" class="navback">
				<a class="psf" href="{$WEEK_NEXT_ACTION}"><img src="{$base_dir}images/right_day.gif" alt="[{l}Next Week{/l}]" border="0" align="left"></a>
     			</td>
		<td align="right" width="140" class="navback">
			&nbsp;<a href="{link action="month"}date={$description->currentMonth()}" title="Month View">{clni_img name="month_on.gif"}</a>
			&nbsp;<a href="{$FORM_ACTION}&set_print_view" target="_new" title="Print View">{clni_img name="print_icon.png"}</a>
		</td>
			</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="460" valign="top" colspan="{7}" align="center" style="border-top: 1px solid #A1A5A9;border-right: 1px solid #A1A5A9;" class="dateback">&nbsp;
		</td>
	</tr>
	<tr>										
{$weekIterator->rewind()}
{assign var=day value=$weekIterator->current()}
{while $weekIterator->valid()}
    	<td width="70" colspan="1" valign="top" align="center" class="dateback calhead"><span class="V9">{$day->getTimestamp()|date_format:"%m/%d/%Y"}<BR><a class="psf" href="{$DAY_ACTION}&resetFilters=default&date={$day->getTimestamp()|date_format:"%Y-%m-%d"}">{$day->getTimestamp()|date_format:"%A"}</a></span>
	{assign var=day value=$weekIterator->next()}
{/while}
    </tr>
    <tr>
{$weekIterator->rewind()}
{assign var=day value=$weekIterator->current()}
{while $weekIterator->valid()}
		<td align="left" valign="top" id="day-{$day->getTimestamp()|date_format:"%Y%m%d"}" class="monthreg" width="125" height="125">
		<script type="text/javascript" language="javascript">
			Droppables.add('day-{$day->getTimestamp()|date_format:"%Y%m%d"}', {ldelim}accept: 'event-div',onDrop: dropEvent{rdelim});
		</script>
		{assign var=eventsHTML value=$day->getEventsHTML()}
		{foreach from=$eventsHTML item=event key=event_id}
				<div class="event-div" id="event-{$event_id}">
					<script type="text/javascript" language="javascript">
 						new Draggable('event-{$event_id}',{ldelim}revert:true{rdelim});
					</script>
					{$event}
				</div>
		{/foreach}
        </td>
	{assign var=day value=$weekIterator->next()}
{/while}
    </tr>
</table>
</div>
{$filter_html}
{$extraDisplay}
