{assign var="baseColWidth" value="254"}
{assign var="fullColWidth" value="275"}
{assign var="fullColWidthPadded" value=$fullColWidth+12}
{assign var="conflictBlockWidth" value="270"}

{literal}
<script>
var popup = '';
function switch_provider(provider_id) {
	block = document.getElementById('column-' + provider_id).innerHTML;
        HTML_AJAX.call('appointment','ajaxReschedule',showPopup,provider_id, block);

        return false;
}

function showPopup(result) {
	popdiv = document.getElementById('popup_dialog');
        HTML_AJAX_Util.setInnerHTML('popup_dialog',result);
        if (popdiv.style.display == '' || popdiv.style.display == 'none') {
          popup = new clniPopup('',false);
          popup.useElement = 'popup_dialog';
          popup.modal = true;
          popup.display();
          popup.draggable = true;
          popup.draggableOptions = {handle:'title'};
        }
}
function rulesCheckResult(result) {
	alertMessages = document.getElementById('alertMessages');
	alertMessages.style.display = 'block';
        alertMessages.innerHTML = result;
	document.getElementById('reschedule').style.display = 'none';
	document.getElementById('confirm').style.display = 'block';
}
function hidePopup() {
        popup.hide();
}
function confirm_reschedule() {
        newProviderId = document.getElementById('new_provider_id').value;
        appIds = document.getElementById('appIds').value;
        HTML_AJAX.call('appointment','ajaxRescheduleCheckRules',rulesCheckResult,appIds,newProviderId);

        return false;
}
function doResult(result) {
	alertMessages = document.getElementById('alertMessages');
        alertMessages.style.display = 'block';
        alertMessages.innerHTML = result;
}
function do_reschedule() {
        var newProviderId = document.getElementById('new_provider_id').value;
	var override = '';
	var overrideNeeded = '';
        if (document.getElementById('appointmentOverride'))
		override = document.getElementById('appointmentOverride').value;
	if (document.getElementById('appointmentOverrideNeeded'))
        	overrideNeeded = document.getElementById('appointmentOverrideNeeded').value;
        var appIds = document.getElementById('appIds').value;
        var scheduleIds = '';
	if (document.getElementById('copySchedule').checked == true) {
        	scheduleIds = document.getElementById('scheduleIds').value;
	}
        HTML_AJAX.call('appointment','ajaxDoReschedule',doResult,appIds,newProviderId,override, overrideNeeded,scheduleIds);

        return false;
}
function paymentPopup(appointmentId,patientId) {
	HTML_AJAX.call('CEncounter','ajaxEditPayment',showPopup,appointmentId,patientId);
}
function addUpdatePayment() {
  var hash = new Object();
  hash['payment_type'] = document.getElementById('paymentType').value;
  hash['amount'] = document.getElementById('paymentAmount').value;
  hash['title'] = document.getElementById('paymentTitle').value;
  hash['ref_num'] = document.getElementById('paymentRefNum').value;
  hash['encounter_id'] = document.getElementById('paymentEncounterId').value;
  var appointmentId = document.getElementById('paymentAppointmentId').value;
  var patientId = document.getElementById('paymentPatientId').value
  HTML_AJAX.call('CEncounter','ajaxAddUpdatePayment',showPopup,hash,appointmentId, patientId);

}
function addUpdateMiscCharge() {
  var hash = new Object();
  var patientId = document.getElementById('paymentPatientId').value
  hash['amount'] = document.getElementById('miscChargeAmount').value;
  hash['title'] = document.getElementById('miscChargeTitle').value;
  hash['encounter_id'] = document.getElementById('paymentEncounterId').value;
  var appointmentId = document.getElementById('paymentAppointmentId').value;
  var patientId = document.getElementById('paymentPatientId').value
  HTML_AJAX.call('CEncounter','ajaxAddUpdateMiscCharge',showPopup,hash,appointmentId, patientId);
}
function show_ref_num(val) {
                if (val == "check") {
                        document.getElementById("chk_num_label").style.visibility = 'visible';
                        document.getElementById("paymentRefNum").style.visibility = 'visible';
                }
                else {
                        document.getElementById("chk_num_label").style.visibility = 'hidden';
                        document.getElementById("paymentRefNum").style.visibility = 'hidden';   
                }
                
}
</script>
{/literal}


<div id="debug" style="white-space:pre"></div>

{include file="calendar/general_precalendar.html"}

{$dayIterator->rewind()}
{assign_by_ref var=interval value=$dayIterator->current()}

{assign var='bodyWidth' value=$fullColWidthPadded*$numColumns+80}
{if $bodyWidth < 500}
{assign var='bodyWidth' value=500}
{/if}
<div id='popup_dialog'></div>
<div id="calendarBody" style="width:{$bodyWidth}px">
<table  border="0" cellspacing="0" cellpadding="0" class="calborder" width="100%">
	<thead>
<tr>
	<td colspan="{$description->getHeaderColspan()}">
		<table width="100%" class="navback">
		<tr>
		<td>&nbsp;</td>
		<td align="right" class="navback" width="25"><a class="psf" href="{$DAY_PREV_ACTION}">{clni_img name="left_day.gif" 
			alt="[{l}Previous Day{/l}]" title="[{l}Previous Day{/l}]" border="0" align="right"}</a></td>
		<td align="center" class="navback" nowrap valign="middle" width="200">
			<span class="H20">{$description->getLabel()}</span>
			&nbsp;
<nobr class="jscal"><input type="hidden" name="changedate" value="" id="changedate" /><img id="changedate_trigger" src="{link pageType='' controller='Images' action='stock/set_time.gif'}" style="cursor: pointer; vertical-align: top"></nobr>
<script type="text/javascript">
{literal}
function changeCalendarDate(cal) {
{/literal}
	var date = cal.date;
	if(cal.dateClicked) {literal}{{/literal}
		document.location.href='{link}date='+date.print("%Y-%m-%d");
{literal}
	}
}
Calendar.setup( {
	inputField:"changedate",
	showsTime: false,
	ifFormat: "%Y-%m-%d",
	button:"changedate_trigger",
	onSelect: changeCalendarDate
 }
);
{/literal}
</script>
		</td>
		<td align="left" class="navback" width="25">
			<a class="psf" href="{$DAY_NEXT_ACTION}">{clni_img name="right_day.gif" alt="[{l}Next Day{/l}]" title="[{l}Next Day{/l}]" border="0" align="left"}</a>
		</td>
		<td>&nbsp;</td>
		<td align="right" width="140">
			<a href="{link action="day"}date={$description->currentDay()}" title="Day View">{clni_img name="day_on.gif"}</a>
			{if $showWeekLinks}&nbsp;<a href="{link action="week"}date={$description->currentWeek()}" title="Week View">{clni_img name="week_on.gif"}</a>{/if}
			&nbsp;<a href="{link action="month"}date={$description->currentMonth()}" title="Month View">{clni_img name="month_on.gif"}</a>
			&nbsp;<a href="{$FORM_ACTION}&set_print_view" target="_new" title="Print View">{clni_img name="print_icon.png"}</a>
		</td>
		</tr>
		</table>
	</td>
</tr>
</table>


{strip}
<div id="calendarCanvas">
	{* Spacer *}
	<div style="height: 30px;"></div>
{* background *}
{$timerow}
	{* Calendar Events *}
	<div id="calendarOverlay">
	{if $description->hasSchedules()}
	{foreach from=$columns key=row_id item="col"}
		{assign var="left" value=$col.index*$fullColWidthPadded}

		{assign var="expandedSize" value=$col.conflictColumnCount*$baseColWidth}
		{assign var="expandedSize" value=$expandedSize+$fullColWidth}
		<div class="column {if $col.isRoom}roomColumn{else}providerColumn{/if}" id="column-{$row_id}" style=
			"left: {$left}px; width: {$fullColWidth}px;" expandedSize="{$expandedSize}">
		 
		<div class="schedule" style="border-color: #{$col.borderColor};" id="schedule-{$row_id}">
			<div class="header" style="background-color: #{$col.color};">
				{$col.label} {$col.labelextra} {if $rescheduleFlag}<a href="#" onclick="switch_provider({$row_id});">{clni_img name="reschedule.png"}</a>{/if}
			</div>
			{foreach from=$col.conflictBlocks item=block}
			<div class="conflictBlockBackground block-{$row_id}" style="top: {$dayIterator->timestampToPosition($block.start)}px;height:{$dayIterator->timeDifferenceToHeight($block.start,$block.end)-4}px;">
				Double Booked: total of {$block.count} Appointments
			</div>
			{/foreach}

			<div class="schedules">
				{foreach from=$col.schedules item="schedule"}
				<div schedule_event_id="{$schedule.schedule_event_id}" style="top: {$dayIterator->timestampToPosition($schedule.start)}px; height: {$dayIterator->timeDifferenceToHeight($schedule.start,$schedule.end)}px;background: #{$col.color}; ">{$schedule.display}&nbsp;</div>
				{/foreach}
			</div>
		</div>

		<div class="colBody">
			<div class="colItems" id="scheduleColItems-{$row_id}">
				{assign var="count" value=0}
				{$dayIterator->rewind()}
				{while $dayIterator->valid()}
					{assign var="timestamp" value=$dayIterator->getTimestamp()}
					{assign var="count" value=$count+1}
					<div>
						{if $col.precol.$timestamp}{$col.precol.$timestamp}{/if}
						{if $col.postcol.$timestamp}{$col.postcol.$timestamp}{/if} 
					</div>
					{assign var=interval value=$dayIterator->next()}
				{/while}
			</div>

			<div class="events" id="events-{$row_id}">
				<div class="innerColumn primaryColumn" id="primaryColumn-{$row_id}">
				{foreach from=$col.events item=events key=timestamp}
					{foreach from=$events item=event key="event_id"}
					{if !$col.conflicts.$event_id}
						{$event.html}
					{/if}
					{/foreach}
				{/foreach}
				</div>

				{foreach from=$col.conflictColumns key=index item=column}
					{assign var="ileft" value=$index-1}
					{assign var="ileft" value=$ileft*$baseColWidth}
					{assign var="ileft" value=$ileft+$fullColWidth+4}
					<div class="innerColumn" style="left: {$ileft}px;">
						{foreach from=$column item=e key=event_id}
							{assign var="ts" value=$e.start_ts}
							{assign var="event" value=$col.events.$ts.$event_id}
							{$event.html}
						{/foreach}
					</div>
				{/foreach}
				{foreach from=$col.conflictBlocks item=block}
				<a class="conflictBlockLink blockLink-{$row_id}" style="top: {$dayIterator->timestampToPosition($block.start)}px;height:{$dayIterator->timeDifferenceToHeight($block.start,$block.end)+2}px; right:0" href="#toggleConflicts" onclick="toggleConflicts({$row_id})">|</a>
				{/foreach}
			</div>
		</div>
	</div>
	{/foreach}
	{/if}
	</div>
</div>
{/strip}
</div>
{if $sidebar}
{$sidebar}
{*
{$filter_html}
*}
{/if}
{if !$sidebar}
{*
{$filter_html}
*}
{/if}
</div>

{$extraDisplay}
<script type="text/javascript">
//we define two arrays, containing our toggles and divs.
var filterDivs = document.getElementsByClassName('filterBody');
var filterLinks = document.getElementsByClassName('filterToggle');

//then we create the effect.
var filterAccordion = new fx.Accordion(filterLinks, filterDivs, {lcb}opacity: true{rcb});
</script>
