{head type="css"}
	.bLeft {
		border-left: solid 1px black !important;
	}
	.bRight {
		border-right: solid 1px black !important;
	}
	.bTop {
		border-top: solid 1px black !important;
	}
	.bBottom {
		border-bottom: solid 1px black !important;
	}
	tr.bBottom td {
		border-bottom: solid 1px black !important;
	}
	tr.bTop td {
		border-top: solid 1px black !important;
	}
	#reportPage {
		width: 7.75in;
		position: relative;
	}

	#practiceHeader {
		text-align: center;
	}
	#practiceHeader H1,H3 {
		padding: 0;
		margin: 0;
	}
	#dataTable {
		width: 7.75in;
	}
	#dataTable td {
		padding-left: 2px;
		font-family: monospace;
		font-size: 10pt;
	}
	#dataTable .header td {
		padding-left: 2px;
		font-family: sans-serif;
		font-size: 7pt;
	}
	.topLeft {
		text-align: left;
		vertical-align: top;
	}
	.center {
		text-align: center;
	}
	.label {
		text-align: right;
		font-family: sans-serif;
		font-size: 10pt;
	}
	body, #body {
		background-color: white !important;
	}
{/head}

{if $pageType != 'minimal'}
<p>To print from a browser set all margins to .1in and select Print Background.  You may also want to disable the browsers headers and footers.</p>
<p><a target="print" href="{$PRINT_ACTION}">Print View</a></p>
{/if}
<div id="reportPage">
<div id="practiceHeader">
<h1>{$practice->get('name')}</h1>
<h3>{$practice->main_address->get('line1')} {$practice->main_address->get('line2')}</h3>
<h3>{$practice->main_address->get('city')}, {$practice->main_address->get('state')} {$practice->main_address->get('zip')}</h3>
<h3>{$practice->get('phone1')}</h3>
</div>

<table border=0 cellspacing=0 cellpadding=0 id="dataTable">
<tbody>
	<tr>
		<td>${$copay}</td>
		<td>{$route_slip_id}</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td class="label">Date:</td>
		<td colspan=2><div style="float: left">{$timestamp}</div><div style="float: right">{$user_id}</div></td>
	</tr>
	<tr class="topLeft header bTop">
		<td class="bLeft">PATIENT'S LAST NAME</td>
		<td>FIRST</td>
		<td class="bRight">MIDDLE</td>
		<td class="bRight" colspan=2>BIRTHDATE</td>
		<td class="bRight">MALE</td>
		<td class="bRight">FEMALE</td>
		<td class="bRight" colspan="2">ACCOUNT NO.</td>
	</tr>
	<tr class="bBottom">
		<td class=" bLeft">{$patient->get('last_name')}&nbsp;</td>
		<td class="">{$patient->get('first_name')}&nbsp;</td>
		<td class=" bRight">{$patient->get('middle_name')}&nbsp;</td>
		<td class=" bRight" colspan=2>{$patient->get('date_of_birth')}&nbsp;</td>
		<td class=" bRight center">{if $patient->get('gender') == 1}X{/if}&nbsp;</td>
		<td class=" bRight center">{if $patient->get('gender') == 2}X{/if}&nbsp;</td>
		<td class=" bRight" colspan="2">{$patient->get('record_number')}&nbsp;</td>
	</tr>
	<tr class="topLeft header">
		<td class="bLeft" colspan=2>ADDRESS</td>
		<td colspan=2>CITY</td>
		<td class="">STATE</td>
		<td class="bRight" colspan=2>ZIP</td>
		<td class="bRight" colspan="2">MEDICAL RECORD NO.</td>
	</tr>
	<tr class="bBottom">
		<td class="bLeft" colspan=2>{$address->get('line1')} {$address->get('line2')}</td>
		<td colspan=2>{$address->get('city')}</td>
		<td class="">{$address->value('stateInitials')}</td>
		<td class="bRight" colspan=2>{$address->get('zip')}</td>
		<td class="bRight" colspan="2">{$patient->get('record_number')}</td>
	</tr>
	<tr class="topLeft header">
		<td class="bLeft bRight">PAYOR CODE</td>
		<td class="bRight" colspan=4>INSURANCE #1</td>
		<td class="bRight red" colspan=3>PROVIDER</td>
		<td class="bRight">TELEPHONE NO.</td>
	</tr>
	<tr class="bBottom">
		<td class="bLeft bRight">{$payer->get('name')}</td>
		<td class="bRight" colspan=4>{$payer->get('name')}</td>
		<td class="bRight" colspan=3>{$provider->get('last_name')}</td>
		<td class="bRight" >{$provider->get('phone')}</td>
	</tr>
</tbody>
</table>
{$extra}
</div>
