{literal}
<script>
function formSubmit(formId) {
	HTML_AJAX.formSubmit('ajaxForm' + formId,'__'+formId);
}
</script>
{/literal}
	<table>
		<tr>
			<td valign="top">
				<div class="selector" id="selector0"></div>
                        	<div class="tabset" id="tabset0">
                                <div class="tab selected" title="Encounter">
{clni_form action=$FORM_ACTION process=$PROCESS id="encounter"}
<input type="hidden" name="lockTimestamp" value="{$lockTimestamp}">
				{include file="encounter/general_details.html"}
</form>
				</div>
				{foreach from=$widgetForms key=wfFormId item=wf}
                                <div class="tab" id="__{$wf.form_id}" title="{$wf.name}"  actionname="{$wf.form_id}"></div>
				{/foreach}

				</div>
{clni_form action=$FORM_ACTION process=$PROCESS id="encounter"}
<input type="hidden" name="lockTimestamp" value="{$lockTimestamp}">
				{include file="encounter/general_reports.html"}
			{*	{include file="visitqueue/general_visitqueue.html"} *}
			</td>
			<td valign="top">
				<div class="selector" id="selector1"></div>
                                <div class="tabset" id="tabset1">
                                <div class="tab selected" title="People">
				{include file="encounter/general_people.html"}
				</div>
                                <div class="tab" title="Dates">
				{include file="encounter/general_dates.html"}
				</div>
                                <div class="tab" title="Misc. Data">
				{include file="encounter/general_value.html"}
				</div>
                                <div class="tab" title="Payer Groups">
				{include file="encounter/general_payer.html"}
				</div>
                                <div class="tab" title="Forms">
				{include file="encounter/general_forms.html"}
				</div>
				</div>
				<div class="selector" id="selector2"></div>
                                <div class="tabset" id="tabset2">
                                <div class="tab selected" title="Payments">
				{include file="encounter/general_payment.html"}
				</div>
                                <div class="tab" title="Misc Charges">
				{include file="encounter/general_miscCharges.html"}
				</div>
				</div>
			</td>
		</tr>
	</table>
	</fieldset>
{clni_register_validation_rule id="date_of_treatment"}
{if $encountertemplatelist}
<fieldset>
<legend>{l}Encounter Code Template{/l}</legend>
{l}Reason:{/l} <select name="coding_template_id">
<option value=''></option>
{html_options options=$encountertemplatelist}
</select>
<input type="submit" value="{l}Add Codes{/l}" />
{/if}
</form>
<div class="dock" >
<a style="width:100%;" href="#" onclick="toggleVis('claimlinedock');" id="claimlinedockShowHide">
<img src="{$base_uri}/images/emblem-cvs-controlled.png" style="float:left;padding:0;margin-top:2px;">
<span style="font-weight:bold;font-size:11pt;display:none;">Claim Lines<div style=" position:relative; left:100px; top:-10px;border: thin solid gray;margin-left:10px;margin-right:50px;width:90%;"></div></span></a>
</div>
<div id ="claimlinedock" >
{$codingHtml}
</div>
