<script type="text/javascript">
{literal}
function showVis(id) {
    var object = document.getElementById(id).style;
    var showhide = document.getElementById(id + 'ShowHide');
    object.display = "block";
    showhide.getElementsByTagName('img').item(0).src = "{/literal}{$base_uri}{literal}index.php/images/emblem-cvs-controlled.png";
    showhide.getElementsByTagName('span').item(0).style.display = "none";
    window.location.href = '{/literal}{$base_uri}{literal}index.php/WidgetForm/setWidgetVisibility/block';

}

function hideVis(id) {
    var object = document.getElementById(id).style;
    var showhide = document.getElementById(id + 'ShowHide');
    object.display = "none";
    showhide.getElementsByTagName('img').item(0).src = "{/literal}{$base_uri}{literal}index.php/images/emblem-cvs-controlled-2.png";
    showhide.getElementsByTagName('span').item(0).style.display = "inline";
    window.location.href = '{/literal}{$base_uri}{literal}index.php/WidgetForm/setWidgetVisibility/none';

}

function toggleVis(id) {
    //if an element is invisible, make it visible, else make it ivisible
    if(document.getElementById(id).style.display == 'none') {
        showVis(id);

    } else {
        hideVis(id);
    }
}
{/literal}
</script>

{clni_form action=$FORM_ACTION process=$PROCESS id="encounter"}
<input type="hidden" name="lockTimestamp" value="{$lockTimestamp}">

<div class="dock" >
<a style="width:100%;" href="#" onclick="toggleVis('demodock');" id="demodockShowHide">
<img src="{$base_uri}index.php/images/emblem-cvs-controlled.png" alt=">" style="float:left;padding:0;margin-top:2px;">
<span style="{if $cwf->getWidgetVisibility() == none}display: block;{else}display: none;{/if} font-weight:bold;font-size:11pt;">Demographics<div style=" position:relative; left:100px; top:-10px;border: thin solid gray;margin-left:10px;margin-right:50px;width:90%;"></div></span></a>
</div>
<fieldset id="demodock" {if $cwf->getWidgetVisibility() == none}style="display: none;"{/if}>
<legend>{l}Demographic{/l}</legend>
<table width="100%">
<tr>
	<td><b>{$person_data->get('first_name')}, {$person_data->get('last_name')}</b></td>
	<td>$phone Home</td>
	<td>$phone Work</td>
	<td>$address</td>
	<td>Default Provider:<b> {$person_data->get('print_default_provider')}</b></td>
</tr>
<tr>
	<td>ID: <b>{$current_patient_id}</b></td>
	<td>{$person_data->get('print_gender')} - {$person_data->get('print_marital_status')}</td>
	<td>DOB: {$person_data->get('date_of_birth')} (Age: {$person_data->get('age')})</td>
	<td><a href="#">Demographic Statistics</a></td>
	<td>Status: {if $person->get('inactive') == 0}<span class="green">Active{else}<span class="red>Inactive{/if}</span></td>
</tr>
</table>
</fieldset>

<div class="dock" >
<a style="width:100%;" href="#" onclick="toggleVis('criticalsdock');" id="criticalsdockShowHide">
<img src="{$base_uri}index.php/images/emblem-cvs-controlled.png" alt=">" style="float:left;padding:0;margin-top:2px;">
<span style="{if $cwf->getWidgetVisibility() == none}display: block;{else}display: none;{/if} font-weight:bold;font-size:11pt;">Criticals<div style=" position:relative; left:100px; top:-10px;border: thin solid gray;margin-left:10px;margin-right:50px;width:90%;"></div></span></a>
</div>
<fieldset id="criticalsdock" {if $cwf->getWidgetVisibility() == none}style="display: none;"{/if}>
<legend>{l}Criticals{/l}</legend>
<div class="critical_item">
{$widget_form_content}
</div>
<div class="clear"></div>
</fieldset>

<table width="100%">
	<tr>
		<td valign="top">
			<div class="selector" id="selector0"></div>
			<div class="tabset" id="tabset0">
				{include file="encounter/general_details.html"}
			</div>
		</td>
		<td valign="top" width="400">
			<div class="selector" id="selector2"></div>
			<div class="tabset" id="tabset2">
				{include file="encounter/general_payer.html"}
				{include file="encounter/general_people.html"}
				{include file="encounter/general_dates.html"}
				{include file="encounter/general_value.html"}
				{include file="encounter/general_forms.html"}
				{include file="encounter/general_reports.html"}
			</div>

			<div class="selector" id="selector1"></div>
			<div class="tabset" id="tabset1">
			{include file="encounter/general_payment.html"}
			{include file="encounter/general_miscCharges.html"}
			</div>
		</td>
	</tr>
</table>



<div class="minimizable" title="Show Objective">
	<div class="selector" id="selector3"></div>
	<div class="tabset" id="tabset3">
		<div class="tab selected" title="Objective">
			{include file="encounter/mockup/general_objective.html"}
		</div>
	</div>
</div>

<div class="minimizable minimized" title="Show Physical Exams">
	<div class="selector" id="selector4"></div>
	<div class="tabset" id="tabset4">
		<div class="tab selected" title="Physical Exams">
			{include file="encounter/mockup/general_exams.html"}
		</div>
	</div>
</div>

<div class="minimizable" title="Show Assessment">
	<div class="selector" id="selector5"></div>
	<div class="tabset" id="tabset5">
		<div class="tab selected" title="Assessment">
		{clni_register_validation_rule id="date_of_treatment"}
		{if $encountertemplatelist}
			<legend>{l}Encounter Code Template{/l}</legend>
			{l}Reason:{/l} <select name="coding_template_id"> <option value=''></option> {html_options options=$encountertemplatelist} </select>
			<input type="submit" value="{l}Add Codes{/l}" />
		{/if}
		</form>

		{$codingHtml}
		</div>
	</div>
</div>

<div class="minimizable" title="Show Plan">
	<div class="selector" id="selector6"></div>
	<div class="tabset" id="tabset6">
		<div class="tab selected" title="Plan">
			{include file="encounter/mockup/general_plan.html"}
		</div>
	</div>
</div>
