{clni_form action=$FORM_ACTION process=$PROCESS id="encounter"}
<input type="hidden" name="lockTimestamp" value="{$lockTimestamp}">
	<fieldset>
	<legend>{l}Encounter{/l}</legend>
	<table>
		<tr>
			<td valign="top">
				{include file="encounter/general_details.html"}
				{include file="encounter/general_payment.html"}
				{include file="encounter/general_forms.html"}
				{include file="encounter/general_reports.html"}
			{*	{include file="visitqueue/general_visitqueue.html"} *}
			</td>
			<td valign="top">
				{include file="encounter/general_people.html"}
				{include file="encounter/general_dates.html"}
				{include file="encounter/general_value.html"}
				{include file="encounter/general_payer.html"}
			</td>
		</tr>
	</table>
	</fieldset>
{clni_register_validation_rule id="date_of_treatment"}
{if $encountertemplatelist}
<fieldset>
<legend>{l}Encounter Code Template{/l}</legend>
{l}Reason:{/l} <select name="coding_template_id">
<option value=''></option>
{html_options options=$encountertemplatelist}
</select>
<input type="submit" value="{l}Add Codes{/l}" />
</fieldset>
{/if}
</form>
{$codingHtml}
