{if $encounter->get('encounter_id') > 0}
<fieldset>
	<legend>{l}Encounter Forms{/l}</legend>
	{$formDataGrid->render()}
	{if $formDataGrid->empty}
	<p>{l}Encounter has no completed forms{/l}</p>
	{/if}
	{if $encounter->get('status') != 'closed'}
	<p>{l}Fill out form{/l}: <select onclick="if (this.value > 0) {literal}{{/literal} window.location = '{$FORM_FILLOUT_ACTION}id='+this.value+
		'&returnTo={$RETURN_TO}'; {literal}}{/literal}">
		<option value="0"></option>
			{html_options options=$formList}
		</select>
	</p>
	{/if}
</fieldset>
{/if}
