<div class="tab selected" title="{l}Encounter{/l}">
	<input type="hidden" name="encounter[patient_id]" value="{$encounter->get("patient_id")}">
	<table>
		<tr>
			<td><label>{l}Facility{/l}:</label></td>
			<td><select name="encounter[building_id]">
					{html_options options=$building->getBuildingList() selected=$encounter->get('building_id')}
				</select>
			</td>
			<td><label>{l}Treating Provider{/l}:</label></td>
			<td><select name="encounter[2nd_provider_id]">
					<option value='0'>No Provider</option>
					{html_options options=$person->getPersonList('Provider',false) selected=$encounter->get('treating_person_id')}
				</select>
			</td>
		</tr>
		<tr>
			<td><label>{l}Date of Treatment{/l}:</label></td>
			<td>{clni_input_date name="encounter[date_of_treatment]" value=$encounter->get('date_of_treatment') id="date_of_treatment"}</td>

			<td><label>{l}2nd Provider{/l}:</label></td>
			<td><select name="encounter[treating_person_id]">
					<option value='0'>No Provider</option>
					{html_options options=$person->getPersonList('Provider',false) selected=$encounter->get('2nd_provider_id')}
				</select>
			</td>

		</tr>
		<tr>			
			<td><label>{l}Appointment{/l}:</label></td>
			<td colspan="3">{html_options name="encounter[occurence_id]" options=$appointmentArray selected=$encounter->get("occurence_id") onChange="populateEncounter(this.selectedIndex)"}
			{foreach from=$appointmentlist item=appointment}
			{/foreach}
			</td>
			
		</tr>
		<tr>
			<td><label>{l}Registrar{/l}:</label></td>
			<td><select name="encounter[registrar]">
					<option value='0'></option>
					{html_options options=$person->getPersonList('Provider',false) selected=$encounter->get('registrar')}
				</select>
			</td>

			<td><label>{l}New/Returning{/l}:</label></td>
			<td><select><option></option><option>New</option><option>Returning</option></select>
			</td>
		</tr>
		<tr>
			<td><label>{l}Type of Encounter{/l}:</label></td>
			<td><select name="encounter[encounter_reason]">
					{html_options options=$encounter->getEncounterReasonList() selected=$encounter->get('encounter_reason')}
				</select>
			</td>

			<td colspan=2 style="text-align:right"><label class="inline">{l}Reason{/l}:</label>
			<input size="35"></td>
		</tr>
		<tr>
			<td><b>Subjective</b><br><label>{l}Comments{/l}:</label></td>
			<td colspan="3">
				<textarea rows="2" cols="50"></textarea>
			</td>
		</tr>
		<tr>
			<td>{if $encounter->get('status') != 'closed'}<input type="submit" value="{if $encounter->get('id') > 0}Update{else}Add{/if}">{/if}</td>
			<td colspan="3">
				<div style="white-space:nowrap;">
		{*	<label class="inline">{l}Status{/l}:</label>*}
				{if $encounter->get('status') == 'open' && $encounter->get('id') > 0}
					{if $encounter->get('next_payer_id')}
					{if $claimSubmitValue != 'close'}
					<input type="submit" name="encounter[{$claimSubmitValue}]" value="{if $claimSubmitValue == 'close'}Close{else}Bill Next Payer{/if}" />
					{/if}
					{elseif $claimSubmitValue == 'close'}
					{*<input type="submit" name="encounter[close]" value="Close" />*}
					{/if}
					<input type="submit" name="encounter[override]" value="Bill To:" /> 
					<input type="hidden" name="encounter[overridebilltype]" value="{$claimSubmitValue}" />
					<select  name="encounter[overridepayer]" style="display:inline;">
					{html_options options=$encounter->valueList('current_payers') selected=$encounter->get('current_payer')}
					</select>
				{elseif $encounter->get('status') == 'closed'}
					Current Payer: {$encounter->value('current_payer')}<br>
					<input type="hidden" name="encounter[rebillfromscratch]" id="rebillfromscratch" value="false" />
					{if $payments->numRows() == 0}
					{literal}
					<input style="display:inline;" type="button" name="rebillfromscratchbutton" value="Remove Previous Claim and Re-open" onclick="if(confirm('Are you sure you want to remove the previous claim?')) {document.getElementById('rebillfromscratch').value='true';this.form.submit();}" />
					{/literal}
					{/if}
				</div>
			{* <a href="{$INTAKE_REPORT}" target="_new">{l}Intake Report{/l}</a> *}
			{if $encounter_has_claim}
			<a href="{$PAYMENT_ACTION}">{l}Make a Payment{/l}</a>
			<a href="{$FREEB_ACTION}">{l}View Claim{/l}</a>
			{else}
			Closed with no claim created
			{/if}
			{* <a href="{$EXIT_REPORT}">{l}Exit Report{/l}</a> *}
			<a href="{$REOPEN_ACTION}">{l}Re-open Claim{/l}</a>
        		{else}
            		open
            	{/if}
		{if $encounter->get('status') == 'open' && $encounter->get('id') > 0 && !$encounter_has_claim}
		<a href="{$DELETE_ACTION}" onclick="return confirm('Delete this Encounter?')">Delete Encounter</a>
		{/if}
			</td>
		</tr>
	</table>
</div>
{literal}
<script language="javascript" type="text/javascript">
function populateEncounter(selected) {
	var oc_id = document.forms.encounter['encounter[occurence_id]'][selected].value;
	var pat_id = document.forms.encounter['encounter[patient_id]'].value;
	e = new Encounter();
	var results = e.appointmentlist_remoting(oc_id,pat_id);
	var treating_person = document.forms.encounter['encounter[treating_person_id]'];
	var building = document.forms.encounter['encounter[building_id]'];
	var reason = document.forms.encounter['encounter[encounter_reason]'];

	var dot = document.forms.encounter['encounter[date_of_treatment]'];

	dot.value = results['appointment_start'].substr(0,10);

	for (var i=0;i<treating_person.length;i++) {
		 if (treating_person[i].value == results['provider_id']) {
		 	treating_person[i].selected = true;
		 }
	}
	
	for (var i=0;i<building.length;i++) {
		 if (building[i].value == results['building_id']) {
		 	building[i].selected = true;
		 }
	}

	for (var i=0;i<reason.length;i++) {
		 if (reason[i].text == results['reason']) {
		 	reason[i].selected = true;
		 }
	}
}
</script>
{/literal}

