{literal}
<style type="text/css">
.dNone {
 display:none;
}

.topBorder {
 border: 0;
 border-top:1px solid #000;
}

fieldset {
 border: 1px solid #000;
}

.fs_collapsible legend span {
 display:block;
 float:left;
 width:16px;
 height:16px;
 text-indent:-5000px;
}
.fs_collapsible legend span.closed {
 background:url('{/literal}{$base_dir}{literal}celini/images/stock/disclosure-closed.png') no-repeat center center;
}
.fs_collapsible legend span.open {
 background:url('{/literal}{$base_dir}{literal}celini/images/stock/disclosure-open.png') no-repeat center center;
}

</style>
{/literal}
<h1 class="pageTitle">Referral Summary</h1>
<a name="requested"></a>
<fieldset id="fs_requested" class="fs_collapsible">
	<legend>
		<a href="#" onclick="toggleFieldset(this.parentNode.parentNode);return false;">
			<span class="open">Click to Close</span>
			Appointments Needed
		</a>
	</legend>
	
	<div>
		{$requestedGrid->render()}
		{if $requestedGrid->empty}
		<p>There are no referrals in need of appointments</p>
		{/if}
	</div>
</fieldset>
<div id="fs_requestedHidden" class="dNone"></div>

<a name="canceled"></a>
<fieldset id="fs_canceled" class="fs_collapsible">
	<legend>
		<a href="#" onclick="toggleFieldset(this.parentNode.parentNode);return false;">
			<span class="open">Click to Close</span>
			Appointments that have been Returned/Cancelled
		</a>
	</legend>
	
	<div>
		{$returnedGrid->render()}
		{if $returnedGrid->empty}
		<p>There are no referral appointments in need of canceling</p>
		{/if}
	</div>
</fieldset>
<div id="fs_canceledHidden" class="dNone"></div>

<a name="apptPending"></a>
<fieldset id="fs_apptPending" class="fs_collapsible">
	<legend>
		<a href="#" onclick="toggleFieldset(this.parentNode.parentNode);return false;">
			<span class="open">Click to Close</span>
			Appointments not yet Confirmed
		</a>
	</legend>
	
	<div>
		{$apptPendingGrid->render()}
		{if $apptPendingGrid->empty}
		<p>There are no referral appointments in need of confirmation</p>
		{/if}
	</div>
</fieldset>
<div id="fs_apptPendingHidden" class="dNone"></div>

<a name="eligPending"></a>
<fieldset id="fs_eligPending" class="fs_collapsible">
	<legend>
		<a href="#" onclick="toggleFieldset(this.parentNode.parentNode);return false;">
			<span class="open">Click to Close</span>
			Requests with Eligibility Pending
		</a>
	</legend>
	
	<div>
		{$eligPendingGrid->render()}
		{if $eligPendingGrid->empty}
		<p>There are no referral requests with pending eligibility</p>
		{/if}
	</div>
</fieldset>
<div id="fs_eligPendingHidden" class="dNone"></div>

<a name="apptConfirmed"></a>
<fieldset id="fs_apptConfirmed" class="fs_collapsible">
	<legend>
		<a href="#" onclick="toggleFieldset(this.parentNode.parentNode);return false;">
			<span class="open">Click to Close</span>
			Appointments Confirmed but not yet reported as Completed
		</a>
	</legend>
	
	<div>
		{$apptConfirmedGrid->render()}
		{if $apptConfirmedGrid->empty}
		<p>There are no referral appointments confirmed, but not completed</p>
		{/if}
	</div>
</fieldset>
<div id="fs_apptConfirmedHidden" class="dNone"></div>

{literal}
<script type="text/javascript">
function toggleFieldset(fieldsetObj) {
	this.fieldsetObj = fieldsetObj;
	this.hiddenColor = '#fff';
	this.shownColor = '#000';
	this._toggleDisclosure = function() {
		var spanObj = this.fieldsetObj.getElementsByTagName('legend').item(0).getElementsByTagName('span').item(0);
		if (spanObj.className.indexOf('closed') != -1) {
			spanObj.className = 'open';
		}
		else {
			spanObj.className = 'closed';
		}
	}
	
	var visibleEl = fieldsetObj.getElementsByTagName('div').item(0);
	var hiddenEl  = document.getElementById(fieldsetObj.id + 'Hidden');
	
	if(hiddenEl.innerHTML == '') {
		hiddenEl.innerHTML = visibleEl.innerHTML;
		visibleEl.innerHTML = '';
		this.fieldsetObj.style.borderColor = this.hiddenColor;
	}
	else {
		visibleEl.innerHTML = hiddenEl.innerHTML;
		hiddenEl.innerHTML = '';
		this.fieldsetObj.style.borderColor = this.shownColor;
	}
	
	this._toggleDisclosure();
	
}

// handle toggling all of the fieldsets 
var targetFieldset = window.location.hash.substring(1);
if (targetFieldset != '') {
	var fieldsetList = document.body.getElementsByTagName('fieldset');
	for (i = 0, n = fieldsetList.length; i < n; i++) {
		if (fieldsetList[i].id.substring(0, 3) != 'fs_') {
			continue;
		}
		
		if (fieldsetList[i].id.substring(3) != targetFieldset) {
			toggleFieldset(fieldsetList[i]);
		}
	}
}
</script>
{/literal}
