<script type="text/javascript">
{literal}
	function addTag(form) {
		if (!clni_validate(form)) {
				return false;
		}
		HTML_AJAX.formSubmit(form,null,{callback: 
			function(resp){
				new Effect.Fade(form);
				form.tag.value='';				
				$('tagList').innerHTML = resp;
				HTML_AJAX.replace('cloudTags','{/literal}{link action="cloudTags" controller="DocSmartStorable" pageType=""}'{literal});
			}});
		return false;
	}
{/literal}	
</script>

{clni_form 
	id="tagForm" 
	action="$TAG_FORM_ACTION" 
	method="post" 
	onsubmit="return addTag(this)"
	style="display:none;"
}
<fieldset>
<legend>Add Tag</legend>
<input type="hidden" id="storableId" name="tag[storable_id]" value="{$storable.storable_id}">
<div id="cloudTags">
	{include file="docsmartstorable/general_cloud_tags.html"}
</div>
<label for="tag">Tag:</label><br />
<input type="text" id="tag" name="tag[tag]" />
<input type="submit" name="submit" value="Save"><br /><br />
<br /><a href="javascript:void(0);" onclick="if($('tagForm').tag.value != '' && confirm('Do you want to save this tag?')) addTag($('tagForm')); new Effect.Fade('tagForm');">[close]</a>
</fieldset>
{clni_register_validation_rule id="tag" rule="required"}
</form>
