<script type="text/javascript">
{literal}
	function addNote(form) {
		if (!clni_validate(form)) {
				return false;
		}
		var div = document.createElement('div');
		div.setAttribute("class","note");
		$('notes').appendChild(div);
		new Effect.Fade('noteForm');
		return !HTML_AJAX.formSubmit(form,$('notes').lastChild);				
	}
{/literal}	
</script>
{clni_form 
	id="noteForm" 
	action="$NOTE_FORM_ACTION" 
	method="post" 
	onsubmit="return addNote(this)"
	style="display:none;"
}
<fieldset>
<legend>Add Note</legend>
<input type="hidden" id="storableId" name="note[storable_id]" value="{$storable.storable_id}">
<input type="hidden" id="revisionId" name="note[revision_id]" value="{$revision.revision_id}">
<label for="note">Note message:</label><br />
<textarea id="note" name="note[note]" rows="5" cols="50"></textarea><br />
<input type="submit" name="submit" value="Save"><br /><br />
<br /><a href="javascript:void(0);" onclick="if($('noteForm').note.value != '' && confirm('Do you want to save this note?')) addNote($('noteForm')); new Effect.Fade('noteForm');">[close]</a>
</fieldset>
{clni_register_validation_rule id="note" rule="required"}
</form>

