<iframe src="{link action="preview" controller="DocSmartStorable" defaultArg=$revision.revision_id managerArg=$storable.storable_id pageType=""}" width="600" height="200"></iframe>
<br />
<br />
<a href="javascript:void(0);" onclick="new Effect.Appear('revisionForm');">Add new revision</a> | 
<a href="javascript:void(0);" onclick="HTML_AJAX.replace('tabContent', '{link action="details" controller="DocSmartStorable" defaultArg=$node.tree_id pageType=""}');">Recent revision</a> |
<a href="javascript:top.location.href='{link action="download" controller="DocSmartStorable" defaultArg=$revision.revision_id managerArg=$storable.storable_id pageType=""}'">Download file</a>
<br />
{include file="docsmartstorable/general_revision_form.html"}
<br />
<div id="storableDetails">
<h3>Notes</h3>
<a href="javascript:void(0);" onclick="new Effect.Appear('noteForm'); $('noteForm').note.value='';">[add new note]</a>
{include file="docsmartstorable/general_note_form.html"}
<br />
{include file="docsmartstorable/general_notes_list.html"}
<br />
<h3>Tags</h3>
<a href="javascript:void(0);" onclick="new Effect.Appear('tagForm');">[add new tag]</a>
{include file="docsmartstorable/general_tag_form.html"}
<br />
		<form 
			action="{link action="removetags" controller="DocSmartStorable" pageType=""}" 
			method="POST" 
			onsubmit="return !HTML_AJAX.formSubmit(this,'tagList')">
		<input type="hidden" name="storableId" value="{$storable.storable_id}" />

		<div id="tagList">
		{include file="docsmartstorable/general_tags_list.html"}
		</div>
		
		<input type="submit" name="submit" value="delete selected tags" />
		</form>		
</div>
<br />
<br />
