<a href='javascript:void(0);' onclick="HTML_AJAX.replace('tabContent', '{link action="details" controller="DocSmartStorable" defaultArg=$storableId pageType=""}');">Details</a> |
<a href='javascript:void(0);' onclick="HTML_AJAX.replace('tabContent', '{link action="information" controller="DocSmartStorable" defaultArg=$storableId pageType=""}');">Information</a>
<div id="tabContent"></div>
<script type="text/javascript">HTML_AJAX.replace('tabContent', '{link action="details" controller="DocSmartStorable" defaultArg=$storableId pageType=""}');</script>
