{strip}
{foreach from=$nodes item=node}
/
	{foreach from=$node.path item=pathElement name="path"}
		<a href="javascript:HTML_AJAX.replace('dsContent','{link action="openfolder" controller="DocSmart" defaultArg=$pathElement.tree_id pageType=""}')">
		{if $node.node_type ne "storable" && $smarty.foreach.path.last}
			<b>{$pathElement.folder.label}</b>
		{else}	
			{$pathElement.folder.label}
		{/if}	
		</a>{if !$smarty.foreach.path.last}/{/if}
	{/foreach}
	{if $node.node_type eq "storable"}
		/<a href="javascript:HTML_AJAX.replace('dsContent','{link action="default" controller="DocSmartStorable" pageType=""}tree_id={$node.tree_id}')"><b>{$node.name}</b></a>
	{/if}
<br />
<br />
{foreachelse}
There are no results.
{/foreach}
{/strip}
