{clni_form 
	id="storableForm" 
	action="$STORABLE_FORM_ACTION" 
	method="post" 
	enctype="multipart/form-data" 
	target="uploadTarget"
	onCompleteUrl="$redirectUrl"
	onsubmit="return doUpload(this);"
	process="true"
}
<fieldset>
	<legend>{$mode} Storable</legend>
	
	<div>
		<label for="storableFile">
			File:
			<input type="file" id="storableFile" name="storable[filename]" />
		</label>
	</div>
	
	<div>
		<label for="storableWebDavName">
			File WebDav name:
			<input type="text" id="storableWebDavName" name="storable[webdavname]" />
		</label>
	</div>

	<div>
		<input type="hidden" name="storable[storage_type]" value="FS">
		<input type="hidden" name="storable[folder_id]" value="{$tree_id}">
		<input type="hidden" name="embedded" value="{$embedded}" />
		<input type="submit" name="submit" value="Upload">
	</div>
	
	<div id="uploadStatus" style="display:none;">
		<div id="uploadProgressBar"></div>
		<div id="uploadStatusMessage"></div>
	</div>
</fieldset>
{clni_register_validation_rule id="storableFile" rule="required"}
</form>

