{clni_form process="generic"}
<input name="CodeCategory[code_category_id]" type="hidden" value="{$code_category->get('id')}">
<table>
	<tr>
		<td><label>Name: </label></td>
		<td><input name="CodeCategory[category_name]" value="{$code_category->get('category_name')}" size=65></td>
	</tr>
	<tr>
		<td></td>
		<td><input type="submit" value="Update Category"></td>
	</tr>
</table>
</form>

<h2>Assigned Codes</h2>
{$grid->render()}
{if $grid->empty}
<p>Category contains no codes</p>
{/if}
