<table>
	<tr>
		<td>{l}Confirm Deletion{\l}</td>
	</tr>
	{if !$error}
	<tr>
		<td>{l}You are deleting the following{/l}:</td>
	</tr>
	{else}
	<tr>
		<td>{l}There was an error during the delete{/l}:</td>
	</tr>
	{/if}
	<tr>
		<td>{$message}</td>
	</tr>
	<tr>
		<td><br></td>
	</tr>
	<tr>
		<td>
		<form method="post" action="{$DELETE_ACTION}">
		<input type="hidden" name="process" value="{$PROCESS}">
		<input type="submit" name="cancel" value="Cancel">&nbsp;&nbsp;
		{if $allow_delete}
		<input type="submit" name="delete" value="Delete">
		{/if}
		</form>
		</td>
	</tr>
</table>
