<form id="practiceForm" name="practice" method="post" action="{$FORM_ACTION}" onsubmit="return clni_validate(this)">
<!-- it is important that the hidden form_id field be listed first, when it is called is populates any old information attached with the id, this allows for partial edits
		if it were called last, the settings from the form would be overwritten with the old information-->
<input type="hidden" name="form_id" value="{$practice->id}" />
<div id="practiceFormMessageBox"></div>
<table CELLSPACING="0" CELLPADDING="3">
<tr>
	<td COLSPAN="1" ALIGN="LEFT" VALIGN="MIDDLE" >Name</td>
	<td COLSPAN="2" ALIGN="LEFT" VALIGN="MIDDLE" >
		<input type="text" size="40" name="name" value="{$practice->name}"/>
	</td>
</tr>
<tr>
	<td COLSPAN="1" ALIGN="LEFT" VALIGN="MIDDLE" >Address</td>
	<td COLSPAN="2" ALIGN="LEFT" VALIGN="MIDDLE" >
		<input type="text" size="40" name="main_address_line1" value="{$practice->main_address->line1}"/>
	</td>
</tr>
<tr>
	<td COLSPAN="1" ALIGN="LEFT" VALIGN="MIDDLE" >Address</td>
	<td COLSPAN="2" ALIGN="LEFT" VALIGN="MIDDLE" >
		<input type="text" size="40" name="main_address_line2" value="{$practice->main_address->line2}"/>
	</td>
</tr>
<tr>
	<td COLSPAN="1" ALIGN="LEFT" VALIGN="MIDDLE" >City, State Zip</td>
	<td COLSPAN="2" ALIGN="LEFT" VALIGN="MIDDLE" >
		<input type="text" size="25" name="main_city" value="{$practice->main_address->city}"/> ,
		<select name="main_state">
		{html_options options=$practice->main_address->getStateList() selected=$practice->main_address->get_state()}
		</select>
		<input type="text" size="5" name="main_zip" value="{$practice->main_address->get('zip')}"/>
	</td>
</tr>
<tr>
	<td COLSPAN="1" ALIGN="LEFT" VALIGN="MIDDLE" >Secondary Address</td>
</tr>
<tr>
	<td COLSPAN="1" ALIGN="LEFT" VALIGN="MIDDLE" >Address</td>
	<td COLSPAN="2" ALIGN="LEFT" VALIGN="MIDDLE" >
		<input type="text" size="40" name="secondary_address_line1" value="{$practice->secondary_address->line1}"/>
	</td>
</tr>
<tr>
	<td COLSPAN="1" ALIGN="LEFT" VALIGN="MIDDLE" >Address</td>
	<td COLSPAN="2" ALIGN="LEFT" VALIGN="MIDDLE" >
		<input type="text" size="40" name="secondary_address_line2" value="{$practice->secondary_address->line2}"/>
	</td>
</tr>
<tr>
	<td COLSPAN="1" ALIGN="LEFT" VALIGN="MIDDLE" >City, State Zip</td>
	<td COLSPAN="2" ALIGN="LEFT" VALIGN="MIDDLE" >
		<input type="text" size="25" name="secondary_city" value="{$practice->secondary_address->city}"/> , 
		<select name="secondary_state">
		{html_options options=$practice->secondary_address->getStateList() selected=$practice->secondary_address->get_state()}
		</select>
		<input type="text" size="5" name="secondary_zip" value="{$practice->secondary_address->get('zip')}"/>
	</td>
</tr>
<tr>
	<td COLSPAN="1" ALIGN="LEFT" VALIGN="MIDDLE" >Website</td>
	<td COLSPAN="2" ALIGN="LEFT" VALIGN="MIDDLE" >
		<input TYPE="TEXT" NAME="website" SIZE="35" VALUE="{$practice->get_website()}"/>
	</td>
</tr>
<tr>
	<td COLSPAN="1" ALIGN="LEFT" VALIGN="MIDDLE" >Main Phone</td>
	<td COLSPAN="2" ALIGN="LEFT" VALIGN="MIDDLE" >
		<input TYPE="TEXT" NAME="phone1" SIZE="12" VALUE="{$practice->get_phone1()}"/>
	</td>
</tr>
<tr>
	<td COLSPAN="1" ALIGN="LEFT" VALIGN="MIDDLE" >Secondary Phone</td>
	<td COLSPAN="2" ALIGN="LEFT" VALIGN="MIDDLE" >
		<input TYPE="TEXT" NAME="phone2" SIZE="12" VALUE="{$practice->get_phone2()}"/>
	</td>
</tr>
<tr>
	<td COLSPAN="1" ALIGN="LEFT" VALIGN="MIDDLE" >Fax</td>
	<td COLSPAN="2" ALIGN="LEFT" VALIGN="MIDDLE" >
		<input TYPE="TEXT" NAME="fax" SIZE="12" VALUE="{$practice->get_fax()}"/>
	</td>
</tr>
<tr>
	<td>Identifier</td>
	<td colspan="2">
		<input type="text" id="identifier" name="identifier" value="{$practice->get('identifier')}" />
	</td>
</tr>
<tr>
	{if empty($practice->id) }
	<td><br /><input type="submit" value="Save" /></td>
	{else}
	<td><br /><input type="submit" value="Update" /></td>
	{/if}
</tr>
</table>
{*{include file="contacts/general_phone.html"}
{include file="contacts/general_address.html"}*}

{clni_register_message_target formId="practiceForm" targetId="practiceFormMessageBox"}
{clni_register_validation_rule id="identifier" rule="ssn" message="Identifier (SSN/EIN) must be 9 digits with no spaces or 6 digits and 3 letters"}

<input type="hidden" name="practice_id" value="{$practice->id}" />
<input type="hidden" name="process" value="{$PROCESS}" />
</form>
