<form name="building" method="post" action="{$FORM_ACTION}">
<!-- it is important that the hidden form_id field be listed first, when it is called is populates any old information attached with the id, this allows for partial edits
		if it were called last, the settings from the form would be overwritten with the old information-->
<input type="hidden" name="form_id" value="{$building->id}" />
<table cellspacing="0" cellpadding="3">
<tr>
	<td colspan="1" align="left" valign="middle" >{l}Name{/l}</td>
	<td colspan="2" align="left" valign="middle" >
		<input type="text" size="40" name="name" value="{$building->name}"/>
	</td>
</tr>
<tr>
	<td colspan="1" align="left" valign="middle" >{l}Description/Location{/l}</td>
	<td colspan="2" align="left" valign="middle" >
		<input type="text" size="40" maxlength="250" name="description" value="{$building->description}"/>
	</td>
</tr>
<tr>
	<td colspan="1" align="left" valign="middle" >{l}Address{/l}</td>
	<td colspan="2" align="left" valign="middle" >
		<input type="text" size="40" name="address_line1" value="{$building->address->line1}"/>
	</td>
</tr>
<tr>
	<td colspan="1" align="left" valign="middle" >{l}Address{/l}</td>
	<td colspan="2" align="left" valign="middle" >
		<input type="text" size="40" name="address_line2" value="{$building->address->line2}"/>
	</td>
</tr>
<tr>
	<td colspan="1" align="left" valign="middle" >{l}City, State Zip{/l}</td>
	<td colspan="2" align="left" valign="middle" >
		<input type="text" size="25" name="city" value="{$building->address->city}"/> , {html_options name="state" options=$building->address->getStateList() selected=$building->address->get('state')} <input type="text" size="5" name="zip" value="{$building->address->get("zip")}"/>
	</td>
</tr>
<tr>
	<td colspan="1" align="left" valign="middle">{l}Practice{/l}</td>
	<td colspan="2" align="left" valign="middle">
		{html_options name="practice_id" options=$practices selected=$building->get('practice_id')}
	</td>
</tr>
<tr>
	<td colspan="1" align="left" valign="middle">{l}Identifier{/l}</td>
	<td colspan="2" align="left" valign="middle">
		<input type="text" size="20" name="identifier" value="{$building->identifier}"/>
	</td>
</tr>
<tr>
	<td><acronym title="Clinical Laboratory Improvement Amendment">CLIA</acronym> Number</td>
	<td colspan="2">
		<input type="text" size="20" name="clia_number" value="{$building->get('clia_number')}" />
	</td>
</tr>
<tr>
	<td>{l}Facility Code{/l}</td>
	<td colspan="2">
		{html_options name="facility_code_id" options=$facilityCodeList selected=$building->get('facility_code_id')}
	</td>
</tr>
<tr>
	{if empty($building->id) }
	<td><br /><input type="submit" value="Save" /></td>
	{else} 
	<td><br /><input type="submit" value="Update" /></td>
	{/if}
</tr>
</table>
<input type="hidden" name="id" value="{$building->id}" />
<input type="hidden" name="process" value="{$PROCESS}" />
</form>
