<script type="text/javascript">
{literal}
function addEntry(id) {
	var anchor = document.getElementById('Entry');
	var current_value = document.getElementById('list').value;
	// This is supposed to detect if the item has already been created or not and doesn't work and I don't know why.
	if (document.getElementById(id) == undefined) {
		var newli = document.createElement('li');
		var objIdName = 'entry' + current_value;
		newli.setAttribute("id", objIdName);
		newli.innerHTML =  current_value + ' <a href="#" onclick="removeEntry(\'' + objIdName + '\');"><img src="{/literal}{$base_uri}{literal}index.php/images/stock_trash-16.png"></a>';
		anchor.appendChild(newli);
	}
}

function removeEntry(liNum) {
	var stripextra = /entry/;
	if (confirm('Are you sure that you would like to remove ' +liNum.replace(stripextra, '')+ ' from the Planned Care List?')) {
		var anchor = document.getElementById('Entry');
		var deadli = document.getElementById(liNum);
		anchor.removeChild(deadli);
	}
}
{/literal}
</script>


<fieldset>
<legend><b>Self Management Goals</b></legend>
<input type="text"><input type="submit">

<br><br>

<div>
<b>Follow Medical Plan - Stay Healthy</b> (<a href="#">Add Note</a>)
<br><b>Initiated: {$date}</b> <a href="#">Mark Complete</a>

<fieldset>
<legend>Displaying {$disp_count}, Page {$page_num} of {$num_pages}</legend>
$grid
</fieldset>
</div>

<br>

<div>
<b>Follow Medical Plan - Read Edu Materials</b> (<a href="#">Add</a>, <a href="#">Complete</a>)
<br><b>Initiated: {$date}</b> <a href="#">Mark Complete</a>

<fieldset>
<legend>Displaying {$disp_count}, Page {$page_num} of {$num_pages}</legend>
$grid
</fieldset>
</div>

<br>

<div>
<b>Follow Medical Plan - Read Edu Materials</b> (Completed {$date_completed})
<br><b>Initiated: {$date} - Completed {$date_completed}</b>

<fieldset>
<legend>Displaying {$disp_count}, Page {$page_num} of {$num_pages}</legend>
$grid
</fieldset>
</div>
</fieldset>
