<div class="title" id="title">Add SMG Note</div>
<div>
<fieldset>
{if is_object($messages)}
        {$messages->render()}
{/if}
{if $error}
<p>No further action can be taken do to the errors. <a href="#" onclick="hidePopup();">Close</a></p>
{else}
<p>Add Note:</p>
<p>
<textarea name="note" id="smgNote" rows="10" cols="35">{$ordo->get('note')}</textarea>
</p>
<br />
<input type="hidden" id="smgGenericNoteId" value="{$ordo->get('generic_note_id')}">
<input type="hidden" id="smgParentObjId" value="{$ordo->get('parent_obj_id')}">
<input type='button' id="update" value='Update' onclick="saveNote();">
</p>
<br />
<div id="alertMessages" style="display:none;overflow:auto; height:200px;"></div>
</p>
{/if}
<p>
<br />
<a href="#" onclick="hidePopup();">close</a>
</p>
</fieldset>
