{literal}
<script>
function addSMG() {
  var hash = new Object();
  hash['person_id'] = document.getElementById('smgPersonId').value;
  hash['type'] = document.getElementById('smgType').value;

  HTML_AJAX.call('SelfMgmtGoals','ajaxAddUpdateSMG',processView,hash);
}
function markCompletedSMG(smgId) {
  var date = new Date();
  var hash = new Object();
  hash['self_mgmt_id'] = smgId;
  hash['completed'] = date.getFullYear() + '-' + date.getMonth() + "-" + date.getDay();
  HTML_AJAX.call('SelfMgmtGoals','ajaxAddUpdateSMG',processView,hash);
}
function processView(result) {
  if (result) {
  var personId = document.getElementById('smgPersonId').value;
  HTML_AJAX.call('SelfMgmtGoals','ajaxList',updateView,personId); 
  }
  else {
  document.getElementById('mainView').innerHTML = "An error occured processing your request"; 
  }
}
function updateView(result) {
  document.getElementById('mainView').innerHTML = result;

}
function addNote(smgId) {
  HTML_AJAX.call('SelfMgmtGoals','ajaxAddNote',showPopup,smgId); 

}
function showPopup(result) {
        popdiv = document.getElementById('popup_dialog');
        popdiv.innerHTML = result;
        
        if (popdiv.style.display == '' || popdiv.style.display == 'none') {
          popup = new clniPopup('',false);
          popup.draggable = true;
          popup.draggableOptions = {handle:'title'};
          popup.useElement = 'popup_dialog';
          popup.modal = true;
          popup.display();
        }
}
function saveNote() {
  var hash = new Object();
  hash['note'] = document.getElementById('smgNote').value;
  hash['generic_note_id'] = document.getElementById('smgGenericNoteId').value;
  if (document.getElementById('smgGenericNoteIdSaved')) { 
 	hash['generic_note_id'] = document.getElementById('smgGenericNoteIdSaved').value;
  }
  hash['parent_obj_id'] = document.getElementById('smgParentObjId').value;
  HTML_AJAX.call('SelfMgmtGoals','ajaxAddUpdateNote',showAlertMessages,hash);
}
function showAlertMessages(result) {
  var am = document.getElementById('alertMessages');
  am.innerHTML = result;
  am.style.display = 'block';
}
function addNoteComplete() {
  processView(true);
  hidePopup();
	
}
function hidePopup() {
        popup.hide();
}

</script>
{/literal}
<div id='popup_dialog'></div>
{if $returnTo}
<a href="{$returnTo}">Back</a>
{/if}
<fieldset>
<legend><b>Self Management Goals</b></legend>
{html_options name="selfmgmtgoals['type']" id="smgType" options=$em->enumArray('self_mgmt_goals')}
<input type="hidden" value="{$personId}" id="smgPersonId">
<input type="button" value="Add Self Mgmt Goal" onclick="addSMG();">

<br><br>
</fieldset>
<div id="mainView">
{$smgBlock}
</div>
