{assign var="changedClass" value="0"}
{foreach from=$smgList item=smg name="smgLoop"}

{if $smarty.foreach.smgLoop.first}
<fieldset>
<legend>Active Goals</legend>
{/if}
{if $smg.completed != '0000-00-00' && $changedClass eq 0}
{assign var="changedClass" value="1"}
{if $smarty.foreach.smgLoop.first}
No Active Goals
{/if}
</fieldset>
<fieldset>
<legend>Completed Goals</legend>
{/if}
<p>
<h3 style="margin-bottom:0px; padding-bottom:0px;">{$smg.type} {if $smg.completed eq '0000-00-00'}(<a href="javascript:addNote({$smg.self_mgmt_id});">Add Note</a>){/if}</h3>
<b>Initiated: {$smg.initiated}</b> {if $smg.completed eq '0000-00-00'}<a href="javascript:markCompletedSMG({$smg.self_mgmt_id});">Mark Completed</a>{else}<b>Completed: {$smg.completed}</b>{/if}
{$controller->_getNotesGridRender($smg.self_mgmt_id)}
</p>
{foreachelse}
<br /><br />
No Self Management Goals Defined
{/foreach}

</fieldset>
