{literal}
<style>
	table.grid tr.Selected td {
		background-color: yellow;
	}
	.note {
		margin: 5px;
		border: dotted 1px gray;
		padding: 2px;
	}
	.note p {
		margin-top: 0;
	}
</style>
<script type="text/javascript">
	var claimList = [];
	var rowMap = {};
	var grid = false;
	var viewNotes = 'general';
	function setup() {
		getGrid();
		buildClaimList();
		updatePulldown();
		updateNotes();
	}
	function buildClaimList() {
		var id = 1;
		for(var i = 0; i < grid.rows.length; i++) {
			if (grid.rows[i].cells[0].innerHTML != '') {
				if (grid.rows[i].cells[1]) {
					claimList.push(grid.rows[i].cells[1].innerHTML);
					rowMap[id] = i;

					var td = document.createElement('td');
					td.style.backgroundColor = 'transparent';
					td.style.border = '0';
					td.innerHTML = "<a href='#notes' onclick='select("+id+"); return false;'>Notes</a>";
					grid.rows[i].appendChild(td);
					id++;
				}
			}
		}
	}
	function updatePulldown() {
		var cs = document.getElementById('claimSelect');
		for(var i = 0; i < claimList.length; i++) {
			cs.options[(i+1)] = new Option(claimList[i],claimList[i]);
		}
		var cs = document.getElementById('claimSelect2');
		for(var i = 0; i < claimList.length; i++) {
			cs.options[(i+1)] = new Option(claimList[i],claimList[i]);
		}
	}

	function select(id) {
		document.getElementById('claimSelect').selectedIndex = id;
		document.getElementById('claimSelect2').selectedIndex = id;
		if (rowMap[id]) {
			highlightRow(rowMap[id]);
			viewNotes = grid.rows[rowMap[id]].cells[1].innerHTML;
		}
		else {
			highlightRow(0);
			viewNotes = 'general';
		}
		updateNotes();
	}

	function getGrid() {
		if (!grid) {
			grid = HTML_AJAX_Util.getElementsByClassName('grid',document.getElementById('body'))[0];
		}
		return grid;
	}

	function highlightRow(index) {
		for(var i in rowMap) {
			if (grid.rows[rowMap[i]].origClassName) {
				grid.rows[rowMap[i]].className = grid.rows[rowMap[i]].origClassName;
			}
		}
		grid.rows[index].origClassName = grid.rows[rowMap[i]].className;
		grid.rows[index].className = 'Selected';
	}

	function selectSection(section) {
		var sections = HTML_AJAX_Util.getElementsByClassName('section',document.getElementById('notes'));

		var compare = "section"+section;
		for(var i = 0; i < sections.length; i++) {
			if(sections[i].id == compare) {
				sections[i].style.display = 'block';
			}
			else {
				sections[i].style.display = 'none';
			}
		}
		if (section == 'View') {
			document.getElementById('viewLabel').innerHTML = '<b>View Notes</b>';
			document.getElementById('addLabel').innerHTML = '<a href="#notes" onclick="selectSection(\'Add\')">Add a Note</a>';
			updateNotes();
		}
		else {
			document.getElementById('viewLabel').innerHTML = '<a href="#notes" onclick="selectSection(\'View\')">View Notes</a>';
			document.getElementById('addLabel').innerHTML = '<b>Add a Note</b>';
		}
	}

	function updateNotes() {
		var content = '';
		if (notes[viewNotes]) {
			for(var i = 0; i < notes[viewNotes].length; i++) {
				content += renderNote(notes[viewNotes][i]);
			}
		}
		else {
			content = '<p>No notes have been added yet, you can add one from the <a href="#notes" onclick="selectSection(\'Add\')">Add a Note</a> section.</p>';
		}
		document.getElementById('noteBody').innerHTML = content;
	}

	function renderNote(data) {
		return document.getElementById('noteTemplate').innerHTML.replace(/{\$([a-zA-Z0-9_]+)}/g,function(s,result) {return data[result]; });
	}
{/literal}
	var notes = {$notes};
</script>
<fieldset>
<legend>{l}Filter{/l}</legend>
{clni_form action=$FILTER_ACTION process=$PROCESS}


<div style="float:left;margin-left:10px; margin-bottom:10px;">
	<label>{l}Date{/l}: </label> {clni_input_date name="filter[start]" value=$filters.start} to {clni_input_date name="filter[end]" value=$filters.end}
</div>
<div style="float:left;margin-left:10px;margin-bottom:10px;">
	<label>{l}Facility{/l}: </label><select name="filter[facility]"><option></option>{html_options options=$building->getBuildingList() selected=$filters.facility}</select>
</div>
<div style="float:left;margin-left:10px;margin-bottom:10px;">
	<label>{l}Payer{/l}: </label>
	<select name="filter[payer]"><option></option>{html_options options=$insuranceProgram->programList() selected=$filters.payer}</select>
</div>
<div style="float:left;margin-left:10px;margin-bottom:10px;">
	<label>{l}Provider{/l}: </label>
	<select name="filter[provider]"><option></option>{query_options query="select p.person_id, concat_ws(', ',last_name,first_name) name from user u inner join person p using(person_id) inner join provider using(person_id)" selected=$filters.provider}</select>
</div>
	<div style="float:left;margin-left:10px;margin-bottom:10px;">
			<label>
				{l}Entered By{/l}:
				<select name="filter[user]">
					<option></option>
					{html_options options=$userList selected=$filters.user}
				</select>
			</label>
		</div>
<div style="float:left;margin-left:10px;margin-bottom:10px;">
	{clni_input type="submit" name="filter_submit" value="Filter"}
</div>
</form>
</fieldset>
<fieldset class="radio" id="account_history">
	<legend>{l}Account History{/l}</legend>
	{$history_grid->render()}
	{if $history_grid->empty}
		<p>Patient has no account history for selected Filters</p>
	{/if}
</fieldset>

{clni_form}
<fieldset id="notes">
	<legend>{l}Account Notes{/l} [<span id="addLabel"><a href="#notes" onclick="selectSection('Add')">Add a Note</a></span>] [<span id="viewLabel"><b>View Notes</b></span>]</legend>

	<div id="sectionAdd" class="section" style="display:none">
	<table>
		<tr>
			<td colspan=2>
				<label class="inline">Note Type:</label>
			       	<select name="account_note[note_type]">{enum_options name="account_note_type" selected=$accountNote->get('note_type')}</select>

				<label class="inline">Claim:</label>
				<select id="claimSelect" name="account_note[claim_id]" onclick="select(this.selectedIndex)">
					<option value="0">General Note</option>
				</select>
			</td>
		</tr>
		<tr>
			<td><label>Note:</label></td>
			<td><textarea name="account_note[note]" cols=40>{$accountNote->get('note')}</textarea></td>
		</tr>
		<tr>
			<td></td>
			<td> <input type="submit" value="Add Note"></td>
		</tr>
	</table>
	</div>
	<div id="sectionView" class="section">
		<div><label class="inline">View Notes For:</label>
			<select id="claimSelect2" onclick="select(this.selectedIndex)">
				<option value="0">General Account</option>
			</select>
		</div>
		<div id="noteBody"></div>
	</div>
	
</fieldset>
</form>

{literal}
<div id="noteTemplate" style="display:none">
	<div class="note">
		<p>Posted on: {$date_posted} by {$username}. Type: {$note_type}</p>
		<p>{$note}</p>
	</div>
</div>
{/literal}

<script type="text/javascript">
	setup();
</script>
