<style type="text/css">
{literal}
#dlEditor {
}
#dlEditor tr.top th {
	border-bottom: solid 2px gray;
}
#dlEditor th.left {
	border-right: solid 2px gray;
	border-bottom: solid 1px gray;
	text-align: right;
}
{/literal}
</style>

<script type="text/javascript">
var currentNumLevels = {$numLevels};
var currentMaxFamilySize = {$maxFamilySize}
{literal}
function discountLevelEditor(form) { this.form = form; }
discountLevelEditor.prototype = {
	updateNumRows: function(rows)
	{
		var rows = new Number(rows); // i was having casting problems
		var length = this.table().tBodies[0].rows.length;
		var change = rows-length;
		if (change > 0) {
			for(var i = 0; i < change; i++) {
				var newRow = this.table().rows[1].cloneNode(true);
				newRow.getElementsByTagName('th').item(0).innerHTML = length+i+1;

				// fix id's on inputs
				var tds = newRow.getElementsByTagName('td');

				this.table().tBodies[0].appendChild(newRow);
			}
		}
		else if (change < 0) {
			for(var i = change; i < 0; i++) {
				this.table().deleteRow(this.table().rows.length-1);
			}
		}
	},
	updateNumCols: function(cols)
	{
		var cols = new Number(cols)+1;
		var width = this.table().rows[0].cells.length;
		var change = cols-width;
		if (change > 0) {
			for(var i = 0; i < change; i++) {
				for(var r = 0; r < this.table().rows.length; r++) {
					var row = this.table().rows[r];
					var newTd = row.cells[1].cloneNode(true);
					var inputs = newTd.getElementsByTagName('input');
					for (i2 = 0; i2 < inputs.length; i2++) {
						if (inputs[i2].type == "hidden") {
							newTd.removeChild(inputs[i2]);
						}
					}
					row.appendChild(newTd);
					newTd.innerHTML = newTd.innerHTML.replace(/\]\[0\]/g, "][" + (i + (cols - 2)) + "]");
				}
			}
		}
		else if (change < 0) {
			for(var i = change; i < 0; i++) {
				for(var r = 0; r < this.table().rows.length; r++) {
					var row = this.table().rows[r];
					row.deleteCell(row.cells.length-1);
				}
			}
		}
	},
	table: function()
	{
		return this.form.getElementsByTagName('table').item(0);
	}
}

function updateSize(form) {
	if (clni_validate(form)) {
		var cont = true;
		var question = '';

		var mfs = form.elements['FeeScheduleDiscount[maxFamilySize]'].value;
		if (mfs < 1) { msf = 1; form.elements['FeeScheduleDiscount[maxFamilySize]'].value = 1; }
		var nl = form.elements['FeeScheduleDiscount[numLevels]'].value;
		if (nl < 1) { nl = 1; form.elements['FeeScheduleDiscount[numLevels]'].value = 1; }

		if (mfs < currentMaxFamilySize) {
			question += "You have picked a smaller Maximum family size any data in larger rows will be removed.\n";
		}
		if (nl < currentNumLevels) {
			question += "You have picked a smaller number of levels any data in the larger columns will be removed.\n";
		}
		if (question.length > 0) {
			question += "Continue?";
			cont = confirm(question);
		}

		if (cont) {
			dlEditor.updateNumRows(mfs);
			dlEditor.updateNumCols(nl);
		}
	}
	return false;
}
{/literal}
</script>
<h2>{$fsd->get('name')}</h2>

<p>Editing Notes
<ul>
	<li>Size refers to family size</li>
	<li>Column heading can refer either to a % discount to apply or a flat fee to charge</li>
	<ul>
		<li>Enter a number to indicate a percent discount (example: 10 indicates a 10% discount)</li>
		<li>Use this format ##.00 to indicate a flat discounted fee (example: 10.00)</li>
	</ul>
	<li>Cells in the table body are the families monthly income</li>
</ul>
</p>

<table>
	<tr><td>

<form onsubmit="return updateSize(this)">
<fieldset>
	<legend>Editor Options</legend>
	<table>
		<tr>
			<td><label>Number of discount levels:</label></td>
			<td><input name="FeeScheduleDiscount[numLevels]" class="requiredNumber" value="{$numLevels}" size=2></td>
		</tr>
		<tr>
			<td>
				<label>
					{if $isDentist}
					Maximum number of codes:
					{else}
					Maximum family size:
					{/if}
				</label>
			</td>
			<td><input name="FeeScheduleDiscount[maxFamilySize]" class="requiredNumber" value="{$maxFamilySize}" size=2></td>
		</tr>

		<tr>
			<td></td>
			<td><input type="submit" value="Update Editor"></td>
		</tr>
	</table>
</fieldset>
</form>

{clni_form id="dlEditor" process="generic"}
	<fieldset>
		<legend>Discount Level Editor</legend>
{if $isDentist}
	{include file="feeschedulediscount/general_chunkByCode.html"}
{else}
	{include file="feeschedulediscount/general_chunkByIncome.html"}
{/if}
<table >
	<tr>

		<td>
		<label><input name="FeeScheduleDiscount[type]" type="radio" value="default"
			{if $fsd->get('type') == "default"}
			 checked="checked"
			 }
			 {/if}

			onclick="document.getElementById('program').style.display='none';document.getElementById('default').style.display='block';" />
			Default</label>

		</td>
		<td>
		<label>
		<input name="FeeScheduleDiscount[type]" type="radio" value="program"
			{if $fsd->get('type') == "program"}
			 checked="checked"
			 }
			 {/if}

			onclick="document.getElementById('default').style.display='none';document.getElementById('program').style.display='block';" />
			Program</label>
		</td>
	</tr>
	<tr>
		<td colspan="2">

			<div id="default" style="font-size:12px;border:1px solid black;padding:5px; width:300px; display:none;{if $fsd->get('type') == "default"} display:block;. } {/if}">
				{if $defaultExists != 0 && $fsd->get('type') != "default" }
					Be aware, you allready have a fee shedule discount
					specified as your default.

				{else}
					Your default fee schedule discount
					will be used if you do not have one
					specified for a particular insurance program.
				{/if}

			</div>

			<div id="defaultExists" style="font-size:12px;border:1px solid black;padding:5px; width:300px; display:none ;">


			</div>

			<div id="program" style=" width:300px;display:none; {if $fsd->get('type') == "program"} display:block;. } {/if} ">
					Select a program
				<select name="FeeScheduleDiscount[insurance_program_id]">
						<option value=''>Choose...</option>
						{html_options options=$fsd->valueList('insurance_program_id') selected=$fsd->get('insurance_program_id') }
				</select>
			</div>

		</td>
	</tr>


</table>
<br>
<input type="submit" value="Update Discount Levels">
</fieldset>
</form>
<script type="text/javascript">
	var dlEditor = new discountLevelEditor(document.getElementById('dlEditor'));
</script>

</td></tr></table>
