<style type="text/css">
{literal}
#dlEditor {
}
#dlEditor tr.top th {
	border-bottom: solid 2px gray;
}
#dlEditor th.left {
	border-right: solid 2px gray;
	border-bottom: solid 1px gray;
	text-align: right;
}
{/literal}
</style>

<script type="text/javascript">
var currentNumLevels = {$numLevels};
var currentMaxFamilySize = {$maxFamilySize}
{literal}
function discountLevelEditor(form) { this.form = form; }
discountLevelEditor.prototype = {
	updateNumRows: function(rows)
	{
		var rows = new Number(rows); // i was having casting problems
		var length = this.table().tBodies[0].rows.length;
		var change = rows-length;
		if (change > 0) {
			for(var i = 0; i < change; i++) {
				var newRow = this.table().rows[1].cloneNode(true);
				newRow.getElementsByTagName('th').item(0).innerHTML = length+i+1;

				// fix id's on inputs
				var tds = newRow.getElementsByTagName('td');

				this.table().tBodies[0].appendChild(newRow);
			}
		}
		else if (change < 0) {
			for(var i = change; i < 0; i++) {
				this.table().deleteRow(this.table().rows.length-1);
			}
		}
	},
	updateNumCols: function(cols)
	{
		var cols = new Number(cols)+1;
		var width = this.table().rows[0].cells.length;
		var change = cols-width;
		if (change > 0) {
			for(var i = 0; i < change; i++) {
				for(var r = 0; r < this.table().rows.length; r++) {
					var row = this.table().rows[r];
					var newTd = row.cells[1].cloneNode(true);
					row.appendChild(newTd);
				}
			}
		}
		else if (change < 0) {
			for(var i = change; i < 0; i++) {
				for(var r = 0; r < this.table().rows.length; r++) {
					var row = this.table().rows[r];
					row.deleteCell(row.cells.length-1);
				}
			}
		}
	},
	table: function()
	{
		return this.form.getElementsByTagName('table').item(0);
	}
}

function updateSize(form) {
	if (clni_validate(form)) {
		var cont = true;
		var question = '';

		var mfs = form.elements['FeeScheduleDiscount[maxFamilySize]'].value;
		if (mfs < 1) { msf = 1; form.elements['FeeScheduleDiscount[maxFamilySize]'].value = 1; }
		var nl = form.elements['FeeScheduleDiscount[numLevels]'].value;
		if (nl < 1) { nl = 1; form.elements['FeeScheduleDiscount[numLevels]'].value = 1; }

		if (mfs < currentMaxFamilySize) {
			question += "You have picked a smaller Maximum family size any data in larger rows will be removed.\n";
		}
		if (nl < currentNumLevels) {
			question += "You have picked a smaller number of levels any data in the larger columns will be removed.\n";
		}
		if (question.length > 0) {
			question += "Continue?";
			cont = confirm(question);
		}

		if (cont) {
			dlEditor.updateNumRows(mfs);
			dlEditor.updateNumCols(nl);
		}
	}
	return false;
}
{/literal}
</script>
<h2>{$fsd->get('name')}</h2>

<p>Editing Notes
<ul>
	<li>Size refers to family size</li>
	<li>Column heading can refer either to a % discount to apply or a flat fee to charge</li>
	<ul>
		<li>use a % symbol to indicate a percent discount (example: 10%)</li>
		<li>use this format $##.00 to indicate a flat discounted fee (example: $10.00)</li>
	</ul>
	<li>Cells in the table body are the families monthly income</li>
</ul>
</p>

<table>
	<tr><td>

<form onsubmit="return updateSize(this)">
<fieldset>
	<legend>Editor Options</legend>
	<table>
		<tr>
			<td><label>Number of discount levels:</label></td>
			<td><input name="FeeScheduleDiscount[numLevels]" class="requiredNumber" value="{$numLevels}" size=2></td>
		</tr>
		<tr>
			<td><label>Maximum family Size:</label></td>
			<td><input name="FeeScheduleDiscount[maxFamilySize]" class="requiredNumber" value="{$maxFamilySize}" size=2></td>
		</tr>

		<tr>
			<td></td>
			<td><input type="submit" value="Update Editor"></td>
		</tr>
	</table>
</fieldset>
</form>

{clni_form id="dlEditor" process="generic"}
	<fieldset>
		<legend>Discount Level Editor</legend>
<table cellspacing=0 cellpadding=0>
	<thead>
	<tr class="top">
		<th class="left">Size</th>
		{foreach from=$discountLevels item=level key=id}
		<th>
			<input size="5" value="{$level}" name="FeeScheduleDiscount[level][{$id}]" />
			<input type="hidden" value="{$level}" name="FeeScheduleDiscount[original_level][{$id}]" />
		</th>
		{/foreach}
	</tr>
	</thead>
	<tbody>
	{foreach from=$familySize item=size key=id}
	<tr>
		<th class="left">{$size}</th>
		{foreach from=$cells.$id item=cell}
		<td><input name="FeeScheduleDiscount[{$cell.size}][{$cell.level}]" value="{$cell.value}" size="5" class="validateNumber"></td>
		{/foreach}
	</tr>
	{/foreach}
	</tbody>



</table>
<table >
	<tr>

		<td>
		<label><input name="FeeScheduleDiscount[type]" type="radio" value="default"
			{if $fsd->get('type') == "default"}
			 checked="checked"
			 }
			 {/if}

			onclick="document.getElementById('program').style.display='none';document.getElementById('default').style.display='block';" />
			Default</label>

		</td>
		<td>
		<label>
		<input name="FeeScheduleDiscount[type]" type="radio" value="program"
			{if $fsd->get('type') == "program"}
			 checked="checked"
			 }
			 {/if}

			onclick="document.getElementById('default').style.display='none';document.getElementById('program').style.display='block';" />
			Program</label>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<div id="default" style="font-size:12px;border:1px solid black;padding:5px; width:200px; display:none;">
				Your default fee schedule discount will be used if you do not have one specified for a particular insurance program
			</div>
			<div id="program" style=" width:200px;


			display:none; {if $fsd->get('type') == "program"} display:block;. } {/if} ">
					Select a program
					<select name="FeeScheduleDiscount[insurance_program_id]">
							<option value=''>Choose...</option>
							{html_options options=$fsd->valueList('insurance_program_id') selected=$fsd->get('insurance_program_id') }
					</select>
			</div>

		</td>
	</tr>


</table>
<br>
<input type="submit" value="Update Discount Levels">
</fieldset>
</form>
<script type="text/javascript">
	var dlEditor = new discountLevelEditor(document.getElementById('dlEditor'));
</script>

</td></tr></table>
