<script language="javascript">
var curStationId = {$stationId};
{literal}
function handleStationChange(appointmentId,stationId,confirmText) {

	if (confirm(confirmText)) {
	if (stationId == 'complete') {
	HTML_AJAX.call('crouting','ajaxComplete',null,appointmentId,stationId, curStationId);
	}
	else {
	HTML_AJAX.call('crouting','ajaxNextStation',null,appointmentId,stationId, curStationId);
	}
	HTML_AJAX.replace('stationGrid','crouting','ajaxShowStationGrid',curStationId);
	}
}

</script>

{/literal}

<h3>Arrivals For Station: {$stationName}</h3>
<div id="stationGrid">
{$grid->render()}
{if $grid->empty}
        <p>{l}There are no arrivals. <a href="javascript:void(0);" onClick="HTML_AJAX.replace('stationGrid','crouting','ajaxShowStationGrid',{$stationId});">Click here to refresh</a>{/l}.</p>
{/if}
</div>
