{literal}
<script type="text/javascript">
	function add(button) {
		print('-'+(document.getElementById('breakdown').numSlots+1),'',0,0,1);
		return false;
	}
	function remove(button) {
		button.parentNode.parentNode.removeChild(button.parentNode);
		return false;
	}
	function print(id,title,selectedTime,selectedType,removeFlag) {
		var div = document.createElement('div');
		div.innerHTML = document.getElementById('template').innerHTML.replace(/\[id\]/g,'['+id+']');

		div.getElementsByTagName('input').item(0).value = title;
		var selects = div.getElementsByTagName('select');
		for(var i = 0; i < selects[0].options.length; i++) {
			if (selects[0].options[i].value == selectedTime) {
				selects[0].selectedIndex = i;
				break;
			}
		}
		for(var i = 0; i < selects[1].options.length; i++) {
			if (selects[1].options[i].value == selectedType) {
				selects[1].selectedIndex = i;
				break;
			}
		}

		if (!removeFlag) {
			var buttons = div.getElementsByTagName('button');
			buttons.item(0).disabled = true;
		}

		document.getElementById('breakdown').appendChild(div);
		if (!document.getElementById('breakdown').numSlots) {
			document.getElementById('breakdown').numSlots = 0;
		}
		document.getElementById('breakdown').numSlots++;
	}
</script>
{/literal}
<div id="template" style="display:none">
	Name: <input name="OccurenceBreakdown[id][title]">
	Length: <select name="OccurenceBreakdown[id][length]">{html_options options=$times}</select>
	Type: <select name="OccurenceBreakdown[id][user_id]">{html_options options=$types}</select>
	<button onclick="return remove(this)">Remove</button>
</div>

<pre id="debug"></pre>
<div style="border: solid 1px black; padding: 1em;" id="breakdown">
	<button onclick="return add(this)">Add Slot</button>
	<script type="text/javascript">
	{foreach from=$breakdown item=row name='loop'}
		{if !$smarty.foreach.loop.first}
			print({$row.occurence_breakdown_id},'{$row.title}',{$row.length},{$row.user_id},true);
		{else}
			print({$row.occurence_breakdown_id},'{$row.title}',{$row.length},{$row.user_id},false);
		{/if}
	{/foreach}
	</script>
</div>

