{head type="css"}
#editor {
	width: 500px;
	padding: 5px;
}
#superbill {
	position: absolute;
	padding: 5px;
	left: 510px;
	top: 0;
	border-left: dotted 1px black;
}
{/head}
{head type="js"}
function submitEdit(form) {
	HTML_AJAX.formSubmit(form,'editor');
}
function selectCode(code) {
	HTML_AJAX.replace('editor',editAction+code);
}
function selectSuperbill(url) {
	HTML_AJAX.replace('sbContent',url+'superbill_id='+$('sbSelector').value);
}
{/head}
<h2>Fee Schedule: {$fs->get('label')}</h2>
<p id="totals">{$fs->numCodesWithFees()} codes have fees, {$fs->numCodesNotDefaultFee()} codes have a non default fee</p>

<div>
<div>
	<table><tbody><tr>
		<td>
			<label class="inline">Select a Procedure code: </label>
		</td>
		<td>
			<div class="SuggestInput">
				<input id="code" size="50" autocomplete="off">
				<input id="codeId" type="hidden">
			</div>
		</td>
		<td>
			<button id="go" onclick="HTML_AJAX.replace('editor',editAction+$('codeId').value);" disabled="true">Edit Fees for Code</button>
		</td>
	</tr></tbody></table>
</div>

<div style="position: relative;  border-top: solid 1px black;">
	<div id="editor">
		Select a code to update its fees
	</div>
	<div id="superbill">
		<p>Select codes from a superbill</p>
		<select id="sbSelector" onclick="selectSuperbill('{$SUPERBILL_ACTION}')">
			{html_options options=$superbills}
		</select>
		<button onclick="selectSuperbill('{$SUPERBILL_ACTION}')">Update</button>
		<div id="sbContent">
		</div>
	</div>
</div>

<script type="text/javascript">
	var editAction = '{$EDIT_ACTION}code_id=';
	{literal}
	var suggest = new procedureSuggest('code','codeId',function() { 	
				$('go').disabled = false;
				HTML_AJAX.replace('editor',editAction+$('codeId').value);
			});
	{/literal}
</script>

