<div style="padding-left:10px;">
{foreach from=$widgets key=wname item=widget}
{assign var=docname value="`$wname`dock"}
<a name="{$wname|replace:' ':''}" />
<div class="dock" >
<a style="text-decoration:none;color:#333333;" href="javascript:toggleVis('{$wname|replace:' ':''}dock');" id="{$wname|replace:' ':''}dockShowHide">
<img src="{$base_uri}index.php/images/emblem-cvs-controlled.png" alt=">" style="float:left;padding:0;margin-top:2px;">
<span style="{if !$Celini->isPaletteSelected(str_replace(' ','',$docname))}display: block;{else}display: none;{/if} font-size:10pt;"><div style="border: thin solid gray;margin-left:10px;width:85%;margin-left:0px;margin-top:4px;">{$wname}</div></span></a>
<fieldset id="{$wname|replace:' ':''}dock" style="margin-left:-16px;{if !$Celini->isPaletteSelected(str_replace(' ','',$docname))}display: none;{/if}">
	<legend>&nbsp;{$wname}</legend>
	{if $widget.grid}{$widget.grid}{else}No form data present.{/if}
	<br />
	{if $widget.edit}
	<a href="{$widget.form_edit_link}">Edit</a>
	{else}
	<a href="{$widget.form_add_link}">Add New</a>
	{/if}
</fieldset>
</div>
{/foreach}
</div>

