<script type="text/javascript">

var patient_id = {$patient_id};
var form_id = {$wf->get('form_id')};
var form_data_id = {$form_data_id};
var widget_form_id = {$wf->get('widget_form_id')};
var encounterId = {$encounterId};

{literal}
function addEntry(id, source) {
	var anchor = document.getElementById(id);
	var current_value = document.getElementById(source).value;
	// This is supposed to detect if the item has already been created or not and doesn't work and I don't know why.
	if (document.getElementById(id) != undefined) {
		var newli = document.createElement('li');
		var objIdName =  current_value;

		window.location.href = '{/literal}{$base_uri}{literal}index.php/QuickList/add?patient_id=' + patient_id + '&widget_form_id=' + widget_form_id +'&storage_data=' + current_value + '&encounterId=' + encounterId;

		newli.setAttribute("id", objIdName);
		newli.innerHTML =  current_value + ' <a href="#" onclick="removeEntry(\'' + objIdName + '\');"><img src="{/literal}{$base_uri}{literal}index.php/images/stock_trash-16.png"></a>';
		anchor.appendChild(newli);
	}

	return false;
}

function removeEntry(liNum) {
	if (confirm('Are you sure that you would like to remove ' +liNum+ ' from the list?')) {
		window.location.href = '{/literal}{$base_uri}{literal}index.php/QuickList/remove?form_data_id=' + form_data_id + '&value=' +liNum;
		var anchor = document.getElementById('Entry');
		var deadli = document.getElementById(liNum);
		anchor.removeChild(deadli);
	}

	return false;
}
{/literal}
</script>
{if $returnTo}
<a href="{$returnTo}">Back</a>
{/if}
<fieldset>
<legend><b>{$wf->get('name')}</b></legend>
{html_options values=$dropDownList output=$dropDownList id="dropDownList" name="dropDownList"}

<input type="button" value="Add Entry" onclick="addEntry('Entry', 'dropDownList');">

<input type="hidden" value="" id="divNum">
<ul id="Entry">
{foreach from=$selectedItems item=current_problem}
<li id="{$current_problem}">{$current_problem} <a href="javascript:removeEntry('{$current_problem}');"><img src="{$base_uri}index.php/images/stock_trash-16.png" alt="#"></a></li>
{/foreach}
</ul>
<!--
<input type="text" id="quickadd"><input type="button" value="Quick Add" onclick="addEntry('Entry', 'quickadd');">-->
</fieldset>
