<div id="transactions">
	<h3>Transactions</h3>

	<p><b>{l}# in Queue{/l}:</b> {$queueTotal}<br>
	<b>{l}# to Process{/l}:</b> <span id="queueCount">{$queueCount}</span></p>

	<p>{l}Current Transaction{/l}:
		<table id="currentTransaction" class="grid">
			<tbody>
				<tr>
					<td><label>{l}ID{/l}:</label></td>
					<td>{$currentTrans.id}</td>
				</tr>
				<tr>
					<td><label>{l}Date{/l}:</label></td>
					<td>{$currentTrans.date}</td>
				</tr>
				<tr>
					<td><label>{l}Type{/l}:</label></td>
					<td>{$typeLookup[$currentTrans.type]}</td>
				</tr>
			</tbody>
		</table>
	</p>

	<button onclick="next()" accesskey="N">{l}<u>N</u>ext Unprocessed Claim{/l}</button>
</div>
<script type="text/javascript">
	if ({$currentTransaction} != currentTransaction) {lcb}
		currentTransaction = {$currentTransaction};
		updateDisplayPane();
	{rcb}
</script>
