<form id="practiceForm" name="practice" method="post" action="{$FORM_ACTION}" onsubmit="return clni_validate(this)">
<!-- it is important that the hidden form_id field be listed first, when it is called is populates any old information attached with the id, this allows for partial edits
		if it were called last, the settings from the form would be overwritten with the old information-->
<div style="margin: 1em">
	<h2>Practice Information</h2>
<input type="hidden" name="form_id" value="{$practice->value('id')}" />
<div id="practiceFormMessageBox"></div>
<table CELLSPACING="0" CELLPADDING="3">
<tr>
	<td COLSPAN="1" ALIGN="LEFT" VALIGN="MIDDLE" >{l}Name{/l}</td>
	<td COLSPAN="2" ALIGN="LEFT" VALIGN="MIDDLE" >
		<input type="text" size="40" name="name" value="{$practice->value('name')}"/>
	</td>
</tr>
<tr>
	<td COLSPAN="1" ALIGN="LEFT" VALIGN="MIDDLE" ><b>{l}Primary Address{/l}</b></td>
</tr>
<tr>
	<td COLSPAN="1" ALIGN="LEFT" VALIGN="MIDDLE" >{l}Address{/l}</td>
	<td COLSPAN="2" ALIGN="LEFT" VALIGN="MIDDLE" >
		{$practice->main_adress}
		<input type="text" size="40" name="main_address_line1" value="{$practice->main_address->value('line1')}"/>
	</td>
</tr>
<tr>
	<td COLSPAN="1" ALIGN="LEFT" VALIGN="MIDDLE" >{l}Address{/l}</td>
	<td COLSPAN="2" ALIGN="LEFT" VALIGN="MIDDLE" >
		<input type="text" size="40" name="main_address_line2" value="{$practice->main_address->value('line2')}"/>
	</td>
</tr>
<tr>
	<td COLSPAN="1" ALIGN="LEFT" VALIGN="MIDDLE" >{l}City, State Zip{/l}</td>
	<td COLSPAN="2" ALIGN="LEFT" VALIGN="MIDDLE" >
		<input type="text" size="25" name="main_city" value="{$practice->main_address->value('city')}"/> ,
		<select name="main_state">
		{html_options options=$practice->main_address->getStateList() selected=$practice->main_address->get('state')}
		</select>
		<input type="text" size="5" name="main_zip" value="{$practice->main_address->value('zip')}"/>
	</td>
</tr>
<tr>
	<td COLSPAN="1" ALIGN="LEFT" VALIGN="MIDDLE" ><b>{l}Secondary Address{/l}</b></td>
</tr>
<tr>
	<td COLSPAN="1" ALIGN="LEFT" VALIGN="MIDDLE" >{l}Address{/l}</td>
	<td COLSPAN="2" ALIGN="LEFT" VALIGN="MIDDLE" >
		<input type="text" size="40" name="secondary_address_line1" value="{$practice->secondary_address->value('line1')}"/>
	</td>
</tr>
<tr>
	<td COLSPAN="1" ALIGN="LEFT" VALIGN="MIDDLE" >{l}Address{/l}</td>
	<td COLSPAN="2" ALIGN="LEFT" VALIGN="MIDDLE" >
		<input type="text" size="40" name="secondary_address_line2" value="{$practice->secondary_address->value('line2')}"/>
	</td>
</tr>
<tr>
	<td COLSPAN="1" ALIGN="LEFT" VALIGN="MIDDLE" >{l}City, State Zip{/l}</td>
	<td COLSPAN="2" ALIGN="LEFT" VALIGN="MIDDLE" >
		<input type="text" size="25" name="secondary_city" value="{$practice->secondary_address->value('city')}"/> , 
		<select name="secondary_state">
		{html_options options=$practice->secondary_address->getStateList() selected=$practice->secondary_address->get('state')}
		</select>
		<input type="text" size="5" name="secondary_zip" value="{$practice->secondary_address->value('zip')}"/>
	</td>
</tr>
<tr>
	<td COLSPAN="1" ALIGN="LEFT" VALIGN="MIDDLE" >{l}Website{/l}</td>
	<td COLSPAN="2" ALIGN="LEFT" VALIGN="MIDDLE" >
		<input TYPE="TEXT" NAME="website" SIZE="35" VALUE="{$practice->value('website')}"/>
	</td>
</tr>
<tr>
	<td COLSPAN="1" ALIGN="LEFT" VALIGN="MIDDLE" >{l}Main Phone{/l}</td>
	<td COLSPAN="2" ALIGN="LEFT" VALIGN="MIDDLE" >
		<input TYPE="TEXT" NAME="phone1" SIZE="12" VALUE="{$practice->value('phone1')}"/>
	</td>
</tr>
<tr>
	<td COLSPAN="1" ALIGN="LEFT" VALIGN="MIDDLE" >{l}Secondary Phone{/l}</td>
	<td COLSPAN="2" ALIGN="LEFT" VALIGN="MIDDLE" >
		<input TYPE="TEXT" NAME="phone2" SIZE="12" VALUE="{$practice->value('phone2')}"/>
	</td>
</tr>
<tr>
	<td COLSPAN="1" ALIGN="LEFT" VALIGN="MIDDLE" >{l}Fax{/l}</td>
	<td COLSPAN="2" ALIGN="LEFT" VALIGN="MIDDLE" >
		<input TYPE="TEXT" NAME="fax" SIZE="12" VALUE="{$practice->value('fax')}"/>
	</td>
</tr>
<tr>
	<td>{l}Identifier{/l}</td>
	<td colspan="2">
		<input type="text" id="identifier" name="identifier" value="{$practice->value('identifier')}" />
	</td>
</tr>

{if $settings}
<tr><td colspan="3"><h2 style="margin: 0px; margin-top: 1em;">Per Practice Configuration</h2></td></tr>
{/if}
	{foreach from=$settings item=row}
<tr>
	<td align="left">{$row.label}</td>
	<td solspan="2">{$row.widget}</td>
</tr>
	{/foreach}
<tr>
	{if empty($practice->id) }
	<td></td><td><br /><input type="submit" value="Save" /></td>
	{else}
	<td></td><td><br /><input type="submit" value="Update" /></td>
	{/if}
</tr>
</table>
</div>

<input type="hidden" name="practice_id" value="{$practice->id}" />
<input type="hidden" name="process" value="{$PROCESS}" />
</form>

{clni_register_message_target formId="practiceForm" targetId="practiceFormMessageBox"}
