{head type='externalcss'}suggest{/head}
{head type='css'}{literal}.blah {margin-left: 5px;}{/literal}{/head}
{clni_form action=$FORM_ACTION autocomplete="off" process=$PROCESS name="vqform" id="vqform"}
<input type="hidden" name="VisitQueue[id]" value="{$queue->get('id')}" />
<fieldset id="VisitQueue" class="radio">
	<legend>{if $queue->get('id') > 0}{l}Edit{/l}{else}{l}Add New{/l}{/if} {l}Queue{/l}</legend>
<table>
<tbody>
<tr>
	<td><label>{l}Template: {/l}</label></td>
	<td>
		{html_options name="VisitQueue[visit_queue_template_id]" options=$template->valueList('title') selected=$queue->get('visit_queue_template_id')}
	</td>
</tr>

<tr>
	<td><label>{l}Provider: {/l}</label></td>
	<td>
		{html_options name="VisitQueue[provider_id]" options=$provider->valueList('usernamePersonId') selected=$queue->get('provider_id')}
	</td>
</tr>
<tr>
	<td><label>{l}Patient: {/l}</label></td>
	<td>
		<div class="SuggestInput">
			{clni_img name="stock/stock_person-10.png"}
			<INPUT TYPE="hidden" name="VisitQueue[patient_id]"  id="queue_patient_id" value="{$patient->get('id')}">
			<input type="text" name="QueuePatientName" id="queue_patient_name" value="{$patient->get('last_name')}, {$patient->get('first_name')}">
		</div>
		<script type="text/javascript">
			var QueuePatient = new patientSuggest('queue_patient_name','queue_patient_id');
		</script>
	</td>
</tr>
</table>
<input type="submit" value="Submit" />
</fieldset>
