<fieldset class="radio">
<legend>{l}Visit Queues{/l}</legend>
{if !$person && $patient && $patient->get('id') > 0}
	{assign_by_ref var=person value=$patient->person}
{/if}
{if !$patient && $person->name() == 'Person'}
	{assign var=patient value=$person}
	{assign var=person value=$person->getPatient()}
	{assign var=provider value=$person->get_defaultProviderPerson()}
{elseif !$patient && $person->name() == 'Patient'}
	{assign_by_ref var=patient value=$person->person}
	{assign var=provider value=$person->get_defaultProviderPerson()}
{/if}
{assign var=visitqs value=$patient->getVisitQueues()}
<a href="{link action='Edit' controller='VisitQueue'}provider_id={$provider->get('id')}&patient_id={$person->get('id')}">{l}Add Queue{/l}</a>
{while $visitqs->valid()}
	{assign var=prevdate value=false}
	{assign_by_ref var=visitq value=$visitqs->current()}
	<div id="vq{$visitq->get('id')}" >
		<a onmouseover="document.getElementById('vqexpand{$visitq->get('id')}').style.display='block';" href="{link action='Edit' controller='VisitQueue'}queue_id={$visitq->get('id')}">{$visitq->get('title')}</a> <a href="{link action='Delete' controller='VisitQueue'}queue_id={$visitq->get('id')}" onClick='return confirm("{l}Delete Queue?  Appointments scheduled will remain, but will be unassociated with this queue.{/l}");'>D</a>
	{if $visitq->isOld()}
		{l}(Fulfilled){/l}
	{/if}
		<div id="vqexpand{$visitq->get('id')}" style="margin-left:5px;display:none;">
	{assign var=reasons value=$visitq->getReasons()}
		<table>
	{while $reasons->valid()}
		<tr><td>
		{assign_by_ref var=r value=$reasons->current()}
		{$r->get('reason')}</td><td>
		{assign_by_ref var=apt value=$r->getAppointmentForQueue($visitq)}
		{if $apt}
			{assign var=prevdate value=$apt->get('USAdate')}
			<a href="{link action='Edit' controller='Appointment'}appointment_id={$apt->get('id')}">{$apt->get('USAdate')} {$apt->get('start_time')}</a> <a href="{link action='Day' controller='CalendarDisplay'}date={$apt->get('USAdate')}">{l}Calendar{/l}</a>
		{else}
		{php}$this->_tpl_vars['reasondateid']='schedaptdate'.$this->_tpl_vars['r']->get('id');{/php}
			<strong>{l}Appointment not yet scheduled{/l}</strong> {clni_input_date name="schedaptdate" id=$reasondateid value=$value time='true' format_popup="%m/%d/%Y" size="17" } <a href="javascript:void(0);" onclick="goSchedule(document.getElementById('{$reasondateid}').value,{$provider->get('id')},{$patient->get('id')},{$visitq->get('id')},{$r->get('id')},{if $prevdate}'{$prevdate}'{else}false{/if});">Schedule</a>
		{/if}
		</td></tr>
		{assign var=r value=$reasons->next()}
	{/while}
		</table>
		</div>
	{assign var=visitq value=$visitqs->next()}
	</div>
{/while}
</fieldset>
<script type="text/javascript">
{literal}
function goSchedule(thedate,provider_id,patient_id,queue_id,reason_id,prevdate) {
	if(prevdate != false) {
		var pdate = parseDateString(prevdate);
		var ndate = parseDateString(thedate);
		if(!(ndate.getYear() >= pdate.getYear() && ndate.getMonth() >= pdate.getMonth() && ndate.getDate() > pdate.getDate())) {
			{/literal}alert('{l}Date must be after previous appointments in this queue.{/l}');{literal}
			return false;
		}
	}
{/literal}
	window.location.href='{link action='Day' controller='CalendarDisplay'}'+'&date='+thedate+'&queue_id='+queue_id+'&qreason_id='+reason_id+'&provider_id='+provider_id+'&patient_id='+patient_id;
{literal}
}
{/literal}
</script>

