{clni_form action=$FORM_ACTION autocomplete="off" process=$PROCESS name="users" id="templateForm"}
<input type="hidden" name="Template[id]" value="{$template->get('id')}" />
<script type="text/javascript">
{literal}
function updateTemplateForm(anum) {
	var holder = document.getElementById('reasonholder');
	var str = document.getElementsByTagName('strong');
	if(str.length == 1) {
		holder.removeChild(str[0]);
	}
	var divs = holder.getElementsByTagName('div');
	var dlen = divs.length;
	if(divs.length == anum) {
		return;
	}
	if(divs.length > anum) {
		for (var i = dlen; i > anum; i--) {
			var el = document.getElementById('reason'+i);
			holder.removeChild(el);
		}
		return;
	}
	if(divs.length < anum) {
		for (var i = dlen+1; i <= anum; i++) {
			{/literal}
			newdiv = document.createElement('div');
			newdiv.id='reason'+i;
			newdiv.innerHTML='<table><tr><td><input name="Reason['+i+'][id]" type="hidden" value=""><label>{l}Reason{/l}</label></td><td><input type="text" name="Reason['+i+'][reason]" value="" size="40"></td></tr><tr><td><label>{l}Length{/l}</td><td><input name="Reason['+i+'][appt_length]" type="text" value="1:00"></td></tr><tr><td><label>{l}Order{/l}</td><td><input name="Reason['+i+'][ordernum]" type="text" value="'+i+'"></td></tr></table>';
			holder.appendChild(newdiv);
			{literal}
		}
		return;
	}
}
{/literal}
</script>
<fieldset id="VisitQueueTemplate" class="radio">
	<legend>{if $template->get('id') > 0}{l}Edit{/l}{else}{l}Add New{/l}{/if} {l}Template{/l}</legend>
<table>
<tbody>
<tr>
	<td><label>{l}Title: {/l}</label></td>
	<td>
		<input type="text" id="ttitle" name="Template[title]" value="{$template->get('title')|escape:"quotes"}" size="40" " /> 
	</td>
</tr>
<tr>
	<td><label>{l}Number of Appointments: {/l}</label></td>
	<td>
		<input type="text" id="numappointments" name="Template[number_of_appointments]" value="{$template->get('number_of_appointments')}" size="3" {if $template->isBeingUsed()}disabled{/if} onblur="updateTemplateForm(this.value);" /> 
		{if !$template->isBeingUsed()}<input type="button" name="Set" value="Set" />{else}{l}This template is in use.  You cannot change the number of appointments.{/l}{/if}
	</td>
</tr>
<tr>
	<td valign="top"><label>{l}Reasons and Appointment Length: {/l}</td>
	<td style="whitespace:nowrap;">
		<div id="reasonholder">
		{if $template->get('id') > 0}
		{assign var=rcount value=1}
		{while $reasons->valid()}
			{assign var=r value=$reasons->current()}
			<div id="reason{$rcount}">
			<table><tr><td>
				<input name="Reason[{$rcount}][id]" type="hidden" value="{$r->get('id')}">
				<label>{l}Reason{/l}</label></td><td><input type="text" name="Reason[{$rcount}][reason]" value="{$r->get('reason')|escape:"quotes"}" size="40" /></td></tr>
				<tr><td><label>{l}Length{/l}</label></td><td><input name="Reason[{$rcount}][appt_length]" type="text" value="{$r->get('length')}" /></td></tr>
				<tr><td><label>{l}Order{/l}</label></td><td><input name="Reason[{$rcount}][ordernum]" type="text" value="{$rcount}" /></td></tr>
			</table>
			</div>
			{assign var=rcount value=$rcount+1}
			{assign var=r value=$reasons->next()}
		{/while}
		{else}
		<strong>{l}Please set the number of appointments.{/l}</strong>
		{/if}
		</div>
	</td>
</tr>
</table>
<input type="submit" value="Submit" />
</fieldset>