{if !$atid}
<script type="text/javascript">
	function updateAp(select,id) {lcb}
{literal}
		var divs = document.getElementById(id).getElementsByTagName('div');
		for(var i = 0; i < divs.length; i++) {
			if (divs[i].className == select.value) {
				divs[i].style.display = 'block';
				var selects = divs[i].getElementsByTagName('select');
				for(var b = 0; b < selects.length; b++) {
					selects[b].disabled = false;
				}
			}
			else {
				divs[i].style.display = 'none';
				var selects = divs[i].getElementsByTagName('select');
				for(var b = 0; b < selects.length; b++) {
					selects[b].disabled = true;
				}
			}
		}
		updateAppointmentTemplate(id);
	}
	function timeToSeconds(time) {
		var p = time.split(':');
		return (p[0]*60*60)+(p[1]*60);
	}
	function secondsToTime(seconds) {
		var h = Math.floor(seconds/(60*60));
		var m = Math.floor( (seconds%(60*60))/60);
		return h+':'+m;
	}
	function updateAppointmentTemplate(id) {
		var divs = document.getElementById(id).getElementsByTagName('div');
		var length = 0;
		var form = false;

		for(var i = 0; i < divs.length; i++) {
			if (divs[i].style.display != 'none') {
				var input = divs[i].getElementsByTagName('input').item(0);
				if (input) {
					length = input.value;
					form = input.form;
				}
			}
		}
		if (form) {
			var start = false;
			var end = false;
			for(var i = 0; i < form.elements.length; i++) {
				if (form.elements[i].name == 'end_time') {
					end = form.elements[i];
				}
				if (form.elements[i].name == 'start_time') {
					start = form.elements[i];
				}
			}

			if (start.value != '') {
				end.value = secondsToTime(timeToSeconds(start.value)+Math.floor(length));
			}
		}
	}
</script>
{/literal}
{/if}
<div id="appointmentTemplate{$atid}">
{assign var='first' value=1}
{foreach from=$appointment_templates item=template key=key}
{assign var='inCurrentReason' value=0}
{if $edit_oc->get('reason_id') == $key}
	{assign var='inCurrentReason' value=1}
{/if}
{if !$edit_app && $first}
	{assign var='inCurrentReason' value=1}
{/if}
<div {if !$inCurrentReason}style="display:none;"{/if} class="{$key}">
	{if !$template}
		Provider
		<select name="user_id" class="query_style" {if !$inCurrentReason}disabled='true'{/if}>
			{if $edit_app}
			{html_options options=$users_array selected=$edit_oc->get_user_id()}
			{else}
			{html_options options=$users_array selected=$selected_user}
			{/if}			
		</select>
		<br>
	{else}
		<input type="hidden" name="templateLength" value="{$template->get('length')}">
		{foreach from=$template->breakdownArray() item=breakdown}
		{$breakdown.title}

		<select name="users[{$breakdown.occurence_breakdown_id}]" class="query_style" {if !$inCurrentReason}disabled='true'{/if}>
			{if $edit_app}
			{html_options options=$peopleByType[$breakdown.user_id] selected=$editOccurenceBreakdown[$breakdown.index]}
			{else}
			{html_options options=$peopleByType[$breakdown.user_id] selected=$selected_user}
			{/if}
		</select>
		<br>
		{/foreach}
	{/if}
	{assign var='first' value=0}
</div>
{/foreach}
</div>
