<link rel="stylesheet" type="text/css" href="{$base_dir}calendar.css">
<table>
	<tr>
		<td>Confirm Appointment</td>
	</tr>
	<tr>
		<td>{$messages->render()}</td>
	</tr>
	<tr>
		<td>{$availability_message}</td>
	</tr>
	<tr>
		<td>{$double_book_message}</td>
	</tr>
	<tr>
		<td>Would you like to schedule this event anyway?</td>
	</tr>
	<tr>
		<td>
		<form action="{$FORM_ACTION}" method="post">
		<input type="submit" name="yes" value="Yes"> &nbsp;&nbsp;&nbsp; <input type="submit" name="cancel" value="Cancel">
		<input type="hidden" name="user_id" value="{$user_id}">
		<input type="hidden" name="location_id" value="{$location_id}">
		<input type="hidden" name="occurence_id" value="{$occurence_id}">
		<input type="hidden" name="date" value="{$date}">
		<input type="hidden" name="external_id" value="{$external_id}">
		<input type="hidden" name="start_time" value="{$start_time}">
		<input type="hidden" name="end_time" value="{$end_time}">
		<input type="hidden" name="notes" value="{$notes}">
		<input type="hidden" name="process" value="{$PROCESS}">
		</form>
		</td>
	</tr>
</table>
