<div style="background: url({clni_img name='75p_white.png' urlOnly='true'});" id="dock">
	<a id="dockSlider" accesskey="d" title="Show/Hide Dock" onclick="showHideExtra(this)"></a>
	<div id="dockInternalDiv" style="margin-left: 10px; padding: 2px; width: 190px; overflow: hidden;">
		<button accesskey="a" onclick="showAddAppointment();"><u>A</u>ppointment</button>
{*
		<button accesskey="f" onclick="showCalendarFilters();"><u>F</u>ilters</button>
*}
		<div>
		<form action="{link}" method="GET">
		<h2>Filters</h2>
		{$filter_html}
		<br />
		<input type="submit" value="Set Filters" />
		</form>
		<h4>Currently Active Filters:</h4>
			<ul style="margin: 0; padding: 0;">
				{foreach from=$filters item=value key=label}
				<li><b>{$label}</b>: {$value}</li>
				{/foreach}
			</ul>
		</div>

		<br>
		<p>
		<input type="checkbox" id="doubleBooking" onclick="toggleAllConflicts(this)" {if $practice->get('type')}CHECKED{/if}>
		<label class="inline" for="doubleBooking">Expand double bookings</label>
		<br>
		<input type="checkbox" id="hideProvider" onclick="toggleProviders(this)" {if $config->get('MinimizeProviderSchedules')}CHECKED{/if}>
		<label class="inline" for="hideProvider">Minimize provider schedules</label>
		</p>
	</div>
</div>
<div style="display:none;"><img src="{link action=information.gif controller=stock pageType=images}" id="originalInfoIcon" /></div>
