<link rel="stylesheet" type="text/css" href="{$base_dir}calendar.css">
<div>{$messages->render()}</div>
<div id="calendarBody">
<table  border="0" cellspacing="1" cellpadding="2" class="monthback">
		<tr>
		<td colspan="7">
			<table width="100%">
			<tr>
				<td align="right" width="40%" class="navback"><a class="psf" href="{$DAY_PREV_ACTION}"><img src="{$base_dir}images/left_day.gif" alt="[{l}Previous Day{/l}]" border="0" align="right"></a></td>
				<td align="center" width="20%" class="navback" nowrap valign="middle"><span class="H20">{$start_timestamp|date_format:"%a, %b %d"}</span></td>
      			<td align="left" width="40%" class="navback"><a class="psf" href="{$DAY_NEXT_ACTION}"><img src="{$base_dir}images/right_day.gif" alt="[{l}Next Day{/l}]" border="0" align="left"></a>
      			<div style="float:right;">
      			<a href="{$CONTROLLER->_link("day",true)}date={$Day->gettimestamp()|date_format:"%m/%d/%Y"}"><img src="{$base_dir}images/day_on.gif"></a>
      			<a href="{$CONTROLLER->_link("week_grid",true)}date={$Day->gettimestamp()|date_format:"%m/%d/%Y"}"><img src="{$base_dir}images/week_on.gif"></a>
      			<a href="{$CONTROLLER->_link("month",true)}date={$Day->gettimestamp()|date_format:"%m/%d/%Y"}"><img src="{$base_dir}images/month_on.gif"></a>
      			<a href="{$FORM_ACTION}&set_print_view" target="_new"><img src="{$base_dir}images/print_icon.png"></a>
      			</div>
      			</td>
			</tr>
			</table>
		</td>
	</tr>
	<tr>										
    	<td width="460" valign="top" colspan="7" align="center" style="border-top: 1px solid #A1A5A9;border-right: 1px solid #A1A5A9;" class="dateback">&nbsp;
		{if $users_filter}
			{l}Showing Users{/l}: {$users_filter}&nbsp;&nbsp;
		{/if}
		
		{if $locations_filter}
			{l}Showing Locations{/l}: {$locations_filter}&nbsp;&nbsp;
		{/if}
		</td>
    </tr>
    
	{foreach from=$events item=Day}
		{foreach from=$Day item=ev} 
		<tr>
		<td align="left" valign="top" class="monthreg"> 
		<div>
		{$ev.start_ts|date_format:"%I:%M %p"}-{$ev.end_ts|date_format:"%I:%M %p"}
		
		{if $ev.p_record_number > 0}
		<b>{$ev.p_lastname}, {$ev.p_firstname}</b> #{$ev.p_patient_number} {$ev.dob}-{$ev.age}<br>{$ev.p_phone}
		{if $ev.notes}
		<br>
		{$ev.notes}
		{/if}
		<!-- <br><a href="{$APPOINTMENT_ACTION}appointment_id={$ev.occurence_id}">edit</a>, 
			<a href="controller.php?location&delete&id={$ev.occurence_id}&object=occurence&process=1">delete</a>, 
			<a href="controller.php?location&update_schedule&id={$ev.occurence_id}&schedule_code=NS&group_name=No Shows&process=1">ns</a> -->
		
		<br><a href="{$TOP_ACTION}appointment_id={$ev.occurence_id}">edit</a>, 
		<a href="{$DELETE_ACTION}&id={$ev.occurence_id}&object=occurence&process=1">delete</a>, 
		<a href="{$UPDATE_SCHEDULE_ACTION}&id={$ev.occurence_id}&schedule_code=NS&group_name=No Shows&process=1">ns</a>

		{else}
		<a href="{$SCHEDULE_LIST_ACTION}#{$ev.schedule_id}">{$ev.schedule_code}</a> 
		<a href="{$SCHEDULE_LIST_ACTION}#{$ev.schedule_id}">{$ev.title}</a> {$ev.nickname}
		{/if}
		<br>{$ev.last_change_nickname}-{$ev.last_change|date_format:"%m/%d/%Y"} 
		</div>
        </td>
    	</tr>
        {/foreach}
    {/foreach}
    
</table>
</div>

<div id="calendarSidebar">{$sidebar}</div>
