{if !$inlineBlurb}
<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
{/if}
{if $ev.schedule_code eq ADM}
	{assign var=color value="FFFF13"}
{else}
	{assign var=color value=$ev.color}
{/if}
	<td colspan="1"  rowspan="{$tablemap2[$ev.occurence_id]}"  class="eventbg2_1" valign="top" style="background-color:#{$color};">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td height="13" class="eventborder"><span class="eventfont">{$ev.start_ts|date_format:"%I:%M%p"}&nbsp;-&nbsp;{$ev.end_ts|date_format:"%I:%M%p"} {$ev.nickname}</span></td>
	</tr>
	<tr>
		<td colspan="1" valign="top" >
		<table width="100%" border="0" cellpadding="0" cellspacing="0" class="calendarBlurb">
		<tr>
			<td class="eventbg_1">
				{if $ev.p_record_number > 0 || $ev.group_appointment}
				{if $ev.group_appointment}
					<b>{l}Group Appointment{/l}</b>
				{else}
					<b><a href="{$PATIENT_DASHBOARD_LINK}id={$ev.person_id}">{$ev.p_lastname}</a>, {$ev.p_firstname}</b> #{$ev.p_patient_number} {$ev.dob}-{$ev.age}<br>{$ev.p_phone}
				{/if}
					{if $ev.notes}
					<br>
					{$ev.notes}
					{/if}
					{if $ev.reason_code > 0}
					<br />{enum_lookup name="appointment_reasons" value=$ev.reason_code}
					{/if}
					{if $ev_edit == true}
					<br><a href="{$APPOINTMENT_ACTION}appointment_id={$ev.occurence_id}">edit</a>,
					<a href="{$EVENT_DELETE_ACTION}id={$ev.occurence_id}&object=occurence&process=1">del</a>, 
					<a href="{$UPDATE_SCHEDULE_ACTION}id={$ev.occurence_id}&schedule_code=NS&group_name=No Shows&process=1">ns</a>, 
					<a href="{$UPDATE_SCHEDULE_ACTION}id={$ev.occurence_id}&schedule_code=NS&group_name=Cancelations&process=1">can</a>,
				{if $ev.group_appointment}
					<a href="{link action="editGroup" controller="Appointment"}appointment_id={$ev.occurence_id}">enc</a>,
					<a href="{link action="editGroup" controller="Appointment"}appointment_id={$ev.occurence_id}">edit group</a>
				{else}
					<a href="{link action="edit" controller="Encounter" defaultArg="0"}occurence_id={$ev.occurence_id}&patient_id={$ev.person_id}">enc</a>
				{/if}
					{/if}
				{else}
					<a href="{$SCHEDULE_LIST_ACTION}#{$ev.schedule_id}">{$ev.schedule_code}</a> 
					<a href="{$SCHEDULE_LIST_ACTION}#{$ev.schedule_id}">{$ev.title}</a>
					{if $ev_edit == true}
						<br><a href="{$APPOINTMENT_ACTION}appointment_id={$ev.occurence_id}">edit</a>,
						<a href="{$EVENT_DELETE_ACTION}id={$ev.occurence_id}&object=occurence&process=1">delete</a><br>
					{/if}
					{$ev.notes}
				{/if}
				{if $ev.creator_nickname}
					<br />Entered by: {$ev.creator_nickname} - {$ev.timestamp|date_format:"%m/%d/%Y"}
				{else}
					<br />Entered by UserID: {$ev.creator_id} - {$ev.timestamp|date_format:"%m/%d/%Y"}
				{/if}
				{if $ev.last_change_nickname}
					<br>Last Edit: {$ev.last_change_nickname} - {$ev.last_change|date_format:"%m/%d/%Y %H:%M:%S"}
				{/if}  
				&nbsp; {if $ev.walkin}{l}WI{/l}{/if}
			</td>
		</tr>
		</table>
		</td>
	</tr>
	</table>
	</td>
{if !$inlineBlurb}
		</tr>	
	</table>
{/if}
