<SCRIPT type='text/javascript' src="{$base_dir}js/autocomplete.js"></script>
<script type='text/javascript' src='{$base_dir}jpspan_server.php?client'></script>
{*
<script type='text/javascript' src='{$base_dir}js/suggest.js'></script>
*}
<script type='text/javascript' src='{$base_dir}index.php/ajax?stub=PatientFinder'></script>
{literal}
<script language="javascript">
function captureEnter (field, event) {
		var keyCode = event.keyCode ? event.keyCode : event.which ? event.which : event.charCode;
		if (keyCode == 13) {
			var i;
			for (i = 0; i < field.form.elements.length; i++)
				if (field == field.form.elements[i])
					break;
			i = (i + 1) % field.form.elements.length;
			field.form.elements[i].focus();
			return false;
		} 
		else
		return true;
	}      

{/literal}
{if $group_appointments}
var action="{$GROUP_ACTION}";
{literal}
var oldContent = new Object();
function groupAppointment(cbox) {
	var list = ['ghide1','ghide2','ghide3','ghide4'];
	if (cbox.checked) {
		document.getElementById('group_appointment1').checked = true;
		document.getElementById('group_appointment2').checked = true;
		for(var i = 0; i < list.length; i++) {
			oldContent[list[i]] = document.getElementById(list[i]).innerHTML;
			document.getElementById(list[i]).innerHTML = "";
		}
		if (action != 'false') {
			document.getElementById('ghide1').innerHTML = "<a href='"+action+"'>Edit&nbsp;Group</a>";
			document.getElementById('ghide3').innerHTML = "<a href='"+action+"'>Edit&nbsp;Group</a>";
		}
	}
	else {
		document.getElementById('group_appointment1').checked = false;
		document.getElementById('group_appointment2').checked = false;
		for(var i = 0; i < list.length; i++) {
			if (oldContent[list[i]]) {
				document.getElementById(list[i]).innerHTML = oldContent[list[i]];
			}
		}
	}
}

var clni_ignore_missing_elements = true;
{/literal}
{/if}
</script>
<link rel="stylesheet" type="text/css" href="{$base_dir}calendar.css">
<div class="popup" id="popup">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="calborder">

	<tr height="20">
		<td align="center" class="sideback"><div style="height: 20px; margin-top: 3px;" class="G10BOLD">
		{if $edit_app}
		{l}Editing App #{/l}{$edit_oc->get_id()}
		{else}
		{l}Add Appointment{/l}
		{/if}
		<a href="{literal}javascript:{}{/literal}" onClick="document.getElementById('popup').style.visibility = 'hidden';">C</a></div></td>
	</tr>
	<tr>
		<td bgcolor="#FFFFFF" align="left">
			<div style="padding: 5px;">
			{clni_form name="make_appointment_popup" id="make_appointment_popup" style="margin-bottom:0;" method="post" action=$EDIT_APPOINTMENT_ACTION"}
			<select name="user_id" class="query_style">
			{if $edit_app}
			{html_options options=$users_array selected=$edit_oc->get_user_id()}
			{else}
			{html_options options=$users_array selected=$selected_user}
			{/if}			
			</select>	
			<br>
			
			<p style="align: center; font-weight:bold;">{$rooms_practice_array[$selected_location]}</p>
			{if $edit_app}
			<input type="hidden" name="location_id" value="{$edit_oc->get_location_id()}">
			<input type="hidden" name="occurence_id" value="{$edit_oc->get_id()}">
			{else}
			<input type="hidden" name="location_id" value="{$selected_location}">
			{/if}	
			
			
			<table border="0">
				<tr>
					<td>{l}Date{/l}</td><td><input type="text" name="date" id="date1" size="9" value="{$edit_oc->get_date()}"></td>
				</tr>
				<tr>
					<td colspan="2">{l}Title{/l}</td>
				</tr>
				<tr>
				<td colspan="2"><input type="text" name="notes" size="15" value="{$edit_oc->get_notes()}">{html_options name="reason_id" options=$appointment_reasons selected=$edit_oc->get('reason_id')}</td>
				</tr>
				<tr>
					<td colspan="2" id="ghide1">{l}Patient{/l}&nbsp;&nbsp;<a href="{php}echo Celini::link("edit","patient");{/php}">{l}New{/l}</a>&nbsp;&nbsp;
					</td>
				</tr>
				<tr>
				<td valign="top" colspan="2">
{* old searcher
<input type="text" class="string" id="pf" name="pfinder" autocomplete="off" onkeyup="do_suggest(this.id,false,'PatientFinder','SmartSearch');return false;" value="" /><div id="suggestionholder"><div class="suggestions" id="pfsuggestions" style="display:none;">&nbsp;</div></div>
*}
				<div id="ghide2">
					<INPUT TYPE="hidden" name="external_id"  id="patient_id_2" value="{$edit_oc->get_external_id()}">
                	<INPUT TYPE="text" onkeypress="return captureEnter(this, event)" CLASS="input_text" name="patient_name" id="patient_name_2" SIZE="20" autocomplete="off" value="{$edit_patient_name}"><br>
                	<div id="acDiv2" style="border: 1px solid black; background-color: white; z-index: 20; visibility: hidden;"><div class="AutoCompleteBackground"></div></div>
			<div id="validationMessageTarget1" style='width: 150px;'></div>
				</div>
				</td>
				</tr>
				<tr>
					<td colspan="2">{l}Time{/l}</td>
				</tr>
				<tr>
					<td colspan="2" style="white-space:nowrap;"><input id="time1" style="display:inline;" type="text" name="start_time" size="5" value="{$edit_oc->get_start_time()}"> {l}to{/l} <input style="display:inline;" type="text" name="end_time" size="5" value="{$edit_oc->get_end_time()}" id="time2">
					</td>
				</tr>
				<tr>
					<td colspan="2"><input type="hidden" name="walkin" value="0">
					<input type="checkbox" value="1" name="walkin" id="walkin" {if $edit_oc->get('walkin') == 1}CHECKED{/if}>
					<label class="inline" for="walkin">{l}Walk in{/l}?</label></td>
				</tr>
{if $group_appointments}
				<tr>
					<td colspan=2>
					<input onclick="groupAppointment(this)" type="checkbox" value="1" name="group_appointment" id="group_appointment2" {if $edit_oc->get('group_appointment') > 0}CHECKED{/if}>
					<label class="inline" for="group_appointment2">{l}Group Appointment{/l}?</label></td>
				</tr>
{/if}
				<tr>
				<td colspan="2"><input type="submit" style="font-size:8pt;" name="make_appointment" value="{if $edit_app}{l}Edit Appointment{/l}{else}{l}Make Appointment{/l}{/if}"></td>
				</tr>
			</table>
			<input type="hidden" name="occurence_id" value="{$edit_oc->get_id()}">
			<input type="hidden" name="process" value="true">
			</form>
{if $group_appointments}
{clni_register_validation id="date1" rules="required|date"}
{clni_register_validation_rule id="time1"}
{clni_register_validation_rule id="time2"}
{* required is our test rule because its a not-empty check *}
{clni_register_validation id="patient_id_2" rules="requiredif(testElement:'patient_name_2',testRule:'required',message:'No Patient is Selected')} 
{else}			
{clni_register_message_target formId="make_appointment_popup" targetId="validationMessageTarget1"}
{clni_register_validation id="date1" rules="required|date"}
{clni_register_validation_rule id="time1"}
{clni_register_validation_rule id="time2"}
{* required is our test rule because its a not-empty check *}
{clni_register_validation id="patient_id_2" rules="requiredif(testElement:'patient_name_2',testRule:'required',message:'No Patient is Selected')} 
{/if}
</div>		</td>
	</tr>
</table>
</div>
<table width="170" border="0" cellpadding="0" cellspacing="0" class="calborder">

	<tr height="20">
		<td align="center" class="sideback"><div style="height: 20px; margin-top: 3px;" class="G10BOLD">
		{if $edit_app}
		{l}Editing App{/l} #{$edit_oc->get_id()}
		{else}
		{l}Add Appointment{/l}
		{/if}
		</div></td>
	</tr>
	<tr>
		<td bgcolor="#FFFFFF" align="left">
			<div style="width:150px;margin:0 auto;" id="makeAppointmentSidebarMessages"></div>
			<div style="padding: 5px;">
			<form name="make_appointment" id="makeAppointmentSidebarForm" style="margin-bottom:0;" method="post" action="{$base_dir}index.php/main/location/edit_appointment" onsubmit='return clni_validate(this)'>
			<select name="user_id" class="query_style">
			{if $edit_app}
			{html_options options=$users_array selected=$edit_oc->get_user_id()}
			{else}
			{html_options options=$users_array selected=$selected_user}
			{/if}			
			</select>	
			<br>
			
			<p style="align: center; font-weight:bold;">{$rooms_practice_array[$selected_location]}</p>
			{if $edit_app}

			<input type="hidden" name="location_id" value="{$edit_oc->get_location_id()}">
			<input type="hidden" name="occurence_id" value="{$edit_oc->get_id()}">
			{else}
			<input type="hidden" name="location_id" value="{$selected_location}">
			{/if}
			
			<table border="0">
				<tr>
				<td>{l}Date{/l}</td><td>{clni_input_date name="date" size="9"  value=$edit_oc->get_date() id="date2"}</td>
				</tr>
				<tr>
					<td colspan="2">{l}Title{/l}</td>
				</tr>
				<tr>
					<td colspan="2"><input type="text" name="notes" size="15" value="{$edit_oc->get_notes()}"><br />{html_options name="reason_id" options=$appointment_reasons selected=$edit_oc->get('reason_id')}</td>
				</tr>
				<tr>
				<td colspan="2" id="ghide3">{l}Patient{/l}&nbsp;&nbsp;<a href="{php}echo Celini::link("edit","patient");{/php}" target="_top">New</a>&nbsp;&nbsp;
					</td>
				</tr>
				<tr>
				<td valign="top" colspan="2">
{*
					<INPUT TYPE="hidden" name="external_id" id="patient_id_1" value="{$edit_oc->get_external_id()}">
					<input type="text" class="string" id="pfb" name="pfinder" autocomplete="off" onkeyup="do_suggest(this.id,false,'PatientFinder','SmartSearch');return false;" /><div id="suggestionholder" style="z-index:20;min-width:150px;"><div class="suggestions" id="pfbsuggestions" style="display:none;">&nbsp;</div></div>
*}
				<div id="ghide4"> 
					<INPUT TYPE="hidden" name="external_id" id="patient_id_1" value="{$edit_oc->get_external_id()}">
                	<INPUT TYPE="text" onkeypress="return captureEnter(this, event)" CLASS="input_text" name="patient_name" id="patient_name_1" SIZE="20" autocomplete="off" value="{$edit_patient_name}"><br>
                	<div id="acDiv" style="border: 1px solid black; background-color: white; z-index: 20; visibility: hidden;"><div class="AutoCompleteBackground"></div></div>
				</div>
				</td>
				</tr>
				<tr>
					<td colspan="2">{l}Time{/l}</td>
				</tr>
				<tr>
				<td colspan="2" style="white-space:nowrap;"><input id="time3" style="display:inline;" type="text" name="start_time" size="5" value="{$edit_oc->get_start_time()}"> {l}to{/l} <input id="time4" style="display:inline;" type="text" name="end_time" size="5" value="{$edit_oc->get_end_time()}">
					</td>
				</tr>
				<tr>
					<td colspan=2><input type="hidden" name="walkin" value="0">
					<input type="checkbox" value="1" name="walkin" id="walkin1" {if $edit_oc->get('walkin') == 1}CHECKED{/if}>
					<label class="inline" for="walkin1">{l}Walk in{/l}?</label></td>
				</tr>
{if $group_appointments}
				<tr>
					<td colspan=2>
					<input onclick="groupAppointment(this)" type="checkbox" value="1" name="group_appointment" id="group_appointment1" {if $edit_oc->get('group_appointment') > 0}CHECKED{/if}>
					<label class="inline" for="group_appointment1">{l}Group Appointment{/l}?</label></td>
				</tr>
{/if}
				<tr>
				<td colspan="2"><input type="submit" style="font-size:8pt;" name="make_appointment" value="{if $edit_app}{l}Edit Appointment{/l}{else}{l}Make Appointment{/l}{/if}"></td>
				</tr>
			</table>
			<input type="hidden" name="occurence_id" value="{$edit_oc->get_id()}">
			<input type="hidden" name="process" value="true">
			</form>
			<script language="javascript">
			{literal}
			function popupEditor() {
					var blah;
					
					blah = document.getElementById('popup');
					blah.style.width=250;
					blah.style.height=350;
					//150 is the general width of the browser heading
					blah.style.top = (screen.height/2) - (parseInt(blah.style.height)/2)+document.body.scrollTop - 100;
					blah.style.left = ((screen.width/2) - (parseInt(blah.style.width)/2)) * 0.5;
					blah.style.visibility = 'visible';
			}
			
			{/literal}
			</script>
			<a href="javascript:{literal}{}{/literal}" onClick="popupEditor();">{l}show{/l}</a>
</div>		</td>
	</tr>
</table>
{if $group_appointments}
{clni_register_validation id="date2" rules="required|date"}
{clni_register_message_target formId="makeAppointmentSidebarForm" targetId="makeAppointmentSidebarMessages"}
{clni_register_validation_rule id="time3"}
{clni_register_validation_rule id="time4"}
{else}
{clni_register_message_target formId="makeAppointmentSidebarForm" targetId="makeAppointmentSidebarMessages"}
{clni_register_message_target formId="make_appointment_popup" targetId="validationMessageTarget1"}
{clni_register_validation_rule id="patient_id_1" message="A patient is required"}
{clni_register_validation id="date2" rules="required|date"}
{clni_register_validation_rule id="time3"}
{clni_register_validation_rule id="time4"}
{/if}
<br>

<table width="170" border="0" cellpadding="0" cellspacing="0" class="calborder">

	<tr height="20">
		<td align="center" class="sideback"><div style="height: 20px; margin-top: 3px;" class="G10BOLD">{l}Shortcuts{/l}</div></td>
	</tr>
	<tr>
		<td bgcolor="#FFFFFF" align="left">
			<div style="padding: 5px;">
			<form style="margin-bottom:0;" action="#" method="GET">
			<select name="location" class="query_style" onChange="window.location=('{$FILTER_ACTION}filter=location/'+this.options[this.selectedIndex].value+'&process=true');">	
			{html_options options=$rooms_practice_array selected=$selected_location}
			</select>	
			<br>
			<select name="provider" class="query_style" onChange="window.location=('{$FILTER_ACTION}filter=user/'+this.options[this.selectedIndex].value+'&process=true');">
			<option value="">{l}All Providers{/l}</option>		
			{html_options options=$users_array selected=$selected_user}
			</select>
<br>
<select name="month" class="query_style" onChange="window.location=('{$LINK_BASE}date='+this.options[this.selectedIndex].value);">
{html_options options=$month_select selected=$month_selected}
</select>
<br>
<select name="week" class="query_style" onChange="window.location=('{$LINK_BASE}date='+this.options[this.selectedIndex].value);">
{html_options options=$week_select selected=$week_selected}
</select>
<br>
</form>
</div>		</td>
	</tr>
</table>
<br>


{foreach from=$sidebar_months  item=month}
		
<table width="170" border="0" cellpadding="3" cellspacing="0" class="calborder">
	<tr height="20">
		<td align="center" class="sideback"><font class="G10BOLD">{$month->gettimestamp()|date_format:"%B"}</font></td>
	</tr>
	<tr>
		<td bgcolor="#FFFFFF" align="center">
			<table border="1" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
				<tr><td align="center" class="G10BOLD">S</td><td align="center" class="G10BOLD">M</td><td align="center" class="G10BOLD">T</td><td align="center" class="G10BOLD">W</td><td align="center" class="G10BOLD">T</td><td align="center" class="G10BOLD">F</td><td align="center" class="G10BOLD">S</td></tr>

{assign var=md value=$month->fetchAll()}
{foreach from=$md item=day}
	{if $day->isFirst()}
		<tr>
	{/if}
	{if $day->isEmpty()}
		<td width="22" align="center" class="G10B"><a class="psf" href="{$LINK_BASE}date={$day->thisMonth()}/{$day->thisDay()}/{$day->thisYear()}"><font class="G10G">{$day->thisDay()}</font></td>
	{elseif $day->isSelected()}
		<td width="22" align="center" class="G10B" style="background-color:#FFFF00;"><a class="ps2" href="{$LINK_BASE}date={$day->thisMonth()}/{$day->thisDay()}/{$day->thisYear()}">{$day->thisDay()}</td>
	{else}
		<td width="22" align="center" class="G10B"><a class="ps2" href="{$LINK_BASE}date={$day->thisMonth()}/{$day->thisDay()}/{$day->thisYear()}">{$day->thisDay()}</td>
	{/if}
	
	{if $day->isLast()}
		</tr>
	{/if}

{/foreach}
</table>
</td></tr>
</table>
<br>
{/foreach}

{literal}
<SCRIPT language="javascript">

function setupAutoComplete(){
	var ac = new AutoComplete(
	C_PatientFinder,
    'patient_name_1',
    'patient_id_1',
    'acDiv',
    true,
    325
                );
    var ac2 = new AutoComplete(
	C_PatientFinder,
    'patient_name_2',
    'patient_id_2',
    'acDiv2',
    true,
    325
                );
}

var C_PatientFinder = function find_remoting(searchString) {
        var h = new c_patientfinder(this.dataHandler);
        h.Sync();
                                                                                
        var results = h.find_remoting(searchString);
        return results;
}

setupAutoComplete();
{/literal}
{if $group_appointments}
groupAppointment(document.getElementById('group_appointment1'));
{/if}
</SCRIPT>
