<div style="position: absolute; top: 0px; right: 0px; width: 190px; height: 225px; background: url(/clearhealth/index.php/images/75p_white.png); border: solid 2px gray; z-index: 50000;">
	<a style="display:block; position: absolute; top: 0px; left:0; background-color: gray; width: 10px; height: 225px; overflow: hidden; cursor: pointer;" 
		accesskey="d" title="Show/Hide Dock" onclick="showHideExtra(this)"></a>
	<div style="margin-left: 10px; padding: 2px;">
		<button accesskey="a" onclick="showAddAppointment();"><u>A</u>ppointment</button>
		<button accesskey="f" onclick="showCalendarFilters();"><u>F</u>ilters</button>

		<div>
			<ul style="margin: 0; padding: 0;">
				{foreach from=$filters item=value key=label}
				<li><b>{$label}</b>: {$value}</li>
				{/foreach}
			</ul>
		</div>

	</div>
</div>
