	<fieldset class="radio" id="person">
		<legend>{if $detail_section_title}{$detail_section_title}{else}{l}Individual Details{/l}{/if} 
			{clni_section_links name="detail"}
			</legend>
			<table>
			<tbody>
                        <tr>
                        <tr>
				<td><label>{l}First Name{/l}: </label></td>
				<td style="white-space: nowrap;" colspan=2><input name="person[first_name]" size="20" value="{$person->get('first_name')}"></td>
				{*<td rowspan="6" align="center" ><div style="margin-top:-30px; margin-right:-15px;"><a href="{$base_dir}photo.php?id={$person->get('person_id')}&size=large" target="photo"><div  class="img-shadow"><img src="{$base_dir}photo.php?id={$person->get_person_id()}" style="border-style: solid; border-width:thin;"></div></div></a></td>*}
                        </tr>
			<tr>
				<td><label>{l}Last Name{/l}: </label></td>
				<td colspan=2><input id="last_name" name="person[last_name]" size="20" value="{$person->get('last_name')}"></td>
			</tr>
			<tr>
				<td><label>{l}Identifier{/l}: </label></td>
				<td colspan="2"><input id="identifier" name="person[identifier]" size="20" value="{$person->get('identifier')}">
					<select name="person[identifier_type]">
						{html_options options=$person->getIdentifierTypeList() selected=$person->get('identifier_type')}
					</select>
				</td>
			</tr>
			<tr>
				<td><label>{l}Salutation{/l}: </label></td>
                          <td colspan="2">
			  <input name="person[salutation]" size="5" value="{$person->get('salutation')}">
			  &nbsp;&nbsp;{l}Initials{/l}: <input name="person[initials]" size="3" value="{$person->get('initials')}">
			  &nbsp;&nbsp;{l}Middle Initial{/l}: 
			  <input name="person[middle_name]" size="2" value="{$person->get('middle_name')}">
			  </td>
                        </tr>
				{if !$hide_type}
                        <tr>
				<td style="vertical-align:top;"><label>{l}Type{/l}:</label></td>
				<td>
				  <select name="person[type]">
					  <option></option>
					  {html_options options=$person->getTypeList() selected=$person->get('type')}
				  </select>
			 </td>
                        </tr>
			 	{/if}
                        <tr>
				<td><label>{l}Primary Email{/l}:</label> </td>
				<td><input name="person[email]" size="30" value="{$person->get('email')}"></td>
                        </tr>
                        <tr>
				<td><label>{l}Secondary Email{/l}:</label> </td>
				<td colspan=2><input name="person[secondary_email]" size="30" value="{$person->get('secondary_email')}"></td>
                        </tr>
                        <tr>
				<td><label>{l}Gender{/l}:</label> </td>
                          <td colspan="2">
                          <select name="person[gender]">
				  <option></option>
				{html_options options=$person->getGenderList() selected=$person->get('gender')}
                          </select>&nbsp;&nbsp;
			  DOB: {clni_input_date value=$person->get('date_of_birth') name="person[date_of_birth]"}
                          </td>
                        </tr>
				<td style="vertical-align: top;"><label>{l}Notes{/l}:</label> </td>
                          <td colspan="2" valign="top" height="70">
				  <textarea name="person[notes]" rows="3" cols="35" wrap="virtual">{$person->get('notes')}</textarea>
			  </td>
                        </tr>
                        </tr>
                      </tbody>

                    </table>
                    </fieldset>
{clni_register_validation_rule id="last_name"}
{clni_register_validation_rule id="identifier"}
