<table class="grid" border="0" cellspacing="1" cellpadding="0">
        {$pager}
	<tr>
                <th>{l}Number{/l}</th><th>{l}Type{/l}</th><th>{l}Notes{/l}</th>
        </tr>
        {foreach from=$parent->get_numbers() item=row name="phone"}
	<tr {if $row.number_id == $number->get('id')}class="selectedRow"{else}{if $smarty.foreach.phone.iteration %2 == 1}class="alt"{/if}{/if}>
		<td><a href="javascript:numberPopup({$row.number_id});">{$row.number}</a></td>
		<td>{$row.number_type}</td>
		<td>{$row.notes}</td>
		<td><a onClick="return confirm('Delete Number {$row.number_type}:{$row.number}?')" href="{$DELETE_NUMBER_ACTION}id={$row.number_id}&process=true">delete</a></td>
        </tr>
        {foreachelse}
        <tr>
                <td colspan="3">{l}No Phone Numbers{/l}</td>
        </tr>
        {/foreach}
</table>
