<table>
	<tr>
		<td><label>{l}Name{/l}:</label></td>
		<td><input id="addrName" name="address[name]" size="20" value="{$address->get('name')}"></td>
		<td><label>{l}Type{/l}:</label> </td>
		<td>
			<select name="address[address_type]" class="requiredIfAny" onclick="updateAddrName(this)">
				<option></option>
				{html_options options=$address->getTypeList() selected=$address->get('type')}
			</select>
		</td>
	</tr>
	
	<tr>
		<td><label>{l}Address{/l}:</label> </td>
		<td colspan="3">
			<input name="address[line1]" size="30" value="{$address->get('line1')}"><br>
			<input name="address[line2]" size="30" value="{$address->get('line2')}">
		</td>
	</tr>
    
	<tr>
		<td><label>{l}City{/l}:</label> </td>
		<td><input name="address[city]" id="zaddresscity{if $address->get('id') > 0}{$address->get('id')}{else}0{/if}" size="15" value="{$address->get('city')}"></td>
		{*<td><label>{l}State{/l}:</label> </td>*}
		<td>
			<select name="address[state]" id="zaddressstate{if $address->get('id') > 0}{$address->get('id')}{else}0{/if}">
				<option value=0>State</option>
				{html_options options=$address->getStateList() selected=$address->get('state')}
			</select>
		</td>	
		<td>
			<label class="inline">{l}Zip{/l}:</label> 
			<input name="address[postal_code]" size="10" id="zaddresspostalcode{$address->get('id')}" value="{$address->get('postal_code')}" onkeyup="if(this.value.length==5) zipGrab(this.value,{if $address->get('id') > 0}{$address->get('id')}{else}0{/if});">
		</td>
	</tr>
    
	<tr>
		<td><label>{l}Notes{/l}:</label> </td>
		<td colspan="3">
			<textarea name="address[notes]" rows="2" cols="35">{$address->get('notes')}</textarea><br />
		</td>
	</tr>
	
	<tr>
		<td></td>
		<td colspan="3">
			<input id="returned_mail" type="hidden" name="address[returned_mail]" value='0'>
			<input id="returned_mail" type="checkbox" name="address[returned_mail]" value='1' {if $address->get('returned_mail') > 0}CHECKED{/if} /> {l}Returned to Sender/Bad Address{/l}
		</td>
	</tr>
	
	<tr>
		<td></td>
		<td colspan="3">
			{if $address->get('address_id') > 0}
				<input type="hidden" name="address[address_id]" value="{$address->get('address_id')}">
			{/if}
			<input type="submit" {if $address->get('address_id') > 0}value="Update"><input type="submit" value="Add as New" name="address[add_as_new]">{else}value="Add" onClick="this.submit();">{/if}
		</td>
	</tr>
</table>
