	<fieldset class="radio" id="people">
		<legend>{l}Employees{/l} {clni_section_links name="employees"}</legend>
<table class="data" width="100%" border="0" cellspacing="1" cellpadding="0">
        {$pager}
        <tr bgcolor="EFEFEF">
		<th>{l}Name{/l}</th><th>{l}Email{/l}</th><th>{l}Phone{/l}</th>
        </tr>
	{foreach from=$company->get_people() item=row}
	<tr>
		<td><a href="{$EDIT_PERSON_ACTION}&person_id={$row.person_id}">{$row.name}</a></td>
		<td>{$row.email}</td>
		<td>{$row.phone}</td>
		<td><a onClick="return confirm('Remove relationship between {$company->get('name')} and {$row.name}')" href="{$DELETE_PERSON_RELATION_ACTION}id={$row.person_id}&process=true">remove</a></td>
        </tr>
        {foreachelse}
        <tr>
                <td colspan="4">{l}No Employees{/l}</td>
        </tr>
        {/foreach}
</table>
{*<a href="{$ADD_PERSON}" target="person">{l}Relate a new person{/l}</a>*}
</fieldset>
