/* Generic Rules */
body {
	font-family: sans-serif;
}
a { 
	color: rgb(0, 51, 204);
}

a:hover { 
	background-color: #ddd;
}

a img {
	border: 0;
}

/* Default Layout Rules */
#header {
	border: solid 1px gray;
	text-align: center;
}
#nav {
	vertical-align: top;
	font-size: 10px;
}
#body {
	vertical-align: top;
}

/* grid rules */
table.grid { empty-cells: show;
}
table.grid th { 
	background-color: transparent;
	vertical-align: bottom;
	white-space: nowrap;
	font-weight: bold;
	font-size: 10pt;
	line-height: 9pt;
	padding: 1px 1px;
	border-bottom: solid 2px #999;
}
table.grid td {
	margin: 2px;
	font-size: 10pt;
	padding: 0 1px;
	border-bottom: solid 1px #aaa;
	background-color: white;
}

table.grid tr.alt td { 
	background-color: #ddd;
}
table.grid tr.altHighlight td { 
	background-color: #FFFF33;
}

table.grid tr.waiting td { 
	background-color: #aaa;
}
table.grid a.orderLink {
	color: #ccc;
}
table.grid a.orderLink:hover {
    color: rgb(0, 51, 204);
}

table.grid th a {
	text-decoration: none;
}

/* Form rules */
.clniAlert {
	background-color: #CC9999;
}
.clniMessageActive {
	padding: 5px;
	margin-bottom: 5px;
	background-color: #CC9999;
	border: 2px solid rgb(153, 153, 153); 
	width: 325px;
}
.statusMessage {
	border: solid 2px #999; 
	width: 375px; 
	background-color: #FFFF99;
}

.statusMessage div {
	padding:3px;
}

.statusMessage h1 {
	margin:0;
	font-size:1.1em;
	font-weight:bold;
}
.statusMessage p {
	margin: 0 0 0 1em;
	font-size: 1.0em;
}
	

div.waiting {
	display: none;
}
div.waitingActive {
	display: block;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	background-color: white;
	border: solid 2px black;
	font-weight: bold;
}

/* Auto complete rules */
.AutoCompleteBackground
{
        background-color: white;
	z-index: 10;
}
.AutoCompleteHighlight {
        background-color: #CCCCCC !important;
}
.AutoCompleteMatchingText {
        background-color: yellow !important;
}
.tooltip {
	text-decoration: none;
}
.dashedLink {
	text-decoration: none;
	border-bottom: dotted 1px #333;
}
.hiddenFieldsList {
	font-size: 10px;
	clear: both;
}
.hiddenFieldsList ul {
	display: block;
	margin: 0;
	padding: 0;
	clear: both;
}
.hiddenFieldsList li {
	display: inline;
	padding-left: 1em;
}
