.SuggestContainer {
	position: relative;
}
.SuggestDropdown {
	position: absolute;
	border: solid 1px black;
	background-color: white;
	display:none;
	float: left;
	cursor: pointer;
	z-index: 25;
}
.SuggestDropdown div{
	padding-left: 2px;
	padding-right: 2px;
}
.SuggestDropdown div.SuggestHighlight{
	background-color: #ccc;
}
.SuggestMatchingText {
	background-color: yellow;
}
.SuggestInput img {
	position: absolute;
	left: 2px;
	top: 3px;
}
.SuggestInput {
	position: relative;
}
.SuggestInput input {
	padding: 1px;
	padding-left: 14px;
}
