{clni_form}
<table>
	<tr>
		<td valign="middle">
			<a href="#"><b>English</b></a><br>
			<a href="#">Metric</a>
		</td>
		<td valign="top">
<table border=0>
<tr>
	<td colspan=2>Height:
	{input size="3" name="height_feet" value="" type="string"}ft {input size="3" name="height_inches" value="" type="string"}in</td>

	<td></td>

	<td>Weight:
	{input size="3" name="weight_lbs" value="" type="string"}Lbs</td>

	<td></td>

	<td>Waist:
	{input size="3" name="waist_inches" value="" type="string"}in</td>

	<td>Hips:
	{input size="3" name="hips_inches" value="" type="string"}in</td>

	<td>BMI: 27.5</td>
</tr>

{* last values *}
<tr>
	<td colspan=2>
	&nbsp; &nbsp; &nbsp; &nbsp;
	&nbsp; &nbsp; &nbsp; &nbsp;
	&nbsp; &nbsp; &nbsp; &nbsp;
	5 ft 
	&nbsp; &nbsp; &nbsp; &nbsp;
	&nbsp;&nbsp;
	8 in (10/10/2006)
	</td>

	<td></td>

	<td>
	&nbsp; &nbsp; &nbsp; &nbsp;
	&nbsp; &nbsp; &nbsp; &nbsp;
	&nbsp; &nbsp;
	205 Lbs (10/10/2006)</td>

	<td></td>

	<td>
	&nbsp; &nbsp; &nbsp; &nbsp;
	&nbsp; &nbsp; &nbsp; &nbsp;
	&nbsp; &nbsp;
	40 in (10/10/2006)</td>

	<td>
	&nbsp; &nbsp; &nbsp; &nbsp;
	&nbsp; &nbsp; &nbsp; &nbsp;
	&nbsp;
	40 in (10/10/2006)</td>
</tr>


<tr>
	<td>BP Sys:
	{input size="3" name="bp_sys" value="" type="string"}</td>

	<td>BP Dias:
	{input size="3" name="bp_dias" value="" type="string"}</td>

	<td></td>

	<td>Pulse:
	{input size="3" name="pulse" value="" type="string"}</td>

	<td></td>

	<td>Resp:
	{input size="3" name="resp" value="" type="string"}</td>

	<td>Temp:
	{input size="3" name="temp_f" value="" type="string"}F</td>

	<td>Glucose:
	{input size="3" name="glucose" value="" type="string"}</td>
</tr>

{* last values *}
<tr>
	<td>
	</td>

	<td>
	</td>

	<td></td>

	<td>
	</td>

	<td></td>

	<td>
	</td>

	<td>
	F</td>

	<td>
	</td>
</tr>


</table>
		</td>
	</tr>
	<tr>
		<td colspan=2 valign="top">
			Comments: {input rows=2 cols=70 value="" type="text"}

			{submit value="Update"}
		</td>
	</tr>
</table>
</form>
