{head type="js"}
function removeCode(id,cell) {
	var row = clniUtil.findParentOfTagName(cell,'tr');
	var controller = new Controller({dispatchAction: function(result){}});
	controller.dispatchAction('Superbill','removeCode',{codeId:id,process:'true'});
	new Effect.Fade(row);
}
function addCode() {
	var controller = new Controller({dispatchAction: function(result) { updateTable(result); }});
	controller.dispatchAction('Superbill','addCode',{codeId:$('codeId').value,process:'true'});
	$('code').focus();
	$('code').select();
}

function switchSearch(input) {
	$('code').focus();
	$('code').select();

	if (input.id == 'rprocedure') {
		Suggest = new procedureSuggest('code','codeId',function() { code_selected(); });
	}
	else {
		Suggest = new diagnosisSuggest('code','codeId',function() { code_selected(); });
	}
}

function code_selected() {
	$('go').disabled = false;
}

function updateTable(result) {
	if (result.type == 'procedure') {
		$('procedureList').innerHTML = $u.quickPrint(result.html);
		new Effect.Highlight('procedureList');
	}
	else {
		$('diagnosisList').innerHTML = result.html;
		new Effect.Highlight('diagnosisList');
	}
}

{/head}

<table>
	<tr><td valign='top'>
			{* col 1 *}
{clni_form class="ajax" process="generic"}
{include file="superbill/general_chunkForm.html"}
</form>
{include file="superbill/general_chunkAdd.html"}
	</td><td valign='top'>
			{* col 2 *}
{include file="superbill/general_chunkList.html"}
	</td></tr>
</table>

<script type="text/javascript">
	{literal}
	var Suggest = new procedureSuggest('code','codeId',function() { code_selected(); });
	{/literal}
</script>
